[2016-01-06 13:10] pdehaye commented on #139
@rgrp Yes, will move with @kiliakis
@danfowler The Twitter OKFN Lab idea sounds good, but we need to have a new one in first :)
@kiliakis I need you to transfer the repository, it's the same situation as for #29

[2016-01-06 13:13] pdehaye commented on #153
@cmsdroff Would love to see this in!

[2016-01-06 13:18] #126 closed

[2016-01-06 14:51] cmsdroff commented on #153
The work is done i just can't get the schema to validate?  Error is not very descriptive of where the problem lies?

Status: Invalid

[SCHEMA] String does not match pattern: ^([a-z0-9\.\_\-])+$
[
  {
    "message": "String does not match pattern: ^([a-z0-9\\.\\_\\-])+$",
    "params": {
      "pattern": "^([a-z0-9\\.\\_\\-])+$"
    },
    "code": 202,
    "dataPath": "/name",
    "schemaPath": "/p

[2016-01-06 16:08] pdehaye commented on #153
It took me a long while, but yes. The problem lies in the name, which needs to be all lowercase. This condition does not apply to GitHub repo names.

[2016-01-06 16:25] cmsdroff commented on #153
fantastic, i understand this now, will makes sure future commits don't drive me or you crazy @pdehaye the dataset along with with the ISO-Container-Codes are both ready to transfer the ownership to datasets.  I don't have admin just tried, i've added you into the group that will allow it on our side.  Let me know if i need to do anything else, thanks for your help!

[2016-01-06 16:37] cmsdroff commented on #153
Valid url http://data.okfn.org/tools/validate?url=https%3A%2F%2Fraw.githubusercontent.com%2Fwarrantgroup%2FIMO-IMDG-Codes%2Fmaster%2Fdatapackage.json

data package link: http://data.okfn.org/tools/view?url=https%3A%2F%2Fgithub.com%2Fwarrantgroup%2FIMO-IMDG-Codes

ready to go, added you down as a contributor on both noted packages

[2016-01-06 16:38] danfowler commented on #139
@pdehaye you should have access to tweet as okfnlabs, let me know if you have any issues

[2016-01-06 16:40] pdehaye commented on #153
Got it, have to run myself and want to do it in calm conditions, so I have just labeled the issue and will get back to this.

[2016-01-06 16:43] pdehaye commented on #108
Note to self: I need to clean up the mess I have created here, and make sure there is one true ultimate version in datasets/ with @cmsdroff given admin rights.

[2016-01-06 20:20] pdehaye commented on #153
Done now! @cmsdroff you should have been invited to the organisation.

[2016-01-06 20:20] #153 closed

[2016-01-06 20:34] #108 closed

[2016-01-07 11:06] cmsdroff opened #155 "ICC-Incoterms"
@pdehaye the ICC-Incoterms dataset has been forked over instead of transferred to datasets.

Ive added you as admin so you can make the transfer, let me know if you need anything more on this one from me?  Think you just need to delete the fork and then transfer the ownership.  Thanks for help on other sets last night.

[2016-01-07 14:27] rgrp commented on #138
@Snekili ok. Can i suggest you refactor your comment to have the NSIDC data first and other data as other info. Also let's rework the NSDIC info as per our best practice e.g. nice intro paragraphs (with links to data home page) and then a data section and a license section (with citation requirement in license section)

[2016-01-07 14:35] rgrp commented on #29
@kiliakis i would note some minor improvements to README e.g.

- Data section
  - No need for subheading "Description" under Data.
  - Why blockquote the description
  - The description sentence seems odd: "The EU ETS data viewer provides aggregated data on emissions and allowances, by country, sector and year."
- Citation comes under License section usually. Again some note about source licensing

[2016-01-07 14:48] rgrp commented on #141
@Snekili this looks good. Based on what you report i think we want the CSIRO data and the long time series from 1880 probably in both monthly and annual versions with the data package. At this point we can hand over to packagers :-)

[2016-01-07 14:48] rgrp commented on #141
@kiliakis i think this now good to package :-)

[2016-01-07 14:55] rgrp commented on #154
@Snekili i'd suggested adding that info in the comment https://github.com/datasets/registry/issues/154#issuecomment-168650420 ;-)

At the moment the way it is inserted into the main description does not really make sense since you have EPA first. If WGMS is the real source let's have that as primary and list the graph, if we list at all, somewhere later. Let's talk about this quickly before you do

[2016-01-07 18:31] Snekili commented on #138
@rgrp I made changes based on your suggestions :)

[2016-01-07 19:19] Snekili commented on #154
@rgrp You are totally right. Made some changes :). We will talk.

[2016-01-08 09:36] pdehaye commented on #155
Thanks for flagging that. Now done. FYI: I think you had enough admin rights to do the transfer yourself, although it would have been slightly complicated by the repo already existing.

Next time you try it directly   :)

[2016-01-08 09:36] #155 closed

[2016-01-10 15:41] kiliakis commented on #29
@rgrp I updated the README.md . Here is a [view link](http://data.okfn.org/tools/view?url=https%3A%2F%2Fgithub.com%2Fkiliakis%2Feu-emissions-trading-system) . I haven't add an additional README file in scripts directory, I could start doing it this way though. Should I transfer the repository into the datasets org?

[2016-01-10 15:50] kiliakis commented on #139
@pdehaye it looks like I have insufficient permissions to create a new repository under datasets organization. Am I missing something?

[2016-01-10 15:54] kiliakis commented on #141
@rgrp @Snekili I will post the package when ready ;)

[2016-01-10 21:37] rgrp commented on #29
@kiliakis please transfer :-)

@pdehaye leave you do do any final honours and then close this out.

[2016-01-11 20:26] rgrp commented on #138
@kiliakis @pdehaye ready to package :-)

[2016-01-11 20:41] rgrp commented on #154
@kiliakis ready to package now - a very straightforward one as we will just go for reusing EPA CSV. Most of the README is done in the description above - may need some tweaking in license and suggest keeping the other info stuff in the README as useful info (BTW: i hope you can edit the description and thereby get the raw markdown - if not let me know and I will sort that!).

[2016-01-13 10:44] kiliakis commented on #29
@rgrp  I am trying to transfer it, however github says that I dont have admin rights in datasets organization. What am I missing?

[2016-01-13 17:54] rgrp commented on #139
@kiliakis fixed now - you  should be able to transfer and/or create (github permissions change had confused me!)

[2016-01-13 17:54] rgrp commented on #29
@kiliakis should be fixed as per other message.

[2016-01-14 18:02] Snekili opened #156 "Historical Adoption of Technology"
## Info

CHAT Dataset from US National Bureau of Economic Research http://www.nber.org/papers/w15319
Diego A. Comin, Bart Hobijn

This Dataset covers Cross-country Historical Adoption of Technology for over than 150 countries since 1800 to 2008 CHAT is an unbalanced panel dataset with information on the adoption of over 100 technologies in more than 150 countries since 1800.
FTP: http://www.nber.o

[2016-01-16 11:03] kiliakis commented on #29
@pdehaye , @rgrp finally transferred

[2016-01-16 11:04] kiliakis commented on #139
@pdehaye , @rgrp transferred this one too

[2016-01-16 12:14] kiliakis commented on #154
The package looks ready. I couldn't validate the datapackage.json due to internal server error message printed by the validator (most likely this is not my fault). Here are the rest links:
* [view link](http://data.okfn.org/tools/view?url=https%3A%2F%2Fgithub.com%2Fkiliakis%2Fglacier-mass-balance)
* [actual data](https://github.com/kiliakis/glacier-mass-balance)

[2016-01-21 14:45] rgrp commented on #154
Great. Validator is working again http://data.okfn.org/tools/validate?url=https%3A%2F%2Fgithub.com%2Fkiliakis%2Fglacier-mass-balance

@kiliakis + @pdehaye shall we get this moved over to datasets and added to core.

[2016-01-21 14:47] rgrp commented on #29
@kiliakis can you link where it is now both on github and on data.okfn.org.

@pdehaye then you can close - hooray!

[2016-01-21 14:47] rgrp commented on #139
@kiliakis ok - and do you have the pull request to add this to the registry? To complete what we usually want is a link to github repo plus a link to live on data.okfn.org and then we can close the issue :-)

[2016-01-21 14:59] kiliakis commented on #154
@rgrp I just transferred the dataset and submitted a pull request with an updated core-list.txt . I did the same for #139 and #29 . Although I can merge in the pull request, I leave it for a managing curator.

[2016-01-21 21:16] pdehaye commented on #29
@rgrp  I am not sure what you mean by linking it on data.okfn.org. I have any case added it on the core-list.txt, and advertised it through the OKFNlabs account on twitter.

Closing now. Thank you @kiliakis

[2016-01-21 21:16] #29 closed

[2016-01-21 22:05] pdehaye commented on #148
@kiliakis I have reopened this dataset because I just realised I did it wrong a month ago (sorry, still learning the ropes!). We need the dataset held by the datasets org to be the original repo, and yours (if you want to have one) to be a fork. From here, only you can proceed to correct the situation:
 1. go to https://github.com/datasets/genome-sequencing-costs/settings and delete that repo
 2.

[2016-01-21 22:09] pdehaye opened #159 "Csv vs txt in the registry. txt needs to be deprecated"
Question to @rgrp: when including a new dataset in core, I need to add it to core-list.txt, and apparently do something else. You mention a few times in the issues that it needs to be added to data.okfn.org too. I couldn't find where? Is this not automated? If not, I will go back and make sure both files are in sync.

[2016-01-21 22:17] pdehaye commented on #154
done, thanks!

[2016-01-21 22:17] #154 closed

[2016-01-21 22:25] pdehaye commented on #139
yes, he has done the pull request. I just announced this new package on Twitter. so this is now done, modulo #159. I am closing the issue.

[2016-01-21 22:25] #139 closed

[2016-01-21 23:10] pdehaye commented on #159
Flaggin in @femtotrader as they might have some part of the answer: I see you changed the registry a while ago, and turned it into a datapackage.
However it is not clear to me how the `core-list.txt` and the `core-list.csv` are meant to be kept in sync, or how it interacts with the automated scraping. I have been managing curator for a few weeks and have exclusively updated `core-list.txt` wheneve

[2016-01-22 14:25] pdehaye opened #160 "FOIA offices"
It would be nice to have as a dataset a record of governmental offices for FOIA requests, at country/region level, including links to homepages/forms/templates, destination addresses, technology to use, etc.

[2016-01-25 09:19] danfowler commented on #160
@pdehaye :+1:

[2016-01-26 12:28] rgrp commented on #159
@pdehaye great question. We basically need to deprecate the txt and move to the csv. We need to check the code in data.okfn.org is updated for this e.g. https://github.com/okfn/data.okfn.org/blob/master/lib/config.js and consuming code in lib/model.js.

In terms of it going live. Once core-list is updated we just need to visit `http://data.okfn.org/admin/reload` to get site to reindex the package

[2016-01-26 14:48] cmsdroff commented on #159
Just a thought on this, could a phing script watch out for change on GitHub and run the refresh automatically?  We use team city to monitor our hit hub repos and 'on change' they run an update script.  Just a suggestion?

Sent from my iPhone

All business is conducted subject to Warrant Group Limited Standard Terms and Conditions 2012, a copy of which is available on request and at www.warrant-gro

[2016-01-26 15:39] tfmorris commented on #159
WTF? OpenData is subject to some secret set of conditions from a "warrant house"?

[2016-01-26 15:48] cmsdroff commented on #159
Clearly an email footer Tom added from server?!

Sent from my iPhone

All business is conducted subject to Warrant Group Limited Standard Terms and Conditions 2012, a copy of which is available on request and at www.warrant-group.com/terms.
Registered Office: Warrant House, 157 Regent Road, Liverpool, L5 9TF. Registered in England No. 1941659 VAT Reg. No. GB 100116496.

[2016-01-31 12:59] rgrp commented on #159
@tfmorris sorry i don't get the context for your comment in this thread? Where's the reference for the "warrant house" that you mention?

[2016-01-31 16:23] cmsdroff commented on #159
@rgrp @tfmorris no need to follow up, I replied by email and our server adds a footer with company terms etc, logged in and cleaned up thread when I had access from desktop to avoid further upset

[2016-02-07 18:49] rgrp opened #161 "Tax / Gov Spending as a Percentage of GDP (historical) for major countries"

[2016-02-08 09:11] rgrp commented on #148
@kiliakis ping ;-)

[2016-02-08 10:40] kiliakis commented on #148
@pdehaye, @rgrp oops, I missed that. Anyway, it looks like I don't have the permissions to modify a dataset, as the settings icon is missing. I think, I can only create new repositories and transfer ownership from my github to datasets. Here is my view:
![screenshot from 2016-02-08 12 39 28](https://cloud.githubusercontent.com/assets/11835649/12883494/117837dc-ce61-11e5-88cd-78f33d4f3cc7.png)

[2016-02-08 10:56] pdehaye commented on #148
Then I will delete the datasets fork of your repo right now and you transfer ownership of your repo right after.

[2016-02-08 10:57] pdehaye commented on #148
Done, please try transferring ownership.

[2016-02-08 11:00] kiliakis commented on #148
Done

[2016-02-08 11:05] pdehaye commented on #148
Great! Problem solved, now closing.

[2016-02-08 11:05] #148 closed

[2016-02-11 11:47] rgrp commented on #23
@kiliakis could you look at this one.

[2016-02-12 08:41] kiliakis commented on #141
@rgrp, @pdehaye  Datapackage is ready, please review. Links:
* [View] (http://data.okfn.org/tools/view?url=https%3A%2F%2Fgithub.com%2Fkiliakis%2Fsea-level-rise)
* [Validation] (http://data.okfn.org/tools/validate?url=https%3A%2F%2Fraw.github.com%2Fkiliakis%2Fsea-level-rise%2Fmaster%2Fdatapackage.json)
* [Github] (https://github.com/kiliakis/sea-level-rise)

[2016-02-12 08:48] pdehaye commented on #141
@kiliakis Looks good to me, please transfer ownership to datasets/ organisation. Won't fork otherwise we are back with the same horror show of the genome-sequencing-costs datapackage

[2016-02-12 08:57] kiliakis commented on #141
Don't worry, ownership is already transferred!

[2016-02-12 08:59] kiliakis commented on #141
Should I also make the changes in csv, txt files?

[2016-02-12 14:42] pdehaye commented on #141
Changing ownership of repo apparently creates automatic redirects which were not fully reflected in the View/Validation link above. So it was all good, but that's one more subtlety to take into account.

In any case, I added myself to the csv and txt files.

So this is finished and I am closing. Thanks!

[2016-02-12 14:42] #141 closed

[2016-02-13 16:48] lexman commented on #47
Hello there,

Here's a first attempt to package a list of cities from geonames available online
at : http://sisyphus.lexman.org/workflows/world-cities/datapackage.json. I followed the idea to make a very simple set of data,
so the only included fields are :
* name in english
* asciiname (it's already provided by geonames)
* name of the country
* name of the "subcountry". Either the name of a state

[2016-02-14 23:21] lexman commented on #38
Hello,

is someone still working on this ? I'm quite familiar with org so I can maintain this datapackage.

What fields should we include ? A really minimalist set (geometric shape of the country, common name of the country, ISO3 code of the country) that is meant to be joined with the very complete https://github.com/datasets/country-codes ? Or should we include all or partial data from the forme

[2016-02-15 02:20] jalbertbowden commented on #38
not sure if anyone is still actively pursuing this....i know i haven't done anything since my last post. still have not heard back from natural earth.

fields to include:
preferably all the fields that we already have....you can view them in the repository.

not sure about all/partial data from the former....

not sure about splitting countries either....hopefully others can comment.

essentially

[2016-02-15 17:57] lexman commented on #38
Hello,

I was already following my first idea (make this data a good complement for https://github.com/datasets/country-codes), so here is a datatapackage with only 2 fields. I called it geo-countries-110m as suggested above by @rgrp.
It's available on : http://sisyphus.lexman.org/workflows/geo-countries-110m/datapackage.json

Source code and doc are on github at https://github.com/lexman/geo-coun

[2016-02-15 20:47] kiliakis commented on #23
@rgrp I am going to start packaging this one, I will put both brent crude and wti in the same datapackage, separate files. As for the temporal granularities, there will be one file for each of them, and the extension will follow the second option (day / week etc) as mentioned in data package naming conventions.
If we decide to alter any of the above though, I could easily change it.

[2016-02-15 22:52] kiliakis commented on #23
Datapackage looks ready to me, please review. Links:
* [view](http://data.okfn.org/tools/view?url=https%3A%2F%2Fgithub.com%2Fkiliakis%2Foil-prices)
* [validation](http://data.okfn.org/tools/validate?url=https%3A%2F%2Fraw.github.com%2Fkiliakis%2Foil-prices%2Fmaster%2Fdatapackage.json)
* [github](https://github.com/kiliakis/oil-prices)

@rgrp If I merge together brent and wti files of same granulari

[2016-02-17 22:54] rgrp commented on #38
@lexman this is brilliant. If it it looks good we'd move this over into github.com/datasets and make this an official core dataset!

@pdehaye + @jalbertbowden do you want to review.

[2016-02-18 02:29] jalbertbowden commented on #38
@rgrp i'll take a peek tonight

[2016-02-18 13:06] rgrp commented on #47
@lexman this is **awesome** - great work. Quick comments:

* Choice of cities: great
* In terms of city names: where you have you added "admin1" into - i think we probably want to leave the original name untouched in at lest one column
* Name: could we get a column with english version and a column with "native" version?
* Utf8: up to you but i'd go with plain utf8 and not worry about ascii

Overa

[2016-02-18 13:11] rgrp opened #162 "Global Disease Burden"
Originally a WHO project, IMHE have this data - and seems to be open.

See http://ghdx.healthdata.org/global-burden-disease-study-2013-gbd-2013-data-downloads-full-results

First steps:

* Produce a README here
* Work out whether you can get complete data in bulk or whether it is lots of different files (and how they fit together)

[2016-02-18 13:44] lexman commented on #47
Thank you for the feedback !

I'll be away for three days, but I'll do the ajustements and the quality checks when I get back. About the  the native version of the names, it's the right thing to do but it'll be longer.

By the way, I'm not sure I understood what you mean about the admin1 column...

[2016-02-18 15:28] rgrp commented on #23
@kiliakis brilliant. What's your view on merging? My feeling is probably keep separate and work on changing the view stuff so that it can support multiple series.

@kiliakis + @pdehaye can we get this moved over and added to the core list.

[2016-02-18 20:05] rgrp commented on #47
@lexman great

* Re native names - why don't we leave this out of the first release if it is painful - we can open an issue for it and see if others want it too ..
* Re "admin1" stuff I was referring to your:

  Re-reading I realise you just added the column/field (which is great) - whereas I had thought you had perhaps merged admin1 value into the name field (which I would recommend against). So

[2016-02-21 14:23] lexman commented on #47
So here we are for review :
* Validation link : http://data.okfn.org/tools/validate?url=https%3A%2F%2Fraw.githubusercontent.com%2Flexman%2Fworld-cities%2Fmaster%2Fdatapackage.json
* review link : http://data.okfn.org/tools/view?url=https%3A%2F%2Fraw.githubusercontent.com%2Flexman%2Fworld-cities%2Fmaster%2Fdatapackage.json

If review is good, data will be ready for publishing.

I will look in the n

[2016-02-21 14:59] lexman commented on #38
For review :
* Validation link : http://data.okfn.org/tools/validate?url=https%3A%2F%2Fraw.githubusercontent.com%2Flexman%2Fgeo-countries-110m%2Fmaster%2Fdatapackage.json

Unfotunately, preview link does not seem to work properly : http://data.okfn.org/tools/view?url=https%3A%2F%2Fraw.githubusercontent.com%2Flexman%2Fgeo-countries-110m%2Fmaster%2Fdatapackage.json because the map is not displayed.

[2016-02-21 15:34] lexman commented on #43
Hello,

has this dataset been published yet ?

[2016-02-21 15:36] rgrp commented on #47
@lexman i think the datapackage.json is broken as the path to the resource is `data/world-cities.csv` not just `world-cities.csv`. Can you fix that ...

My one other tip is just using the simple github repo when doing the validation and view urls - it makes it nicer to got check the repos.

[2016-02-21 15:41] rgrp commented on #38
@lexman when you get that 404 its because the underlying file does not exist which it does not ;-) You have `countries.geojson` in the resource path but the file is `countries.json` - https://github.com/lexman/geo-countries-110m/blob/master/data/countries.json

Also the homepage file should use http:// not git:// (it must be a url ...)

[2016-02-21 20:24] rgrp commented on #43
Good question. The answer is yes: http://data.okfn.org/data/core/geo-nuts-administrative-boundaries

[2016-02-21 20:24] rgrp commented on #43
FIXED. This is done and live at http://data.okfn.org/data/core/geo-nuts-administrative-boundaries and https://github.com/datasets/geo-nuts-administrative-boundaries

[2016-02-21 20:24] #43 closed

[2016-02-21 20:24] rgrp commented on #43
@pdehaye can we get this tweeted?

[2016-02-22 05:05] lexman commented on #38
Thanks for the help, it's much better now !

[2016-02-22 05:13] lexman commented on #47
Looks like it's working now. And thank you for the tip, I didn't know I could do that. So here are the new :
* validation url : http://data.okfn.org/tools/validate?url=https%3A%2F%2Fgithub.com%2Flexman%2Fworld-cities
* preview url : http://data.okfn.org/tools/view?url=https%3A%2F%2Fgithub.com%2Flexman%2Fworld-cities

[2016-02-22 07:11] lexman commented on #47
Regarding the native name, I originally wanted to use the field "isPreferredName" from the alternate names in geonames, but it doesn't seem reliable.

For the record, here are the 2 examples I looked at :
* I though I would find the chineese writing for Bejing would be selected... But I find none
* In Thaïland, the selected language is russian for the city of Sukhothai (the former capital of the S

[2016-02-22 12:22] rgrp commented on #47
@lexman i suggest we leave native name for now and get this into core datasets and open an issue on the repo logging this as something to work on.

@pdehaye could you do the honours re final check and moving this into github.com/datasets (and giving @lexman admin rights either on that repo or by giving him general edit rights with the org)

[2016-02-22 12:23] rgrp commented on #38
@lexman awesome - can you resubmit validation and preview links.

@pdehaye can you review and then do the honours re moving this over :-)

[2016-02-22 12:47] pdehaye commented on #47
@rgrp  will try to start doing this in 10 hours or so. have been very busy past week

[2016-02-22 12:47] pdehaye commented on #38
@rgrp  will try to start doing this in 10 hours or so. have been very busy past week

[2016-02-22 12:47] pdehaye commented on #23
@rgrp  will try to start doing this in 10 hours or so. have been very busy past week

[2016-02-22 13:24] jalbertbowden commented on #38
looks great! nicely done. thank you.

[2016-02-22 14:24] lexman commented on #38
Validation link : http://data.okfn.org/tools/validate?url=https%3A%2F%2Fgithub.com%2Flexman%2Fgeo-countries-110m

Preview link : http://data.okfn.org/tools/view?url=https%3A%2F%2Fgithub.com%2Flexman%2Fgeo-countries-110m

[2016-02-22 14:25] lexman commented on #47
So what's the next step ? Do I need to do something to give ownership of the repo to okfn ?

[2016-02-22 23:18] rgrp commented on #47
@pdehaye awesome and much appreciated! @lexman @pdehaye will explain the process.

[2016-02-22 23:35] pdehaye commented on #47
Hi @lexman This looks great! I have just reviewed, and have one comment (see below).
Let me explain the ownership transfer process first. We need you to have admin rights on this repo, **but** the repo to be transferred within the *datasets* organisation. So I have added you as a member, and as a curator. Once you accept this membership, you will have the right to transfer ownership of the repo. T

[2016-02-22 23:41] pdehaye commented on #38
Hi @lexman, this looks good, except that I am a bit baffled at what you mean by 1:110m. I understand you mean some measure of how coarse the approximation is, but I have trouble translating the scale (1:110m) to a measure of the granularity of the approximation.

Also, your README.md mentions 1:110, not 1:110m. And again, the homepages will need to be adapted to the new address once you transfer o

[2016-02-22 23:44] pdehaye commented on #23
@kiliakis actually, I need you to transfer ownership of the dataset. I have just reviewed and it looks good to go! you can do a pull request to add to the core list if you want, or signal for me that I need to do it.

[2016-02-23 02:32] lexman commented on #38
@pdehaye, you're right about the scale : one has to master both geography and computers to understand what is means in pixels. So I removed every reference to the scale (except in the `sources`field) and I changed the name of the repository.

Here are the new links with the updated name :
* validation : http://data.okfn.org/tools/validate?url=https%3A%2F%2Fgithub.com%2Flexman%2Fgeo-countries
* pre

[2016-02-23 02:52] lexman commented on #47
So I changed the links to refer to the datasets organisation. I also completely removed the reference to ``ambiguities.csv``, as it was linking to my personnal server.

Will start moving the repo in a minute...

[2016-02-23 03:01] lexman commented on #47
I tried to transfert ownership but I get "You don’t have admin rights to datasets".

On my profile, I'm not part of the datasets organization, maybe that's why ?

[2016-02-23 09:24] pdehaye commented on #47
probably. did you actively accept the invite i sent you? did you receive something? just now?

[2016-02-23 12:48] lexman commented on #47
Sorry, I haven't received any mail nor notification...

[2016-02-23 12:54] danfowler commented on #47
@lexman can you try going to the top-level at https://github.com/datasets?  Your invitation is still pending and can be accepted there.

[2016-02-23 13:40] lexman commented on #47
All right I got the invitation ! Should I give ownership to curators or Managing Curators ?

[2016-02-23 16:26] pdehaye commented on #47
@lexman can you explain what you did exactly to see the invitation (this confusion keeps on happening...)? thanks!

I am not sure who should get ownership. I would say give ownership to curators, and the rest of the team can figure out exactly what is best later (it looks like a general mess in that respect).

[2016-02-24 00:30] lexman commented on #47
The invitation was indeed on the top of  https://github.com/datasets page.

And I was able to add ownership to both Curators or Managing Curators.

Thanks everyone for help !

@pdehaye, tell me we're all done :)

[2016-02-25 12:34] scls19fr opened #163 "R datasets"
Hello,

it will be nice to convert R datasets to DataPackages so that they will be available both for R and Python
(and also any language where a DataPackage client is available) in a structured way.

see these projects
https://github.com/vincentarelbundock/Rdatasets
https://github.com/iamaziz/PyDataset

see also
https://github.com/iamaziz/PyDataset/issues/7
https://github.com/vincentarelbundock/R

[2016-02-26 00:12] pdehaye commented on #47
@lexman, you are done and done. thank you very much for reviving this 2 years old ticket and working so hard on it!!!

[2016-02-26 00:12] #47 closed

[2016-02-26 10:54] femtotrader commented on #159
see https://github.com/datasets/registry/issues/112
and https://github.com/datasets/registry/pull/115

my opinion is that data.okfn.org site should use a JavaScript DataPackage client

[2016-02-26 21:37] pdehaye commented on #43
@rgrp done, tweeted

[2016-02-26 21:45] pdehaye commented on #38
@lexman Looks good! Can you transfer ownership?

[2016-02-27 12:12] lexman commented on #38
Transfert should be complete :)

[2016-02-28 18:08] danfowler commented on #43
:+1:

[2016-02-29 12:13] rgrp commented on #38
@pdehaye would you like to explain to @lexman what last steps need to be done (e.g. add to core list, reload site, tweet it!) - that way @lexman can lead on this in future ;-) I think most of this is already in http://data.okfn.org/doc/core-data-curators#4-publishing

[2016-03-01 20:25] rgrp opened #165 "Country Annual Inflation Dataset"
We already have CPI in #18 but did not do inflation. Think we want this.

Name: `inflation` (could be `inflation-annual` but do not think we need the distinction)

Recommended data sources are World Bank e.g. they have these two:

* http://data.worldbank.org/indicator/NY.GDP.DEFL.KD.ZG - GDP deflator
* http://data.worldbank.org/indicator/FP.CPI.TOTL.ZG - consumer prices

Suggest we take both and h

[2016-03-01 20:36] rgrp commented on #165
@zelima please take a look and set out the expected csv headings you would create and the file names. Also any questions about scripting and then we can go ahead.

[2016-03-02 19:06] zelima commented on #165
@rgrp checked both GDP deflator and CPI inflation datas.

- Download links for both of them provide .zip files.
- Both zip files contain 1 xml and 3 csv files. Think only one has useful data.
- Both useful csv files have pretty much same structure as #18 , if not count 4 additional rows on top and "indicator name", "indicator code" columns, which contain only one information.
- So for headings we

[2016-03-03 08:15] rgrp commented on #165
@zelima sounds good. Can you please:

* set out the csv headings you expect to have in the resulting files
* post the links to the zip files (also can you really only get zips - i.e. it is not possible to get CSV files directly?)

[2016-03-03 15:44] zelima commented on #165
Found links that download CSV files directly

http://api.worldbank.org/indicator/NY.GDP.DEFL.KG.ZG?format=csv
http://api.worldbank.org/indicator/FP.CPI.TOTL.ZG?format=csv

Heading for inflation by GDP deflator:
Country name, Country code, Year, Inflation(GDP Deflator)

Heading for inflation by consumer prices:
Country name, Country code, Year, Inflation(Consumer Prices)

It's possible to use the s

[2016-03-03 16:04] rgrp commented on #165
For each file i would same headings:

`Country, Country Code, Year, Inflation`

I would keep the description of the inflation type (and of other columns) in the `datapackage.json` field descriptions in the schema for this resource.

In terms of code I would just do this from scratch since it is so simple.

I would suggest this Inflation data is a new Data Package (and repository) but we put **both

[2016-03-04 16:22] rgrp commented on #163
@scls19fr this is a great suggestion and would be great to connect these up.

[2016-03-04 17:23] scls19fr commented on #163
This R script might help https://github.com/Rdatasets/Rdatasets/blob/master/Rdatasets2dpkg.R
But it's failing on `datasets::HairEyeColor` dataset because we need to flatten data before saving to DataPackage (since there is no "standardized" cube/hypercube format - see https://discuss.okfn.org/t/datapackage-for-3-dimensional-arrays-and-maybe-more/2107 )

I'm not a great R user ... maybe you know so

[2016-03-04 18:59] zelima commented on #165
https://github.com/zelima/inflation

Please check new repository.

**double check**

- datapackage.json
- README.md
- and script

Since there where 2 different files to retrieve, I'm not sure I did everything as needed. (especially datapackage.json)

[2016-03-05 17:11] rgrp commented on #165
@zelima can you follow instructions at http://data.okfn.org/doc/core-data-curators#3-quality-assurance in particular can you post a validation link for the data package and a "view" link here. Thanks :-)

[2016-03-07 11:57] pdehaye commented on #38
Hi @lexman
The steps I take after validating, checking the dataset, etc, and the transfer of ownership (indeed these steps  are explained at http://data.okfn.org/doc/core-data-curators#4-publishing , slight update waiting in a pull request):
 *  Add to the [catalog list](https://github.com/datasets/registry/blob/master/catalog-list.txt) **and** the [core list](https://github.com/datasets/registry/

[2016-03-07 11:59] #38 closed

[2016-03-07 12:00] pdehaye commented on #23
@kiliakis would be great to get this done! just transfer ownership if you have little time.

[2016-03-07 16:34] kiliakis commented on #23
done (sorry for the delay, I will be back soon)

[2016-03-07 20:45] zelima commented on #165
I have a problem with validation and even view:
- in the validation part when I pass the [the link to datapackage](https://github.com/zelima/inflation/blob/master/datapackage.json) it throws  "message": "Error loading the datapackage.json file. HTTP Error code: 404"
- in the view part it says: "There was an error. datapackage.json is invalid JSON. Details: Unexpected token <"
Could you help with t

[2016-03-07 22:09] pdehaye commented on #165
This is the correct link to validate:
http://data.okfn.org/tools/validate?url=https%3A%2F%2Fraw.githubusercontent.com%2Fzelima%2Finflation%2Fmaster%2Fdatapackage.json

(you need to validate the raw file, not the github page for that file,
subtle difference)

The error is with multiple sources, which are not to be listed as an array
within a record, but an array of records. See
https://github.com/d

[2016-03-08 06:52] zelima commented on #165
@pdehaye Thanks for help.

Under filename I mean the name of the CSV file you want to output.
If that parameter is passed by user in terminal like this:
`$ ./inflation2datapackage.py -o somefilename.csv `
In this case script should scratch data from default source and fill the somefilename.csv file with data. This would work if we were scratching only one type of inflation, but since there are two

[2016-03-08 08:52] zelima commented on #165
@rgrp
[validation link](http://data.okfn.org/tools/validate?url=https%3A%2F%2Fraw.githubusercontent.com%2Fzelima%2Finflation%2Fmaster%2Fdatapackage.json)

[View link](http://data.okfn.org/tools/view?url=https%3A%2F%2Fraw.githubusercontent.com%2Fzelima%2Finflation%2Fmaster%2Fdatapackage.json)

[2016-03-09 09:05] rgrp commented on #163
@scls19fr got you. We are doing some work on an R Tabular Data Package library right now. This may be something to feed in.

In the short term i think we do option (1) and see how that goes.

[2016-03-09 09:08] rgrp opened #166 "[discuss] UNESCO stats database"
This is not a specific dataset but an entire database. Classic multi-dimensional cube. A lot of the data series seem sparse.

The interface seems pretty horrible though some network inspecting did yield some promising leads see e.g. https://gist.github.com/rgrp/842db702c60633d86a66

[2016-03-09 09:09] scls19fr commented on #163
Nice news! Thanks @rgrp Could you post here link about this work when it will be available ?

[2016-03-09 11:32] danfowler commented on #163
@scls19fr I can keep you updated on the availability of an R library

[2016-03-09 11:58] scls19fr commented on #163
Thanks @danfowler

A local cache will be a great feature.

Automatically downloading several datasets (whole https://github.com/datasets/registry for example ) will also be an other interesting feature for such a R library.

[2016-03-09 12:59] rgrp opened #167 "[super] Population Datasets"
This is a "super" issue for population datasets.

* <del>Total Population (over time, at least for last 10-20 years) for all countries</del> - see https://github.com/datasets/population
* Country Population broken down e.g.
  * Male/Female population
  * Age bands (example: 0-5, 6-12, 13-20, 21-35, 36-50, 51-70, 70-?)
* <del>City Population</del> #30

[2016-03-09 14:57] rgrp opened #168 "Sub-country boundaries (vector) - Natural Earth Admin 1"
Geo Package "Admin 1 – States, Provinces"

Questions:

* Is this one package all in one file, one package multiple files or one package per country?
* Is there a choice on resolution e.g. 110m vs something else? What do we go for?
* Package naming. Options:
  * `geo-all-admin1` or just `geo-admin1` if we do whole world in one package
  * `geo-{country-code-2-digit}-admin1`
  * `geo-ne-{country-cod

[2016-03-09 15:01] rgrp opened #169 "Populated Places (Natural Earth)"
See http://www.naturalearthdata.com/downloads/10m-cultural-vectors/10m-populated-places/

Is this a dupe of #47 (world cities)? If so should we merge some of this into https://github.com/datasets/world-cities (and open an issue for that there)?

/cc @lexman @pdehaye

[2016-03-09 15:13] rgrp commented on #18
Re-opening as making this a "super" issue with links out to specific packages.

[2016-03-09 15:20] rgrp opened #170 "Consumer Price Index (all World)"
Create dataset called cpi. Annual cpi for countries around the world.

Structure

<pre>
Year, Country, Index
</pre>

World bank:

Price index: http://data.worldbank.org/indicator/FP.CPI.TOTL (2005=100) - http://api.worldbank.org/indicator/FP.CPI.TOTL?format=csv

[2016-03-09 15:21] rgrp commented on #170
FIXED. https://github.com/datasets/cpi

[2016-03-09 15:21] #170 closed

[2016-03-10 06:40] lexman commented on #30
Final data is here : https://github.com/datasets/population

[2016-03-10 13:51] pdehaye commented on #169
This one says

So that's a top-down approach: for each region, the most significant cities are selected. In contrast, world-cities says

That seems bottom-up: select the city's name first, then specify what is needed to really identify it.

It looks like it is meant to talk about the same concepts, but the selection happens differently. Integrating the two would improve the quality. What do you th

[2016-03-10 13:59] pdehaye commented on #165
@zelima I think the issue with the script is fine, as long as it is documented properly. Possibly you could just use
`./inflation2datapackage.py -o somefilename`
with the understanding that this could generate `somefilename.csv`, `somefilename-source1.csv` or `somefilename-source2.csv`

[2016-03-10 14:06] pdehaye commented on #165
@zelima one of the headers, in both files, is "Country", not "Country Name". There should be consistency between datapackage.json and the csv files. Otherwise it looks good to go.

After you fix this, the next step is to transfer ownership f your github repo to the datasets/ organisation. In order to enable this, I have invited you as a member. Go to https://github.com/orgs/datasets and look there

[2016-03-10 14:18] pdehaye commented on #23
Now fully packaged! Thanks, @kiliakis!

[2016-03-10 14:18] #23 closed

[2016-03-10 15:48] lexman commented on #168
Looks like something I could do. I'll have a look, but not before a few days.

[2016-03-10 16:39] pwalsh commented on #165
can't wait for this one!

[2016-03-10 16:42] pwalsh opened #171 "Economic indicators over time by country"
There are various indexes used as (socio)economic indicators. These can be used as part of a normalisation mechanism for understanding other data.

In the past, I've used the [GINI index](http://www.investopedia.com/terms/g/gini-index.asp) across regions in Israel, but there are all sorts of relevant indexes out there. [example](http://www.abs.gov.au/websitedbs/censushome.nsf/home/seifa)

A datapa

[2016-03-10 17:04] zelima commented on #165
@pdehaye datapckage.json updated, as well README.md. Plus script is updated with proper comments.
I accepted invitation and forked repositories. Is that enough to transfer ownership, or there is something else I should do? If so please give hint.
Thank you

[2016-03-10 17:15] zelima commented on #165
@pdehaye Never mind, already  done. I deleted forked repository and transferred ownership. I put tick on both - **curators** and  **managing curators**

[2016-03-11 07:25] rgrp commented on #163
@danfowler @scls19fr updates on R library will be in the main Data Package tracking repo here https://github.com/okfn/data.okfn.org/issues/102

[2016-03-11 07:25] rgrp commented on #136
@zelima that would be great. Can you detail what you propose to do here and @pdehaye and I can review.

[2016-03-11 07:26] rgrp commented on #171
@pwalsh crucial question is which indices. We can definitely open an issue for GINI. We do have GDP etc already done.

[2016-03-11 07:32] rgrp commented on #168
@lexman great - thanks and no rush!

[2016-03-11 07:33] rgrp commented on #23
When complete can you close with a comment like:

[code]

That would be awesome and mean that checking later it is really easy to see where this ended up.

[2016-03-11 07:50] pdehaye commented on #23
ok

On Fri, Mar 11, 2016 at 8:33 AM, Rufus Pollock <notifications@github.com>
wrote:

[2016-03-11 08:10] rgrp commented on #165
@zelima great and i've added a couple of issues in that repo for minor things we could improve.

[2016-03-11 18:42] zelima commented on #136
@rgrp @pdehaye since none of the link provide CSV or other type of data, think I'll scratch data directly from HTML. From this source - http://www.geonames.org/countries/
Heading and first few lines of CSV file:
[code]

[2016-03-12 07:18] zelima commented on #5
I can finish this one, if nobody's working.
http://www.imf.org/external/np/res/commod/External_Data.xls this is link to xls file. The file contains monthly price of all commodities starting from 1980 to 2016/02, including iron, cooper and wheat.

Heading for CSV file.
`Date,Price`

[2016-03-12 14:48] rgrp commented on #5
@zelima that would be great - i would suggest pulling the entire imf commodity data into one package (as you suggest).

Could you set out exactly how you would structure e.g. what resources you would have and then we will prep the script.

[2016-03-12 14:55] rgrp commented on #23
@pdehaye great! could you do it for this one ;-)

[2016-03-12 14:58] rgrp commented on #30
@lexman no its at https://github.com/datasets/population-city and http://data.okfn.org/data/core/population-city

/cc @pdehaye a good example of why we should list the final published locations (and one i did :wink:)

[2016-03-12 15:02] rgrp commented on #136
@zelima geonames **almost always** provides their data in bulk so I would be surprised if we need to scrape from HTML - e.g. is this the countryInfo.txt listed on http://download.geonames.org/export/dump/readme.txt

There are a couple of things to resolve here:

* Is this a new data package or an addition to country-codes?
* If it is separate i would suggest including ISO 2 digit code for the coun

[2016-03-13 04:51] lexman commented on #30
+1 !
I've been looking for this data mentionned here...

[2016-03-13 07:00] lexman commented on #136
The country-codes dataset already has a ot of usefull infos like currency or phone code, so I think users could expect to see the continent here.

How would you do ?
* Add the continent code in a column and create a new reference datapackage with the name of the continents ?
* or write the continent in plain text ?

I tend for the first one, as it would be coherent with other codes.

[2016-03-13 07:11] lexman commented on #169
The purpose of geonames is to be an inventory of the names everywhere in the globe, and the one of naturalearth is to make beautiful maps.

So I think geonames is geonames  and reliable wheras naturalearth could add (or remove) cities if their placement on the map would improve readability. that's why I'm not sure merging them would result in something meaningfull. What should we do with places th

[2016-03-13 07:53] zelima commented on #136
@rgrp Do you mean something like this http://download.geonames.org/export/dump/countryInfo.txt ? Do you want me to work with txt file? I can not find any other link for download, That is in relation with countries and continents. If I'm heading in wrong direction, please help.
Adding additional column for ISO2 digit is no problem.

@lexman is your question for me? Cause I don't really got it.

[2016-03-13 08:05] zelima commented on #5
@rgrp The entire data contains commodities starting from, Aluminium, Bananas, Barley, Beef.. ending with Wheat, Wool, Zinc. There are 53 of them.
Plus there are 10 Indexes -

- All commodity price
- Non-fuel price
- Fuel and beverage price
- ...
- Fuel (energy) index
- Crude Oil (petroleum) index.

I could do it in one datapackage, just it would be quite massive.

What would be your suggestions?

[2016-03-13 18:52] rgrp commented on #169
@lexman from your comments my sense is we keep them separate and we create a data package called e.g.

`geo-ne-populated-places`

[2016-03-13 18:54] rgrp commented on #136
@lexman are there standard continent codes? The geonames dataset only has 2 digit codes e.g. "EU".

Overalll I agree with @lexman on approach.

[2016-03-13 18:56] rgrp commented on #5
@zelima can you explain what the 10 indexes are and list them all out (I suggest editing your previous comment rather than commenting again).

When you say massive how large is the CSV from the IMF atm?

[2016-03-14 00:36] jgkim commented on #136
[UN M.49](http://unstats.un.org/unsd/methods/m49/m49regin.htm) is a standard for 3-digit area codes used by UN for statistical purposes. These codes refer wide variety of geographical, political, or economic regions including continents and countries, and codes for countries correspond to ISO 3166-1 Alpha-3.

I'm almost done with scraping UN M.49 with Node.js. I don't know it could help, though.

[2016-03-14 05:33] lexman commented on #136
Sorry @zelima, this was a rethorical question. My point was : it's better to add continent codes in a new column, but we need to create a new datapackage that explicits this codes.

By the way, I don't think NaturalEarth's codes are a standard and I don't know any.

[2016-03-14 17:19] zelima commented on #136
@lexman OK that's no problem.
@rgrp can you please answer my question, about download link?

[2016-03-17 17:50] pdehaye opened #172 "International Aid Transparent Initiative code list"
I am not sure if we have this already, maybe we do
http://iatistandard.org/202/codelists/

[2016-03-21 07:24] lexman commented on #168
I started looking at the data. It states clearly on the site (http://www.naturalearthdata.com/downloads/10m-cultural-vectors/10m-admin-1-states-provinces/) that this data is still in **beta**.

I see two use cases : some could need the first administrative division of their own country. Some
could need these for the whole world, or part of it. It seems easier to filter useful data than
to aggregat

[2016-03-23 12:11] rgrp opened #174 "List of continents with codes"
A *very* simple dataset but useful as a reference for #136

[code]

No known sources of specific continent codes. we should check:

* Natural Earth's continent codes
* Geonames codes: http://download.geonames.org/export/dump/countryInfo.txt
* Any other sources

/cc @zelima @lexman for comments ...

[2016-03-23 12:12] rgrp commented on #136
@jgkim can you please open a new issue for UN M.49 - definitely good to get that in.

@zelima yes - let's use that txt file if we can. I've also opened an issue for a list of continents #174

[2016-03-23 12:45] rgrp commented on #168
@lexman ok - remember we could break per country and start with 50m and just do US and Canada to start with.

In terms of size we could consider git lfs but i don't like that approach that much ...

[2016-03-24 17:16] lexman commented on #168
I cut the floating part of the coordinates to 6 (about 10 cm on earth) which reduces the file to 30 MB, and it *should* not impact the topology of the areas. If someone has checked out the repo, I had to force change the history of the repository.

Don't worry about the source (50m or 10m), with tuttle it's reaaly easy to change later.

[2016-03-24 17:28] lexman commented on #168
About the naming, my first though was : we'll make the best reference data, so we don't have to remind in the name of the package that the data comes from Natural Earth. I'm not so sure anymore.

This notion of *admin1* is very difficult. If you see the test package on the viewer http://data.okfn.org/tools/view?url=https%3A%2F%2Fgithub.com%2Flexman%2Fgeo-admin1, you can see that the United Kindom

[2016-03-24 17:47] lexman commented on #168
@rgrp , you said that

What are you thinking of ?

Also, as a french, I looked at the data and there are a bit of confusion beetwen *departement* and *region*.

The admin1 from Natural Earth is obviously still in beta.

[2016-03-24 20:05] zelima commented on #174
[code]
All the sources including geonames Than I found use this format.
Here are some of the:
[Planetary Names](http://planetarynames.wr.usgs.gov/Abbreviations)
[Wikipedia article](https://en.wikipedia.org/wiki/List_of_sovereign_states_and_dependent_territories_by_continent_%28data_file%29#Format)
There is even [PHP function](http://php.net/manual/en/function.geoip-continent-code-by-name.php) that

[2016-03-24 20:08] lexman commented on #168
@rgrp , @pdehaye   Even if quality isn't perfect, do you want to add it or wait until it is better ?

* view link : http://data.okfn.org/tools/view?url=https%3A%2F%2Fgithub.com%2Flexman%2Fgeo-ne-admin1
* validation link : http://data.okfn.org/tools/validate?url=https%3A%2F%2Fgithub.com%2Flexman%2Fgeo-ne-admin1

[2016-03-24 20:09] zelima commented on #5
@rgrp I wonder whether you've seen comment I edited?

[2016-03-24 20:11] lexman commented on #174
@zelima Looks great !

[2016-03-25 16:06] rgrp commented on #5
@zelima no i don't - not unless you notify me ;-)

[2016-03-25 16:46] zelima commented on #5
Ok,
So the dataset will look something like this:
65 different csv files. each file will have 2 columns:
[code]

[2016-03-25 19:02] zelima commented on #174
@rgrp @lexman please check new dataset
https://github.com/zelima/continent-codes
datapackage.json validate [link](http://data.okfn.org/tools/validate?url=https%3A%2F%2Fraw.githubusercontent.com%2Fzelima%2Fcontinent-codes%2Fmaster%2Fdatapackage.json)
if everything is ok, I'll transfer ownership.

[2016-03-26 06:01] lexman commented on #174
Hello,

can you also post the view link, as explained in the [datacurator guide](http://data.okfn.org/doc/core-data-curators#3-quality-assurance) ? It really hepls for reviewing.

Tip : you don't need to enter the whole absolute url to the datapackage.json in the view link. The url of the github project is enough (and easyer to read).

[2016-03-27 09:04] rgrp commented on #5
@zelima that's right. The only other option I could think of was having all the date in one file with:

[code]

Do the commodities have data over the same time period or does it vary? This latter option might actually be attractive now I think about it. Let's go for this option of one and if we need to change we can later.

[2016-03-27 09:12] rgrp commented on #168
@lexman

* Re naming: I agree on just keeping the natural earth pretty explicit and not modifying (we are primarily in the business of "packaging" not modifying a la debian but for data ...)
* Re US stuff - maybe we do a geo-ne-admin1-us (separately)
* I've checked your files - the view looks good though it takes so long for the data to load - i wonder if we need something there in the view code t

[2016-03-27 13:55] jalbertbowden commented on #168
looks good enough to me. clearly you all have been doing much more and are more aware but i don't see anything that makes it unusable.
for viewing, perhaps create topojson version also? i know there are differences between the two files, but i don't see that as a reason to discredit topojson as a format for viewing/rendering, especially if one is aware that of the differences between geojson/topoj

[2016-03-27 16:06] zelima commented on #174
Here it is
http://data.okfn.org/tools/view?url=https%3A%2F%2Fgithub.com%2Fzelima%2Fcontinent-codes

[2016-03-27 17:37] rgrp commented on #174
@zelima where is the standard README info e.g. the first paragraph describing the dataset. Also remember the processing info now goes in a separate directory. Also for a dataset *this* small I doubt we need any processing codes - just some documentation about where it came from - this info should go in the `## Data` section and is probably just a summary of the discussion here (e.g. info from http

[2016-03-29 17:23] zelima commented on #174
@rgrp got it.

I modified the repository. Please take look
[Repository](https://github.com/zelima/continent-codes)
[View link](http://data.okfn.org/tools/view?url=https%3A%2F%2Fgithub.com%2Fzelima%2Fcontinent-codes)
[Validation link](https://raw.githubusercontent.com/zelima/continent-codes/master/datapackage.json)

[2016-03-29 20:44] zelima commented on #5
@rgrp please take a look at [new datasets](https://github.com/zelima/commodity-prices.git)
README.md, datapackage.json and makefile are missing, I'll finish them for tomorrow, but still, is it something like you were hoping for?

There is a little issue regarding CSV file titles.
Right now  script is naming them according the names that are provided in third row of each commodities column of XLS f

[2016-03-29 22:30] lexman commented on #174
Hello,

on the view link we should see the table with the continent code but we can't...

Because in the repository the file is named `data/continent-codes` whereas it should be called `data/continent-codes.csv` : the `.csv` extension is missing.

Nearly there :)

[2016-03-29 22:44] lexman commented on #168
@rgrp I've added a geo-ne-admin1-us repository with US at low scale. I perfectly understand the need for this dataset, however I'm not totaly satisfied for two reasons :

* we can't develop this method to all the countries in the world : it would be impracticle to maintain 250 geo-ne-admin1-XX repositories
* I made a specific treatment for the US, because the meaningfull code for each state is the

[2016-03-30 04:11] zelima commented on #174
@lexman sorry for that.
fixed

[Repository](https://github.com/zelima/continent-codes)
[View link](http://data.okfn.org/tools/view?url=https%3A%2F%2Fgithub.com%2Fzelima%2Fcontinent-codes)
[Validation link](http://data.okfn.org/tools/view?url=https%3A%2F%2Fgithub.com%2Fzelima%2Fcontinent-codes)

[2016-03-30 20:05] zelima commented on #5
I added missing files, and have question regarding datapackage.json:
Should it include all 63 file paths in it? (for datafiles part to display and download them)
Right now it looks [Like This](http://data.okfn.org/tools/view?url=https%3A%2F%2Fgithub.com%2Fzelima%2Fcommodity-prices#resource-External_Data)

[2016-03-31 12:36] rgrp commented on #174
@zelima looks good. One thing missing is a single opening sentence or paragraph saying what this dataset is e.g.

[code]

[2016-03-31 12:38] rgrp commented on #5
@zelima yes - the datapackage.json should contain all the resource files. I suggest you maybe generate this as part of the scrape or use `dpm init` (if you do as part of the scrape be careful to update the existing datapackage.json and not completely replace).

Generally looks good and i will start opening issues on the repo.

[2016-03-31 12:45] rgrp commented on #5
@zelima just checking futher: i also thought I said about having all the data in a single file:

**Priority: decide whether we do single file or multiple files** - can you answer my question above re varying time period ... Also it sounds like source has a single sheet per commodity in which case it would make sense to split.

General points:

* data files should *always* have lower case names ...

[2016-04-01 11:56] rgrp commented on #168
@lexman

* Re extending to whole world: i hear you but we can cross that bridge when we come to it ;-)
* On the code treatment not sure I understand. In general i suggest we stay completely faithful to NE as far as possible.

One minor points:

* I increasingly think we drop "Prepartion" section from main README *if* we have the scripts/README.

Otherwise this looks great and we should get this in

[2016-04-01 20:34] rgrp opened #175 "People to ping"
These are repos that would not necessarily become core but could become datapackage'd:

* Veris Community Database of security incidents https://github.com/vz-risk/VCDB

[2016-04-01 21:55] zelima commented on #5
@rgrp xls file has one column Date and other 63 columns of commodities, on one sheet. date starts form 01/1980. Several commodities on certain date may not have any value, For example: Indonesian natural gas does not have any price value until 1992. So output csv file might look something like this:
[code]
For now I'll leave them split, and will work on proper titles and will fix dataackage.json.

[2016-04-02 06:41] zelima commented on #174
@rgrp Done
[View link](http://data.okfn.org/tools/view?url=https%3A%2F%2Fgithub.com%2Fzelima%2Fcontinent-codes)

[2016-04-02 11:46] rgrp commented on #5
@zelima if the original file is one sheet let's keep that way - that will make our life easier i imagine and may be more useful - let's go for that and just have blanks where there are no values.

[2016-04-02 11:47] rgrp commented on #174
@zelima it would have been useful to have listed in the Data section what the 3 sources you reference actually use but for now i think this is good.

@pdehaye do you want to the do honours of getting this into core.

[2016-04-02 13:31] zelima commented on #174
@rgrp so for now, I'm leaving dataset as it is, correct?

[2016-04-02 13:36] zelima commented on #5
@rgrp OK, will be done

[2016-04-02 20:54] pdehaye commented on #165
Added to the registry, tweeted, etc so I am now closing.

[2016-04-02 20:54] #165 closed

[2016-04-02 20:54] pdehaye commented on #165
@zelima Thanks!

[2016-04-02 20:56] pdehaye commented on #168
@rgrp sure, can manage

[2016-04-02 20:59] pdehaye commented on #168
@lexman this looks good, but I need you to transfer ownership of the dataset to the "datasets" organisation. Let me know (here) when you have done that.

[2016-04-02 21:07] pdehaye commented on #174
@zelima a few comments:
 - this is an amazing dataset   :)
 - your markdown is off in the data section
 - the second data source link is a duplicate of the first, please fix
 - while you are at it, why not add the php source indeed
 - can't wait to get this in

Please do those changes, and then transfer ownership to the "datasets" organisation. Please ping me here when that's done, so I can add it

[2016-04-02 21:48] zelima commented on #174
@pdehaye Thank you.

- duplicated link - fixed
- php source - added
- ownership - transferred
- can you please give hint about markdown issue?

[2016-04-02 22:12] pdehaye commented on #174
@zelima  for the markdown, i meant to add a bulletlist. i have done that now. Thanks for your work!

I have now updated the registry. The continent-codes dataset has landed in core, [here](http://data.okfn.org/data/core/continent-codes).

[2016-04-02 22:12] #174 closed

[2016-04-02 22:13] pdehaye commented on #165
The dataset has landed [here](http://data.okfn.org/data/core/inflation)

[2016-04-02 22:15] zelima commented on #174
@pdehaye great!

[2016-04-03 05:08] pwalsh commented on #165
Hey @rgrp @pdehaye I just looked at the dataset. I was very confused reading the dataset because the first batch of data in the file is not for countries at all: it is some pan-national region grouping. After those entries, there are a bunch of countries, but it might be good to either:

1. Remove the non-country rows (presuming this is supposed to be inflation per country)
2. Associate countries

[2016-04-03 09:33] zelima commented on #5
@rgrp
- All data in in one file.
- datapackage.json shows all of the columns.
- Changed README.md

[Modified dataset](http://data.okfn.org/tools/view?url=https%3A%2F%2Fgithub.com%2Fzelima%2Fcommodity-prices) - please review

[2016-04-03 12:23] zelima commented on #136
@rgrp should we continue with this?
If yes, there is an issue regarding text file. I'm not sure I can work with that.
It is extremely unordered.

The only thing that gives me a hope is that every line may have first five 'column' fulfilled. in that case I could do something like
[code]
This will only work if every first and fifth word will be the needed value.
Plus There should not be any other tw

[2016-04-03 13:02] rgrp commented on #136
I suspect we add this to country-codes - we probably just want to do this by hand. I suggest we open an issue on the country-codes repo.

@lexman any thoughts?

[2016-04-03 14:03] rgrp commented on #165
@pwalsh good feedback.

Tthose data points came direct from original world bank data. I'm not certain about actually removing it. As a user what's your concern exactly? If we remove from main set we probably want to keep but in separate file.

@zelima we won't do anything here until we have clarity :-)

[2016-04-03 14:07] rgrp commented on #5
@zelima the preview does not show the table. I think this is because some column names have `(` in it which currently breaks recline. Can I suggest we strip brackets from column names.

@pdehaye @pwalsh any thoughts on whether this should be one file or many - see discussion above.

[2016-04-03 14:19] zelima commented on #5
@rgrp I removed brackets, but still not shows table. I thought it was caused cause there are too man fields.
Any other suggestions?

[2016-04-03 15:50] rgrp commented on #5
@zelima i recommend checking the developer console in chrome or firefox as it shows the errors. e.g. now it has:

"China import Iron Ore Fines 62% FE spot"

My guess here is the 62%. My sense here would be to perhaps output the list of all commodity names and list them in the README but trim those in the actual spreadsheet (??). Maybe as a start good you dump the list of column names to a markdown

[2016-04-03 19:58] zelima commented on #5
@rgrp [fixed](http://data.okfn.org/tools/view?url=https%3A%2F%2Fgithub.com%2Fzelima%2Fcommodity-prices)

Since fixed, there is no need of google docs any more, is it?

[2016-04-04 01:01] lexman commented on #168
I'm back !

Following @rgrp I've put back the ``id`` column to be faithfull with NE. But I also added a ``state_code`` column, because this two letter code is the frictionless well known code used by every one, easy for joins.

And I've droped the preparation section. It will be nicer for the viewer, instead of a dead link.

@pdehaye I'm giving ownership in a minute...

[2016-04-04 01:29] lexman commented on #168
Here are the final links after transfert

geo-ne-admin1 :
* view : http://data.okfn.org/tools/view?url=https%3A%2F%2Fgithub.com%2Fdatasets%2Fgeo-ne-admin1
* validate : http://data.okfn.org/tools/validate?url=https%3A%2F%2Fgithub.com%2Fdatasets%2Fgeo-ne-admin1

geo-ne-admin1-us :
* view : http://data.okfn.org/tools/view?url=https%3A%2F%2Fgithub.com%2Fdatasets%2Fgeo-ne-admin1-us
* validate : http://

[2016-04-04 01:38] lexman commented on #136
Hello @zelima,

I've faced the same issue with countryInfo.txt. I think in geoname's mind, everyline begining by a ``#`` is a comment, then there is a tabulation-separated-values file with a header.

You can find my python code to parse the file here :
https://github.com/lexman/world-cities/blob/master/scripts/tuttlefile#L67

[2016-04-04 01:40] lexman commented on #136
@rgrp @zelima I like the idea of adding the continent code to the country-codes. We'll have a truly frictionless datapackage that would be easy to join with anything...

Or [that](https://xkcd.com/927/) :)

[2016-04-04 01:56] jalbertbowden commented on #168
realize i'm doing nothing but playing team spirit from afar, but great job! very, very, nicely done!

[2016-04-04 05:56] pwalsh commented on #165
@rgrp there is just an element of surprise: the data set is labeled as annual inflation per country, yet reading the CSV file, you are first confronted with a large amount of information that is not related to countries. I'd say to keep this info, and associate countries to these regional groupings (presuming, of course, that it is possible from the source data), and make it clear that this other

[2016-04-04 17:58] zelima commented on #136
Yeh, # lines are easy to handle with... I was talking about the actual data.
I didn't mean it's impossible, Just think it's hard to be sure that parsed data will be 100% correct, because of possible 'traps' in txt file..
So, final word up to you @rgrp? should I do or not?

[2016-04-08 11:01] rgrp commented on #5
@zelima great - and we can forget google docs. Is there any description of any of the commodities beyond their name in a structured form? If so adding this to the datapackage.json field description would be useful.

Otherwise this looks good to go. Please submit all the standard info for review in a single new comment and we can take a look.

[2016-04-08 11:03] rgrp commented on #165
@pwalsh noted. At the moment we are literally converting directly from source so not sure the regional grouping info is in there per se.

Perhaps we add something to the README for the present.

[2016-04-08 19:14] rgrp commented on #136
@zelima i don't get the question right now. As I said we should open an issue on the country-codes repo recommending what we suggest and then open an appropriate request once we have a response from the maintainer.

We then close this issue in favour of that issue.

[2016-04-09 06:05] zelima commented on #5
@rgrp descriptions for commodities added.

The data comes from [IMF](http://www.imf.org/external/np/res/commod/index.aspx) commodity prices. Data is pursed from xls file retrieved from [this link](http://www.imf.org/external/np/res/commod/External_Data.xls) and saved into archive folder.

The link to view dataset: http://data.okfn.org/tools/view?url=https%3A%2F%2Fgithub.com%2Fzelima%2Fcommodity-pr

[2016-04-09 10:38] rgrp commented on #5
Looks good to me. Let's transfer this. Before we publish however it would be nice to do a bit of tidying and add a graph -- @zelima you and I need to sync to discuss how that is done. Please can you add 2 issues once you have transferred: one for tidying of text and one for the graphy.

@pdehaye once we have everything sorted we will notify here so you can do the honours re announcing.

[2016-04-09 18:01] lexman commented on #168
Team spirit is good... Thanks @jalbertbowden !

[2016-04-14 00:35] lexman commented on #168
@pdehaye, @rgrp has merged the changes in the reference csv files and i've reloaded the list, but the new datapackage isn't a aimable on the core datapackage list. Do you have any idea ? Have I missed something ?

[2016-04-16 06:48] zelima commented on #72
@rgrp I'll finish this one.

the output files will be:
natural-gas-price-daily.csv
natural-gas-price-monthly.csv

daily
[code]
monthly
[code]

[2016-04-16 07:04] zelima commented on #122
@rgrp I'll take this one.

Output big-mac-index.csv

preview
[code]

[2016-04-16 08:24] rgrp commented on #72
@zelima perfect. Let's get this one done.

[2016-04-16 08:25] rgrp commented on #122
Great. Remember we would like a chart as well.

[2016-04-18 16:52] zelima commented on #122
@rgrp please review
validation link: http://data.okfn.org/tools/validate?url=https%3A%2F%2Fgithub.com%2Fzelima%2Fbig-mac-index
view link: http://data.okfn.org/tools/view?url=https%3A%2F%2Fgithub.com%2Fzelima%2Fbig-mac-index
Repository: https://github.com/zelima/big-mac-index

[2016-04-18 19:22] zelima commented on #72
@rgrp please review

validate link: http://data.okfn.org/tools/validate?url=https%3A%2F%2Fgithub.com%2Fzelima%2Fnatural-gas-prices

view link: http://data.okfn.org/tools/view?url=https%3A%2F%2Fgithub.com%2Fzelima%2Fnatural-gas-prices

I Registered pull request for repository.

[2016-04-20 19:19] zelima commented on #27
@rgrp is this one done? if not, I can finish..

[2016-04-20 19:23] zelima commented on #13
@rgrp I can package this one, just not really get what column names should be..

[2016-04-21 08:38] rgrp commented on #13
@zelima great - please move ahead. Can you copy a small sample of the data here for us to look at. @hirntodt suggested this was already in CSV format so we may not need to do much.

[2016-04-21 08:39] rgrp commented on #27
@kiliakis could you transfer this is to the datasets organization and then we can take it from there.

@zelima atm @kiliakis has already done most of this so let's get his repo transferred and then we can see.

[2016-04-21 10:24] zelima commented on #13
@rgrp yes it is.. Just it does not have header.

sample
[code]

[2016-04-21 10:26] zelima commented on #27
@rgrp got it

[2016-04-24 10:29] rgrp commented on #13
@zelima can you suggest headers based on your inspection.

[2016-04-24 10:30] rgrp commented on #122
@pdehaye can you cast your eye and see if this looks good?

[2016-04-24 11:49] rgrp commented on #72
@zelima can you link the pull request.

@lexman would you like to review this one?

[2016-04-24 16:52] lexman commented on #72
@rgrp @zelima  I'll review it, but I need a few days... Sorry

[2016-04-25 11:08] rgrp commented on #72
@lexman no problem - thanks!

[2016-04-25 12:48] pdehaye commented on #136
@zelima has @rgrp's suggestion been implemented?

[2016-04-25 13:06] pdehaye commented on #168
@lexman certainly part of the problem is that the core CSV was badly formatted (note: we also need to add it to the txt file). I fixed that now at https://github.com/datasets/registry/commit/a1018fd2f72de16b8a9b7e6c7b52d0369eee0964
But it still does not reload and I absolutely don't know why. I asked @rgrp to have a look.

[2016-04-25 13:14] pdehaye commented on #122
This generally looks good, but the graph is suboptimal. This does not link prices at different times for the same country together (country against country, as time evolves), which would be the most immediately accessible presentation.

[2016-04-25 16:25] zelima commented on #122
To link price with different time periods, we have to divide datapackage. So there will be different CSV files for each country.
Right now, any other combination for x and y axis makes graph unreadable.

[2016-04-25 17:31] zelima commented on #13
To be honest I don't know, but According to - some of ftp://ftp.unicode.org/Public/UNIDATA/ files - They might be:
`Unicode,Schematic Name,General_Category property value,,,CJK Radical,Code Point Sequence for USI,,,ast_Asian_Width property,The formal name aliases,,,mpping,`

[2016-04-25 17:38] zelima commented on #72
Link for PR: https://github.com/datasets/natural-gas-prices/pull/1

[2016-04-25 17:46] zelima commented on #136
@pdehaye I was little confused about what should I do, so I took a step back.
@rgrp did you mean me under 'we', when you said

[2016-04-26 16:23] rgrp commented on #136
@zelima yes i meant "you" here ;-)

[2016-04-27 02:27] lexman commented on #72
Hello,

@zelima I've started to review the PR and every thing looks good so far except for two minor things :
* file ``scripts/README.md~`` seam to be an artefact from your editor... It should be removed
* Makefile should be in the script directory

Unfortunately, I can't use the view link for a definite check because the server seams broken :

 @rgrp do you have any idea ?

[2016-04-27 15:42] lexman commented on #72
Well, the viewer is back and the data is great ! I really like the graph view @zelima

I'll merge the PR as soon as both corrections are made...

[2016-04-27 16:27] zelima commented on #72
@lexman done: https://github.com/zelima/natural-gas-prices/commits/master

[2016-04-27 22:01] rgrp commented on #122
@zelima i think this is one where you cannot do a graph without pivoting so for now i would not do a graph. The need for things like pivoting is why we need to switch to new "View" support - see https://discuss.okfn.org/t/data-packages-views-graphs-maps-tables-etc/2667

[2016-04-28 03:07] lexman commented on #72
I merged the PR. Great work @zelima !

[2016-04-28 03:42] lexman commented on #72
It seams that the natural-gas-prices has never been added to the core datasets...

I created a PR ( https://github.com/datasets/registry/pull/178 ) to add it to the main site. @pdehaye /cc @rgrp would you merge my PR ? I hope it is correct this time...

[2016-04-28 16:31] rgrp opened #179 "GINI index"
GINI is inequality index. Want this for as many countries as possible for as long as possible.

[2016-04-28 18:36] zelima commented on #179
we could use  world bank data: http://data.worldbank.org/indicator/SI.POV.GINI

[2016-04-28 21:23] gsilvapt commented on #106
To interact with OECD's database, [the official API guide might become handy](https://data.oecd.org/api/).

[2016-04-28 21:41] gsilvapt commented on #101
Original files have been removed, apparently. Will work on the original .xls files.

[2016-04-28 22:20] gsilvapt commented on #101
[Historical GDP Per Capita](https://github.com/gsilvapt/historical-gdp-per-capita)
[Historic GDP](https://github.com/gsilvapt/historical-gdp)

To improve the quality of these data packages, I would recommend removing the first two rows of these datasets. If this is needed, I will take care of this later on.

[2016-04-28 22:26] gsilvapt commented on #101
Issue: http://prntscr.com/ay3cs3

As soon as solved, I can published it. Already have the PR ready.

[2016-04-29 08:14] rgrp commented on #101
@gsilvapt can you please do http://data.okfn.org/doc/core-data-curators#3-quality-assurance - i.e. post links here.

[2016-04-29 09:07] gsilvapt commented on #101
I cannot move the repositories to the /datasets organization because I don't have admin access. At least it is what GitHub says. The links to the repositories are posted in a previous comment but here they are again:

https://github.com/gsilvapt/historical-gdp
https://github.com/gsilvapt/historical-gdp-per-capita

[2016-04-29 09:21] zelima commented on #101
Hi @gsilvapt.
This is the link for okfn tools and plugis: http://data.okfn.org/tools
Follow the [Validate link](http://data.okfn.org/tools/validate) and paste link to your repository there. If it is valid it should look something  [like this](http://data.okfn.org/tools/validate?url=https%3A%2F%2Fgithub.com%2Fzelima%2Fcommodity-prices)
Follow the [View link](http://data.okfn.org/tools/view) and pas

[2016-04-29 09:28] gsilvapt commented on #101
Oh, okay. I had run the validator in my terminal. But here they are again then:
**Historic GDP**
http://data.okfn.org/tools/validate?url=https%3A%2F%2Fgithub.com%2Fgsilvapt%2Fhistorical-gdp
http://data.okfn.org/tools/view?url=https%3A%2F%2Fgithub.com%2Fgsilvapt%2Fhistorical-gdp

**Historic GDP Per Capita**
http://data.okfn.org/tools/validate?url=https%3A%2F%2Fraw.github.com%2Fgsilvapt%2Fhistorical

[2016-04-29 10:04] zelima commented on #101
You're welcome.
I opened, few issues on your Historic GDP repository, hope it will help to prettify your dataset.
Good luck!

[2016-04-29 10:18] zelima commented on #122
@rgrp got it - removing the graph from view.

[2016-04-29 11:19] rgrp commented on #101
@gsilvapt what's the logic on splitting them into two data packages? My sense is that probably having these in one (if they come from one data source) is probably better tbh (though two different data files in the data package)

[2016-04-29 11:20] rgrp commented on #179
@zelima great.

@gsilvapt i suggest you take this on and @zelima can advise as necessary.

[2016-04-29 11:22] gsilvapt commented on #101
@rgrp Because the original sheet had 3 separate tabs and they are different types of data. One is GDP and one is population numbers.

[2016-04-29 11:24] gsilvapt commented on #179
As soon as we take care of packaging those two others, this is my next one then :+1:

[2016-04-29 14:32] gsilvapt commented on #179
There you go: https://github.com/gsilvapt/gini-index/issues/1

That one is working, apparently. What are the next steps?

[2016-04-29 16:46] rgrp commented on #101
@gsilvapt as discussed in channel let's have 3 files.

Also in terms of naming i would suggest gdp-historical just because the ordering makes nicer sense (its GDP first then its the historical version of GDP).

[2016-04-29 16:47] rgrp commented on #179
@gsilvapt please do post the validation and view links here ;-)

Also have you scripted the extraction so this can be run again and again automatically - you may want to look at #165 for an example of doing this with other World Bank data.

[2016-04-29 16:49] gsilvapt commented on #179
**Validator:** http://data.okfn.org/tools/validate?url=https%3A%2F%2Fgithub.com%2Fgsilvapt%2Fgini-index

**Viewer:** http://data.okfn.org/tools/view?url=https%3A%2F%2Fgithub.com%2Fgsilvapt%2Fgini-index

No, I haven't created a Python script. Still struggling with the other data package. I can work out on something yes, makes sense :smile:

[2016-04-29 16:49] gsilvapt commented on #101
Yes, taking care of this for ages :stuck_out_tongue: Let's hope this last try actually works!!

[2016-04-29 16:51] gsilvapt commented on #101
In regards to this, here you have it:

**Validator:** http://data.okfn.org/tools/validate?url=https%3A%2F%2Fgithub.com%2Fgsilvapt%2Fhistorical-gdp

**Viewer:** http://data.okfn.org/tools/view?url=https%3A%2F%2Fgithub.com%2Fgsilvapt%2Fhistorical-gdp

[2016-04-29 17:07] gsilvapt commented on #171
GINI and GDP have been taken care of. There are other indicators we can potentially take from the World Bank and create an entire data package about it. @pwalsh, would you like to work on something like that with me?

[2016-04-29 18:10] lexman commented on #72
Thanks @rgrp , it works !

I think the next step is to tweet about this new dataset. @pdehaye ?

[2016-05-01 21:44] pwalsh commented on #171
@gsilvapt sure!

[2016-05-02 10:28] gsilvapt commented on #171
Were you trying to get any indicator in particular, @pwalsh ? Perhaps we can start with those first.

[2016-05-02 10:33] gsilvapt commented on #136
Should this issue be close? https://github.com/datasets/world-cities

[2016-05-02 11:47] gsilvapt commented on #107
You can find the data package in this [repo I made](https://github.com/gsilvapt/tax-registry)

**Validator:** http://data.okfn.org/tools/validate?url=https%3A%2F%2Fgithub.com%2Fgsilvapt%2Ftax-registry

**Viewer:** http://data.okfn.org/tools/view?url=https%3A%2F%2Fgithub.com%2Fgsilvapt%2Ftax-registry

I am concerned with all those ".." instead of blank or 0's. Should I change that to improve data q

[2016-05-03 11:43] zelima commented on #136
I've opened an issue [here](https://github.com/datasets/country-codes/issues/30)

[2016-05-03 17:08] gsilvapt opened #181 "[meta] Index of sources"
I had the idea of having a list somewhere posted to be used as a resource that would include all main sources of information. An example would be:

**International**
- [World Bank](http://data.worldbank.org/)
- [CIA Factbook](https://www.cia.gov/library/publications/the-world-factbook/)
- ..
**European**
- [Eurobarometer](http://ec.europa.eu/health/reports/eurobarometer/index_en.htm)
- ..

**Portu

[2016-05-03 18:06] scls19fr commented on #181
| Country/Aera | Source | URI |
|---------|--------|-----|
|Italy|National Institute for Statistics of Italy|http://apistat.istat.it/?q=help|
|Norway|Statistics Norway|http://data.ssb.no/api/?lang=en|
|UK|UK’s Office for National Statistics|https://web.ons.gov.uk/ons/apiservice/web/apiservice/home|
|Sweden|Statistics Sweden|http://www.scb.se/en_/About-us/Open-data-API/API-for-the-Statistical-Datab

[2016-05-03 19:11] rgrp commented on #107
@gsilvapt looks good.

* yes we should replace .. with blank if it
* Re file naming: use `-` between words e.g. `tax-rate-country` rather than `taxratecountry`
* a description of the columns would be useful
* Data Package as a whole might want a better name (tax-registry is probably not perfectly accurate)
* There is no README.md - this is essential ... - please see curator docs for how this shoul

[2016-05-03 21:20] gsilvapt commented on #181
Awesome stuff, @scls19fr!!

I was not aiming specific for JSON databases, but those help too, considering they're mostly official databases in many countries.
That gave me the idea of separating those that support JSON and those that don't.

[2016-05-03 21:26] gsilvapt commented on #107
Is there something wrong with [this](https://github.com/gsilvapt/tax-registry/blob/master/readme.md) readme?

Thanks for the feedback. I'll improve this package soon.

[2016-05-03 23:01] gsilvapt commented on #107
Most modifications have been pushed to the repository, even though I cannot help much in writing a a description of the columns. The data is not very concise about it and the source links are not working.

@mcnabber091 Do you think you can give us a hand writing a description for the many columns? I can teach you how to edit the JSON file if you need help!

[2016-05-04 20:34] rgrp commented on #179
@gsilvapt we really need it scripted to go in so that it is repeatable. You may want to look at other scripted world banks ones e.g. #165

Again we will also want the data "normalized" here so:

[code]

[2016-05-04 20:36] rgrp commented on #171
@gsilvapt i can liase with you here. I think we may also want to start thinking about taking a more systematic approach for the World Bank.

So, to start with can I ask you to summarize what *you* think are the top socio-economic indicators we might want and post a bullet list here. Suggest structure like:

* Title. "Short justification of its importance". Likely source.

[2016-05-04 20:37] rgrp commented on #107
@gsilvapt great - the README looks good though please can you rename to `README.md` rather than `readme.md` (minor but a convention). Also it looks like `LICENSE` section has ended up as part of the last bullet point of the previous section.

[2016-05-04 20:39] rgrp opened #182 "UN M.49 3-digit area codes"
UN M.49 is a standard for 3-digit area codes used by UN for statistical purposes. These codes refer a wide variety of geographical, political, or economic regions including continents and countries, and codes for countries correspond to ISO 3166-1 Alpha-3.

[2016-05-04 20:40] rgrp commented on #182
@jgkim could you update on your scraping efforts here?

[2016-05-04 20:41] rufuspollock opened #183 "[meta] Set up waffle.io for this issue tracker"
Would make it a lot easier to analyse status and progress of things.

[2016-05-04 21:52] gsilvapt commented on #101
I forgot to come back with extra news. The repository has progressed significantly. However, it is not yet perfect. In this [issue](https://github.com/gsilvapt/historical-data/issues/4) we have been discussing how to improve the quality of the package.

@rgrp, some years have strings instead because they represent year intervals. Like > Annual compound Growth rate 1990-2008

. As for

I will have

[2016-05-04 22:01] gsilvapt commented on #179
Should that be the format of all data packages? I don't recall reading about that in the guides. Perhaps it should be added, if not already? Sorry for the off-topic question.

And yes, I haven't yet worked on the python script because I thought it would be better to prepare the datapackage and then work on that. Specially when other issues require the same script. Thanks for the guidance! ;)

[2016-05-04 22:05] gsilvapt commented on #107
Done.

I'm sorry but I didn't understand. Can you rephrase that, please?

In regards to the package name, I couldn't come up with anything decent/interesting. Can someone give a suggestion?

[2016-05-05 14:20] gsilvapt commented on #101
Latest [commit](https://github.com/gsilvapt/historical-data/commit/65062535b75440743834c1c6455f127b143271a9) changes all "," to "." . As for the time intervals, I am still waiting for some guidance there.

[2016-05-05 14:39] gsilvapt commented on #179
[Latest commit](https://github.com/gsilvapt/gini-index/commit/60ad090ea7558b059c6d559e2c9f4897b0d36bd9) takes care of "normalizing" data.

**Validator:** http://data.okfn.org/tools/validate?url=https%3A%2F%2Fgithub.com%2Fgsilvapt%2Fgini-index%2F

**Viewer:** http://data.okfn.org/tools/view?url=https%3A%2F%2Fgithub.com%2Fgsilvapt%2Fgini-index

[2016-05-05 23:58] gsilvapt commented on #181
@rgrp Do we have any sort of index of official sources of information somewhere?

[2016-05-06 12:06] rgrp commented on #107
@gsilvapt look at the indentation of the LICENSE heading.

Re naming suggest:

`tax-rates-personal`

[2016-05-06 12:06] rgrp commented on #179
@zelima can you review please and comment.

[2016-05-06 12:07] rgrp commented on #181
@gsilvapt what do you mean? There is http://dataportals.org/ but I'm not sure what you mean. There are a lot of different official sources. Personally whilst nice to have i would not prioritise this issue atm.

[2016-05-06 13:00] zelima commented on #179
Data is sorted by country names alphabetically, but not sorted by year. As an example:
[code]
Think it would be better if it is sorted.
[code]
Also REAMDE.md doesn't need Title as an opening line.
It would be good if you add README.md for usage in scripts directory eg: [like this] (https://github.com/datasets/commodity-prices/tree/master/scripts)
We could also add Makefile eg: [like this](https://

[2016-05-06 17:45] rgrp commented on #101
@gsilvapt re time intervals it is a tough one. If we leaves strings like this thought it breaks a lot of stuff. My suggestion is for these one pick a date in the middle and add a column called "notes" and put the interval description in the notes column.

[2016-05-07 18:15] gsilvapt commented on #181
@rgrp In almost every country, there are official sources of data - e.g. National Institute of Statistics (INE) in Portugal. I assume there are others in other countries.

In other words, this would help people search for data in the most credible sources of information there are out there. Data Portals might be it, if it also contains official sources and not only open sources.

[2016-05-07 18:18] gsilvapt commented on #179
Thanks for reviewing @zelima! Yes, the year sorting was something I was worried before but I guess we can work that out before publishing it.

Anyway, the to-do list for this package is:
- [ ] sort data frame by country (alphabetically) *and* by year (ascending);
- [ ] prepare Python script to run automatically as per https://github.com/datasets/registry/issues/165

[2016-05-08 14:48] rgrp commented on #179
@gsilvapt yes you want a makefile as per @zelima - in general you can follow @zelima's suggestions 😄

[2016-05-08 14:49] rgrp commented on #181
@gsilvapt in general i don't think is probably the place for it - if we did want it somewhere i suggest adding it to dataportal and you can open an issue there https://github.com/okfn/dataportals.org

[2016-05-08 17:45] gsilvapt commented on #179
Alright. I will have to read more about Makefiles and will have to work on something for all the other data packages then. Thanks, @zelima and @rgrp!

[2016-05-09 17:04] gsilvapt commented on #179
Newest version:

**Validator:** http://data.okfn.org/tools/validate?url=https%3A%2F%2Fgithub.com%2Fgsilvapt%2Fgini-index

**Viewer:** http://data.okfn.org/tools/view?url=https%3A%2F%2Fgithub.com%2Fgsilvapt%2Fgini-index

`Makefile` has been added and script is currently working.

Can anyone check if everything is correct this time? @rgrp @zelima Thanks!!

[2016-05-09 18:27] gsilvapt commented on #101
@rgrp I was trying to have a look at that and then I noticed the middle value is actually a coincident value with other years - namely 1999. What to do then?

[2016-05-10 05:50] zelima commented on #179
Just a little correction - Think it will be better if country names are sorted in ascending order as well (From "A" to "Z").
After this fix Datapackage looks perfect to me.
well done @gsilvapt !!!

[2016-05-10 08:45] sabas opened #184 "SMDG codelists"
http://smdg.org/index.php/smdg-code-lists/

Codes used in maritime industry, mantained as excel files.

I could package these.

[2016-05-10 09:30] gsilvapt commented on #179
Didn't even noticed that. Weird though. I though I had it sorting things correctly. Thanks, @zelima!

**Validator:** http://data.okfn.org/tools/validate?url=https%3A%2F%2Fgithub.com%2Fgsilvapt%2Fgini-index

**Viewer:** http://data.okfn.org/tools/view?url=https%3A%2F%2Fgithub.com%2Fgsilvapt%2Fgini-index

[2016-05-10 09:58] rgrp commented on #184
@sabas awesome - please start packaging :-)

[2016-05-10 10:00] rgrp commented on #101
@gsilvapt how common are these "averages"? one option is to delete them (or put them in a separate special file).

[2016-05-10 10:04] gsilvapt commented on #101
@rgrp Every "growth" indicator has this time interval and it is the only one

[2016-05-10 10:07] zelima commented on #179
@gsilvapt Great!
@rgrp To me, this one is ready to publish.

[2016-05-10 10:09] rgrp commented on #179
@zelima great. Can you work with @gsilvapt to get it moved over and published on the site.

[2016-05-10 10:11] gsilvapt commented on #179
@zelima @rgrp I have the PR ready to publish the updated lists upstream. I don't know how can I transfer ownership, though.

[2016-05-10 10:12] zelima commented on #179
@rgrp I've never published anything on the site, some help would be useful.

[2016-05-10 10:13] rgrp commented on #179
@zelima read http://data.okfn.org/doc/core-data-curators#4-publishing - then ping me on gitter if help needed.

[2016-05-10 10:15] zelima commented on #179
@gsilvapt Go do repository settings, scroll down where the Danger zone is and click on transfer, fill the pop-up window as needed and as much as I remember that's all.

[2016-05-10 10:18] gsilvapt commented on #179
That requires authorization: `You don’t have admin rights to datasets`

[2016-05-10 10:22] zelima commented on #179
@gsilvapt  Make sure you are in  [**your**](https://github.com/gsilvapt/gini-index ) repository settings

[2016-05-10 10:25] gsilvapt commented on #179
@zelima I need to become a member of the organization before changing ownership, thus it says "admin rights to datasets", where `datasets` is the organization I am trying to transfer to

[2016-05-10 10:42] zelima commented on #179
I'm not sure I have permission to make somebody a member of organization. @rgrp Think we need your help.

[2016-05-10 10:43] gsilvapt commented on #179
@zelima @rgrp I can take a print screen if needed

[2016-05-11 07:31] jgkim commented on #182
@rgrp Sorry for the late reply. The work I've been doing can be found at https://github.com/jgkim/country-data-package. I scraped codes for geographical regions only. It is a JSON data package, but I guess it can be easily converted into CSV or other forms.

[2016-05-11 13:55] sabas commented on #184
This is the terminal code list

https://github.com/PHPEdifact/smdg-master-terminal-facilities-list

[2016-05-12 10:41] rgrp commented on #184
@zelima can you review.

@sabas you will need to post validation and preview links as per http://data.okfn.org/doc/core-data-curators#4-publishing

[2016-05-12 10:42] rgrp commented on #101
@gsilvapt ok - i would just remove since it is probably computable from other data (and note this in the `## Data` section of the README (that we removed it).

[2016-05-12 10:44] rgrp commented on #179
@zelima i have added @gsilvapt to the curators team and made you a "team maintainer" so you can add people going forward. https://github.com/orgs/datasets/teams/curators

I will now leave you two to manage the move-over of the repository.

[2016-05-12 10:44] sabas commented on #184
Valid package
http://data.okfn.org/tools/validate?url=https%3A%2F%2Fraw.githubusercontent.com%2FPHPEdifact%2Fsmdg-master-terminal-facilities-list%2Fmaster%2Fdatapackage.json

Viewer
http://data.okfn.org/tools/view?url=https%3A%2F%2Fgithub.com%2FPHPEdifact%2Fsmdg-master-terminal-facilities-list

[2016-05-12 10:45] rgrp commented on #182
@jgkim we would need it in CSV. Can you convert it over?

[2016-05-12 16:14] gsilvapt commented on #179
@rgrp, thanks!

@zelima I am making the transfer now ;)

[2016-05-12 16:56] gsilvapt commented on #101
That has been taken care of:

**Validator:** http://data.okfn.org/tools/validate?url=https%3A%2F%2Fgithub.com%2Fgsilvapt%2Fhistorical-data

**Viewer:** http://data.okfn.org/tools/view?url=https%3A%2F%2Fgithub.com%2Fgsilvapt%2Fhistorical-data

[2016-05-13 05:58] zelima commented on #184
@sabas data looks very good. Great job!
Just a little things to consider:
* Think it would be better if column names are space separated i.e: `Company Name` instead of `CompanyName`
* There's no need to indicate "default" as optional 'format' parameter. You may indicate `yyyy-mm-dd` as format For date types.
* Also REAMDE.md doesn't need Title as an opening line.

[2016-05-13 06:17] zelima commented on #179
@rgrp @gsilvapt PR is read https://github.com/datasets/registry/pull/185
We need merge and after I'll publish.

[2016-05-13 08:32] sabas commented on #184
@zelima thanks, ok changed it.
I was also wondering if the geopoint type is supported, in case I can convert the Latitude and Longitude columns

[2016-05-13 08:45] rgrp commented on #101
@pdehaye would you like to review?

[2016-05-13 09:20] gsilvapt commented on #179
Merged!

[2016-05-13 09:25] gsilvapt commented on #184
(sorry to interrupt)

@sabas This guide may help you figuring details we usually look around here: http://datapatterns.org/core-guides/core-data-curators/

The website is incomplete and being subject to changes often, but hopefully that will help.

[2016-05-13 10:03] gsilvapt commented on #171
I am not entirely sure what is currently posted and what sources are there so I am basing my comment only in data available in the World Bank of Data:

- Cash Surplus/Deficit (% of GDP). This is key to know how countries are managing their cash flows. Likely source: World Bank of Data (http://data.worldbank.org/indicator/GC.BAL.CASH.GD.ZS)

- Inflation, GDP Deflator. Inflation is a key indicator t

[2016-05-13 17:05] zelima commented on #179
The data has landed here:  http://data.okfn.org/data/core/gini-index

[2016-05-13 17:14] zelima commented on #184
@sabas We've lost table for data.
The reason behind this is the "/" symbol in the "UN/LOCODE" field name.
The way to fix this is, to separate it with space or do not separate it at all.

[2016-05-13 19:27] sabas commented on #184
Fixed.
I also moved the coordinates in a single column with geopoint type

[2016-05-14 11:45] zelima commented on #184
Great, look good to me, @rgrp any comment about README.md

[2016-05-15 12:55] rgrp commented on #184
@sabas great - could we add a `LICENSE` section to README and perhaps a `DATA` section. @zelima you know the general outline on the README so I'll let you lead here.

[2016-05-15 19:37] zelima commented on #184
- There should be an opening line that contains description of the data, covering:

What this is
Where it comes from

- after comes ##data section which covers more informative desorption of data.

- And finally license section with some information e.g. what are the terms on the original dataset etc.

[2016-05-15 21:50] lexman commented on #55
For France a lot of data can be found here : http://www.cgedd.developpement-durable.gouv.fr/prix-immobilier-evolution-a-long-terme-a1048.html

Including prices in Paris since 1200 : http://www.cgedd.developpement-durable.gouv.fr/prix-immobilier-evolution-a-long-terme-a1048.html

[2016-05-16 07:25] sabas commented on #184
Restructured like this
[code]
LOC+11+RULED:139:6+PLP:72:306
[code]

[2016-05-16 07:39] zelima commented on #184
@sabas Nice, looks fine to me. Could you please update actual README.md in your repository and paste validation and preview link one last time.
@rgrp think we are ready to start publishing process.

[2016-05-16 07:44] sabas commented on #184
Done and valid

Valid package
http://data.okfn.org/tools/validate?url=https%3A%2F%2Fraw.githubusercontent.com%2FPHPEdifact%2Fsmdg-master-terminal-facilities-list%2Fmaster%2Fdatapackage.json

Viewer
http://data.okfn.org/tools/view?url=https%3A%2F%2Fgithub.com%2FPHPEdifact%2Fsmdg-master-terminal-facilities-list

[2016-05-17 07:22] scls19fr commented on #55
This Python script might help to download files for each department:

[code]

processing may also be done using Python Pandas to output "raw" csv files

[2016-05-17 08:12] rgrp commented on #55
@lexman or @scls19fr  this is great. Can you boot a specific issue for France and copy this info over into the description.

[2016-05-17 08:28] scls19fr commented on #55
This script can also help to find xls, xlsx, csv links

[code]

[2016-05-17 09:03] scls19fr opened #186 "Property Prices (France)"
Following https://github.com/datasets/registry/issues/55

From @lexman

This Python script might help to download files for each department:

[code]

processing may also be done using Python Pandas to output "raw" csv files

This script can also help to find xls, xlsx, csv links

[code]

[2016-05-17 09:47] scls19fr commented on #186
This file

[code]

can process all department files and output to CSV.

Some manual cleanup (renaming columns...) may be necessary.

[2016-05-17 14:16] lexman commented on #186
Great @scls19fr  ! Do you plan to make a house-prices-fr datapackage ?

[2016-05-17 15:16] scls19fr commented on #186
I'm quite busy these days. But I think that someone (maybe you if you can) can do it quite easily thanks to these 3 scripts. I'm using Anaconda Python.
`requests`, `click`, `pandas` are required packages
`conda install package_name`

[2016-05-18 03:18] lexman commented on #186
I'll do it... In a few days !

[2016-05-18 08:18] zelima commented on #184
Following [this steps](http://data.okfn.org/doc/core-data-curators#4-publishing), @sabas  needs to transfer ownership to proceed. But first you must become organization member.
@rgrp since I am `Team maintainer` of curators team, I can only add users who are **already members of  [organization](https://github.com/orgs/datasets/people)**. We would need to add @sabas as an organization member (I don

[2016-05-18 18:15] gsilvapt commented on #184
I can't add as an organization member, I think. If this is an urgency, I can clone the repository and just push it upstream, without taking any credit away from @sabas. Still, I think we can wait!

[2016-05-18 20:27] zelima commented on #184
That would be great, thanks @gsilvapt

[2016-05-19 01:18] gsilvapt commented on #184
It is up to @sabas and @rgrp then :+1:

[2016-05-23 15:47] rgrp commented on #184
@zelima you are now an owner so you can add @sabas. @pdehaye would you like to guide @zelima in what he needs to do so he knows for the future and can also help with managing curator work :-)

[2016-05-23 17:09] gsilvapt opened #187 "Messed up layout in "community" packages with gigantic sources"
Under `Country and Regional Analyses (CRA) - UK Government Finances` and `Hotline SOS Démocratie 2013.` in the *Community Datasets list, there are two gigantic lists of sources that should be reduced for the sake of design and page layout.

[2016-05-24 10:04] zelima commented on #184
@sabas I've sent you invitation. You can transfer ownership once you accept it.. Please notify here so I could publish data

[2016-05-24 10:11] sabas commented on #184
Done https://github.com/datasets/smdg-master-terminal-facilities-list
:tada:

[2016-05-24 18:36] zelima commented on #184
Great!
The dataset has landed here: http://data.okfn.org/data/core/smdg-master-terminal-facilities-list
Good job @sabas

[2016-05-25 06:28] rgrp commented on #187
@gsilvapt this is not a datasets issue but a UX / design issue so could you please re-file in https://github.com/okfn/data.okfn.org-new/issues (screenshot valuable).

[2016-05-25 06:28] #187 closed

[2016-05-25 07:17] sabas commented on #184
Thanks! In these days the list was updated with some request I made to the secretariat, I'll fork and update

[2016-05-25 14:13] sabas commented on #95
http://unicode.org/emoji/charts/full-emoji-list.html

[2016-05-25 15:51] danfowler commented on #95
😂

[2016-05-25 19:05] gsilvapt commented on #95
Creating this data package will be a huge task!

[2016-06-09 22:41] gsilvapt commented on #101
This dataset has not been reviewed and I'd like to transfer ownership when you guys can review this. Thanks!

[2016-06-10 05:39] zelima commented on #101
@gsilvapt I suggest to sort year column too.. like:
[code]
instead of
[code]

[2016-06-10 10:53] gsilvapt commented on #101
Thanks for the suggestions. I will work on a fix for this :+1:

[2016-06-11 12:13] rgrp commented on #186
@lexman how are you doing here?

[2016-06-11 12:27] rgrp opened #188 "BLS Time Use Database"
The American Time Use Survey (ATUS) measures the amount of time people spend doing various activities, such as paid work, childcare, volunteering, and socializing.

* http://www.bls.gov/tus/data.htm
* http://www.bls.gov/tus/database.htm

[2016-06-12 14:06] lexman commented on #186
Hello,

All I've been able to do yet is to look at the files.

Unfortunately, the files for each **departement** contain only the number of houses sold, not the prices ; the only file with prices is about Paris.

I won't be able to package it before a couple of weeks. Be back in a while...

[2016-06-13 07:31] zelima commented on #184
@rgrp @sabas we can close this one, right?

[2016-06-13 07:34] sabas commented on #184
Yes, the other lists are less used I think...

[2016-06-13 18:51] zelima commented on #146
@Snekili Following thiss link: http://sedac.ipcc-data.org/ddc/observed/index.html I have dataset ready.
Could you please help with providing README.md for it. (few word about data itself, license and legal rights etc...)

[2016-06-13 18:58] Snekili commented on #146
@zelima I will Irakli, but tomorrow afternoon

[2016-06-13 19:51] zelima commented on #156
@Snekili @rgrp dataset is ready.
view link: http://data.okfn.org/tools/view?url=https%3A%2F%2Fgithub.com%2Fzelima%2Fhistorical-adoption-of-technology
validate link: http://data.okfn.org/tools/validate?url=https%3A%2F%2Fgithub.com%2Fzelima%2Fhistorical-adoption-of-technology
Please review it. (The data is very  big so it takes time to load table)

[2016-06-14 11:07] zelima commented on #143
@Snekili I could start packaging this one following http://esa.un.org/unpd/wpp/Download/Standard/Population/ (second link)
Population Growth Rate [file](https://esa.un.org/unpd/wpp/DVD/Files/1_Indicators%20(Standard)/EXCEL_FILES/1_Population/WPP2015_POP_F02_POPULATION_GROWTH_RATE.XLSl) has several sheets - which one do we need to package, **estimates**?

[2016-06-14 16:26] Snekili commented on #143
@zelima I think you should use first sheet  - ESTIMATES as that sheet is for Total population, both sexes combined, fro 1950-2015

[2016-06-14 16:28] Snekili commented on #143
@zelima I dont know why this sheet is called "Estimates" because it really Historic data, and all of the rest are in fact Estimates from 2015-2100.

[2016-06-14 17:11] Snekili commented on #156
@zelima I cant open any of those two links :(... Can you check why? It's taking long and it's because of size, but still wont open

[2016-06-14 17:14] Snekili commented on #156
@zelima I get this message ;

An error occurred in the application and your page could not be served. Please try again in a few moments.

If you are the application owner, check your logs for details.

[2016-06-14 17:15] Snekili commented on #146
@zelima

An error occurred in the application and your page could not be served. Please try again in a few moments.

If you are the application owner, check your logs for details.

[2016-06-14 18:32] zelima commented on #156
@Snekili there was some issue on website I guess. I've just tried and It runs fine for me..

[2016-06-14 20:17] zelima commented on #143
@Snekili datapackage is ready you an view it here: http://data.okfn.org/tools/view?url=https%3A%2F%2Fgithub.com%2Fzelima%2Fpopulation-growth-rate
please review and help with README.md :)

[2016-06-15 22:57] gsilvapt commented on #179
Data package available online. FIXED!

[2016-06-15 22:57] #179 closed

[2016-06-16 16:21] Snekili commented on #143
@zelima I've added a comment that we can use in README. BUT Im not sure abut this [licence](https://shop.un.org/rights-permissions#rp2) thingy... What do you think?

[2016-06-16 17:40] zelima commented on #143
@rgrp [rights and permissions page](https://shop.un.org/rights-permissions#rp2) is a little bit unclear about permissions - it says:

but it also says:

Could you please help here?

[2016-06-16 18:13] gsilvapt commented on #143
Sorry to interrupt: We have this package online that also contains population data: https://github.com/datasets/registry/issues/101

It is not automated, as the source is not an API or similar that could allow me to automate the process. But we can probably take care of that in this package.

[2016-06-17 07:25] zelima commented on #143
@gsilvapt thanks for comment.
@Snekili in case we deal with license part, do we need to have population growth rate separately?
Please consider these differences between them (I'll call them data1[mine] and data2[Gsllvapt's], ):

**Data1** contains growth rate from 1950 to 2015, for every _5 year_
**Data2** contains growth rate from 1990 to 2009, for every _1 year_

@gsilvapt this is what I saw wi

[2016-06-17 11:53] gsilvapt commented on #143
@zelima The source from data 2 package is not an API or something that will be updated frequently, AFAIK. Hence, it may make sense to use only the UN's because we can automate the process of maintaining and curating the data set.

We can also write a secondary Python script to see if the data match in both data sets and, if not, target the differences. We can keep it separated and just add a note

[2016-06-23 18:23] rgrp commented on #55
@zelima could you start looking at the BIS data on this one and scripting the data extraction.

[2016-06-23 18:30] rgrp commented on #143
@Snekili @zelima may also be worth comparing this to the World Bank one. What is the difference between this and world bank population (growth) datasets?

[2016-06-23 18:32] rgrp commented on #179
@pdehaye can we tweet about this one?

[2016-06-24 05:45] zelima commented on #55
@rgrp I went through BIS data, main file is constructed like this:
* The data contains Monthly, quarterly, half-yearly and yearly data. form 31-01-1966 to 31-05-2016. _which one do we need, or all of them?_
* For several countries there may be several data e.g: United Kingdom has two different data depending on Compiling agency (national statistic office and private sector), other countries may ha

[2016-06-24 11:01] zelima commented on #143
@rgrp World bank data contains annual growth rate from 1960 to 2015. And I think it is cleaner and more tidy then 2 previous

[2016-06-28 11:22] zelima commented on #188
@rgrp I found several tables that can be downloaded and datapackaged, but it may be difficult get them in "shape":
* Table A-1 - Time spent in detailed primary activities and percent of the civilian population engaging in each activity, averages per day by sex, annual averages [from 2003 to 2015](www.bls.gov/tus/tables/a1_all_years.xlsx)

*  Table A-2 - Time spent in detailed primary activities an

[2016-06-28 13:43] zelima commented on #162
@rgrp There are lots of different files eg: for each country, cause, or risk there are different links to download. Download link itself point to the .zip files that contains single .csv file and they are quite big (about 120-150 MB each).
I downloaded and compared data of United kingdom and Georgia:
* both contain data for 1990, 1995, 2000, 2005, 2010, 2013 years.
* Column titles for both are sam

[2016-06-29 08:53] rgrp commented on #55
@zelima how big are the files. Can you give a short list here of the actual *files* involved with their size.

[2016-06-29 11:21] zelima commented on #55
There is only one file with 6 sheets, first two sheets are content and documentation, other four - monthly, quarterly, half-yearly and anyal series. The file is not too big (500 KB).

Size of excel sheets (rows/cols)
* Monthly Series - 609/53
* Quarterly Series - 249/220
* Half-yearly Series - 24/5 (there's something wrong with this one - it contains only Greece)
* Annual - 201/29

[2016-06-29 11:36] zelima commented on #147
@Snekili I can not open google drive links, Could you please double check if they are valid links. Also is this the data that we need from BP website: www.bp.com/content/dam/bp/excel/energy-economics/statistical-review-2016/bp-statistical-review-of-world-energy-2016-workbook.xlsx
@rgrp  The world bank data has download link to .zip files that contain CSV, or Excel files. Do we work with .zip files

[2016-06-29 11:50] Snekili commented on #147
@zelima All climate docs and spreadsheets are now shared with you. Try that links now.

[2016-06-29 11:52] Snekili commented on #147
@zelima
@rgrp

**Description of BP Statistical review of world energy:**

 BP Statistical Review of World Energy June 2016

 This workbook contains information presented in the 2016
 BP Statistical Review of World Energy, which can be found on the
 internet at:

http://www.bp.com/statisticalreview

Please use the contents or the tabs at the bottom to navigate between the tables.

Oil: Proved reser

[2016-06-29 12:05] zelima commented on #145
@Snekili @rgrp to download data it need first to be filtered.
EM-DAT may be filtered by year, disaster type or by it's subgroup. eg: We can get data that contains total damage (USD) by countries that was caused by earthquake. It looks something like this:
[code]
Problem is that the button that gives download link is JS button (I guess), so I can not get actual download link to automate process.

I

[2016-06-29 12:20] zelima commented on #147
Ok so we can make separate csv files for each item @Snekili listed above, with columns like:
[code]
What do you thin @rgrp

[2016-06-29 13:13] zelima commented on #142
@Snekili @rgrp I can start packing this one following this link http://sedac.ipcc-data.org/ddc/observed/data/IPCC_AR4_Observed_CC_Impacts_Database_v1.0.xls
I can map values with description provided in "Data fieldnames" sheet

[2016-06-29 16:07] rgrp commented on #188
@zelima as a first step can you list files and file sizes with a short description. I suggest you even boot a data package repo with a README for this purpose.

[2016-06-30 11:50] zelima commented on #188
@rgrp Created repo with README, you can view it here: https://github.com/zelima/american-time-use-survey

[2016-07-03 15:05] rgrp commented on #145
@Snekili I am going to let you look at this with @zelima

[2016-07-03 15:09] rgrp commented on #188
@zelima great. Having looked at the data can you suggest the format for the main data file (i.e. lay out the headings with any relevant comments).

Also is there any data on their website that goes back further than 2003? I'd be quite interested in time use for much longer time periods.

[2016-07-03 15:10] rgrp commented on #55
@zelima can you boot a repo for this and create the readme and add the archive files (in an automated way using a `scripts` file).

Based on what you have shown me I think we would do all temporal granularities and name as per our standard naming conventions. I would start though with annual data first.

Can you set out here or in the README what the structure of the *output* data file would be?

[2016-07-03 15:11] rgrp commented on #142
@zelima can you give a sample / summary of what is in that database / spreadsheet. Also feel free to start a data package for this.

[2016-07-03 15:14] rgrp commented on #147
@zelima the BP stuff looks like a generic energy database. Worth doing but would be called something like `energy-production-bp`. Suggest you boot that repo and start a README that can explain what is in the source. Then we can go from that.

Can you also look at the world bank dataset http://data.worldbank.org/data-catalog/sustainable-energy-for-all - what is in there?

[2016-07-04 08:39] zelima commented on #142
@rgrp Spreadsheet contains three sheets - _data description_, _column name and data documentation_, and _data sheet_ itself. Original file looks something like this (I've omitted most of columns for better visualisation):
[code]
There are 20 columns total. All of the column names are defined on "documentation sheet" and all of the values are explained there. Meaning:

For example last column(Prec)

[2016-07-04 08:53] zelima commented on #142
@rgrp @Snekili I've just discovered that I have ready datapackage for this one. I packaged it referring to https://github.com/datasets/registry/issues/146 this issue.

You can view repository here: https://github.com/zelima/climate-change
You can view data package here: http://data.okfn.org/tools/view?url=https%3A%2F%2Fgithub.com%2Fzelima%2Fclimate-change
Validation link: http://data.okfn.org/tool

[2016-07-04 09:11] zelima commented on #188
@rgrp I'm thinking of something like this:
For A-1 Table (easiest one):
[code]
Where 1,2 and 3 will be:
*1 Average hours per day, civilian population
*2 Average percent engaged in the activity per day
*3 Average hours per day for persons who engaged in the activity

[2016-07-04 09:23] zelima commented on #188
@rgrp I found their archive link, http://www.bls.gov/schedule/archives/all_nr.htm#ATUS where are some data e.g: **Annual Pay Levels in Metropolitan Areas**, from 1992-2001. But it is discontinued, and all the data are in .txt files separately.

i.e this is the link to txt file of Annual pay levels in metropolitan areas of 1993. http://www.bls.gov/news.release/history/anpay2_102094.txt

[2016-07-04 10:35] zelima commented on #55
@rgrp The repository with README describing structure of output data is ready: https://github.com/zelima/house-prices-global

[2016-07-04 11:09] zelima commented on #147
@rgrp I added repo with README in it, please review it https://github.com/zelima/energy-production-bp

[2016-07-04 11:15] zelima commented on #147
@rgrp I'm don't really get terminology, but as they share on their website the

- Type: Time series
- Periodicity: Annual
- Last Updated: 09-Sep-2015
- Topic: Energy & Mining
- Coverage: 1990 - 2010

[2016-07-04 12:13] Snekili commented on #145
@rgrp
@zelima You have example in google drive link  - [**Natural__1900_2015_summary.csv - Climatilogical**](https://drive.google.com/open?id=1pQjk6k6zos6uo-x9QCxBGHSmxUu5mpHpSr-YGDGspWc), but  this database contains much more than just a Global Fire and damage, It has datasets for Drought, Earthquakes, Epidemic, Extreme Temperature, Volcanic Activity etc... and more advanced subgroups like Comple

[2016-07-04 13:13] zelima commented on #145
@Snekili Yeah, there are much of useful data, just there are no links to download them.
@rgrp there is kind of "online tool" that generates the data depended on filter options. You can try it here: http://www.emdat.be/disaster_profiles/index.html

[2016-07-05 13:05] #184 closed

[2016-07-05 13:30] zelima commented on #182
@rgrp @jgkim I could try writing python script, that takes already scraped JSON data as input and outputs CSV file, if @jgkim would like to receive PR.
As a first glance CSV file would look something like this (for continents.json):
[code]

[2016-07-05 14:34] zelima commented on #167
@rgrp
- World bank data for male/female %  from 1960 - 2014 http://data.worldbank.org/indicator/SP.POP.TOTL.FE.ZS?end=2014&start=1960&view=chart
- World bank data for age bands:
 - http://data.worldbank.org/indicator/SP.POP.0014.TO.ZS?end=2014&start=1960&view=chart < 14
 - http://data.worldbank.org/indicator/SP.POP.1564.TO.ZS?end=2014&start=1960&view=chart 15-65
 - http://data.worldbank.org/indica

[2016-07-05 15:09] zelima commented on #138
@rgrp I could try packaging this one if @kiliakis has no time for it

[2016-07-06 11:01] rgrp commented on #182
@jgkim would be great if you were up for contributing (@zelima can support if needed).

[2016-07-10 15:09] lexman commented on #169
Hello,

the data is in [shapefile](https://en.wikipedia.org/wiki/Shapefile) format which is a set of 5 files. That's why they offer one download link in the zip format.
The best tool for handling geographic data is [ogr](http://www.gdal.org/ogr_utilities.html). You can find example of the syntax in project [geo-countries](https://github.com/datasets/geo-countries/blob/master/scripts/tuttlefile).

[2016-07-11 10:22] zelima commented on #169
@lexman Thanks for info.. I'll take a look at them.

[2016-07-19 09:57] zelima commented on #186
@lexman Any progress here? maybe need some help?

[2016-07-19 10:07] zelima commented on #171
@gsilvapt do you think you could help us with packaging Cash Surplus/Deficit?

[2016-07-19 13:39] gsilvapt commented on #171
Yes, I can help preparing this package during this afternoon. Will post
something when the repo is complete.

Best regards/Com os melhores cumprimentos,
Gustavo Silva.

Sent from my Nexus 5.

On 19 Jul 2016 11:07 a.m., "Irakli Mchedlishvili" <notifications@github.com>
wrote:

[2016-07-19 15:33] gsilvapt commented on #171
@zelima The package is here: https://github.com/gsilvapt/cash-surplus-deficit

The main issue is the country strings that have spaces, dots and other kind of characters. For that reason, the package is failing. Have to improve the script. Nevertheless, I'm letting you know this package is practically done.

[2016-07-20 10:36] lexman commented on #186
Sorry @zelima, I was short on time for pas few weeks. I'll get back to it in a few days...

[2016-07-27 11:44] zelima commented on #27
@kiliakis Any thoughts about transferring? Maybe some  help needed?

[2016-07-27 11:49] zelima commented on #39
@jalbertbowden Any changes regarding this one?

[2016-07-27 11:56] kiliakis commented on #27
@zelima I've already transferred that :) https://github.com/datasets/co2-emissions

[2016-07-27 13:20] zelima commented on #27
@kiliakis Oh, great!
Then we should close this one, right @rgrp ?

[2016-08-01 15:22] rgrp commented on #186
@lexman I'd leave this open here until we have a complete data package otherwise we lose track (even if there is a separate issue on the dataset repo). Hope that makes sense.

[2016-08-01 15:23] rgrp commented on #171
@zelima do you want to take a look and review?

[2016-08-01 15:24] rgrp commented on #27
@zelima yes, though first this should be live on data.okfn.org and we should tweet about it /cc @pdehaye (and when tweeting we usually want a nice image ...)

When closing you want to note something like:

[code]

[2016-08-02 08:11] zelima commented on #27
@pdehaye we can use this image for tweet:
![co2emissions](https://cloud.githubusercontent.com/assets/15143785/17321525/0af49f94-58aa-11e6-9bc3-1f326979cb5e.png)

[2016-08-02 08:11] zelima commented on #27
Link to repo: https://github.com/datasets/co2-emissions
Link to live: http://data.okfn.org/data/core/co2-fossil-global

[2016-08-02 08:45] zelima commented on #171
@gsilvapt Sorry for such late respond.

I reviewed data - everything looks great, well Done!
Link to view data: http://data.okfn.org/tools/view?url=https%3A%2F%2Fgithub.com%2Fgsilvapt%2Fcash-surplus-deficit

I just don't get what issues are you talking about? Are they fixed already?
Also there is problem with validating Datapackage: http://data.okfn.org/tools/validate?url=https%3A%2F%2Fgithub.com%

[2016-08-02 08:48] zelima commented on #171
@gsilvapt Sorry for such late respond.

I reviewed data - everything looks great, well Done!
Link to view data: http://data.okfn.org/tools/view?url=https%3A%2F%2Fgithub.com%2Fgsilvapt%2Fcash-surplus-deficit

I just don't get what issues are you talking about? Are they fixed already?
Also there is problem with validating Datapackage: http://data.okfn.org/tools/validate?url=https%3A%2F%2Fgithub.com%

[2016-08-02 23:33] gsilvapt commented on #171
@zelima The problem is exactly the output of the validator. There are some strange characters in the "Country Name" column, which include `^([a-z0-9\\.\\_\\-])+$`.

I can try and see what is missing currently in the script under`/scripts/process.py` but I may need some time. I was trying to find a list to remove all of those characters at the same time but it seems I cannot find a way.
Do you know

[2016-08-03 09:05] zelima commented on #171
@gsilvapt Unfortunately I don't.
You can take as much time as you need, that's up to you! :)

Are you sure the problem is there? I went through data several times and could not detect any strange symbols there. Saw your script and it is already removing/replacing "suspicious" ones.
So I would suggest first removing whole `Country Name` column, or filling it's values with single string e.g: `"Test"

[2016-08-03 09:09] zelima commented on #171
@gsilvapt Also recommend removing "suspicious" symbols form `datapackage.json` like `/` or `%` from https://github.com/gsilvapt/cash-surplus-deficit/blob/master/datapackage.json#L36 and replacing them with actual words e.g: "or" "percentage"

[2016-08-03 09:30] rgrp commented on #27
@zelima but the two links you just provided don't match - the former is the *new* dataset and the latter data.okfn.org link is to a different data package ...

[2016-08-03 09:30] rgrp commented on #138
@zelima let us leave this for now ...

[2016-08-03 10:18] zelima commented on #27
@rgrp you are right, I've been mistaken.
So the correct links are:
Link to repo: https://github.com/datasets/co2-emissions
Link to live: http://data.okfn.org/data/kiliakis/co2-fossil-by-nation

@pdehaye image above is useless. Sorry for that. Unfortunately we don't have graph view for this one - only grid view.

[2016-08-03 12:55] sxren commented on #171
@gsilvapt In datapackage.json, change
"name": "Cash-Surplus-Deficit",
to
"name": "cash-surplus-deficit",

The dataPath "/name" part of the error means the name attribute of the datapackage.json.

In the pattern part of the error, the plain English meaning of "a-z" is only lowercase letters.

[2016-08-03 14:06] zelima commented on #171
@sxren Thanks for help!

[2016-08-04 06:14] lexman commented on #186
Sorry, I didn't notice I had closed the issue. It seams I pushed the wrong button when I made the comment... I'll let you know when work is over :)

[2016-08-04 10:21] sxren commented on #138
@Snekili If you're interested in the Polar Science Center Links, they are:
http://psc.apl.uw.edu/wordpress/wp-content/uploads/schweiger/ice_volume/PIOMAS.2sst.monthly.Current.v2.1.txt
http://psc.apl.uw.edu/wordpress/wp-content/uploads/schweiger/ice_volume/PIOMAS.vol.daily.1979.2016.Current.v2.1.dat.gz

There are a few ways to find them after copying the links that appear after clicking the send  b

[2016-08-04 18:18] gsilvapt commented on #171
@zelima @sxren

It seems @sxren's suggestion fixed the issue. However, the datapackage viewer is not working. It is outputing an error "Unable to access file. Status code: 404". Validator is working though.

**DPKG Validator:** http://data.okfn.org/tools/validate?url=https%3A%2F%2Fgithub.com%2Fgsilvapt%2Fcash-surplus-deficit%2F

[2016-08-04 19:32] gsilvapt commented on #171
Wow, weird. Maybe a temporary issue or something I did wrong when pasting
the link. Thanks!

@rgpg, I believe this package is ready but let me know (you too, Dan) if
there's anything else needed to do.

On 4 Aug 2016 8:29 p.m., "Daniel Fowler" <notifications@github.com> wrote:

[2016-08-05 08:32] zelima commented on #171
@gsilvapt The little thing and think we are ready to go:
I would separate country names that have "and" inside with spaces e.g: `Antigua and Barbuda` instead of `AntiguaandBarbuda`. This looks nicer.
After Please paste one last time validate and view link here. And at last transfer ownership, so I can make it available online. :)

[2016-08-05 11:39] gsilvapt commented on #171
@zelima yes, I removed those because I thought they were raising issues when creating and validating the `datapackage.json`. Do you think that will not cause any problems?

[2016-08-05 13:16] zelima commented on #171
@gsilvapt I'm pretty sure it won't cause any problems.
For example it works for this dataset: http://data.okfn.org/data/core/country-list

[2016-08-05 22:01] gsilvapt commented on #171
@zelima I thought it did. Well, here it is, properly fixed:

**Validator:** http://data.okfn.org/tools/validate?url=https%3A%2F%2Fgithub.com%2Fgsilvapt%2Fcash-surplus-deficit

**Viewer:** http://data.okfn.org/tools/view?url=https%3A%2F%2Fgithub.com%2Fgsilvapt%2Fcash-surplus-deficit

Will transfer ownership now.

[2016-08-08 08:18] zelima commented on #171
@gsilvapt Great job, thanks for help!

The data has landed here: http://data.okfn.org/data/core/cash-surplus-deficit

@pdehaye could you help with tweeting this one?

[2016-08-08 08:36] zelima commented on #182
@jgkim Did you have chance to look at this?

[2016-08-08 08:40] zelima commented on #167
@gsilvapt Could you help with this one?

[2016-08-08 09:04] zelima commented on #156
@Snekili This one is almost ready, could you review it?

[2016-08-08 09:47] rgieseke opened #189 "Missing values in data csv files"
GitHub complains about missing data to render the CSVs in `data`:

"It looks like row 71 should actually have 4 columns, instead of 3."
https://github.com/datasets/registry/blob/master/data/catalog-list.csv#L71

"It looks like row 59 should actually have 4 columns, instead of 3."
https://github.com/datasets/registry/blob/master/data/core-list.csv#L59

I think "owner" is missing ...

[2016-08-08 09:55] zelima commented on #189
@rgieseke Great catch, Thanks!

[2016-08-08 09:56] #189 closed

[2016-08-08 13:29] gsilvapt commented on #167
@zelima

Yes, I can. The idea is to divide the data sets i 1) male/female set; 2) from the different age bands you have there, correct?

Notice: I will be out of town until Saturday, so this might take some extra time.

[2016-08-08 13:30] Snekili commented on #156
@zelima I've updated Dataset Info so I suggest we out the whole Info text

[2016-08-08 14:59] zelima commented on #167
@gsilvapt that's great!
There's no need of rush, you can start packaging when you have time for it. :)

[2016-08-08 18:55] gsilvapt commented on #167
@rgrp and @zelima

If we are following the structure proposed above in [this](https://github.com/datasets/registry/issues/167#issue-139570610) comment, would not it make sense to merge all data sets into a single set called "Population"? We can explain the division in the README file.

[2016-08-09 01:40] jalbertbowden commented on #39
i'd apologize but clearly i have too much on my plate and continually let this group down.
please humor me, i generated geojson from shp for 110m (us boundaries). do i just update this repo? https://github.com/datasets/geo-boundaries-us-110m
geojson is in this gist https://gist.github.com/jalbertbowden/419fda6ea36501145f7e392f4ccc4125

[2016-08-09 08:39] zelima commented on #39
@jalbertbowden According to this comment:

Name: geo-boundaries-us-10m

think it'd be better to create new repo name "geo-boundaries-us-10m", that looks much like "geo-boundaries-us-100m" but with different data.

[2016-08-09 08:49] zelima commented on #167
@gsilvapt That could be an option. What's your thoughts about this @rgrp?

As a starting point, we could start packaging them as several small ones and if there's need we will merge after.

[2016-08-09 08:51] rgrp commented on #39
@zelima 👍

@jalbertbowden first: good work. Second, don't feel you are letting folks down. You generously offer your time on this 😄  If you get busy with other stuff it happens 😉  The big thing to do is just let us know e.g. just say "Hey, I will get to this but probably in a few weeks as I'm super busy" or "I'm busy for quite a while and not sure when I'll get to this. If there is someone else wh

[2016-08-09 08:55] rgrp commented on #167
@zelima @gsilvapt this is a "super" issue so generally we would not generate a data package to address this issue but would create data packages for all the subissues it references.

In that spirit, @zelima you should create a separate issue for the "population broken down" (as per info in your [comment](https://github.com/datasets/registry/issues/167#issuecomment-230496035) above). And then link

[2016-08-09 09:11] zelima commented on #167
@rgrp Think we can come out with two datapackages here:
- male/female population, named `population-by-gender`
- Age bands, namd `population-by-age`
with structure like this
[code]

[2016-08-09 09:42] gsilvapt commented on #167
@rgrp The items to merge would be the total population, country population (divided by male/female and age bands) and city population, as a single data set. However, your point about "supper" makes sense and it would be easy to leave things as they are right now and just add another set with the structure of @zelima's last comment.

[2016-08-09 09:59] rgrp commented on #188
@zelima not sure how annual pay levels relates to time use so i would ignore.

[2016-08-09 10:03] rgrp commented on #142
@zelima (and useful for @Snekili). If the data has documentation you need to add that to the description of each field in the schema (probably by hand but possibly automatically).

Also the README is very weak here and needs improving. Can you guys work on this together.

I'd also rename the data package to climate-change-impacts

/cc @rgieseke - who may be interested in these climate data package

[2016-08-09 11:30] rgieseke commented on #124
Hi,
I've packaged Paris Agreement Entry Into Force status here:
https://github.com/openclimatedata/paris-agreement-entry-into-force

Another one is the Global Carbon Budget:
https://github.com/openclimatedata/global-carbon-budget
This contains CO2 emissions data from CDIAC but also extensions of it and other sources.

[2016-08-09 11:38] rgieseke commented on #142
Nice work!
@zelima @rgrp Do you want to include other impact datasets as well in this data package? If not I would consider calling it "ipcc-ar4-climate-change-impacts" or "ipcc-climate-change-impacts".

[2016-08-09 11:43] rgieseke commented on #147
Not sure if you're already aware, but this project (already creating data packages) might be useful, data for Germany and Europe:

http://open-power-system-data.org/

Repos:
https://github.com/Open-Power-System-Data

[2016-08-09 14:08] zelima commented on #156
@Snekili you mean placing whole "info" into README?
@rgrp What do you think about dataset itself? There are 42000 entries. It needs about >2 minutes to load grid on my machine. Is it ok?

[2016-08-09 14:16] zelima commented on #188
@rgrp ok. What about the main stuff?

[2016-08-09 15:12] zelima commented on #142
@rgrp updated `datapackage.json` with descriptions: https://github.com/zelima/climate-change-impacts/commit/f206eddaaf1ee0f8a1b94bb84778777ed49b30d0

@Snekili updated README.md please review it and help with improvements, e.g something is missing, or something is extra etc.. Also I could not find any Legal rights or Licenses page on their website. Maybe you know something.

@rgieseke I'm not compe

[2016-08-11 07:08] rgrp commented on #142
@rgieseke agree re naming though would usually have the qualifying provider at the end e.g. `climate-change-impacts-ipcc[-ar4]`.

@rgieseke do you have thoughts on what *would* go into a generic climate-change-impacts package?

@zelima / @Snekili please report back once you have reviewed the README.

[2016-08-11 08:06] rgieseke commented on #142
`climate-change-impacts-ipcc` is probably a good choice then. There is also one from the AR5 report: http://sedac.ipcc-data.org/ddc/observed_ar5/index.html
Though there is no spreadsheet available:
"A downloadable spreadsheet of the table contents and references is in preparation."

Not sure whether it would make sense to have one generic package as there are potentially quite many sectors and stu

[2016-08-11 08:29] Snekili commented on #142
@zelima @rgrp Updated README for AR4.
As for licence, I can't find it ether, but found this on page:
Disclaimer:

Questions regarding this database should be addressed to Cynthia Rosenzweig. Part of the European data [5] was contributed by Annette Menzel. Users should contact her regarding these data. Their contact emails are included in the data description of the database.

[2016-08-13 10:54] jgkim commented on #182
@zelima Sorry for being late. I didn't have a chance to see this, and actually really really busy these days. I'm so sorry for that. :(

Do you want to make a PR to the existing my personal repo? What about forking or making a new repo in this organization `datasets`? @rgrp

[2016-08-16 08:20] zelima commented on #182
@jgkim That's ok, think I can help with finishing this one. :)
I'll make PR as soon as I have script ready and we can transfer to datasets org after.

[2016-08-22 07:06] rgrp commented on #55
@pdehaye could you take a look and review this repo prepared by @zelima ?

[2016-08-22 07:07] rgrp commented on #27
@zelima what would it take to get a graph view for this new dataset?

[2016-08-22 07:07] rgrp commented on #186
@lexman great!

[2016-08-22 07:10] rgrp commented on #171
@all: small comment for the future - we should always split out work on *specific* datasets out of a general issue like this and give them their own issue and then link to that item from the main description for the issue as that makes it much easier to follow.

Discussion in this issue should focus on what are the economic indicators we want rather than packaging questions on specific items.

@ze

[2016-08-22 07:10] rgrp commented on #138
@Snekili / @zelima do you want to review @sxren links?

[2016-08-22 07:11] rgrp commented on #124
@rgieseke that's brilliant - and also know you are welcome to contribute to any "core datasets" items 😄

[2016-08-22 09:27] zelima commented on #27
@rgrp There are different emission values for multiple countries for the single year. So we need to group values by country and by year too. (probably by different emission types as well) Like in this example https://vega.github.io/vega-editor/?mode=vega&spec=stocks
As much as I know Recline library does not support this kind of transforms. So we need to use different library for showing graphs li

[2016-08-22 09:32] zelima opened #190 "Cash Surplus and Deficit"
As discussed here #171

Thanks to @gsilvapt this has been packaged:

The link to view: http://data.okfn.org/tools/view?url=https%3A%2F%2Fgithub.com%2Fgsilvapt%2Fcash-surplus-deficit
The link to validate: http://data.okfn.org/tools/validate?url=https%3A%2F%2Fgithub.com%2Fgsilvapt%2Fcash-surplus-deficit

The data has landed here: http://data.okfn.org/data/core/cash-surplus-deficit

[2016-08-23 08:14] rgrp opened #191 "Obesity Data"

[2016-08-24 16:25] zelima commented on #138
@rgrp
- The [link](https://gitlab.com/atomatic/cybergreen/commit/12976282b7b7ba32fe72a0cfe72d6af52f91566d) that point to .txt file contains monthly data of ice volume, from 1979 to 2016. Has 13 columns - first referencing to years, other12 -months. We can package in following format:
[code]
- Second [link](http://psc.apl.uw.edu/wordpress/wp-content/uploads/schweiger/ice_volume/PIOMAS.vol.daily.197

[2016-08-26 21:34] danfowler commented on #114
👍

Lots of datasets in this organization are not quite valid for one reason or another.  It would be good to get some validation in place.

Going even further: https://github.com/frictionlessdata/ex-continuous-data-integration

[2016-08-29 12:51] femtotrader commented on #114
The "problem" here is that each repository is responsible of testing if its data are valid or not.

You have to visit each repository to see if it's valid or not.

If code of spec or validator change you have to run CI in EACH repository. It may be quite long.

I think we should be able to download a lot of datapackage locally (for example all https://github.com/datasets/registry ) so a cache mech

[2016-08-29 12:55] rgrp commented on #114
@danfowler I have ideas / plans as to how to do this. However, want to do this as part of the systematic infrastructure upgrade we are planning here ;-)

[2016-08-29 20:12] femtotrader commented on #114
Some (quick and dirty) code that might help.

[code]

that can be run using

[code]

but there is 2 issues:
- no cache (so running several times can cause important network traffic and it's quite long!)
- it doesn't catch any problem (because validator is not strict enough) even with datapackage that are known to be invalid (https://github.com/datasets/gdp/issues/5)

[2016-08-31 01:25] danfowler opened #192 "2015 US Traffic Fatalities"
https://www.whitehouse.go/blog/2016/08/29/2015-traffic-fatalities-data-has-just-been-released-call-action-download-and-analyze

[ftp://ftp.nhtsa.dot.gov/fars/2015/](ftp://ftp.nhtsa.dot.gov/fars/2015/)

[2016-09-01 07:38] rgrp commented on #192
@danfowler thanks. Not sure this would be a core dataset though. Are you planning to data package it?

[2016-09-01 07:39] rgrp opened #193 "European Alternative Fuels Observatory"
Interesting "official" data on electric car sales and the like in the EU:

www.eafo.eu/

Cannot find the download button though ...

[2016-09-01 11:35] rgrp commented on #114
@femtotrader that's amazing - thanks!

[2016-09-11 07:17] rgrp commented on #55
Interesting paper with long run time series across the world: http://voxeu.org/article/home-prices-1870 - however no data link afaict.

[2016-09-12 09:27] pdehaye commented on #55
Hi @zelima. I just had a look at your suggestion. I am not sure I agree with the proposal. It would mix just by country, which would merge columns that have nothing to do with each other (different payment plans, if I understand right). This would mess up some of the datapackage tools (like automated graphing).
I suggest you keep the columns separate, and go for something like `NO_annual_A:NO:2:1:

[2016-09-13 08:17] rgrp commented on #142
@rgieseke this is great. Do you have a README or other documentation writing up some of your learning here - you clearly have done a lot of digging :-)

[2016-09-13 08:17] rgrp commented on #142
@zelima can we rename the package as per suggestions (when you get a moment!)

[2016-09-13 08:18] rgrp commented on #182
@jgkim i'd suggest transferring the repo into the `datasets` org if we can? If you can make @zelima an admin on your repo he can do that for you - and then he can add you as an admin here ...

[2016-09-14 16:05] zelima commented on #142
@all sorry for late respond.
- Renamed the package to `climate-change-impacts-ipcc-ar4` since Github does not allow square brackets `[]`https://github.com/zelima/climate-change-impacts-ipcc-ar4
- @Snekili Updated license part: https://github.com/zelima/climate-change-impacts-ipcc-ar4/commit/ff34b1663b1a155d7dc20f4a8a3134349df78e9b

[2016-09-15 12:03] rgrp opened #194 "MARC Field List"

[2016-09-19 08:02] jgkim commented on #182
@zelima What do you think? Are you still working on it? I'm OK with transferring the repo. @rgrp

[2016-09-19 11:48] zelima commented on #182
@jgkim I have problem with finding time for now, but I'll finish as soon as I find one

[2016-09-20 08:25] sabas opened #195 "NGA nautical publications datasets"
The nautical publications from NGA contain both US based and worldwide data
http://msi.nga.mil/NGAPortal/MSI.portal?_nfpb=true&_st=&_pageLabel=msi_portal_page_62

World Port Index -> easy (released as shapefile)
Distances Between Ports -> pdf (I couldn't find a machine readable version)

[2016-09-22 11:30] rgrp opened #196 "Millenium Development Goals"
A list of the goals and data related to them. Important to keep these separate in this data package.

Note I scraped a bunch of this years ago but think it is probably much easier to get now directly.

[2016-09-22 11:30] rgrp opened #197 "Sustainable Development Goals"

[2016-09-29 20:11] danfowler opened #198 "Daily Global Weather Measurements - GSOD on AWS"
Amazon hosts this as one of their public datasets on S3.

https://aws.amazon.com/public-data-sets/gsod/

There is an R library for downloading a cleaned version of this dataset.

https://adamhsparks.github.io/GSODR/

I wonder if it is worth packaging this (pointing to the external Amazon-hosted resources) to have an alternative to this R package.

[2016-10-01 15:25] rufuspollock opened #199 "FIPS 10-4 Administrative Codes"
https://en.wikipedia.org/wiki/FIPS_10-4

[2016-10-03 06:28] rgrp commented on #198
@danfowler nice one Dan.

[2016-10-10 08:51] zelima commented on #199
This can be used as source: http://efele.net/maps/fips-10/data/fips-414.txt
csv format:
[code]

[2016-10-10 09:10] rgrp commented on #167
@zelima can we edit the main description to update with the population-by-xxx items - and sources where they would come from.

[2016-10-10 09:36] zelima commented on #196
We can get list of goals and their targets from here: http://mdgs.un.org/unsd/mdg/Metadata.aspx

manually?
[code]

[2016-11-11 10:03] rgrp opened #200 "Working Hours Time Series (Historical)"
Good set of tables in Huberman and Minns (2007): *The times they are not changin’: Days and hours of work in Old and New Worlds, 1870–2000*

http://personal.lse.ac.uk/minns/Huberman_Minns_EEH_2007.pdf

More recent cross-national time series can probably be found from ILO or national statistical agencies.

See also Voth (1998)  *Time and Work in Eighteenth-Century London* for evidence on work hours

[2016-11-20 08:41] rgrp opened #201 "CIA World Factbook"
CIA world factbook is a top candidate for being data packagized ...

/cc @geraldb - i see you've been doing some work around this recently

[2016-11-20 08:56] geraldb commented on #201
@rgrp You're more than welcome to (re)use what you can, see - [/opendatajson/factbook.json](https://github.com/opendatajson/factbook.json) for country profiles datasets in JSON.  If anyone is interested some background and talks notes titled "[factbook.json - Turn the World Factbook into Open (Structured) Data](https://github.com/geraldb/talks/blob/master/factbook.md)".

About packaging - the fact

[2016-11-20 09:13] rgrp commented on #201
@geraldb awesome. Do you have any notes on the factbook structure and any scraping code to point to? (BTW: I remember scraping the factbook almost 10y ago in python but, typically, can't locate my code now!)

[2016-11-20 09:28] geraldb commented on #201
@rgrp Sure. More than welcome. All code and scripts public domain. The ruby script (packaged as a gem) -> [/factbook/factbook](https://github.com/factbook/factbook). All codes in csv [/factbook/data/codes.csv](https://github.com/factbook/factbook/blob/master/data/codes.csv) and (most) categories mapped to attributes [factbook/data/attributes.yml](https://github.com/factbook/factbook/blob/master/da

[2016-12-05 10:00] rgrp opened #202 "Psychometric Datasets"
* http://mypersonality.org/wiki/doku.php?id=download_databases - most of these are not available without special collaborator status. Some are freely downloadable (tho' not necessarily open)

[2016-12-19 21:50] sabas opened #203 "Harmonized System"
Commodities coding system, called also HS Code
https://en.wikipedia.org/wiki/Harmonized_System
2017 edition
http://www.wcoomd.org/en/topics/nomenclature/instrument-and-tools/hs-nomenclature-2017-edition.aspx

[2016-12-20 00:27] rufuspollock commented on #203
@sabas like it ...

[2016-12-20 11:43] sabas commented on #203
I drafted the package with the supporting data and the codes from the first chapter (out of 97) manually extracted from the PDFs.
https://github.com/sabas/harmonized-system

[2016-12-20 13:27] sabas commented on #183
What about using projects?
https://help.github.com/articles/about-projects/

[2016-12-22 10:38] rufuspollock commented on #183
@sabas good suggestion and may use that rather than waffle for the moment.

Overall, having thought further, i don't think we necessarily need either atm so i'm going to close this as WONTFIX for now.

[2016-12-22 10:38] rufuspollock commented on #183
WONTFIX.

[2016-12-22 10:38] #183 closed

[2016-12-28 15:10] rufuspollock commented on #203
@pdehaye could you review @sabas work and see if it is ready for core?

[2016-12-28 15:15] sabas commented on #203
Please only consider the structure, the main data is only from a sample chapter, and one row is not quoted

[2017-01-01 12:23] pdehaye commented on #203
@rgrp, I am trying to focus a bit my efforts for 2017 (towards personal
data stuff). Is this a one shot, or will there be follow ups? If the latter
it makes more sense for someone else to do it. Thanks!

On Wed, Dec 28, 2016 at 4:15 PM, Stefano <notifications@github.com> wrote:

[2017-01-01 18:54] rufuspollock commented on #203
@pdehaye this is a one-shot so if you could look that would be great.

regarding being managing curator: I hear you that you would like to hand the baton on ...

[2017-01-03 08:52] rufuspollock opened #204 "Solar Production and Cost"
Inspired by stuff like: https://www.bloomberg.com/news/articles/2017-01-03/for-cheapest-power-on-earth-look-skyward-as-coal-falls-to-solar

[2017-01-20 08:47] rufuspollock opened #205 "World Values Survey"
Not **OPEN** - http://opendefinition.org/

http://www.worldvaluessurvey.org/WVSDocumentationWV6.jsp

[code]

[2017-01-20 09:07] rufuspollock opened #206 "European Social Survey"
http://www.europeansocialsurvey.org/data/

Open as far i can tell and easy to download.

[2017-02-03 01:12] rufuspollock opened #207 "Global Wealth Distribution [wip]"
Credit Suisse Global Wealth Databook 2016 http://publications.credit-suisse.com/tasks/render/file/index.cfm?fileid=AD6F2B43-B17B-345E-E20A1A254A3E24A5

[2017-02-10 05:25] rufuspollock opened #208 "Aggregate Pharmaceutical Drug Spending"
Global spending and per country for all drugs

* Bonus if we can disaggregate for some drugs but that is really another dataset (as much bigger)
* Individual country analysis for "big" spenders e.g. US

Best data I've found is this OECD data:

https://data.oecd.org/healthres/pharmaceutical-spending.htm

With some painful JS debugging (their download link isn't an actual link but just a hook for so

[2017-03-02 18:59] rufuspollock opened #209 "Timatic database of travel requirements (visa,"
Timatic = Travel Information Manual Automatic. Maintained by IATA. https://www.timaticweb.com/

https://en.wikipedia.org/wiki/Timatic

https://github.com/tanvach/timatic-scraper has a scraper plus data from 2015.

[2017-06-16 09:03] rufuspollock opened #210 "The American Freshman"
Want to extract table from p.24 onwards: https://www.heri.ucla.edu/monographs/TheAmericanFreshman2014.pdf

Ultimately would like time series of years (can't find on website but must be there).

Especially interested in p.44 and what freshmen think are important.

cf http://rufuspollock.com/2008/08/29/money-has-grown-in-importance-to-us-freshmen-since-the-60s/

[2017-07-05 11:31] andylolz opened #212 "US NGA Feature Designation Codes"
These codes are used e.g. as part of the IATI standard: http://iatistandard.org/202/codelists/LocationType/

I made a veeeery quick scraper here:
https://morph.io/andylolz/feature-designation-codes

[2017-07-06 16:31] rufuspollock commented on #212
@andylolz this is great - getting these in as a data package would be fantastic.

[2017-07-21 18:17] rufuspollock opened #213 "Roper Social and Political Trends"
https://ropercenter.cornell.edu/roper-social-and-political-trends/

[2017-08-05 11:05] rufuspollock opened #214 "Pharmaprojects [proprietary]"
The industry’s most trusted drug development database, Citeline's Pharmaprojects has been covering pharma R&D across global markets for 35+ years. With 68,000+ drug profiles including 15,000 drugs in active development, it’s the go-to resource for preclinical, clinical, and pipeline coverage, and lifecycle management tracking.

Makes me think about having a database of datasets ;-)

[2017-09-01 12:38] rufuspollock opened #215 "Profession titles list (with synonyms)"

[2017-09-16 20:29] rufuspollock commented on #201
@geraldb i'm quite interested in trying to (tabular) data package this. Do you have an SQL version of the data - that would be the easiest to convert to CSV.

Also i looked briefly at the yorobot scripts but wasn't sure the best place to start -- any tips?

/cc @Mikanebu

[2017-09-16 20:50] rufuspollock opened #216 "Add employment-us to core datasets"
Currently living at: https://github.com/datasets/employment-us

For some reason this never got added to the registry list for core.

Note also that this also exists at https://old.datahub.io/dataset/us-employment-bls/resource/c3ade464-11cb-46b4-9181-27bb9505bf3d (and we can redirect)

[2017-09-16 20:53] rufuspollock opened #217 "[meta] Keep using core datasets registry.csv"
*NB: this is not an issue involving any tasks it is a FYI item*

For attention of @zelima and @Mikanebu as the lead core data curators.

As we start using the new datahub.io as the home for the core datasets it will be important to know where we keep the authoritative list of the core datasets.

The answer is that, for now, we should keep the authoritative list of core datasets here:

https://gith

[2017-09-16 21:03] rufuspollock opened #218 "[meta] Only track core datasets (remove catalog-list)"
What: remove catalog-list.csv

Why?

* catalog-list is now very out of date - there are many other data packages out there
* the scraping system for getting this list from github is pretty poor (and by getting rid of catalog-list we can get rid of that too)

[2017-09-16 21:09] #159 closed

[2017-09-16 21:16] #218 closed

[2017-09-16 22:00] rufuspollock opened #219 "Merge old econdata into core data"
From 2005-2009 I worked on the Open Economics project at Open Knowledge and accumulated various datasets:

https://github.com/okfn/econ/tree/master/econdata

We should merge all of these into here.

TODO: check what has already been processed and where it is ... (e.g. quite a few are done)

* [ ] bls/usa_bls_employment/ -> employment-us
* [ ] browser_stats -> ...
* [ ] ciafactbook
* [ ] copyright_

[2017-09-17 09:55] geraldb commented on #201
@rufuspollock Thanks again for the interest in packaging the factbook datasets. Love the (tabular) data packages.

As written before - this factbook repo and approach maps the original CIA factbook data sources (in html pages) with minimal clean-up 1:1 to "document-oriented" datasets. One "country" page one json dataset. An example, is France (which includes Metroplitan France and its overseas ter

[2017-09-18 16:45] Mikanebu opened #220 "Script for checking if a package is working on DataHub website"
At the moment, we are checking if a package works on the website, which is time-consuming and not efficient. We want to have a script that will test each package on the website by doing curl probably:

checking number of resources displayed in the package summary in the top of the page (e.g., for co2-ppm it must be 6, see https://testing.datahub.io/core/co2-ppm)
(?) we may need to check if views w

[2017-09-18 17:01] Mikanebu commented on #217
@rufuspollock Understood

[2017-09-26 07:08] rufuspollock commented on #201
@geraldb thanks for the great suggestions.

@iancoleman - any thoughts? Also do you have a schema for your data anywhere? Would it be possible make a table schema (https://specs.frictionlessdata.io/table-schema/) for it?

[2017-09-27 00:13] iancoleman commented on #201
For tabular data, have a quick look at https://iancoleman.github.io/explorer-cia-world-factbook/ which can create csv output; needs a bit of ux attention (eg a [select all columns button](https://github.com/iancoleman/cia_world_factbook_api/issues/8), [handle lists](https://github.com/iancoleman/cia_world_factbook_api/issues/9) etc) but let me know if this is along the lines you're looking for.

T

[2017-09-29 17:40] rufuspollock commented on #201
@iancoleman i'm thinking about packaging as tabular data packages:\

[2017-10-02 00:05] iancoleman commented on #201
Thanks for the additional info. At this stage no plan for packaging, but it will happen at some point. I'll be tracking progress in https://github.com/iancoleman/cia_world_factbook_api/issues/7 so if there's any further info you think may be beneficial please post it in that issue.

[2017-10-02 06:19] Mikanebu commented on #216
@rufuspollock added into [core list](https://github.com/datasets/registry/blob/master/core-list.csv) and fixed some properties https://github.com/datasets/employment-us/commit/5b014c7c2288cb6d3c0dd51ae47b6ec2ff2c72c3 according to the spec v1. And published under the `core` https://datahub.io/core/us-employment-bls .

[2017-10-02 11:45] zelima commented on #216
@Mikanebu I believe this is now fixed. Could you please close?

[2017-10-02 11:46] Mikanebu commented on #216
FIXED, it is live now in  https://datahub.io/core/us-employment-bls under the `core`

[2017-10-02 11:46] #216 closed

[2017-10-05 14:53] rufuspollock commented on #216
@mikanebu where is the graph for this dataset (cc @zelima). Our standard practice is to add a graph and it is good practice or us to do this!

[2017-10-05 14:56] rufuspollock commented on #216
@Mikanebu also it would have been nice to do things like add source info to the datapackage.json and maybe a note to the README. Please be **proactive** in this kind of work and go "above and beyond" in thinking what would make a high quality core dataset.

Also did you add a note about redirecting this to the redirection plan spreadsheet?

[2017-10-05 17:53] Mikanebu commented on #216
@rufuspollock Thanks for this advise, I will update it with `sources` property and update `readme.md` as well. In the future, I will be more proactive. Added into redirection plan spreadsheet

[2017-10-10 14:55] rufuspollock commented on #216
@Mikanebu can you also add a graph.

[2017-10-10 15:56] rufuspollock commented on #216
@Mikanebu is this live on datahub.io yet? Can you link to it here once it is.

[2017-10-10 20:05] Mikanebu commented on #216
@rufuspollock yes, I linked it when I closed this issue. See my comments ablove: https://datahub.io/core/us-employment-bls. Also, I will add graph as well

[2017-10-10 20:35] Mikanebu commented on #216
@rufuspollock Updated with graph, added sources property into `datapackage.json` and updated `README.md`

[2017-10-21 08:00] rufuspollock commented on #2
@Mikanebu could you start looking at this and checking with @AliNaqvi if this is already in JSL work?

[2017-10-21 08:01] rufuspollock opened #221 "Medicare Drug Spending Data"
This is interesting in context of looking at what US gov spends on medicines.

https://www.cms.gov/Research-Statistics-Data-and-Systems/Statistics-Trends-and-Reports/Information-on-Prescription-Drugs/2015MedicareData.html

The 2015 Medicare drug spending data files present drug spending and utilization information on Medicare Part B drugs (drugs administered in doctors’ offices and other outpatien

[2017-10-23 06:55] Mikanebu commented on #220
FIXED, script to test frontend functionality is created https://github.com/datahq/frontend-functional-tests. It checks for graphs, preview tables

[2017-10-23 06:55] #220 closed

[2017-10-23 11:55] Mikanebu commented on #2
@rufuspollock It is already in JSL datasets, but it is not on core offering.

[2017-10-23 12:31] rufuspollock opened #222 "Pharmaceuticals / Drug Database"
A list of officially approved drugs with their trade name and medical name plus other relevant info.

[2017-10-23 13:31] rufuspollock opened #223 "Unified Medical Language System (RxNorm)"
Unified Medical Language System® (UMLS®)

https://www.nlm.nih.gov/research/umls/rxnorm/docs/rxnormfiles.html

RxNorm, a standardized nomenclature for clinical drugs, is produced by the National Library of Medicine. In this context, a clinical drug is a pharmaceutical product given to (or taken by) a patient with a therapeutic or diagnostic intent. In RxNorm, the name of a clinical drug combines it

[2017-10-23 16:03] rufuspollock commented on #2
@Mikanebu great - so we will have this covered in core!

[2017-10-24 10:59] vitorbaptista commented on #222
@sebbacon Do you know of any sources we're missing here (specially on the Discuss thread)?

[2017-10-25 13:33] sebbacon commented on #222
Hi - DM+D is the canonical UK dataset that is supposed to underpin everything else in NHS - you don't want to miss that. These are the British drug names which are mostly the same as the International drug names (IIRC they're supposed to be converging very quickly if not already).  These are mapped to SNOMED codes.  http://dmd.medicines.org.uk/

Also available as (XML) downloads.

I would also tak

[2017-10-25 13:33] sebbacon commented on #222
P.S. "Primary Manufacturer" is a surprisingly slippery concept

[2017-11-04 10:02] rufuspollock commented on #15
@Mikanebu can you look into this and report back on what it would take to get this up - i think this would be really useful.

[2017-11-06 05:07] Mikanebu commented on #15
@rufuspollock Sure, I will report you soon

[2017-11-06 11:14] rufuspollock opened #224 "Tidy up registry csv here"
We want to tidy up registry, so it is up to date

## Acceptance criteria

* [x] examples datasets moved to separate repo https://github.com/datapackage-examples/registry
* [x] `README` is updated
* [x] renamed `core-status.csv` to `core-list.csv` and `core-status-testing` to `core-list-testing.csv`, plus old `core-list.csv` is removed
* [x] added new column `modified` about frequency information(y

[2017-11-07 10:06] Mikanebu commented on #219
`world_population_historical` and `uk_interest_rates` are published

[2017-11-07 10:32] rufuspollock commented on #219
@Mikanebu could you add a link to **where** they are published

[2017-11-07 10:34] Mikanebu commented on #219
@rufuspollock I updated issue itself with links next to dataset

[2017-11-13 07:47] rufuspollock commented on #224
@Mikanebu is this now done? Can we close?

[2017-11-13 07:51] Mikanebu commented on #224
FIXED, published registry https://datahub.io/core/registry, examples registry https://github.com/datapackage-examples/registry

[2017-11-13 07:51] #224 closed

[2017-11-15 16:01] Mikanebu commented on #15
This would be a huge dataset with several resoures:

[2017-11-15 16:49] Mikanebu commented on #15
@rufuspollock This will be a huge dataset with 2 resources:
* `euro-foreign-exchanges-rates`
  * from 1991 to nowadays.
  * regularity: daily
  * 41 columns(each column new currency)
* Foreign exchange rates from US federal reserve(daily and annually)

[2017-11-15 16:54] Mikanebu commented on #15
@rufuspollock This will be a huge dataset with 2 resources:

* `euro-foreign-exchanges-rates`
  * from 1991 to nowadays.
  * regularity: daily
  * 41 columns(each column for foreign currency)
* `Foreign exchange rates from US federal reserve(daily and annually)`
  * probably we only need daily or we can split it out into 2 resources
  * 3 columns(Date,Rate,Currency)
* script is well written and ne

[2017-11-15 19:01] rufuspollock commented on #15
@Mikanebu let's start with US Federal Reserve data. Do we have granularities other than daily (and what's the time coverage)?

Also can we automate this?

[2017-11-15 19:09] Mikanebu commented on #15
@rufuspollock Yes, annually. Time coverage since 1971. We cannot automate US Federal Reserve data, it is bit complicated(zip with 148 csv files,plus some logic to merge them), but we can automate `euro-foreign-exchanges-rates`. So, I suggest having 2 different datasets for `EURO` and `USD`.

[2017-11-20 17:52] rufuspollock opened #225 "wordset"
https://github.com/wordset/wordset-dictionary

[2017-11-30 11:36] rufuspollock commented on #186
@lexman any updates here? /cc @Mikanebu

[2017-12-07 22:52] rufuspollock opened #226 "FRED data"
FRED has loads of great data https://fred.stlouisfed.org

We should work out if there are standard ways to directly access CSV data (and/or metadata) (and without using the API) so that:

* we could auto-data-package some of this for them
* we can easily get data for our own custom data packages

[2017-12-08 16:27] AcckiyGerman commented on #55
Temp repo: https://github.com/AcckiyGerman/global-house-prices-selected
Done:
* analyse
* find nice source
* output format
Todo:
* pivot table
* update datapackage.json['resources']
* push to datahub.io

[2017-12-09 08:32] rufuspollock commented on #55
@AcckiyGerman can you comment on https://github.com/zelima/house-prices-global - is that useful or not? /cc @zelima

[2017-12-09 17:41] rufuspollock opened #227 "Trade data from Atlas of Economic Complexity"
2016 data: https://intl-atlas-downloads.s3.amazonaws.com/index.html

Our raw trade data comes from the United Nations COMTRADE database, a publicly available resource. Our research team - led by Sebastian Bustos, with key inputs from Muhammed Yıldırım and Ricardo Hausmann - apply a unique method to clean the trade data to account for inconsistent reporting practices and thereby generate estimates

[2017-12-10 19:45] AcckiyGerman commented on #55
Hi, @zelima I think you can remove https://github.com/zelima/house-prices-global now, coz I found the csv source on the http://bis.org, so there is no need to parse xlsx any more. Thanks.

[2017-12-11 10:48] rufuspollock commented on #55
@AcckiyGerman i'm not asking for @zelima to remove it - i'm more wondering on what the difference was and whether his existing work and structure were useful.

[2017-12-11 11:35] AcckiyGerman commented on #55
the repo in the datasets https://github.com/datasets/global-house-prices

[2017-12-11 14:34] AcckiyGerman commented on #55
The data package is ready, please review! @zelima @Mikanebu
https://github.com/datasets/global-house-prices

@rufuspollock
This https://github.com/zelima/house-prices-global repo from Irakli was useful on the analyse stage.
The differences between Irakly repo and my one is:
* source in csv was found - no need to parse xlsx
* the original table from bis.org (both xlsx and csv) has  date and country

[2017-12-13 08:21] AcckiyGerman commented on #55
The required Property Prices dataset is there: https://github.com/datasets/global-house-prices , which includes 59 countries and generalized prices for developing and advanced markets. Reviews and verified. We could now close this issue, aren't we?

[2017-12-21 11:59] AcckiyGerman commented on #199
Sometimes there are more then 2 lvl (country, region) division in the source, especially for United Kingdom:
**Country, London borough, metropolitan district, unitary authority, county (not country!), city corporation, ...** and it does matter I think.

My suggestion is to keep the original table structure:
* put the code column at the first.
* extract the division name
[code]

[2017-12-21 12:09] zelima commented on #199
@AcckiyGerman sounds great

[2017-12-21 20:50] AcckiyGerman commented on #199
https://github.com/datasets/administrative-codes-FIPS-10-4  80% finished

[2017-12-21 21:19] AcckiyGerman commented on #199
There is something wrong.
![pnf](https://user-images.githubusercontent.com/11707682/34275312-fea58c1c-e69c-11e7-970c-cc22719e2d9b.png)

[2017-12-22 06:15] zelima commented on #199
@AcckiyGerman simple URL would be more useful instead. And I see it's there now: http://datahub.io/AcckiyGerman/region-codes
Overall looks great, good job! Re-review for future: Would be easier for me to review PR instead of already pushed commits, but anyway, here are the commits I commented on:
* https://github.com/datasets/administrative-codes-FIPS-10-4/commit/f2ea5fa9c224edf6f8dbeff775437fc2f8

[2017-12-28 14:50] AcckiyGerman commented on #55
The result [dataset](https://github.com/datasets/global-house-prices) is updated:
* data is divided onto 4 files
* table is unpivoted
@rufuspollock please could you review the dataset and close this issue if it is ok.

[2017-12-28 14:54] AcckiyGerman commented on #199
@zelima the dataset is ready https://github.com/datasets/administrative-codes-FIPS-10-4
Please push it under the core user and close this issue.

[2018-01-09 10:40] rufuspollock commented on #109
@cmsdroff any update here? The dataset here https://github.com/warrantgroup/IMO-Vessel-Codes looks good. Can we migrate it across.

[2018-01-09 18:56] rufuspollock commented on #55
@AcckiyGerman following standard naming practice this should have been called `house-prices` or `house-prices-global` (/cc @zelima). Please can you get this corrected both in the github repo and on datahub.

[2018-01-10 05:31] zelima commented on #55
Structure of dataset was discussed here https://github.com/datasets/global-house-prices/issues/2 and reviewed. So yes, we can close

[2018-01-10 08:07] AcckiyGerman commented on #55
FIXED
Datapackage has been moved there: https://github.com/datasets/house-prices-global
Also it will be uploaded to datahub.io https://github.com/datasets/house-prices-global/issues/1

[2018-01-10 08:07] #55 closed

[2018-01-15 18:11] rufuspollock commented on #199
@AcckiyGerman can you please take care of pushing under core user.

I would also suggest that this dataset should just be fips-10-4.

[2018-01-15 18:19] rufuspollock commented on #55
General discussion on property prices around the world continues in the new awesome repo here: https://github.com/datahq/awesome-data/issues/9

[2018-01-15 18:22] rufuspollock commented on #186
@lexman i've cloned your repo to https://github.com/datasets/house-prices-fr so we can get it up to scratch and get it published. I trust this is ok 😄

@AcckiyGerman can you take a look at https://github.com/datasets/house-prices-fr and check it is working and get it published (over the new few weeks).

[2018-01-18 10:17] AcckiyGerman commented on #199
name is fixed. Publishing..

[2018-01-18 13:18] AcckiyGerman commented on #199
FIXED
* data found and processed
* dataset is now here: https://github.com/datasets/fips-10-4
* and published here: https://datahub.io/core/fips-10-4
* https://github.com/datasets/registry/blob/master/core-list.csv is updated

[2018-01-18 13:18] #199 closed

[2018-01-18 13:21] AcckiyGerman commented on #186
yes, will do.

[2018-01-28 15:42] Mikanebu opened #228 "Global Hunger Index Data"
Source 2015: https://dataverse.harvard.edu/dataset.xhtml?persistentId=doi:10.7910/DVN/JL16EW

[2018-01-29 11:31] rufuspollock commented on #27
@AcckiyGerman can you look into estimate for getting co2-emissions dataset completed and published as a core dataset. /cc @zelima

[2018-01-29 11:48] rufuspollock commented on #228
@Mikanebu nice! thanks for adding.

[2018-01-29 14:02] zelima commented on #27
@AcckiyGerman This is now possible by setting correct configuration in `views`.  See this datapackage.json  for example https://pkgstore-testing.datahub.io/81429cbbddcfb180f54c142fac32f83b/population-growth-estimates-and-projections/27/datapackage.json

[2018-01-29 19:16] AcckiyGerman commented on #27
@rufuspollock
https://github.com/datasets/co2-emissions has been updated:
- latest link on a source FTP (till 2014)
- script and dp.json to pass the datahub validator
- readme extended

On a datahub: https://datahub.io/AcckiyGerman/co2-fossil-by-nation
@zelima take a glance plz and I'll push it under the core user.

#### P.S. I decided not to add views because:
- here is 220 countries in the datas

[2018-01-30 05:01] zelima commented on #27
@AcckiyGerman I Agree re views. Looks good to go

[2018-01-30 06:27] AcckiyGerman commented on #27
FIXED
Global co2 - http://datahub.io/core/co2-fossil-global
per Nation - https://datahub.io/core/co2-fossil-by-nation

[2018-01-30 07:13] zelima commented on #27
@AcckiyGerman Great! let's close

[2018-01-30 07:30] #27 closed

[2018-01-30 07:38] zelima commented on #27
@AcckiyGerman is core list updated BTW?

[2018-01-30 07:51] AcckiyGerman commented on #27
@zelima of cource

2014 is the latest data on the source site, but I asked guys from http://carbondoomsday.com and hope we'll create a daily updating co2-dataset together

[2018-01-30 07:52] AcckiyGerman commented on #27
@zelima oh, core list, right! Thanks for remembering!!!

[2018-01-30 07:58] AcckiyGerman commented on #27
Core-list updated!

[2018-01-31 10:43] rufuspollock commented on #27
I'm confused: what happened to co2-emissions?

I'd like a graph if possible on co2-fossil-by-nation - maybe pick some big emitters e.g. US, China.

[2018-01-31 10:52] AcckiyGerman commented on #27
@rufuspollock
- https://github.com/datasets/co2-emissions  on a github
- http://datahub.io/core/co2-fossil-global  is the same dataset on a datahub

Funny that before you asked I didn't see that url names are different.
That seems the 'co2-fossil-global' name comes from the `datapackage.json`, while the original github name is co2-emissions, I'm going to rename it now, if you are not objecting.

[2018-02-10 21:25] amirouche opened #229 "Impossible to clone all datasets"
After git cloning the repository and using `npm install` I get an error about missing `datahub-client` after manually installing it, I get another error:

[code]

After doing `npm datahub-cli` it still fails with the above error.

[code]

[2018-02-11 19:02] rufuspollock commented on #229
What are you trying to do exactly?

The main location for the registry for bulk access is http://datahub.io/core/registry

[2018-02-11 20:11] amirouche commented on #229
I wanted to see how big the git repositories were. For full, disclosure I am looking for a better solution than git. At $WORK we use the same workflow but it fails with big datasets. We are thinking to move to a custom git backend (see [1](https://www.perforce.com/blog/your-git-repository-database-pluggable-backends-libgit2)). That said, I prefer a solution like [rawbase](https://github.com/rawbas

[2018-02-14 00:45] rufuspollock commented on #229
@amirouche these git repos aren't that big (most are under 100Mb) -- intentionally.

In general git does have issues with largish datasets (depending on how the diffs work the problems come in from 100s of MBs to GB range) . There are loads of potential solutions but all involve moving to specialized tooling (the simplest is just to store complete files in e.g. s3 with versioning turned on!). What

[2018-02-23 19:28] amirouche commented on #229
Thanks.

I am very tempted to build my own "castle in the sky".

[2018-02-24 17:26] #229 closed

[2018-03-13 13:22] rufuspollock commented on #2
@Mikanebu where is this on the DataHub and i think this should be in core.

[2018-03-14 08:31] Mikanebu commented on #2
@rufuspollock It has not published yet as I could not find on the DataHub, but it was on their list of datasets. We have to discuss it on Friday with JSL.

[2018-03-19 06:18] ppKrauss opened #230 "Installation warnings suggesting upgrades in the software"
After  `git clone https://github.com/datasets/registry.git; cd registry; npm install`, at UBUNTU 16 LTS,

[code]

[2018-03-21 13:40] rufuspollock commented on #230
@ppKrauss generally you don't need to "install" this repo - only need if you want to help maintain core datasets 😄 - but thanks for the update.

[2018-03-21 13:42] rufuspollock commented on #229
@amirouche people often are 😉 -- the problem is most of them remain unfinished. If you want to help out with an existing effort you can join us with https://datahub.io/ via http://gitter.im/datahubio/chat

[2018-03-26 13:41] sabas opened #231 "Codes for Units of Measure Used in International Trade"
UNECE Recommendation 20
Transform and normalize an Excel file
https://www.unece.org/fileadmin/DAM/uncefact/recommendations/rec20/rec20_Rev13e_2017.xls

[2018-03-29 08:25] rufuspollock commented on #231
@sabas brilliant - would you be up for packaging?

[2018-03-29 16:38] sabas commented on #231
I made this, removing the symbols and conversion columns because they had a lot of symbols that broke in the conversion. If it's acceptable I move to the datasets org
https://github.com/sabas/unece-units-of-measure

[2018-03-31 09:44] rufuspollock commented on #231
@sabas can you report whether you have validated this i.e. run `data validate` on the dataset using the `data` command line tool https://datahub.io/docs/features/data-cli

@Mikanebu (and @zelima) can you review @sabas new dataset here and if acceptable let's get it across.

[2018-03-31 09:45] rufuspollock opened #232 "Core Data Curator badges"
Create badges for people who are Official "Core Data Curators" (and also emeritus ones).

[2018-03-31 19:03] anuveyatsu commented on #231
@sabas Hi! It seems like you're using older NodeJS version - you need version `>7.6`.

[2018-03-31 19:41] sabas commented on #231
Thank you @anuveyatsu I upgraded to the latest version
@rufuspollock I fixed the json accordingly and validated

[2018-04-01 16:12] Mikanebu commented on #231
@sabas Great! There is one typo in https://github.com/sabas/unece-units-of-measure/blob/83b6ed270f8d44355b800f7a03f27937843e3e35/datapackage.json#L5 (`licenses` instead of `licensces`). Also, including `Preparation` section to `readme.md` would be bonus point. Please, see https://github.com/datasets/pharmaceutical-drug-spending

[2018-04-01 16:58] sabas commented on #231
Done.

[2018-04-01 17:02] Mikanebu commented on #231
@sabas Thanks!
@zelima It is ready to go under `datasets` organization. Do I need to publish it under `core`?
cc: @rufuspollock

[2018-04-02 04:55] zelima commented on #231
@Mikanebu yes, let's transfer the ownership and publish under core

[2018-04-02 12:16] Mikanebu commented on #231
@sabas Could you transfer ownership to the datasets org ? I will publish under `core`

[2018-04-02 15:41] sabas commented on #231
https://github.com/datasets/unece-units-of-measure here it is @Mikanebu

[2018-04-02 15:48] Mikanebu commented on #231
@sabas Well done! 🎆It is available now on https://datahub.io/core/unece-units-of-measure. Also, added into registry https://datahub.io/core/registry. Added description and link to DataHub https://github.com/datasets/unece-units-of-measure.

[2018-04-02 19:06] rufuspollock commented on #231
@sabas awesome work - and you should become an official member of the data curator team and get a badge, see #232

[2018-04-02 19:06] rufuspollock commented on #231
@Mikanebu do you want to close the issue with a FIXED statement?

[2018-04-03 06:55] Mikanebu commented on #231
FIXED, the dataset is live now on DataHub https://datahub.io/core/unece-units-of-measure. Added into datasets org https://github.com/datasets/unece-units-of-measure.

[2018-04-03 06:55] #231 closed

[2018-04-16 19:34] Branko-Dj commented on #210
I created a script that extracts tables on pages 23-46, 67-74 and 78. The script requires PyPDF2, tabula
and pandas modules as well as java. The script uses PyPDF2 module to read PDF file and split it into one page documents. Using tabula module, the script converts one page pdf documents that contain tables into csv files. Due to tables in pdf being not aligned horizontally and vertically, tabula

[2018-04-17 04:31] zelima commented on #210
@Branko-Dj Great work! Few comments to improve:

* Did you read about creating tabular Dataset https://datahub.io/docs/data-packages/publish-tabular
  * Eg: I don't see the datapackage.json in the repo.
* README says "script extracts tables on pages 23-46, 67-74 and 78. It requires PyPDF2", but the data seems to  be only for page 28 (in output folder https://github.com/Branko-Dj/the-american-fresh

[2018-04-17 07:13] scls19fr commented on #232
GitHub badge in each repository containing datapackage will be a great idea.

One badge could be a link to a DataPackage viewer http://data.okfn.org/tools/view?url=https%3A%2F%2Fgithub.com%2Fdatasets%2Fregistry

An other bagde could show if data are «valid» or not, pointing to service  such as https://goodtables.io/

Ideally a GitHub bot could read core registry and submit automatically Pull Reque

[2018-04-18 05:00] zelima commented on #210
@Branko-Dj
1. Good (but don't overthink)
2. Great
3. This is not a must if there's no other way let's keep them. (I would not spent more than 30-60 minutes on that)

re

Not sure why do you need `datapackage-py` here at all. Can you provide more info?

[2018-04-18 06:40] Branko-Dj commented on #210
In order to create a datapackage I wanted to use python module datapackage-py as it provides an ability to add description when creating a package. Here's a snippet of code:
[code]
But it reports an error described above. It simply won't infer pages 38-43. So instead I created the datapackage.json using data-cli and added description afterwards using script modifyDatapackage.py which imports datap

[2018-04-18 06:57] zelima commented on #210
@Branko-Dj you can add description manually if that taking too much of your time.

Note: You do not have to script everything (just the part that extracts data from PDF). You can create datapackage.json manually anytime. Those are just tools (datapackage-py, data-cli) that should help you with packaging stuff. If they are not helping you, better to ignore them I think.

[2018-04-18 22:14] Branko-Dj commented on #210
@zelima Ok here are the changes I made:

1. I changed the name of the repository. It is now more informative and it's link is https://github.com/Branko-Dj/cirp-survey-of-freshmen
2. I updated README.md file. I believe it now describes the data appopriately
3. I now have only one script called process.py which extracts data.
4. I changed the number of CSV files from 31 to 3 as I concatenated those

[2018-04-19 04:28] zelima commented on #210
@Branko-Dj Excellent work! Few more details and we can transfer the ownership under datasets org.

* Think preparation is still missing installation part Eg:
[code]
* Also which version python should I run 3, 2, both are fine?
* can we use \` \` where possible: Eg
  * "Information obtained from the survey of freshmen about their opinions, politics, race, wealth, social status etc in file `freshmen

[2018-04-19 06:56] Branko-Dj commented on #210
@zelima  I updated everything. Is it good now?

[2018-04-20 12:09] Branko-Dj commented on #72
FIXED, The repo is located under `datasets` organization https://github.com/datasets/natural-gas-prices and it is also live on `datahub` https://datahub.io/core/natural-gas

[2018-04-20 12:09] #72 closed

[2018-04-28 20:26] rufuspollock commented on #232
@scls19fr glad you like the proposal and nice additional suggestions. Now we just have to wait until we have time to work on this or someone volunteers 😄

[2018-04-28 20:27] rufuspollock commented on #72
@Branko-Dj great this up. One comment: this dataset should be named `natural-gas-prices` not natural gas (as per repo name). Please can we get this corrected in the datapackage.json and on datahub.io

[2018-04-28 20:59] scls19fr commented on #232
Maybe you should try to find an affordable freelance graphist....

[2018-04-28 21:13] scls19fr commented on #232
A badge for «valid» data seems to exist
see for example
https://goodtables.io/github/vitorbaptista/birmingham_schools/jobs/15

Maybe datasets/registry should be checked using goodtable and rhis badge be added

[2018-05-01 09:50] sabas opened #233 "Standard Carrier Alpha Code"
The Standard Carrier Alpha Code (SCAC) is a privately controlled US code used to identify road transport companies.
https://en.wikipedia.org/wiki/Standard_Carrier_Alpha_Code

Any approach to reconstruct this dataset?

[2018-05-07 06:55] saad-gh commented on #95
@rufuspollock

We could add a column in our data set and include the html pages along side raw data scraping.

[2018-05-07 10:05] saad-gh commented on #95
Example of a source other than the Raw data files.
- Fields `keywords` and `CLDR short name` vary depending upon location. [Here](http://unicode.org/cldr/charts/dev/annotations/index.html) one can find those variations
- Field `versions` and `sources` were not found in raw data files, there information was only found on chart pages but they do not seem like a reliable source because it is mentione

[2018-05-07 20:57] andylolz opened #234 "GLIDE number"
http://glidenumber.net

It’s down at time of writing, and has experienced intermittent downtime of late. So mirroring it here (or somewhere) would be extremely useful.

---

[2018-05-09 02:57] saad-gh commented on #95
@zelima
### Why do we require normalization?
- The datapackage that I am developing will produce [these](http://unicode.org/emoji/charts-11.0/index.html#chart_notation) charts.
- This would require normalization because a single chart has fields filled from different sources
   - For example [emoji list's](http://unicode.org/emoji/charts-11.0/emoji-list.html) fields:
      1. `Code` is getting dat

[2018-05-09 04:42] zelima commented on #95
@saad-gh Ok so as I understood there are multiple different sources and you need to **join** them somehow. So take columns A,B,C from data X and take columns D,E,F from data Y and join them on let's say A column, is that correct?

Let's keep it simple/stupid - Why don't we start by just having data X as one resource and data Y as another resource? Let's see how it goes and later once we have them

[2018-05-09 08:09] andylolz commented on #234
I’ve become unconvinced it’s sensible to duplicate this here! Sorry for the noise.

[2018-05-09 08:10] andylolz commented on #212
This has been on my todo list for a while, but I’m afraid I think it’s doubtful I’ll do it. Closing!

[2018-05-09 19:21] rufuspollock opened #235 "CLDR Common Locale Data Repository"
http://cldr.unicode.org/

http://cldr.unicode.org/index/downloads

From the page CLDR includes:

1.  **[Locale-specific patterns for formatting and parsing:](http://cldr.unicode.org/cldr-features#TOC-Locale-specific-patterns-for-formatting-and-parsing:)** dates, times, timezones, numbers and currency values
2.  **[Translations of names:](http://cldr.unicode.org/cldr-features#TOC-Translations-of-na

[2018-05-15 06:49] saad-gh commented on #95
@Branko-Dj please review.
### User story - Data packaging from a sales perspective

**As a developer with a sales perspective** I would like to conduct a research **in order to** identify clients and there requirements before packaging data **so that** upon receiving data requests there is a high probability of finding most of the required data in an existing data set.

### Tasks
- Conduct researc

[2018-05-15 09:10] Branko-Dj commented on #95
OK I will take a look

[2018-05-21 19:18] Branko-Dj opened #236 "Machine learning blogpost"
We need a blog post that provides detailed information about our machine learning datasets

[2018-05-23 16:57] rufuspollock commented on #234
@andylolz i think this would be useful to package at some point so re-opening - it seems like a cool dataset :smile:

[2018-05-23 16:58] rufuspollock commented on #212
@andylolz it is ok to leave these open - and we'd still like to do these even if you don't 😄

[2018-05-23 18:31] andylolz commented on #234
The site continues to be really patchy:
https://stats.uptimerobot.com/6RzwmCW51

…so mirroring it could be useful.

[2018-05-25 13:50] Branko-Dj commented on #236
Blog post is now published at DataHub https://datahub.io/blog/machine-learning-datasets

[2018-05-25 13:50] #236 closed

[2018-06-27 16:04] andylolz commented on #234
The UN now republish a subset of GLIDE numbers here:
https://data.humdata.org/dataset/unocha-glides

There’s some explanation of how this subset is determined:
https://discuss.iatistandard.org/t/new-glide-number-source-available/1357/3

So historical GLIDE numbers aren’t included in that mirror; nor are non-UN GLIDE numbers.

[2018-06-29 14:06] rufuspollock commented on #234
@andylolz i think this is worth packaging if you are up for it ...

[2019-11-18 14:12] rufuspollock commented on #156
@zelima can we get this dataset moved to datasets please - then we can tidy up and publish.

[2019-11-18 14:33] zelima commented on #156
@rufuspollock Done

[2019-11-25 15:16] rufuspollock commented on #141
FIXED. this is here https://github.com/datasets/sea-level-rise and https://datahub.io/core/sea-level-rise

[2019-11-27 10:02] monikappv commented on #87
## Subissue

Aircraft accidents/crashes due to thunderstorm, icing or turbulence

We want a dataset of all aircraft accidents/crashes caused by thunderstorm, icing or turbulence so that we can answer questions like "Has flying become safer", "In what way can the bad weather affect a flight".

### Research
no research needed, this research question was inspired by data found in one of the links abo

[2019-11-27 20:14] rufuspollock opened #237 "[meta] Rename to awesome-data, merge @datopian/awesome-data and more"
We want to merge @datopian/awesome-data into this repo and rename this to awesome-data

Note `@` is just a prefix to designation an org on github.

## Acceptance

Desired result:

* [x] [@datasets/awesome-data] exists - as relocated version of [@datasets/registry] so we keep :star: and issue tracker)
  * [x] It has 191 :star:
  * [x] It has all issues (open and closed) from [@datasets/registry] wi

[2019-11-28 14:35] glgoose commented on #237
@rufuspollock
In the acceptance criteria (item 2):

There is no `@datasets/registry` currently existent and it does not have ⭐️ 39. So did you mean `@datopian/awesome-data`?

And thus the acceptance criteria item 2 becomes:
* [ ] @datasets/core-datasets exists with the repo contents of current **@datopian/awesome-data** and ⭐️ 37

## Analysis
| repo | exists | stars |
| ---- | ------ | ----- |
| d

[2019-11-28 14:48] glgoose commented on #237
[Research] Move issues in bulk
Bulk move of issues is not possible in GitHub, found 2 tools (nr.1 best):
1.  https://github.com/ahadik/git_mover

    For more detailed info see: http://www.alexhadik.com/blog/2016/5/26/migrating-github-repositories-with-gitmover
2. https://github.com/ahmadnassri/github-bulk-transfer

[2019-11-28 15:07] glgoose commented on #237
@rufuspollock For the move from `@datopian/awesome-data` to `@datopian/core-datasets` to `@datasets/core-datasets`, I selected the following for Team Access rights, is that ok?:
![image](https://user-images.githubusercontent.com/48956933/69816615-06648000-11f9-11ea-97c3-3612ff16b86c.png)

[2019-11-28 15:10] glgoose commented on #237
It must be so, so I've gone ahead and implemented the change. Will already update this in acceptance criteria as well

[2019-11-28 15:43] glgoose commented on #237
## Situation

In acceptance criteria it says:

In tasks it says:

Don't worry about labels for now as not systematically used **we can add back "later"**

##Question

Would you like to have labels there or do you specifically *don't* want labels there?

## Hypothesis

Yes, move labels. I think because it was assumed labels should not be moved because it was a lot of work.

[2019-11-28 16:35] rufuspollock opened #238 "Sustainable Development Goals (SDGs)"
UN home page: https://unstats.un.org/sdgs/

When we say SDGs we could mean two things:

* Indicators - https://github.com/datasets/registry/issues/197
* Data on performance

We are interested in both there.

SDG indicators is a core dataset under development here: https://github.com/datasets/registry/issues/197

I think it will be worth creating a dedicated page on this as imagine a bunch of stuff

[2019-11-28 16:36] rufuspollock opened #239 "Economic History"
* http://www.macrohistory.net/data/ - The database covers 17 advanced economies since 1870 on an annual basis. It comprises 25 real and nominal variables. Among these, there are time series that had been hitherto unavailable to researchers, among them financial variables such as bank credit to the non-financial private sector, mortgage lending and long-term house prices. The database captures the

[2019-11-28 16:36] rufuspollock opened #240 "Poverty in the UK"
* Trussell Trust have stats on food bank usage - https://www.trusselltrust.org/news-and-blog/latest-stats/end-year-stats/ (can't see how to access multi-year bulk raw data)
* Impact of the Sure Start program - report of longitudinal study https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/182026/DFE-RR067.pdf

[2019-11-28 16:36] rufuspollock opened #241 "Conflicts and Battle Deaths Data"
Data on armed conflicts and associated deaths and injuries.

* [x] Uppsala Conflict Data Program (UCDP) dataset http://ucdp.uu.se/downloads/ - 1946-present
  * ~~1946-2008 - https://www.prio.org/Data/Armed-Conflict/Battle-Deaths/~~ - this is now  merged into Uppsala Conflict Data Program (UCDP) dataset
* [x] Correlates of War - http://www.correlatesofwar.org/ - dataset  on old datahub https://old.

[2019-11-28 16:36] rufuspollock opened #242 "Corpora of names"
e.g. http://www.cs.cmu.edu/afs/cs/project/ai-repository/ai/areas/nlp/corpora/names/

[2019-11-28 16:37] rufuspollock opened #243 "Mental Health Data"
e.g. some of the infographics data here: https://www.nami.org/Learn-More/Mental-Health-By-the-Numbers

Are things getting better or worse, where and (maybe) why? (Why is hard!)

[2019-11-28 16:37] rufuspollock opened #244 "Property Prices"
Property prices including house prices.

Awesome page is here: http://datahub.io/awesome#property-prices

* "Global" - comparable cross-country from BIS: http://datahub.io/core/house-prices-global - from BIS data http://www.bis.org/statistics/pp.htm
* UK - various data series: http://datahub.io/core/house-prices-uk -
* US - Case/Shiller series: http://datahub.io/core/house-prices-us

Misc other st

[2019-11-28 16:37] rufuspollock opened #245 "BigQuery datasets"
A specific page of bigquery prepared datasets

* The official samples: https://cloud.google.com/bigquery/sample-tables
* Curated list on reddit: https://www.reddit.com/r/bigquery/wiki/datasets

[2019-11-28 16:37] rufuspollock opened #246 "GDELT datasets"
https://blog.gdeltproject.org/the-datasets-of-gdelt-as-of-february-2016/

Tasks

* [ ] Create a gdelt section on front page
* [ ] Port over key items

[2019-11-28 16:37] rufuspollock opened #247 "Linking Open Data"
Propose port from https://old.datahub.io/organization/lod

## Tasks

* [x] Review existing datasets in that group and identify those that are still extant
* [x] Create an awesome page for linked data and add relevant datasets verbatim (i.e. copy over relevant information)

[2019-11-28 16:37] #247 closed

[2019-11-28 16:38] rufuspollock opened #248 "Driving / Driverless cars data"
http://apollo.auto/opendata.html

[2019-11-28 16:38] rufuspollock opened #249 "Climate datasets"
Get a list of awesome climate datasets.

@rgieseke it would be great to get your assistance here as i know you are something of an expert. If you have any suggestions please let us know 😄

## Research

* We have several core datasets on this already - TODO list.
* http://github.com/openclimatedata

## TODO

Merge here existing notes and work on this from core registry repo: https://github.com/data

[2019-11-28 16:38] rufuspollock opened #250 "Football datasets"
It would be great to get a list of "awesome" football related datasets.

@geraldb would you be up for helping curate this as i know you are something of an expert. What we'd be looking for is just a list of great datasets in this area.

## Research

* Great set of data here https://github.com/openfootball
* Some existing datasets here https://old.datahub.io/dataset?tags=football (many of links see

[2019-11-28 16:47] rufuspollock opened #251 "Corpora of names"
e.g. http://www.cs.cmu.edu/afs/cs/project/ai-repository/ai/areas/nlp/corpora/names/

[2019-11-28 16:47] rufuspollock opened #252 "SQuAD2.0 The Stanford Question Answering Dataset"
https://rajpurkar.github.io/SQuAD-explorer/

## Data

https://rajpurkar.github.io/SQuAD-explorer/dataset/train-v2.0.json

https://rajpurkar.github.io/SQuAD-explorer/dataset/dev-v2.0.json

## License: CC By-SA

[2019-11-28 16:47] rufuspollock opened #253 "[Topic] Tax Justice / Tax Avoidance / Tax Dodging"
Tax Avoidance ("Dodging") by rich companies, especially digital ones like Google, Apple, Amazon, is frequently brought up as both a clear injustice and something that, if corrected, would make a real difference to reducing inequality.[^1]

This issue is about getting the data together on this issue.

## Links

* https://datafortaxjustice.net/

## Questions

### How much money would we gain by stop

[2019-11-28 16:49] rufuspollock opened #254 "HYDE - History Database of the Global Environment"
https://themasites.pbl.nl/tridion/en/themasites/hyde/

Publisher: The HYDE database is developed under the authority of the Netherlands Environmental Assessment Agency.

[2019-11-28 16:49] rufuspollock opened #255 "Water Scarcity Atlas"
https://waterscarcityatlas.org

![image](https://user-images.githubusercontent.com/180658/66260350-ea76cc00-e7bd-11e9-87b2-0fc6eff4383d.png)

**Summary: heading for 2bn people in water scarcity**

## Data

https://waterscarcityatlas.org/data/water-scarcity-futures-tool/ - this seems to be main stuff behind the project and gives overview of the calculations. Links ...

* Downloaded data from explor

[2019-11-28 16:49] rufuspollock opened #256 "Emissions Trading Schemes and Carbon Pricing"
See also https://github.com/datasets/registry/issues/29 and https://github.com/datasets/registry/issues?utf8=✓&q=is%3Aissue+emissions+label%3A"Topic%3A+Climate"+

* New Zealand - data scraped https://github.com/theecanmole/nzu

[2019-11-28 16:49] rufuspollock opened #257 "OpenCollective data"
https://drive.google.com/drive/folders/1OwRpuIehFQxRnJIRAksQ1Jd2xXZrhz5L

This is interesting data on how much they are able to obtain - relates to my contention in Open Revolution https://openrevolution.net/ that this model is pretty limited (compared to the state).

As of 2019 they seem to be raising about $500k a month (last year was about half that).

[2019-11-28 16:49] rufuspollock opened #258 "[meta] Different labels indicating different reasons data is closed"
As a User I want to know why data is closed at a glance so that I can understand the restrictions (e.g. non-commercial limits may not be an issue)

As an Admin I want to know the number of datasets in each closed category so that ...

These labels could also be used on the main website.

e.g.

💰- it is expensive
X💰 => non-commercial restrictions
...

[2019-11-28 16:50] rufuspollock opened #259 "European Social Survey"
https://www.europeansocialsurvey.org

## Data

Can download various parts from here:

https://www.europeansocialsurvey.org/data/

@rufuspollock has downloaded a copy and needs to upload it to datahub

## Openness: Closed (non-commercial, sign-up)

Have to sign up to download (not a biggie though!)

They do keep mentioning non-commercial use only but i can't see a formal license (and i didn't have

[2019-11-28 16:50] rufuspollock opened #260 "[idea] Package of the week"
Feature a "package" of the week ...

* https://github.com/jrnold/acw_battle_data
* owid data

[2019-11-28 16:50] rufuspollock opened #261 "Global Religious Futures Project"
The Future of World Religions - Explore the rapidly changing religious profile of the world through 2050

http://www.globalreligiousfutures.org/explorer/about-GRF-data

## Data

Really hard to find in the shiny front end ...

You can generate CSVs and you get URLs like ...

http://www.globalreligiousfutures.org/csv/9359/preview

But no logic to these and now way to generate these except via UI afa

[2019-11-28 16:50] rufuspollock opened #262 "World Religion Database (Proprietary)"
https://worldreligiondatabase.org

The World Religion Database (WRD) contains detailed statistics on religious affiliation for every country of the world. It provides source material, including censuses and surveys, as well as best estimates for every religion to offer a definitive picture of international religious demography.

It offers best estimates at multiple dates for each of the world’s re

[2019-11-28 16:50] rufuspollock opened #263 "WCCD City Indicator Dataset"
http://open.dataforcities.org

Web app "data portal" (more indicator dashboard). No download button afaict.

License: Open (attribution) - see https://www.dataforcities.org/assets/res/Terms%20of%20Use%20for%20Open%20City%20Data.pdf

The WCCD grants you a worldwide, royalty-free, perpetual, non-exclusive license to use the Open City
Data.
The WCCD encourages you to use the Open City Data to help bu

[2019-11-28 16:50] rufuspollock opened #264 "Population Reference Bureau"
http://prb.org - detailed demographic and health data for US and internationally.

TODO: work out if data open and where you can get in bulk.

[2019-11-28 16:51] rufuspollock opened #265 "18 Places to Find Free Data Sets for Data Science Projects"
Another example of a meta-collection. Some of the items might be useful to add some collections pages or as their own page

https://www.dataquest.io/blog/free-datasets-for-projects/

## Tasks

* [ ] Extract list (or key items) of datasets to list here
* [ ] Analyse which could go to which existing collections plus if we need new collections
* [ ] Create a blog post

[2019-11-28 16:51] rufuspollock opened #266 "Charles Booth poverty map"
https://booth.lse.ac.uk/learn-more/download-maps

https://booth.lse.ac.uk/map/14/-0.1174/51.5064/100/0

![image](https://user-images.githubusercontent.com/180658/57340225-cb034680-712c-11e9-9546-6f08cb16fb6e.png)

[2019-11-28 16:51] rufuspollock opened #267 "Putnam Bowling Alone data"
Data for Putnam's Bowling Alone listed on the book's website research page

## Tasks

* [ ] Cache data here
* [ ] Create page (or maybe a dataset?)

## Excerpt

Research

Selected statistical trend data

Three primary data sets were used extensively in the research reported in Bowling Alone: Collapse and Revival of American Community.   Interested researchers should consult Bowling Alone (and espe

[2019-11-28 16:51] rufuspollock opened #268 "Freebase"
https://developers.google.com/freebase/

http://commondatastorage.googleapis.com/freebase-public/rdf/freebase-rdf-latest.gz - 22 GB gzip (250 GB uncompressed)

[2019-11-28 16:51] rufuspollock opened #269 "Education data (UNESCO)"
e.g. number of children out of school http://data.uis.unesco.org/index.aspx?queryid=121

[2019-11-28 16:51] rufuspollock opened #270 "Inequality data"
On DataHub:

* Collections page: https://datahub.io/collections/wealth-income-and-inequality
* Individual datasets ...

## Tasks

* Add wid.world to collections page (migrate this old dataset to new datahub) https://old.datahub.io/dataset/world-income-inequality-database

[2019-11-28 16:52] rufuspollock opened #271 "UK HM Land Registry Data"
From https://www.gov.uk/government/publications/hm-land-registry-data/public-data

<blockquote>
Data available for use and reuse under the Open Government Licence (OGL):

* Transaction data
* Price Paid Data
  * Complete CSV file - http://prod.publicdata.landregistry.gov.uk.s3-website-eu-west-1.amazonaws.com/pp-complete.csv (3.7Gb)
* UK House Price Index
* INSPIRE Index Polygons
* 1862 Act registe

[2019-11-28 16:52] rufuspollock opened #272 "US Gov Data: an overview"
High level overview of US gov data locations.

# Research

# Where does the U.S. Government Keep its Data?

*From awesome work at https://sctyner.github.io/static/presentations/Misc/GraphicsGroupISU/2018-11-16-us-govt-data.html*

#### _2018-11-16 10:13:19 CST_

Inspiration and primary source for all of this information: [Statistical Programs of the United States Government Fiscal Year 2017](https:

[2019-11-28 16:52] rufuspollock opened #273 "Car sales and production data"
Wanted: sales of vehicles disaggregated by

* Time: monthly preferably
* Country: US, Europe, China are priority
* Brand / manufacturer: ...

<iframe src="https://fred.stlouisfed.org/graph/graph-landing.php?g=mz9t&width=670&height=475" scrolling="no" frameborder="0"style="overflow:hidden; width:670px; height:525px;" allowTransparency="true"></iframe>

## US

* Gov - BEA - Gross Vehicle sales a yea