[2019-11-28 16:52] rufuspollock opened #274 "Data Breaches"
Google spreadsheet with approx 300+ as of Dec 2018 https://docs.google.com/spreadsheets/d/1i0oIJJMRG-7t1GT-mr4smaTTU7988yXVz8nPlwaJ8Xk/edit#gid=2

Think this is from Information is Beautiful - https://informationisbeautiful.net/visualizations/worlds-biggest-data-breaches-hacks/

Parser and CSV conversion here: https://github.com/Akronix/data-breaches-viz/blob/master/breaches_clean.csv

[2019-11-28 16:52] rufuspollock opened #275 "Homelessness in various countries"
Motivating insights: how has homelessness been changing over time? Is it getting better or worse? What could be done about it?

## Questions

What is definition of "homelessness"?

[2019-11-28 16:53] rufuspollock opened #276 "Holidays in different countries"
* https://github.com/gadael/icsdb - Open repository of static calendar ICS files for "non-working days".  Does not have a lot yet. Belgium (1 file), France (9 files), Germany (19 files), Ireland (1 file), Switzerland (27 files), United-Kingdom (3 files), United-States (51 files)

[2019-11-28 16:53] rufuspollock opened #277 "Evidence for that: Where do these numbers come from?"
Lots of great stats out there on the web and I often wonder where they come from ...

A place to record statements or claim where I'd like to see the underlying evidence.

## 320,000 people in britain are now homeless - Shelter - Nov 2018 (added: Jan 2 2019)

https://england.shelter.org.uk/media/press_releases/articles/320,000_people_in_britain_are_now_homeless,_as_numbers_keep_rising

Comments:

[2019-11-28 16:53] rufuspollock opened #278 "Kenneth French Data Library"
Kenneth French Data Library on his web page at Dartmouth:

http://mba.tuck.dartmouth.edu/pages/faculty/ken.french/data_library.html

Stack of interesting time series data there.

---

# Sample from webpage

[code]

[2019-11-28 16:53] rufuspollock opened #279 "AirBnB data"
## InsideAirBnB - Murray Cox

Awesome site with a lot of data over the years.

http://insideairbnb.com/get-the-data.html

## Tom Slee Data

Tom did a great job here. He [stopped maintaining his AirBnB data in Sep 2017](http://tomslee.net/2017/10/airbnb-data-collection-announcement.html) but preserved an archive.

http://tomslee.net/airbnb-data-collection-get-the-data

TODO: data package and archiv

[2019-11-28 16:53] rufuspollock opened #280 "nightlights.io - india electrication over 20y"
Awesome visualization and data project about electrication in India http://india.nightlights.io/

They provide an API: http://api.nightlights.io/

AFAICT there is no way to get the bulk data other than to generate yourself e.g. I looked here and then followed links

https://github.com/wbg-bigdata/nightlights-api

https://github.com/wbg-bigdata/nightlights-api/blob/develop/dbscripts/README.md

This

[2019-11-28 16:54] rufuspollock opened #281 "US public utility data (energy etc)"
https://github.com/catalyst-cooperative/pudl

[2019-11-28 16:54] rufuspollock opened #282 "Telecom infrastructure data"
Data like:

* [ ] Location ownership of fibre optic cables
* [ ] Spectrum ownership and management including allocation of licenses
* [ ] Location and ownership of towers
* [ ] Telecom operators
* [ ] Pricing (esp backhaul)

For more including lots of detail on these items see @stevesong recent post: https://manypossibilities.net/2018/05/open-telecom-data-moving-forward/

[2019-11-28 16:54] rufuspollock opened #283 "Rainfall data"
* UK - gridded 1km 1890-2015 - https://catalogue.ceh.ac.uk/documents/33604ea0-c238-4488-813d-0ad9ab7c51ca

[2019-11-28 16:54] rufuspollock opened #284 "Bibliographic data"
**Awesome page in progress at: https://datahub.io/collections/bibliographic-data**

# What we Cover

Datasets we want to cover:

* Author metadata
* Article metadata
* Book metadata (bonus points if FRBR-like)

## Tasks

* [x] Stub page
* [ ] Embed the google docs spreadsheet overview - https://docs.google.com/spreadsheets/d/1Sx-MKTkAhpaB3VHiouYDgMQcH81mKwQtaK2-BXYbKkE/edit#gid=0
  * [ ] (Future)

[2019-11-28 16:54] rufuspollock opened #285 "Gender equality / Gender gap data"
Report from WEF: http://reports.weforum.org/global-gender-gap-report-2016/

Raw data sources:

* http://reports.weforum.org/global-gender-gap-report-2016/economies/#economy=ALB - WEF but not sure how to get in bulk
* https://tcdata360.worldbank.org/indicators/af52ebe9?country=BRA&indicator=27962&viz=line_chart&years=2006,2016
* https://data.humdata.org/dataset/global-gender-gap-index-world-economi

[2019-11-28 16:54] Branko-Dj opened #286 "Mortgage rates"
An interesting set of datasets to look at would be mortgage rates, especially in the US. As the end of economic cycle draws near, rates are starting to rise which makes this data very important to the millions of homeowners.
## Acceptance criteria
- [ ] Orderly dataset about mortgage rates with latest updates divided by regions/cities

## Tasks
- [ ] Find and extract data about mortgage rates by r

[2019-11-28 16:54] rufuspollock opened #287 "Geodata ..."
This is a huge issue and should become lots of smaller subissues but for now let's start with this ...

##

* https://www.whosonfirst.org/ - Who’s On First (WOF) is a gazetteer. If you’ve never heard the term “gazetteer” before it’s basically just a big phone book, but a phone book of places rather than people. - https://www.whosonfirst.org/what/. 26m records
* https://nextzen.org - mapzen data ma

[2019-11-28 16:54] rufuspollock opened #288 "Cloud Providers Pricing"
I want a time series dataset of cloud provider pricing for storage, compute, databases etc

## Research

https://redmonk.com/rstephens/2018/07/13/iaas-pricing-patterns-and-trends-2018/ - has a link to a google spreadsheet https://docs.google.com/spreadsheets/d/1BrXfyq-u9nTDy-HS43G4lYFZ6Yej1hUSnj17kIRdcUk/edit#gid=0

## S3

6 components to their pricing: Storage Pricing, Request Pricing. Data Tranf

[2019-11-28 16:54] otruja opened #289 "Bitcoin Prices"
Final [Bitcoin prices repo](https://github.com/otruja/bitcoin-prices) with data package automated to update the data daily.

[2019-11-28 17:17] glgoose commented on #237
@svetozarstojkovic Do you know where to configure where `datahub.io/collections` pulls data from?

It should be reconfigured so that it now pulls from `datasets/awesome-data` instead of `datopian/awesome-data` (it redirects at the moment so it still works but should probably change it).

[2019-11-28 17:24] glgoose commented on #237
# Former `/datopian/awesome-data/` issue list
Now this repo is named `/datasets/core-data/` and the issues have been moved to `/datasets/awesome-data/`

![github com_datasets_core-datasets_issues_utf8=%E2%9C%93 q=is%3Aissue](https://user-images.githubusercontent.com/48956933/69824402-ec806880-120b-11ea-9f9b-de597b408273.png)
![github com_datasets_core-datasets_issues_page=2 q=is%3Aissue utf8=%E2%9

[2019-11-29 15:02] rufuspollock commented on #237
@glgoose this item is ticked

But this is not the case afaict. the idea was to force push over current repo with the relevant contents. have you done that?

[2019-11-30 23:26] MuhammadIsmailShahzad commented on #282
## List of mobile network operators [Sub-Topic]:
Question:
* [ ] Telecom operators
Who are the leading telecom operators in the world and how much is there revenue.
## Data:
* [GSM Intelligence  : Definitive data and analysis for the mobile industry](https://www.gsmaintelligence.com/)
  * Apparently they have all kind of data and research material about telecom operators
    * Subscriber data

[2019-12-02 09:53] monikappv opened #290 "How many people die or suffer from hunger over time?"
We want to find out how many people have died or suffered over time worldwide, so we can follow the progress of the global fight against hunger.

* https://ourworldindata.org/hunger-and-undernourishment :star:
  * global number of individuals undernourished - 1991-2017
  * share of undernourished population - 2000 - 2016
  * can download csv file

* https://ourworldindata.org/famines :star:
  * fa

[2019-12-02 13:13] RobGrootjen opened #291 "How many people die from obesity?"

[2019-12-02 13:18] RobGrootjen opened #292 "World population."
Might be interesting to know if our world population has been increasing and how much?

# Data
https://www.worldometers.info/world-population/world-population-by-year/

[2019-12-02 13:20] RobGrootjen opened #293 "GDP per country."
Which country has the highest GDP? How has it been increasing or decreasing during the last years?

# Data
Great data source to scrape https://www.worldometers.info/gdp/gdp-by-country/

[2019-12-02 13:22] RobGrootjen opened #294 "How many followers per religion and per year?"
Interesting to see how many followers does every religion have and which one has been growing.

# Data Sources
Great to scrape
* Historical data since 1910 - 2010 - https://en.wikipedia.org/wiki/Growth_of_religion
* Religion per country - http://worldpopulationreview.com/countries/religion-by-country/

[2019-12-02 13:24] RobGrootjen opened #295 "Mortgage rates United States."
Which bank and state have the cheapest mortgage? And what year had the lowest mortgage rate?

# Data
* Yearly historical mortgage rates - https://www.valuepenguin.com/mortgages/historical-mortgage-rates#nogo
* Current bank mortgage rates - https://www.ratehub.ca/banks/bank-mortgage-rates

[2019-12-02 13:26] RobGrootjen opened #296 "How much people die from Malaria?"
Has this been decreasing? Or increasing? And in what countries?

# Data
https://www.theguardian.com/news/datablog/2012/feb/03/malaria-deaths-mortality

[2019-12-02 13:27] RobGrootjen opened #297 "Oil production and consumption"
How many barrels does every country consume and produce?

# Data
Great sources
* Oil consumption worldwide per year - https://www.indexmundi.com/energy/
* Oil production per country - https://en.wikipedia.org/wiki/List_of_countries_by_oil_production
* Oil consumption per country per day https://en.wikipedia.org/wiki/List_of_countries_by_oil_consumption

[2019-12-02 13:29] RobGrootjen opened #298 "Top 50 international companies profit, revenue and employees."
How much profit, revenue and how many employees do the top 50 companies have?

# Data
Great data source
https://en.wikipedia.org/wiki/List_of_largest_companies_by_revenue

[2019-12-02 13:31] RobGrootjen opened #299 "How much beef does every country consume?"
It might be interesting how much beef we consume every year. Has this been increasing or decreasing? And per country which one eats the most beef?

# Data
Good data source
* https://en.wikipedia.org/wiki/List_of_countries_by_meat_consumption

[2019-12-02 13:33] RobGrootjen opened #300 "Average salary per country and per year."
# What is the average monthly and yearly wage per country and how has it been fluctuating since 2000?

### Questions
* What is the monthly average salary per country?
* What is the yearly average salary per country?
* How has the yearly average salary been fluctuating over time?

### Main source
* https://en.wikipedia.org/wiki/List_of_countries_by_average_wage

[2019-12-02 13:34] RobGrootjen opened #301 "Average height per country"
# Average height

### Questions
* Worldwide average height over time
* Average height per country
* Average height per country per year

### Sources
* Historical data per country height -http://www.ncdrisc.org/data-downloads-height.html
* Average person height-  https://www.disabled-world.com/calculators-charts/height-chart.php
* Average male and female height -https://en.wikipedia.org/wiki/Averag

[2019-12-02 13:35] RobGrootjen opened #302 "Traffic accidents per country"
What is the safest place to live? And what is the most fatal one?

# Data
Great source to scrape.
https://en.wikipedia.org/wiki/List_of_countries_by_traffic-related_death_rate

[2019-12-02 17:02] stellamarissb opened #303 "Number of Immigrants living in a specific country or the world"
Assigned to Stellamaris.
Status- In process

[2019-12-02 17:06] stellamarissb opened #304 "Wettest cities / places in the world"
Assigned to Stellamaris. Status: In process

[2019-12-02 17:10] stellamarissb opened #305 "The most expensive cities in the world for to buy real estate"
Assigned to Stellamaris. Status: in progress

[2019-12-11 13:00] rufuspollock commented on #208
FIXED. See https://datahub.io/blog/pharmaceutical-drug-spending and https://datahub.io/core/pharmaceutical-drug-spending and https://github.com/datasets/pharmaceutical-drug-spending

[2019-12-11 13:00] #208 closed

[2019-12-15 17:34] rufuspollock commented on #305
@stellamarissb if creating an issue like this please ...

* Be grammatically correct in the title 😉  "for to buy" is not english
* A proper description of what this is about - a few sentences
* Preferably a task list or similar

[2019-12-15 17:44] rufuspollock opened #306 "[meta] Improve and formalize Data Review process esp for Core Datasets"
As part of data curation for core datasets we already have an informal review process in the quality assurance phase:

https://datahub.io/docs/core-data/curators-guide#3-quality-assurance

We could improve and expand on this e.g.

* Define a list of reviewers
* Create a checklists to be passed etc

## Inspiration

https://github.com/ropensci/software-review

https://github.com/ropensci/software-re

[2019-12-15 17:45] rufuspollock opened #307 "[ideas] Inbox for Ideas"
* Have a journal of open data where datasets can get "published" for academics cf journal of open source software https://joss.theoj.org/

[2019-12-15 19:18] rufuspollock commented on #237
@glgoose I've now fixed this by force pushing backup clones of these 2 old repo (specifically made in case something went wrong like this!)

@svetozarstojkovic i've also fixed the code on datahub.io frontend - can you get this redeployed as asap as pages are 404'ing atm https://datahub.io/collections/bibliographic-data

[2019-12-15 20:16] svetozarstojkovic commented on #237
@rufuspollock
Done, please check it out.

[2019-12-16 22:12] rufuspollock commented on #237
FIXED. All done.

[2019-12-16 22:12] #237 closed

[2019-12-22 18:02] rufuspollock opened #308 "PISA Education Performance data - OECD PISA"
PISA is OECD's "Program for International Student Assessment" https://www.oecd.org/pisa/. PISA measures 15-year-olds’ ability to use their reading, mathematics and science knowledge and skills to meet real-life challenges.

It is special because it is one of the few (maybe the only) cross-country standardized tests of student skills in core areas like mathematics and reading. It started in 2000 an

[2020-01-17 18:53] rufuspollock opened #309 "OpenNeuroDatasets - Neuroscience"
https://github.com/OpenNeuroDatasets

[2020-01-19 20:44] rufuspollock opened #310 "World Scientists’ Warning of a Climate Emergency"
https://academic.oup.com/bioscience/article/70/1/8/5610806

Can you believe it - all the data is in a jpg and PDFs! No CSV, nothing ... In fact reading the supplemental materials they just say where the data came from and don't provide the data they actually used to created the image

![image](https://user-images.githubusercontent.com/180658/72688057-16675480-3b04-11ea-8ae7-c7aeeb0dd4aa.png)

PDF

[2020-01-31 16:46] miku commented on #284
In addition to sources already listed in the [spreadsheet](https://docs.google.com/spreadsheets/d/1Sx-MKTkAhpaB3VHiouYDgMQcH81mKwQtaK2-BXYbKkE/edit#gid=0), at the [Archive](https://archive.org/) we have a couple of items related to bibliographic metadata, especially this one:

* https://archive.org/details/ia_biblio_metadata

[2020-02-02 15:44] rufuspollock opened #311 "Art (that is Open)"
## Wikimedia Commons

## Google Art Project

https://artsandculture.google.com/project/art-camera

TODO: where can you bulk download?

### Is it Open? Yes (?)

Apparently (?) open according to https://commons.wikimedia.org/wiki/Google_Art_Project

## Met Museum (Open since Feb 2017!)

https://www.metmuseum.org/about-the-met/policies-and-documents/image-resources

Images of Artworks in the Public D

[2020-02-03 13:02] rufuspollock commented on #284
@miku very useful - thank-you!

[2020-02-17 16:55] sabas commented on #203
@rufuspollock I found a data source and completed the dataset
https://github.com/sabas/harmonized-system
I think it could be moved to the datasets org.

[2020-02-18 15:52] nirabpudasaini opened #312 "Novel Coronavirus 2019"
The new strain of Coronovirus has had a worldwide effect. It has effected people from different countries. It would be great to have a time series data tracking the number of people effected by the virus, how many deaths has the virus caused and the number of reported people who have recovered.

## Research
* Peter Corless has a very [informative blog](https://towardsdatascience.com/chasing-the-da

[2020-02-21 02:25] rufuspollock commented on #203
@sabas awesome! @monikappv can you help coordinate this with @sabas

[2020-02-25 14:46] edvardmk commented on #239
I have just created the data package as part of my onboarding process and uploaded it to datahub https://datahub.io/edvardmk/economic-history-data-package/v/3

[2020-02-26 04:14] rufuspollock commented on #239
@edvardmk 👏 👏  Couple of things:

* Can you link the github repo for this - that's actually the most crucial part as it has the script etc
* Can you move this in the project board to the right location (see projects at the right) - or maybe you can't do that ... (permissions?)

[2020-02-28 08:45] monikappv commented on #203
@sabas hey, looks like you are a member of the datasets org - you can move the dataset directly to a new repo there.. let me know if / how I can help.

[2020-02-28 13:59] sabas commented on #203
@monikappv done! Please have a look if that's ok

[2020-03-05 17:24] rufuspollock commented on #312
@nirabpudasaini did you do this and push this? If so please update here ...

[2020-03-05 21:33] EmmanuelAmodu commented on #312
@rufuspollock would be a good solution https://github.com/EmmanuelAmodu/COVID-19-Datapackage.git. package url https://datahub.io/emmanuelamodu/covid-datapackage/v/4

[2020-03-06 08:23] nirabpudasaini commented on #312
@rufuspollock I have not worked on this yet. I can work on it this weekend and push.

[2020-03-06 11:44] rufuspollock commented on #5
FIXED. This is done and moved to https://github.com/datasets/commodity-prices

[2020-03-06 11:44] #5 closed

[2020-03-06 16:21] #203 closed

[2020-03-06 18:56] julietezekwe commented on #191
I worked on this using the Wikipedia link. I pushed this to github here [github link](https://github.com/julietezekwe/obese-data)

[2020-03-06 18:58] julietezekwe commented on #191
Here is the dataset [Link](https://datahub.io/julietezekwe/obese-data). @rufuspollock please see this

[2020-03-07 12:36] rufuspollock opened #314 "[INBOX]"
* https://github.com/googlecreativelab/quickdraw-dataset - https://quickdraw.withgoogle.com/data

[2020-03-08 10:03] rufuspollock commented on #312
@zelima @mpolidori can you update on status here now 😄 Dataset is packaged here I believe https://github.com/datasets/covid-19

[2020-03-11 12:46] mariorodeghiero commented on #11
@rufuspollock I'm working on this issue.

[2020-03-12 13:02] uwaheed88 commented on #61
@rufuspollock I working on this issue

[2020-03-22 17:56] starsinmypockets commented on #312
This is code for philly working with Penn Medicine:
https://penn-chime.phl.io/

And an "epidemic calculator" tool: http://gabgoh.github.io/COVID/

[2020-03-25 12:07] rufuspollock commented on #312
Have created a basic collections page https://datahub.io/collections/coronavirus

[2020-03-31 11:33] rustem-yacob-com commented on #278
Working on this data

[2020-03-31 11:35] smartrus commented on #278
Working on this data as part of my Technical on-boarding

[2020-04-03 19:44] rufuspollock opened #319 "Political Ad Transparency at Facebook, Google etc"
## Google

https://transparencyreport.google.com/political-ads/home - full data

CSV https://storage.googleapis.com/transparencyreport/google-political-ads-transparency-bundle.zip

### Facebook

https://www.facebook.com/ads/library/

NO bulk download!

And this ...

### Aggregation: 2019 EU Elections

Mozilla did collection https://adtransparency.mozilla.org/eu/

Not sure how to download the data

[2020-04-09 08:18] rufuspollock opened #320 "Top 1 million websites in the world (Majestic Million)"
https://blog.majestic.com/development/majestic-million-csv-daily/

http://downloads.majestic.com/majestic_million.csv

## License

[2020-04-09 09:22] rufuspollock commented on #312
@starsinmypockets could you do a PR on https://github.com/datasets/awesome-data/blob/master/coronavirus.md to add any relevant datasets, modelling etc 😄

[2020-04-16 20:03] sglavoie commented on #264
On the page https://www.prb.org/international/ I extracted the URLs where data is available:

- https://datacenter.prb.org/download/international/indicator/population/csv
- https://datacenter.prb.org/download/international/indicator/population-2035/csv
- https://datacenter.prb.org/download/international/indicator/population-2050/csv
- https://datacenter.prb.org/download/international/indicator/bir

[2020-04-17 12:39] rufuspollock commented on #264
@sglavoie have you found any info on the PRB's *licensing* of this data.

[2020-04-17 14:27] sglavoie commented on #264
I am in the process of finding out and will let you know as soon as possible.

In regards to the **international data**, this would be a very small dataset containing 21 CSV files, totalling 154.7 KiB (158,367 bytes). The CSV files on the page https://www.prb.org/international/ all feature five columns and 235 rows of useful data.

When it comes to the **US data**, this is a more sizeable dataset:

[2020-04-17 14:31] rufuspollock commented on #264
@sglavoie ok let's start curating this - you can do this as well as emojis 😄 (still check the license info though)

[2020-04-17 14:32] sglavoie commented on #264
Perfect! I'm on it! I couldn't get the line when I called earlier today, but I've sent them inquiries by other means and will call again until this matter is solved :smile:.

[2020-04-20 17:15] sglavoie commented on #264
# About the data

Done! It's available as CSV files with a validated `datapackage.json`. A [minimal repo is available here](https://github.com/sglavoie/awesome-data-prb) containing the script used to make this possible. For convenience, I added the cleaned data to my Google Drive: it can be [found at this link](https://drive.google.com/drive/folders/1w8mFbZnHnO4mweXyqQOuqGbu1Kds2mao?usp=sharing).

[2020-04-20 18:22] rufuspollock commented on #264
@sglavoie i would add the data to the repo rather than google drive. I also suggest naming the repo after the data package name.

Re the license i would not focus on the license for text publications - that is completely different. In general, data like this which is clearly factual, is like public domain (at least in US) so I think we can say that with suitable disclaimer that this is our opinion

[2020-04-20 18:52] sglavoie commented on #264
Thank you for your feedback!

- The data is now available in the same repo.
- The repo has been renamed (along with other references in the script) to adopt what I believe could be the data package name (please let me know if it should be modified).
- I was under the impression that files do not fall into the same category as content on web pages as you pointed out: still, I shared my findings (or

[2020-04-21 16:28] sglavoie commented on #95
@rufuspollock: Done. Do let me know if something needs to be modified and/or added.

- Repo: https://github.com/sglavoie/emojis
- Curated data available as a validated data package: https://github.com/sglavoie/emojis/tree/master/emojis
- 3,570 unique emojis from http://unicode.org/Public/emoji/11.0/ sorted by groups and subgroups.

It felt a bit like cheating, but I did it with Vim macros and regu

[2020-04-21 21:02] rufuspollock commented on #95
@nirabpudasaini please could you review this based on the core data guidelines https://datahub.io/docs/core-data/curators-guide esp the quality review. If it looks good let's get the repo moved over to datasets here and published on core data. You can ping @zelima if you need guidance.

[2020-04-21 22:15] sglavoie commented on #95
Thank you for your feedback @rufuspollock: it makes a lot of sense! I wanted to get back to you with a (hopefully) clean dataset sooner rather than later, but I should have known better and should have imagined that this would need to be updated/maintained and not simply taken as an exercise. (I could update the dataset in a breeze if a couple of additional emojis decide to unite themselves to the

[2020-04-22 08:17] nirabpudasaini commented on #95
@sglavoie The datapackage descriptor and the csv table looks good 👍👏 .
Few quick initial comments,  please add a README describing the dataset, the source of data, steps to run the scripts/generate the data and the dependencies to install so that someone else other than you can also update/generate the dataset. Also would be better to have all your scripts in one folder named scripts.

[2020-04-22 13:16] sglavoie commented on #95
Thank you @nirabpudasaini! I'm glad to know that at least the data is what's expected: that will help in testing out how the Python script should behave.

The current solution isn't easily reproducible: I misunderstood the requirements. I will rework the existing repo so that it can be fully automated and once it is clear how to run the script (stored under the directory `scripts`), I will make su

[2020-04-22 14:12] rufuspollock commented on #95
@sglavoie maybe do a plan of how you are going to do it in an issue in your repo and @nirabpudasaini can review before you do it. That can be most efficient and give you early feedback.

[2020-04-22 14:13] sglavoie commented on #95
Excellent, thank you @rufuspollock, I'm on it!

[2020-04-24 00:19] toguko commented on #282
I pointed out some solutions for the Rufus topic, question by question, below and now I'll be gathering the datasets to commit here later.

Data like:

- [ ]  Location ownership of fibre optic cables:

  - I don't know any place that can provide this info in a dataset available for free. I found this map with all submarine fibre optic cables, where I can scrap this data from [SubmarineCableMap](ht

[2020-04-24 13:07] rufuspollock commented on #282
@toguko this is great - you can start collecting research info in this issue and then start wrangling datasets. /cc @nirabpudasaini

[2020-04-24 20:45] sglavoie commented on #95
- Repo: https://github.com/sglavoie/emojis

- 4,168 emojis as of v13.0 (latest version).

---

The dataset should now be curated exactly as it should! Minor modifications might be needed, including:

- Updating sections in the README file;
- Removing some columns from the CSV file (maybe the last one or at least renaming it?) → https://github.com/sglavoie/emojis/blob/master/data/emojis.csv;
- Chan

[2020-04-27 08:16] nirabpudasaini commented on #95
@sglavoie The dataset looks good i have create a fork in the datasets organization
@rufuspollock @zelima  The dataset is now packaged and available at https://github.com/datasets/emojis and ready to publish.

[2020-04-27 14:21] rufuspollock commented on #95
@nirabpudasaini can we move the repo rather than forking. That works better (datasets is the authoritative item). Easiest way is for @sglavoie to make you admin and then you can move it over.

[2020-04-27 14:22] rufuspollock commented on #95
@sglavoie 👏

[2020-04-27 14:53] sglavoie commented on #95
Great, I'm glad it was alright! @nirabpudasaini, I've sent you an invitation to manage the repo :wink:.

[2020-04-27 15:26] nirabpudasaini commented on #95
@rufuspollock  The repo is now moved and available at https://github.com/datasets/emojis

[2020-04-29 13:04] rufuspollock commented on #264
@sglavoie can we move this item to datasets github org now ...

[2020-04-29 13:20] sglavoie commented on #264
@rufuspollock, the script works really well from the testing I made. However, there are two possible issues I am aware of:

- The script relies on Pandas to perform some actions on the dataset (sorting, adding NA values, etc.). If this package shouldn't be used, I would have to rework one function in the script to use the standard library instead.
- The script also uses `Click` and is more a full-

[2020-04-29 14:35] rufuspollock commented on #264
@sglavoie can you avoid pandas perchance? And use e.g. dataflows instead ...

[2020-04-30 00:12] sglavoie commented on #264
@rufuspollock, sure!

Click doesn't bother much from the user perspective either: I can just remove the need for user input from one place and it stays exactly the same. That will be quick!

As for Pandas, I can certainly make the necessary changes, it's only one function in the script. I was working on a high-priority project with a deadline for tomorrow and didn't have time to get back to this i

[2020-05-03 00:01] sglavoie commented on #264
@rufuspollock, this should now be good to go! :slightly_smiling_face:

* `Click` and `pandas` have been removed entirely.
* `pandas` has been replaced with `dataflows`.
* Packages are now being generated for each individual dataset: the directory structure is the same as the one that can be observed in other projects we are currently working on at Datopian (for instance, data-concierge/datasets-fe

[2020-05-04 11:13] rufuspollock commented on #264
@sglavoie great - final point is that i would use - in repo names rather than _ (and in package name). And then can you move this over to datasets org here.

[2020-05-04 16:50] sglavoie commented on #264
@rufuspollock, I've made the necessary changes and updated the data to reflect those changes.

I cannot transfer ownership of the repo to the "datasets" organization (I would need to be a member to be allowed to do so) but I went ahead and transferred it to you with the best intention in mind. :crossed_fingers:

[2020-05-20 13:36] rufuspollock opened #324 "Opportunity Insights Data - mainly econ micro data"
https://opportunityinsights.org/data/

There's a big recent thing re covid https://www.tracktherecovery.org/ though atm when you try to click on download data it says "coming soon"

![image](https://user-images.githubusercontent.com/180658/82452521-a7990880-9aaf-11ea-9ae2-e6b75be1e816.png)

Mostly data supporting specific research. See screen grab below. They use github for code but no data afaict

[2020-05-26 15:50] sglavoie commented on #95
**FIXED**: Closing as this is now published and updated automatically.

* Publication: https://datahub.io/core/unicode-emojis
* Automation: https://github.com/datasets/emojis/actions

---

More than five years after opening the issue. :smile: :tada:

[2020-05-26 15:50] #95 closed

[2020-06-20 20:04] rufuspollock opened #325 "TrackTheRecovery.og"
[20 May] There's a big recent thing re covid https://www.tracktherecovery.org/ though atm when you try to click on download data it says "coming soon"

![image](https://user-images.githubusercontent.com/180658/82453219-8b499b80-9ab0-11ea-9b3d-3fe0971147a1.png)

![image](https://user-images.githubusercontent.com/180658/82453758-38bcaf00-9ab1-11ea-973b-427c8a0c08b1.png)

**UPDATE: 20 June 2020 - dat

[2020-06-20 20:04] rufuspollock commented on #325
@sglavoie one for you to look at (see the task) - not urgent (and we can talk about it b4 you do it)

[2020-10-02 08:39] risenW commented on #320
I have successfully added this dataset to Datahub. Link [here](https://datahub.io/rising.odegua/majestic-millions)

[2020-10-18 08:44] rufuspollock opened #326 "General Social Survey (GSS)"
On old datahub.io: https://old.datahub.io/dataset/gss (needs updating and redirecting ...)

* Homepage: https://gss.norc.org/
* Description: Since 1972, the General Social Survey (GSS) has provided politicians, policymakers, and scholars with a clear and unbiased perspective on what Americans think and feel about such issues as national spendi​ng priorities, crime and punishment, intergroup relati

[2020-10-18 09:36] rufuspollock opened #327 "Pew Research Data"
Especially politics and social trends.

You have to register to get access:

* https://www.pewresearch.org/politics/?post_type=dataset
* https://www.pewsocialtrends.org/?post_type=dataset

[2020-10-18 15:17] rufuspollock commented on #267
Started repo: https://github.com/rufuspollock/putnam-bowling-alone

[2020-11-05 15:01] rufuspollock opened #328 "US electoral data"
https://electionlab.mit.edu/data

Have about 15 substantial datasets e.g.

* U.S. Senate 1976–2018 - This data file contains constituency (state-level) returns for elections to the U.S. Senate from 1976 to 2018.

[2020-11-19 06:13] scls19fr commented on #96
I found that core-list is now in https://github.com/datasets/core-datasets but couldn't find where is catalog-list now

I wonder if they are considered as DataPackage catalog https://github.com/frictionlessdata/specs/issues/37#issuecomment-552936484

[2021-05-08 09:52] rufuspollock opened #329 "Project Drawdown"
Project Drawdown is a project to identifying solutions to get to "drawdown" (i.e. net zero or negative carbon emissions). Started in 2014 (by Paul Hawken and Amanda Ravenhill) they released a book in 2017 with their first summary of options and followed up with a major update in 2020.

The main output is set of potential "solutions" with detailed estimates of the impact - which allows for ranking

[2021-06-06 18:09] rufuspollock opened #330 "(Very) Long-term Real Interest Rates (over centuries)"
Status: research

## Research

### Eight centuries of global real interest rates, R-G, and the ‘suprasecular’ decline, 1311–2018

This is a 2020 BoE staff working paper and looks pretty spot on. I've attached the xlsx data file.

* [eight-centuries-of-global-real-interest-rates-r-g-and-the-suprasecular-decline-1311-2018.pdf](https://github.com/datasets/awesome-data/files/6604637/eight-centuries-of

[2021-06-06 18:30] rufuspollock opened #331 "A millenium of macroeconomic data for the UK (BoE)"
From https://www.bankofengland.co.uk/statistics/research-datasets

## Data

* 2021 xlsx: https://www.bankofengland.co.uk/-/media/boe/files/statistics/research-datasets/a-millennium-of-macroeconomic-data-for-the-uk.xlsx?la=en&hash=73ABBFB603A709FEEB1FD349B1C61F11527F1DE4 (28 MB -- too large to cache here)

[2021-07-02 20:36] rufuspollock opened #332 "Lazard Levelized Cost of Energy (LCOE) and Levelized Cost of Storage"
https://www.lazard.com/perspective/levelized-cost-of-energy-and-levelized-cost-of-storage-2020/

Mainly in graphs and PDF - is there raw data?

[2021-07-02 22:36] rufuspollock opened #333 "BP Statistical Review of World Energy"
https://www.bp.com/en/global/corporate/energy-economics/statistical-review-of-world-energy.html

* 2020 data (for 2019 and before): [bp-stats-review-2020-all-data.xlsx](https://github.com/datasets/awesome-data/files/6757304/bp-stats-review-2020-all-data.xlsx)
 * Review itself (PDF): https://www.bp.com/content/dam/bp/business-sites/en/global/corporate/pdfs/energy-economics/statistical-review/bp-sta

[2021-07-15 13:05] anuveyatsu commented on #15
We could work on this dataset and improve to include more countries. Ideally, we could cover all countries from PPP dataset - https://github.com/datasets/ppp

[2021-08-05 12:08] rufuspollock opened #334 "Used Car Prices"
Looking for open datasets where possible

## Open

* https://www.kaggle.com/austinreese/craigslist-carstrucks-data - 1.35Gb. Data from craigslist
* German data (5y old) https://data.world/data-society/used-cars-data

## Proprietary

* Kelley Blue Book

[2021-08-08 19:54] rufuspollock opened #335 "Who Owns what Brands (of appliances)"
https://www.adducation.info/how-to-improve-your-knowledge/home-appliance-brands/

Brand | Categories | Company / Conglomerate | Brand HQ | Home Appliance Brands Manufacturers Info | Related home appliance brands and/or competitors | Active Regions
-- | -- | -- | -- | -- | -- | --
Acros | major appliances, home appliances, domestic appliances, white goods and kitchen appliances. | Whirlpool Corpora

[2021-08-19 13:15] rufuspollock opened #336 "EDGAR - Emissions Database for Global Atmospheric Research"
Global data on GHG (co2 etc) emissions by country and over time. Fully open access.

https://edgar.jrc.ec.europa.eu

[2021-09-09 07:39] rufuspollock opened #338 "Steffen et al - Planetary boundaries: Guiding human development on a changing planet - Science (Feb 2015) + Update in 2020"
2015 Science paper with data: https://www.science.org/doi/10.1126/science.1259855

See earlier 2009 nature paper for the idea: https://www.nature.com/articles/461472a

## Steffen et al - Planetary boundaries: Guiding human development on a changing planet - Science (Feb 2015)

![image](https://user-images.githubusercontent.com/180658/132642698-c7998460-40dd-49a1-b457-fd1811db97e2.png)

https://www

[2021-09-09 07:56] rufuspollock commented on #338
See also https://www.nature.com/articles/d41586-019-03595-0

[code]

[2021-10-31 20:10] rufuspollock opened #339 "Estimated Primary Energy Consumption in the United States 1635 to Present"
Estimated Primary Energy Consumption in the United States, Selected Years, 1635-1945 (EIA) https://www.eia.gov/totalenergy/data/monthly/pdf/sec12_24.pdf

Cached version: [sec12_24.pdf](https://github.com/datasets/awesome-data/files/7449704/sec12_24.pdf)

Have to dig out more detailed data for 1945 to present.

Inspired by https://github.com/life-itself/climate/issues/25 esp Fig 1.2:

![image](http

[2021-11-07 07:29] rufuspollock commented on #288
Just came across y-combinator backed https://www.taloflow.ai (launched 2021) - they do some of this automatically for you.

[2021-11-11 11:52] austinpena-taloflow commented on #288
Sure do! There are so many variations of the data based on region and tier that if you're using this as a decision tool we gave vendors relative rankings depending on the storage type https://www.taloflow.ai/cloud-object-storage/pricing-guide

[2021-11-15 09:40] rufuspollock commented on #288
@austinpena-taloflow so can you share the raw data (openly)? That would be great and still provide a lot of room for you to add value and provide a service ...

[2021-11-15 17:51] austinpena-taloflow commented on #288
@rufuspollock I'll bring it up with the team! I don't imagine anything being made public for a few months though. I'll write back if I have good news 😊

[2021-12-05 13:57] rufuspollock opened #340 "Gascon Rolls"
http://www.gasconrolls.org/en/

## Data

Combination of content (the rolls themselves) and all the carefully added metadata e.g. people, place, time etc.

Example: http://www.gasconrolls.org/en/edition/calendars/C61_32/document.html

![image](https://user-images.githubusercontent.com/180658/144749510-d1221d1f-1849-4c67-8616-8cd53b07f308.png)

## Openness

You can download individual person records

[2022-08-09 16:42] datatalking opened #367 "New Contributor and areas I could probably help"
While updating financial models I found a link to issue #171 talking about economic indicators links to inflation.md which has two subsequent links that are now generating `Error 404` when I clicked https://github.com/datasets/awesome-data/blob/master/core/inflation and https://github.com/datasets/awesome-data/blob/master/core/cpi-us

Do we need to fix the links or should they be pointed to https:

[2022-08-18 12:05] geoffrey1330 commented on #296
@anuveyatsu i want to contribute and resolve this opened issue

[2022-08-18 13:58] anuveyatsu commented on #296
@geoffrey1330 sure, please go ahead 👍

[2022-08-18 14:01] anuveyatsu commented on #296
@geoffrey1330 sorry, could you hold on? I need to check why this issue is in "published" pipeline. Could you clarify @monikappv if you remember 😄

[2022-08-18 14:23] geoffrey1330 commented on #296
OK

[2022-08-18 22:19] geoffrey1330 commented on #298
@anuveyatsu i want to contribute and resolve this opened issue

[2022-08-19 13:21] geoffrey1330 commented on #298
@anuveyatsu i want to contribute and resolve this opened issue.

[2022-08-23 12:15] geoffrey1330 commented on #296
@anuveyatsu have you made the inquiries why the issue is in "published"?. if so can i move forward with the contribution and resolving the issue?

[2022-08-24 05:57] anuveyatsu commented on #296
Hi @geoffrey1330 it has been already wrangled but not yet published on GitHub site. It is publicly available on GitLab here: https://gitlab.com/robgrootjen/malaria-death

so there is no need to work on this item.

[2022-08-24 05:59] anuveyatsu commented on #298
Hey @geoffrey1330 this one also has been moved to "Published" pipeline which means somebody already did work but we may need to move the dataset to GitHub.

Here is the link: https://gitlab.com/robgrootjen/top-50-international-companies

[2022-08-24 06:02] anuveyatsu commented on #298
Appreciate your willingness to contribute @geoffrey1330 🙏

I would suggest looking into this board and you can take any issue from the "Ready to go" pipeline. Some items in "Preparing and packaging" might also be available to work on as they might have been left unfinished.

[2022-08-24 06:13] anuveyatsu commented on #367
@datatalking it looks like #171 is quite an old issue (2016) and the links must have changed etc. Currently, this is the page which contains a summary of economic indicators: https://github.com/datasets/awesome-data/blob/master/economic-data.md  which also has a number of broken (404) links. As a start, you could raise a PR to fix the links, e.g., this https://github.com/datasets/awesome-data/blob

[2022-08-24 06:14] anuveyatsu commented on #367
@datatalking also, we have the board where you can overview issues statuses and see where contribution is needed: https://github.com/datasets/awesome-data/projects/1

[2022-08-24 06:38] geoffrey1330 commented on #296
Alright thanks @anuveyatsu for the feedback.

[2022-08-24 06:41] geoffrey1330 commented on #298
thanks @anuveyatsu for the feedback. i will look into other opened issue and pick a new issue to contribute and resolve.

[2022-11-03 12:03] miku commented on #284
There's an upload of this dataset at: https://archive.org/details/crossref-2022-11-02 (139M docs).