[2013-01-13 11:36] rufuspollock opened #1 "Initial shortlist of datasets to include"
- [x] ISO 2 digit country codes
- [x] ISO 3 digit country codes
- [x] Currency Codes
- [x] Country & World GDP
- [x] Country and World Populations
- [x] Language codes
- [ ] Exchange Rates
- [ ] File formats / Mimetypes
- [ ] Unicode codes
- [x] COFOG - classifications of functions of government
- [ ] CIPFA-budget-headings
- [ ] LGA Metric Types (??)
- [ ] Administrative boundaries e.g. EU NUTS
-

[2013-02-14 12:11] pudo opened #2 "ICD-10 and ICD-9 Classification of Medical Conditions"
The WHO maintains a listing of known diseases at http://www.who.int/classifications/icd/en/ - the data download is only available upon registration and with a NC license. Is there an open version of this somewhere?

[2013-02-24 13:11] rufuspollock opened #3 "Public Bodies (e.g. Government Departments, Local Authorities etc)"
Some initial work in this project including a DB: https://github.com/okfn/publicbodies.org

[2013-03-02 11:12] rufuspollock opened #4 "JODI Oil Database (?)"
http://www.jodidata.org/database/access-database.aspx

Not quite sure what is in there but seems to be oil reserves etc

[2013-03-03 15:40] rufuspollock opened #5 "Key Commodity Prices"
This should probably be broken up more:
- [ ] iron ore
- [ ] copper
- [ ] wheat
- [ ] gold - #17
- [ ] oil - #23
## Sources

Monthly prices for a wide range of commodities from IMF
- http://www.imf.org/external/np/res/commod/index.aspx
- http://www.imf.org/external/np/res/commod/External_Data.csv - preview http://datapipes.okfnlabs.org/csv/head/?url=http://www.imf.org/external/np/res/commod/Extern

[2013-03-03 19:10] rufuspollock opened #6 "Long term interest rates / Long term government bonds"

[2013-03-04 12:05] rgrp opened #7 "UK Crime data"
https://github.com/datasets/crime-uk

Does this merit inclusion?

[2013-03-04 12:05] rufuspollock opened #8 "Crunchbase (?)"
Does this merit inclusion?
## Getting the data

http://www.crunchbase.com/ - stats as of Aug 2013
- ~175k companies, 193k people

Where to get bulk ...
- http://info.crunchbase.com/about/crunchbase-data-exports/ - Excel file dumps (can use REST API)
  - Download URL http://static.crunchbase.com/exports/crunchbase_monthly_export.xlsx (13Mb)
  - This is **not** the whole DB but a small portion deali

[2013-03-07 10:27] rufuspollock opened #9 "US House price index (case-shiller)"
http://www.standardandpoors.com/indices/sp-case-shiller-home-price-indices/en/us/?indexId=spusa-cashpidff--p-us----

[2013-03-18 17:02] rufuspollock opened #10 "IBAN / BIC codes (SWIFT)"
Official ISO registrar http://swiftref.swift.com/

[2013-04-04 10:24] rufuspollock opened #11 "United Kingdom Frequency Allocation Table"
http://stakeholders.ofcom.org.uk/spectrum/information/uk-fat/

[2013-04-04 10:25] rufuspollock opened #12 "UK House Prices"

[2013-04-15 07:33] rufuspollock opened #13 "Unicode Codes"
http://www.unicode.org/Public/UNIDATA/UnicodeData.txt

[2013-04-15 07:34] rgrp opened #14 "Mime-types / Media-types / File formats"
http://www.iana.org/assignments/media-types

http://svn.apache.org/viewvc/httpd/httpd/branches/2.2.x/docs/conf/mime.types?view=annotate

## Discussion

* Would prefer to include file extension

Suggested Schema

<pre>
{
  id: # mimetype identifier
  fileextensions: # space separated list (?)
  link: # link to authoratative mimetype?
}
</pre>

[2013-04-15 07:37] rufuspollock opened #15 "Exchange Rates"
http://datahub.io/dataset/exchange-rates

[2013-04-24 08:37] #12 closed, assigned to nobody

[2013-04-24 15:31] KitWallace opened #16 "Currency Codes"
The links need to be updated - (coincidentally I commented on this in the datahub http://datahub.io/dataset/iso-4217-currency-codes a couple of hours ago)

This table is not really currency codes, its country/currency codes so is denormalized so  USD appears in several places as a result. The table is misnamed and less useful as a result.

Oddly too, the reference to a country is by name not by IS

[2013-04-27 14:27] #9 closed, assigned to nobody

[2013-05-04 15:12] rufuspollock opened #17 "Gold Prices"
https://github.com/datasets/gold-prices

[2013-05-18 13:58] #16 closed, assigned to nobody

[2013-05-24 16:02] rufuspollock opened #18 "[super] Inflation / Price Index / PPP / Deflator data"
- Price indices
  - <del>World CPI (per country) #170</del> https://github.com/datasets/cpi
  - Country specific price indexes e.g.
    - https://github.com/datasets/cpi-gb
    - https://github.com/datasets/cpi-us
- Inflation
  - World: #165
- PPP
  - <del>Global PPP #40</del> https://github.com/datasets/ppp
- Price deflators

Granularity
- Spatial:
  - "World" i.e. per country (probably annual ti

[2013-05-28 20:43] #18 closed, assigned to nobody

[2013-05-28 22:53] #17 closed, assigned to nobody

[2013-05-31 09:13] vincentarelbundock opened #20 "World Bank - World Development Indicators"
http://data.worldbank.org/
http://data.worldbank.org/summary-terms-of-use

[2013-06-04 16:28] ewheeler opened #21 "current countries of earth"
I had a python script kicking around for fetching up-to-date country code standards and putting them all together.

I love the work you are doing on dataprotocols.org so I reorganized it as a datapackage.
This probably duplicates some of the data already included in the registry, so feel free to ignore.

https://github.com/ewheeler/current-countries-of-earth

[2013-06-08 17:43] rufuspollock opened #22 "S&P 500"
- The index value and associated info (as per shiller). Good for this to be historical.
- Constituents

[2013-06-14 19:54] rgrp opened #23 "Oil prices"
US EIA has a variety of prices: https://www.eia.gov/dnav/pet/pet_pri_spt_s1_d.htm (US EIA is great as high quality and public domain as fed gov)

There's various types of oil for which we could get prices:

* brent crude - https://www.eia.gov/dnav/pet/hist/LeafHandler.ashx?n=PET&s=RBRTE&f=D
  * XLS file: https://www.eia.gov/dnav/pet/hist_xls/RBRTEd.xls
* wti (west texas intermediate) - http://www.

[2013-06-25 18:52] #21 closed, assigned to nobody

[2013-08-04 17:40] rufuspollock opened #25 "Bloomberg Open Symbology"
http://www.openbloomberg.com/open-symbology/

[2013-08-11 16:09] #22 closed, assigned to nobody

[2013-08-11 16:10] rgrp opened #26 "Airport Codes"
Does this merit being included as a reference dataset?

[2013-08-16 08:26] rufuspollock opened #27 "CO2 emissions (by country)"
Time series of C02 emissions (globally and by country).

Time range: as long as possible and as up to date as possible
## Datasets

Think we have multiple:
- `co2-{geo}`
  - total and per capita emissions at level `{geo}` which is one of `global` or `national`
- `co2-fossil-{geo}` where geo is one of `global | national | regional`
  - global: http://cdiac.esd.ornl.gov/trends/emis/tre_glob_2010.htm

[2013-08-17 17:58] rufuspollock opened #28 "Insurance industry combined ratios timeseries"
- Probably need to disaggregate. (i.e. p/c market versus others, take out catastrophes etc)
- Best source is Best's but very restrictive
- Does this merit inclusion?

[2013-08-21 09:21] rgrp opened #29 "CO2 "Price" (Emission trading permits)"
Where can we get CO2 price and emission trading scheme info? Which regions run emissions trading schemes?

## EU data

http://www.eea.europa.eu/data-and-maps/data/european-union-emissions-trading-scheme-eu-ets-data-from-citl-7

Data about the EU emission trading system (ETS). The EU ETS data viewer provides aggregated data on emissions and allowances, by country, sector and year. The data mainly c

[2013-09-22 16:23] rgrp opened #30 "City population timeseries"
http://data.un.org/Data.aspx?d=POP&f=tableCode:240

Download is via some javascript-y thing but some dev tools analysis reveals source as:

http://data.un.org/Handlers/DownloadHandler.ashx?DataFilter=tableCode:240&DataMartId=POP&Format=csv&c=2,3,5,7,9,11,13,15,16,17&s=_countryEnglishNameOrderBy:asc,refYear:desc,areaCode:asc

[2013-09-25 20:14] rgrp opened #31 "United Nations Code for Trade and Transport Locations (UN/LOCODE)"
http://www.unece.org/cefact/locode/service/location.html

[2013-09-27 08:38] mattfullerton opened #32 "List of all public health insurances in Germany with contact details"
There is no open repository of contact details for health insurances in Germany apart from one PDF listing URLs. Assisted by web scraping we have compiled a complete list with email, address and telephone number. This should be helpful for healthcare system researchers trying to access policies or data from all insurances. There are 137 of them! Does this belong in the registry?

[2013-09-27 19:00] rufuspollock opened #33 "US Quarterly GDP"
http://www.bea.gov/newsreleases/national/gdp/gdpnewsrelease.htm

[2013-10-03 12:42] #32 closed, assigned to nobody

[2013-10-07 08:32] iandiaye opened #34 "Reseau de Dakar Dem Dikk (DDD)"
Le reseau actuel des Bus du service public des transports Dakar Dem Dikk.

[2013-11-24 13:01] #33 closed, assigned to nobody

[2013-11-24 13:10] rgrp opened #35 "Euribor"
http://www.euribor-rates.eu/euribor-rates-by-year.asp

We probably don't need all 15 rates they used to have and which they are now reducing:

I suggest we record the following rates at monthly intervals (which is what you get from historical data)

* 1-week
* 1-month
* 3-month
* 1-year

Though may turn out getting all 8 is same effort so may as well.

[2013-12-01 00:09] rgrp opened #36 "[meta] Naming Conventions"
Establish various naming conventions both for datasets / repos and also for files.

## Datasets

For country specific datasets:

[code]

## For Data Files

Temporal granularity

[code]

## For README

Intro summary paragraph

Headings (all h2)

* Data - about the data
* Wrangling - how we had to process the data (maybe we should call Processing)
* License - about the license

[2013-12-04 12:42] rufuspollock opened #37 "LEI (legal entity identity) database"
See http://p-lei.org/about

See also http://openleis.com/ - seems to be a dump at http://openleis.com/legal_entities.json and http://openleis.com/legal_entities.xml (not sure about license)

[2013-12-07 21:53] rgrp opened #38 "Country Boundaries (vector)"
This would be country polygons at crudest scale (e.g. 1:110m). Suggest packaging natural earth data (pd etc).

package name: `geo-boundaries-world-110m`

Long-term: best way would be to get primary natural earth folks to add in "packaging" - they are already on github - see https://github.com/nvkelso/natural-earth-vector. But we need an exemplar ...

What format should we use?

* geojson
* topojso

[2013-12-07 21:58] rufuspollock opened #39 "US Boundaries"
Similar to #38 (country boundaries)

Name: `geo-boundaries-us-10m`

[2013-12-26 14:21] rgrp opened #40 "Purchasing power parity (PPP) dataset"
Source data series would be one or more of:

* PPP conversion factor (GDP) to market exchange rate ratio - http://data.worldbank.org/indicator/PA.NUS.PPP
* PPP conversion factor, GDP (LCU per international $) - http://data.worldbank.org/indicator/PA.NUS.PPP

[2013-12-26 14:54] rufuspollock opened #41 "Mimetypes / Mediatypes / File formats Dataset"
List of mimetypes / mediatypes / file formats.

[2013-12-26 14:56] #41 closed, assigned to nobody

[2013-12-26 14:57] rufuspollock opened #42 "CIPFA budget headings"
Standard chart of accounts for government

[2013-12-26 14:58] rgrp opened #43 "NUTS Administrative Boundaries"

[2013-12-26 14:58] #1 closed, assigned to nobody

[2013-12-26 15:01] rgrp opened #44 "[meta] Get Involved and Helping Out - start here!"
If you interested in getting involved and helping out creating and maintaining datasets then **just add your github username in a comment below plus any relevant info on skills / interests**

[2014-01-23 22:24] rufuspollock opened #45 "CBOE Ticker list"
http://www.cboe.com/publish/ScheduledTask/MktData/cboesymboldir2.csv

[2014-01-23 22:29] rufuspollock opened #46 "EDGAR company identifiers (CIK)"
There's a list here: http://www.sec.gov/edgar/NYU/cik.coleft.c

Would also be nice to have ticket to CIK (which EDGAR must have as they use in their search).

To do this you probably need to do a search by ticker on edgar standard search and request atom output e.g.

http://www.sec.gov/cgi-bin/browse-edgar?CIK=ibm&Find=Search&owner=exclude&action=getcompany&output=atom

Then parse the atom to grab

[2014-02-02 13:02] rgrp opened #47 "(Major) Cities of the World"
See http://www.unece.org/cefact/locode/service/location.html - looks like we would have to scrape (and not sure what the license is ...)

See also #30 (city population time series) - this provides a nice CSV file so maybe we extract from that ...)

[2014-03-08 16:30] rgrp opened #48 "Earth Temperature Time Series"

[2014-03-26 01:53] jalbertbowden opened #49 "registry - quantarctica (qgis antarctica data)"
http://www.quantarctica.org/

[2014-04-10 18:52] aliounedia opened #50 "acces to write in datasets directories"
Hi , can I have acces to add this datapackage  https://github.com/aliounedia/senegal-companies to the register ?

[2014-04-12 16:37] rufuspollock opened #51 "Population - UK by NUTS region"
http://datahub.io/dataset/nuts-region-populations

[2014-05-16 15:58] rgrp opened #52 "Stock Symbols List - US"
A complete list of all NYSE stock symbols (plus company name).

TODO: work out what symbol list(s) we want.

Note EDGAR also have a symbol list: http://okfnlabs.org/blog/2014/03/04/sec-edgar-database.html plus see bloomberg list in #25

[2014-05-25 18:37] rufuspollock opened #53 "Government debt and deficits"
- [ ] US
- [ ] UK
- [ ] EU
- [ ] Japan

[2014-05-25 20:07] rgrp opened #54 "[finances] Investor Flow of Funds"
Data on flows into and out of funds in the US from http://www.ici.org/research/stats

[2014-06-07 12:14] rufuspollock opened #55 "Property Prices (Around the World)"
This issue is about a consolidated set of data (probably at a coarser granularity e.g. country level averages per month or per year).

- [ ] Consolidated - BIS have good consolidate data here (openness isn't super clear). http://www.bis.org/statistics/pp.htm
  - Data file: http://www.bis.org/statistics/pp/pp.xlsx
  - long time series: http://www.bis.org/statistics/pp_long.htm

**Focus on a consoli

[2014-08-03 09:06] rgrp opened #56 "CO2 PPM data"
CO2 parts per million data

See http://www.esrl.noaa.gov/gmd/ccgg/trends/index.html

[2014-08-03 09:08] rgrp opened #57 "Transparency / Corruption Index"
E.g. Transparency International index

@christophergandrud would you be interested in pull this one together? Also are there other political economy datasets that you think would be of general importance and interest (that would merit being "[core datasets](http://data.okfn.org/roadmap/core-datasets)")?

[2014-08-03 09:21] #50 closed, assigned to nobody

[2014-08-23 17:23] rgrp opened #58 "Language codes (ISO 639)"
Nice little dataset

* Source: http://www.iso.org/iso/home/standards/language_codes.htm
* Suggested name: `language-codes`
* Suggested title: Language Codes (ISO 639)
* Suggest we want 2 digit and 3 digit codes (probably separate files?)

[2014-08-24 18:23] rufuspollock opened #59 "IMF World Economic Outlook"
- 2014 - http://www.imf.org/external/pubs/ft/weo/2014/01/weodata/index.aspx
  - http://www.imf.org/external/pubs/ft/weo/2014/01/weodata/WEOApr2014all.xls
- 2011 - http://www.imf.org/external/pubs/ft/weo/2011/02/weodata/index.aspx
  - http://www.imf.org/external/pubs/ft/weo/2011/02/weodata/WEOSep2011all.xls
- (Does not seem to be perma url for weo itself)

[2014-08-27 22:00] rufuspollock opened #60 "Leading Economic Indicators (US + ??)"
Standard leading economics indicators - this should perhaps be combined from other datasets
- Yield curve inversion (3m vs 10y)
- Initial unemployment claims
- Housing starts
- Stock market ...

[2014-08-30 22:10] #59 closed, assigned to nobody

[2014-09-20 14:03] rufuspollock opened #61 "Historical US House Prices"
Available from Shiller's data page: http://www.econ.yale.edu/~shiller/data.htm

Data file is xls: http://www.econ.yale.edu/~shiller/data/Fig2-1.xls

Note we already have case-shiller index so perhaps this is not a core dataset (but nice to have)

[2015-01-03 21:54] rgrp commented on #34
WONTINCLUDE. I'm not sure this merits being a core dataset but it definitely warrants being a community data package.

[2015-01-03 21:54] #34 closed

[2015-01-04 15:53] kejbaly2 commented on #5
Are you looking to target specific commodities only? Here's a quick stab at importing monthly 'external data' from IMF; comes in the form of a ipython notebook.

https://github.com/kejbaly2/ipynotebooks/blob/master/US%20Commodities%20Prices.ipynb

[2015-01-04 16:11] PilipMac commented on #55
Any interest in Ireland? I could put that together for you.

[2015-01-04 18:25] rgrp commented on #5
@kejbaly2 my guess is we probably want to start splitting this stuff out. e.g. we already have oil elsewhere. Can you also share a snippet of the output CSV you produced here (http://datapipes.okfnlabs.org/ may be your friend here if you want a pretty version!)

[2015-01-04 18:25] rgrp commented on #55
@PilipMac definitely interested in ireland - could you open a specific issue for irish property prices.

[2015-01-04 21:42] PilipMac opened #62 "House prices Ireland"
I'd like to put together a dataset for house prices in Ireland similiar to the UK one. The irish property price registery data starts from 2010. I look to see if data is avialable prior to 2010 also.

[2015-01-04 21:49] rgrp commented on #62
@PilipMac the most useful thing here will be historical data - also worth looking at what data BIS has (see link in #55)

[2015-01-04 21:50] PilipMac commented on #62
Thanks @rgrp let me do some research on the BIS site and elsewhere. I'll post an update in a couple of days.

[2015-01-05 19:12] rgrp commented on #53
You get this directly from #59 (IMF WEO) so maybe a sub-item - though we could pull on its own.

[2015-01-05 22:21] rgrp commented on #56
Started work (but very incomplete - e.g. no data): https://github.com/datasets/co2-ppm

Reference: https://github.com/datasets/co2-fossil-global

[2015-01-05 23:04] pwalsh commented on #47
Check this out: https://github.com/mledoze/countries

[2015-01-06 11:51] rgrp commented on #47
@pwalsh thanks for the link. Note we already have the country codes stuff in http://data.okfn.org/data/core/country-list and http://data.okfn.org/data/core/country-codes - #24 and #21

[2015-01-07 21:54] hirntodt commented on #58
Iso.org charge for the download, but link to the library of congress as Registration Authority for this ISO. They again provide a file for download.
http://www.loc.gov/standards/iso639-2/iso639jac.html

I would take this on as a first project for packaging, unless someone stops me..

[2015-01-08 10:24] rgrp commented on #58
@hirntodt all sounds good and you are hereby the current assignee of this packaging work :-)

[2015-01-10 21:46] joehand commented on #52
I created a [data package](https://github.com/joehand/nasdaq-nyse-listings) for this using data available on NASDAQ's FTP (see readme). First time making a data package, let me know if I missed something.

There are a two datasets available on the FTP NASDAQ listings and all other listing. I made a separate fine for just the NYSE listings (from the other dataset).

[2015-01-10 21:49] joehand commented on #52
Oh a few questions too:

* I couldn't find anything about the data license on the NASDAQ site.  Is there a suggested license for the data?
* NASDAQ provides the file creation time but I didn't see that in the datapackage.json schema. Is that something that would be useful to keep track of?

[2015-01-11 06:56] sxren commented on #56
Packaged.

[2015-01-11 09:25] sxren commented on #40
Duplicate links above.  http://data.worldbank.org/indicator/PA.NUS.PPPC.RF looks right for PPP conversion factor (GDP) to market exchange rate ratio. OK? Thanks.

[2015-01-11 09:46] sxren commented on #48
http://www.ncdc.noaa.gov/cag/time-series/global

[1]: http://www.ncdc.noaa.gov/cag/data-info

[2015-01-11 13:55] rgrp commented on #56
@sxren perfect - can you link the data package github repo here - then we'll close.

[2015-01-11 13:56] rgrp commented on #48
@sxren looks great - let's proceed. For this one just boot your own repo and we can then move it to datasets organization!

[2015-01-11 15:11] rgrp commented on #40
@sxren good spot. Key question is which we want (we probably want to pick one and one only here).

[2015-01-11 16:16] sxren commented on #40
The dataset linked to in the first comment is the PPP dataset.

The dataset linked to in my comment just above is the ratio of PPP conversion factor to market exchange rate.

Since the open issue is for the Purchasing power parity (PPP) dataset, how about going with that; i.e., the PPP conversion factor, GDP (LCU per international $) dataset at http://data.worldbank.org/indicator/PA.NUS.PPP.

[2015-01-11 16:20] sxren commented on #56
The data package github repo can be found at https://github.com/datasets/co2-ppm.

Hmm. There isn't a `Close issue` button next to the `Comment` button. Maybe I don't have permission to close the issue.

[2015-01-11 16:41] rgrp commented on #56
FIXED.

@sxren I've made you admin on this repo so you'll now see the close button too! Welcome to being a Core Data "Queue Manager" :-)

[2015-01-11 16:41] #56 closed

[2015-01-11 17:23] sxren commented on #40
Or not. The PPP column group at http://stats.oecd.org/Index.aspx?DataSetCode=PPPGDP is equivilent to http://data.worldbank.org/indicator/PA.NUS.PPPC.RF; i.e. price level ratio of PPP conversion factor (GDP) to market exchange rate.

So, a PPP conversion factor is used to produce a PPP. Does that make sense?

Here is a useful FAQ: http://www.oecd.org/std/prices-ppp/purchasingpowerparities-frequentl

[2015-01-11 18:13] sxren commented on #40
Unrelated to the previous comments, in either case, is it appropriate to tidy the data? That is, move the year values into a year column instead of using year values as column names? Thank you.

[2015-01-11 21:49] PilipMac commented on #10
To register with swift.com you need to work for an institution that already has a BIC it would seem, and that institution needs to authorise your account.  There are a number of websites that list swift codes but none of them are official. We could cross reference them I guess, but I'd rather the data came from official sources.

[2015-01-12 10:15] rgrp commented on #10
@PilipMac if we can't get an official source we perhaps need to start with an unofficial source ...

[2015-01-12 10:15] rgrp commented on #40
@sxren yes totally appropriate - normalizing the date (e.g. "unpivoting") is standard practice as part of the data packaging.

[2015-01-12 21:28] hirntodt commented on #58
ok, I have packaged the data, put it on https://github.com/hirntodt/okfn-language-codes .
Now I am confused on how to proceed (new to the pull request business).

Any pointers ?

[2015-01-12 22:02] PilipMac commented on #10
Okay, I can do that for BIC codes. I'll get going on the IBAN's as well. I've an IBAN question though, as they are bank account numbers is there a data protection issue attached to them? Or are they already in the public domain.

[2015-01-13 11:49] rgrp commented on #58
Next steps:

- Quality check
- Move to github.com/datasets
- Add to core datasets list

Re quality check:

- Check datapackage.json in http://data.okfn.org/tools/validate (you may need raw link)
- Try to view it here - http://data.okfn.org/tools/view

[2015-01-13 12:15] rgrp commented on #10
@PilipMac - re IBAN we're not looking for full IBAN but the IBAN "prefix" for the bank I think.

[2015-01-13 18:54] ThomasG77 commented on #35
The cases to get:

**Current date**

Scrapping of main page
http://www.euribor-rates.eu/euribor-rates-by-year.asp to get result for using first column (01-02-2015 now)
for
* 1-week
* 1-month
* 3-month
* 1-year (12 months)

Launch this task one time per month

**Get historical data**

For 2014, we will have missing data for the 3 first months 2014
At http://www.euribor-rates.eu/euribor-rate-1-week.

[2015-01-13 19:00] rgrp commented on #35
@ThomasG77 good data sleuthing! Do you want to have a go at scraping this. Scripts are preferred in python or nodejs.

[2015-01-13 19:44] rgrp commented on #56
@sxren live at http://data.okfn.org/data/core/co2-ppm

BTW: one last comment - I think title could be sharpened a bit to exclude acronym's like ESRL. I'd go for something like: "CO2 PPM - Concentration of Atmospheric Carbon Dioxide Over Time"

[2015-01-14 01:10] ThomasG77 commented on #35
Hi,

Part for history done at https://github.com/ThomasG77/euribor
Now 2014 available so only one month missing

My remaining concerns are the data structure, the missing descriptions in README and in datapackage.json

You will see below an extract from one of my csv file

[code]

I have embed the `year` in a column whereas this info is also in first column `date`.
What do I do?
I have to remove t

[2015-01-14 01:58] sxren commented on #56
@rgrp wow! very cool. thank you.

comments and corrections welcome. i changed the title in the data package to your suggestion.

[2015-01-14 04:22] sxren commented on #48
ok.

[2015-01-14 08:10] rgrp commented on #35
@ThomasG77 great work - looking really good.

Re year: is year in original file? I would just go with date and leave year out.

- date: should be ISO 8601 formatted where possible e.g. `2014-07-01` rather than than `01-07-2014`.
- rate: decimals should be done with decimal point not commas. Also suggest column name is just `rate` and '%' info goes in the description of that column in the data pack

[2015-01-14 23:29] ThomasG77 commented on #35
* year included at the moment but I would remove according to your feedback
* date: not done but easy to change
* rate: need to do search/replace the commas with decimal point
* for naming convention adopted at the moment, see https://github.com/ThomasG77/euribor/tree/master/data

In fact, I get informations for each maturity for each year (it also includes the data for the 15 rates whereas now it

[2015-01-15 12:29] sxren commented on #40
initial commit of PPP conversion factor, GDP (LCU per international $) dataset pushed to https://github.com/sxren/ppp-gdp.

in the example at http://data.okfn.org/doc/data-package the license for the example is odc-pddl. is that the norm for world bank data?

thanks!

[2015-01-15 17:57] rgrp commented on #35
@ThomasG77 it would be good to cut down the number of files substantially (usefulness to users will trump comprehensiveness for us I think). In general, we should have continuous time series in one file (even if the source does not provide that). So, for each maturity type / granularity can we get that in one single file (and have continuous time series in that) - i.e. all time series data for mon

[2015-01-15 18:36] iotakodali commented on #47
@rgrp what data are you looking for in cities? just the list of them or other indicators like population, area, location too?

[2015-01-15 18:49] iotakodali commented on #30
@rgrp is this dataset ready to package? is there link for the data repo

[2015-01-15 19:09] rgrp commented on #30
@jalbertbowden did you do any work here?

@iotakodali just checking with @jalbertbowden. If he has not done anything I suggest you start a repo - we'll then move it to github.com/datasets/ when ready.

[2015-01-15 19:11] rgrp commented on #47
@iotakodali i guess this one was *just* city names (perhaps plus country they were in) - so really simple (population for cities is #30). We do this sometimes to provide people with date really simply - e.g. you could imagine this being used for a timezone drop-down or something in an app. You may want to strip the data out of #30 or pull from suggested source here.

Also open to suggestions for o

[2015-01-15 19:13] pudo commented on #47
Geonames is a great source for this, cf. http://www.geonames.org/maps/cities.html

[2015-01-15 20:41] hirntodt commented on #58
I can not validate using the validator tool (even the json from the generator tool does not pass).
The view however looks fine :

http://data.okfn.org/tools/view?url=http%3A%2F%2Fhirntodt.de%2FOKFN-core-datasets%2FISO639%2Fdatapackage.json

As the file is rather  small i put both codes in there, it also seems more handy for doing conversions between them.

[2015-01-16 12:56] rgrp commented on #58
@hirntodt can you link the validator result (you can just copy and paste the url).

Aslo I'm wondering what would be most useful to users. Do you think users might prefer 2 files:

- One file just of 2 digit codes and english name
- One file which is everything (what we have)

I'm wondering as I imagine many people just want the 2 digit codes so providing that so they can just "get it" fast is pro

[2015-01-16 13:56] rgrp opened #64 "US CPI data"
Already have Data Package here:

https://github.com/datasets/cpi-us

But:

* Needs a maintainer (someone to make sure it is up to date month after month) - may need to look at automating
* Need to check this is best data possible - are there alternative sources
* Need to think about how to handle revisions (if they happen here)

[2015-01-16 17:24] rgrp opened #65 "NATO phonetic alphabet"

[2015-01-16 17:58] sxren commented on #48
@rgrp wrote a javascript (casperjs) scraper for the noaa data in the comment above tonight, but then....

saw the news on twitter about 2014 being the hottest year on record and found nasa's http://data.giss.nasa.gov/gistemp/tabledata_v3/GLB.Ts+dSST.txt, annual and monthly data in a single text file via http://data.giss.nasa.gov/gistemp/.

1) would it be useful for people using the data to have th

[2015-01-16 19:07] rgrp commented on #48
@sxren good spot. can you do a quick check of the differences. Could be worth having them in the same data package (either as separate data files or in one consolidated file).

[2015-01-17 05:42] sxren commented on #48
@rgrp
The numbers are close to each other.

[code]

[2015-01-17 10:05] rgrp commented on #48
@sxren sounds like pulling both would be good and merging into one file (it sounds like they are broadly comparable).

[2015-01-17 11:29] sxren commented on #48
@rgrp ok.

i guess it should be something along the lines of:

[code]

for reference:

NOAA/NCDC

NASA/GISS

A third dataset—Met Office Hadley Centre observations—is available at http://www.metoffice.gov.uk/hadobs/hadcrut4/data/current/download.html#regional_series.

[code]

however, it has a restrictive license. :(

[1]:http://www.metoffice.gov.uk/hadobs/hadcrut4/terms_and_conditions.html

[2015-01-17 12:22] sxren commented on #40
@rgrp i went with PDDL

the UN data above is for PPP conversion factor, private consumption (vs GDP). so, i'm not planning to include it in this data package.

i'm open to suggestions for a view.

[2015-01-17 18:03] iotakodali commented on #30
@rgrp it is a 6.5 MB csv file with some footnotes for few countries. Do you think we should split them into two files?

[2015-01-18 05:12] sxren commented on #30
@iotakodali maybe one csv with male and female data (~28,000 rows) and one csv with "both sexes" data (~14.000 rows).

[2015-01-18 15:45] hirntodt commented on #58
I included a short, 2 letter code version for quick and easy matching of languages with their code and vice versa.
The full list with all 3 different codes is a  second file now in the package.

Also extended the README.

[Viewer](http://data.okfn.org/tools/view?url=http%3A%2F%2Fhirntodt.de%2FOKFN-core-datasets%2FISO639%2Fdatapackage.json#readme)

[The validator still fails]
(http://data.okfn.org/

[2015-01-18 15:52] rgrp commented on #48
@sxren re Met Office let's note that in the README in data section but not include it at the moment (btw it would be a nice follow up to ping the met office to find out why they are applying this restrictive license - I know that in general they are quite big on open data).

[2015-01-18 15:57] rgrp commented on #58
@hirntodt this is great! Looking good to get this in and a new official core data package :-)

re the validator message, does that make sense to you? What it is saying is the data package name field is invalid as it needs to be lowercase alphanumeric ... (any suggestions on how to improve the validator feedback warmly welcome at https://github.com/okfn/data.okfn.org/issues :-) ...)

[2015-01-18 16:04] hirntodt commented on #58
No, the message does not make sense to me :)

So, how  will the package find its way into https://github.com/datasets ?

[2015-01-18 22:21] rgrp commented on #58
So the message says (with comments from me to explain better):

[code]

Re finding it way in here - that requires you to transfer ownership across (think that will require you to make a relevant person an admin on that repo). We can come to that once we have finalized and checked the datapackage.

[2015-01-18 22:30] rgrp commented on #40
@sxren looks really good. Some quick comments:

- Applying PDDL is appropriate (we can note this is a license for our work and that source data may differ - if possible pointing to that source data license).
- Suggest we drop all NA data - it just clutters up the DB and is a pain for processors including the view system. Happy to hear differently if others think NA is essential (but we should thin

[2015-01-19 22:54] ThomasG77 commented on #35
@rgrp Changes have been done.

The changes are:
* removing the last date column
* change data to make it conform to iso 8601
* rate are dot-based instead of comma-based
* aggregating data by maturity level

The last operation, the aggregation is done after retrieving, with a new  script file.
We have in total 15 files as I get data for all maturity levels including before 2013.
* 1 week
* 2 weeks

[2015-01-19 23:01] ThomasG77 commented on #43
Waiting but I'm interested: it's geodata dataset and I do GIS.
Which level is wanted for NUTS?
We can already use http://ec.europa.eu/eurostat/web/gisco/geodata/reference-data/administrative-units-statistical-units except if licence is not OK (not sure about his, not a lawyer).

[2015-01-20 07:08] rgrp commented on #43
@ThomasG77 what levels are available for NUTS (I'm not an expert either). Re the license: we will sometimes live with a restrictive license (see e.g. ISO codes) but we will prominently note it and make clear that the data package license (if an open one) only applies to our efforts in packaging and that underlying data may have different and more restrictive rights that affect the data package.

C

[2015-01-20 21:44] PilipMac commented on #10
@rgrp Okay. I'm researching data sources this week. Started a new job has delayed things but I'm back working on it now.

[2015-01-21 01:29] sanh2o commented on #65
The wiki article itself lists multiple sources : US Army, ICAO, FAA etc. Probably all could be imported from original sources and combined into one. I am assuming they are accurate due to their importance.

[2015-01-21 01:36] sanh2o commented on #26
A huge list exists on homepage of http://www.airportcodes.org/ but not sure if complete. Many such sites exist but most make you search for specific ones or lists are paginated. I cannot find an 'authentic' source for this.

[2015-01-21 01:41] sanh2o commented on #4
They have 13 product, 14 flows data in 3 different units per their site description starting from 2002 and updated monthly. These can be downloaded as txt / csv or .ivt (?) and there exist 4 or 5 different files with one containing indexes and explanations.

[2015-01-21 02:04] sanh2o commented on #60
Federal reserve economic data - http://research.stlouisfed.org/fred2/
Can export data as .xls e.g. http://research.stlouisfed.org/fred2/series/CPIAUCSL/

There are many sources like Fed, IMF, World Bank. Should one of these be trusted or should all be provided. Someone who works with this kind of data (economist) can probably weigh in on the relative merits. Although a lot of data seems easily acc

[2015-01-21 02:08] sanh2o commented on #31
Is this still open ? I can have a go at this .

[2015-01-21 05:42] rgrp commented on #31
@sanh2o this is indeed still open - please jump in (I believe @jalbertbowden has not had a chance to progress any further here).

[2015-01-21 05:44] rgrp commented on #4
@sanh2o could you summarize here what exactly the 13 product + 14 flows (+ 3 different units are) here (or in a gist or spreadsheet if more useful). We can then make a decision about what to pull.

[2015-01-21 05:47] rgrp commented on #26
@sanh2o great digging. Also worth looking at the list here http://datahub.io/dataset?q=airport as this contains some info on some of the main airport [open data](http://okfn.org/opendata/) options. I am happy for us to scrape / get a dump from another source (even if not the "horse's mouth") but would be good to go for open if we can.

I'd also vote for this as a simple high-priority one to do.

@

[2015-01-21 06:09] rgrp commented on #65
@sanh2o I suggest we pick the default / main one and just go with that (if we can work that out). Simplicity is king!

[2015-01-21 06:43] rgrp commented on #35
@ThomasG77 this is looking *great*.

Let us know when README and datapackage.json are ready (can I suggest linking to validator output and view for your Data Package - http://data.okfn.org/tools/validate + http://data.okfn.org/tools/view)

Re naming, here's a suggestion:

[code]

Aside: Generally, I think we need a convention for naming time series regularity (e.g. monthly etc) and we should proba

[2015-01-21 08:07] rgrp commented on #60
@sanh2o first thing is probably to do research on LEIs (I know the standard are the conference board for US but they seem proprietary now!)

[2015-01-21 14:29] sxren commented on #26
@sanh2o @rgrp in addition to datahub, dbpedia has 8,000+ airport codes.[1][1] is wikipedia's license too restrictive? a sparql query + csv download would be a fast start. their csv downloads need a little cleaning. what fields would be good to start with—i.e., anything in addition to airport name and code? or what's an imagined use case?

[1]: http://getthedata.org/questions/137/where-can-i-get-a-

[2015-01-21 14:39] sxren commented on #26
airports-stub.csv https://gist.github.com/sxren/a30da7c9fb16705232cd

[2015-01-21 15:15] sxren commented on #26
http://ourairports.com/data/ has ~45,000 rows of airports. public domain. csv.

[2015-01-21 22:49] sxren commented on #48
@rgrp initial commit at https://github.com/sxren/global-temp

i pinged the met office about the terms and conditions.

a scraper for the met office dataset is included in the `process.py` script, but the script is set to run without it for now.

[2015-01-22 06:19] sxren commented on #26
It seems as though the (Major) Cities of the World dataset https://github.com/datasets/registry/issues/47, when complete, serve as a good starting point for this (airport code) dataset. Or how comprehensive should this be?

[2015-01-22 06:23] sxren commented on #26
Also, this dataset overlaps with https://github.com/datasets/registry/issues/31. There is an IATA column on, for example, http://www.unece.org/fileadmin/DAM/cefact/locode/af.htm.

[2015-01-22 06:31] sxren commented on #31
@sanh2o Just in case you missed it, there is also a CSV download for this dataset at http://www.unece.org/cefact/codesfortrade/codes_index.html.

[2015-01-22 17:04] sanh2o commented on #31
@sxren, Good find. I am at the halfway stage scraping this, nonetheless good exercise for myself. I will see about how to package this csv.

[2015-01-22 17:06] sanh2o commented on #26
@sxren  Yes , it does overlap. Interesting but i think given their individual importance , we can have two separate packaged datasets

[2015-01-22 21:49] jalbertbowden commented on #31
guys....no excuses for being so behind, but my sincerest apologies....@sanh2o, are you good or do you want me to clean up my mess?

[2015-01-23 01:19] sanh2o commented on #26
I have created the data package in a folder with two csv files and one index file , for some reason i was unable to add license info in the json creator. It is good to go.

[2015-01-23 01:20] sanh2o commented on #31
I have created the data package in a folder with two csv files and one index file , for some reason i was unable to add license info in the json creator. It is good to go.

[2015-01-23 01:22] sanh2o commented on #4
Summary of Jodi data categories
<script src="https://gist.github.com/sanh2o/4a45e93ac52c8c9266dd.js"></script>

[2015-01-23 08:05] rgrp commented on #48
@sxren great stuff. Could you include a link to validate output and to default view i.e. use http://data.okfn.org/tools/validate and http://data.okfn.org/tools/view (I think we could make these standard and add these instructions to our Getting Started doc ...)

@jalbertbowden would you like to have a go at reviewing this data package (checking structure, datapackage.json etc).

[2015-01-23 08:44] sxren commented on #48
@rgrp

Data Package Validator: http://data.okfn.org/tools/validate?url=https%3A%2F%2Fraw.githubusercontent.com%2Fsxren%2Fglobal-temp%2Fmaster%2Fdatapackage.json

DataPackage Viewer: http://data.okfn.org/tools/view?url=https%3A%2F%2Fraw.githubusercontent.com%2Fsxren%2Fglobal-temp%2Fmaster%2Fdatapackage.json

that could get repetitive fast. i guess i need to look at the github issues api.

great ide

[2015-01-23 10:20] seiteta commented on #64
I volunteer to maintain this package as a first project if it's OK for everyone.

[2015-01-24 15:36] hirntodt commented on #58
@rgrp, small misunderstanding on my side. It didn't make sense to me bcause all the "name" tags in the schema were matching the pattern, no matter how often I doublechecked. Took just a weeks break to figure it was the top level tag not matching...

Anyway, it [validates now](http://data.okfn.org/tools/validate?url=http%3A%2F%2Fwww.hirntodt.de%2FOKFN-core-datasets%2FISO639%2Fdatapackage.json)

And

[2015-01-24 18:26] rgrp commented on #31
@sanh2o can you link your work and also can you link the validator and "preview" outputs with your data package from http://data.okfn.org/tools/validate and http://data.okfn.org/tools/view

@jalbertbowden can you review this once @sanh2o submits the links?

[2015-01-25 01:36] jalbertbowden commented on #31
sure thing

[2015-01-25 13:10] rgrp commented on #58
Great. Looks good to go. Could you make me an admin on the repo in github so I can move it to github.com/datasets. We'll then do the last steps of adding to the list and then on the site.

[2015-01-25 13:17] rgrp commented on #64
@seiteta that's fantastic.

[2015-01-25 13:19] rgrp commented on #64
@seiteta are you also up for researching on those questions listed in the main part of this issue and reporting either here, or perhaps better, moving this discussion to the issues on the us-cpi repo.

[2015-01-25 13:41] rgrp commented on #48
@jalbertbowden are you good to review?

@sxren here is [Getting Started doc][gs]  (it was linked in email to original volunteers). Aside: I think near-term we probably want to move away from separate gdoc and get this info integrated into the main website docs http://data.okfn.org/doc/ and http://data.okfn.org/roadmap/core-datasets/ (note all of that content comes from https://github.com/okfn/data

[2015-01-25 13:52] rgrp commented on #26
Just to clarify: who would like to own this data package?

[2015-01-25 15:22] sxren commented on #26
@sanh2o you're welcome to own this data package :)

[2015-01-25 20:32] seiteta commented on #64
@rgrp yes, for sure, I would like to maintain this package and look for alternative sources!

[2015-01-25 21:07] hirntodt commented on #58
ok, done.

[2015-01-26 14:10] sanh2o commented on #26
Ok , not a problem from my side. I can own and maintain this one.

[2015-01-26 15:08] rgrp commented on #64
@seiteta great - i'm going to close this issue and if you could open an issue on the cpi-us repo about researching sources that would be great.

[2015-01-26 15:08] rgrp commented on #64
FIXED. Running and we have a maintainer.

[2015-01-26 15:08] #64 closed

[2015-01-26 15:09] rgrp commented on #55
@PilipMac any news here?

[2015-01-26 15:10] rgrp commented on #55
@sxren interested in taking a look at this one?

[2015-01-26 15:12] rgrp commented on #52
@joehand can you clarify if you just have the nasdaq symbols. I'm starting to think we may want multiple files or even multiple data packages.

I've also updated the description to reflect this todo.

[2015-01-26 15:20] seiteta commented on #64
@rgrp Done!

[2015-02-02 04:18] sanh2o commented on #26
Should get this ready by tomorrow evening CST

[2015-02-03 02:03] sanh2o commented on #26
This is the first data package i have published on my repository. Critiques welcome. I have used the data suggested by @sxren with 45000 codes. The site license says it is public domain but does not specify a particular license. Should someone else check this before it is pushed to Core ?

https://github.com/sanh2o/Airportcodes

[2015-02-03 10:13] rgrp commented on #26
@sxren can you QA and check and then commence (if all good) moving this to github.com/datasets and adding to registry :-)

[2015-02-04 03:46] sxren commented on #26
@rgrp ok.

@san2ho awesome! congrats! :)

using https://github.com/datasets/finance-vix as a reference:
1. README.md
  * how would you feel about adding data, preparation, and license headers and content to your readme?
  * for preparation, you could outline your process. then, if someone wanted to write a script to automate it, they'd have your process to guide them.
  * for the licensing:

1. ai

[2015-02-04 06:16] rgrp opened #66 "Maintain S&P Datasets"
We need a maintainer for these 2 S&P datasets. Maintainer means someone to run the scripts regularly:

* https://github.com/datasets/s-and-p-500-companies [Update daily or weekly]
* https://github.com/datasets/s-and-p-500 - historical S&P data [monthly] (may want renaming!)

[2015-02-04 08:56] rgrp commented on #35
@ThomasG77 I would not include time-series start/end in file name - that can go in description of the resource if appropriate. So suggest we go with naming scheme I suggested for now.

To move this forward can you get the validator and view links in and we'll look at those (really agree on moving this forward and adding more data, if needed, later).

[2015-02-05 20:07] rgrp opened #67 "Open Data Index Results"
https://github.com/okfn/opendataindex/issues/22

[2015-02-05 23:16] andreaswpv commented on #61
I'll be taking a look at this one! How do you define which values to integrate? Everything in the source, then just clean and package, or is there a process to define which fields to have?

[2015-02-06 09:24] rgrp commented on #61
@andreaswpv i'd go for everything in the source by default - you can use your judgment here and check back in if queries.

[2015-02-07 13:14] bluechi commented on #26
@sanh2o tried simplifying your file a couple of days ago at the open data maker night, I removed all airports except the major ones and removed all the details except the name, iata code, and country code. Updated the JSON file accordingly.

[2015-02-07 13:39] bluechi opened #70 "Membership to Copyright Treaties"
Berne Convention
http://www.wipo.int/treaties/en/ShowResults.jsp?lang=en&treaty_id=15

WCT
http://www.wipo.int/treaties/en/ShowResults.jsp?lang=en&treaty_id=16

WPPT
http://www.wipo.int/treaties/en/ShowResults.jsp?lang=en&treaty_id=20

Marrakesh VIP Treaty
http://www.wipo.int/treaties/en/ShowResults.jsp?lang=en&treaty_id=843

There is no proper license on WIPO's website, but this is what the websi

[2015-02-07 18:07] rgrp commented on #70
@bluechi great suggestion and let's go for it.

[2015-02-07 22:27] sxren commented on #26
link to repo with cleaned file in previous comment for reference https://github.com/bluechi/Airportcodes

[2015-02-08 00:48] sanh2o commented on #26
@bluechi , @sxren , thanks for cleaning and updating the file, have a better understanding on the requirements now, @sxren , did you already move the cleaned file to core if updated or is something pending still ?

[2015-02-08 01:04] sxren commented on #26
@sanh2o see my comment—four comments up.

[2015-02-08 11:44] rgrp commented on #26
@sanh2o and @sxren re @bluechi commit you may want to check that is what you want - i imagine you want *all* (registered) airports. Of course, you may also want a separate data file for "major" airports (perhaps international only or something).

[2015-02-08 12:19] rgrp commented on #53
I'm thinking we maybe pull this on its own and interested in others thoughts.

[2015-02-08 12:22] rgrp commented on #43
@ThomasG77 are you interested in taking on - this would be a nice one to do.

[2015-02-08 13:04] rgrp commented on #54
All packaged up https://github.com/datasets/investor-flow-of-funds-us but needs a maintainer!

[2015-02-08 13:05] rgrp commented on #38
@jalbertbowden up for completing this?

[2015-02-08 13:06] rgrp commented on #31
@sanh2o can you drop us the link of the data package you have prepped?

[2015-02-08 15:36] ekoner opened #71 "United Kingdom Standard Industrial Classification of Economic Activities (SIC)"
The UK SIC codes are used to classify businesses and other economic activities. The codes can be found on gov.uk but licensing is unclear. The codes are published as [pdf](https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/376462/condensedSICList.pdf), there may be other formats available.

No SIC codes appear in the search and as I'm working on companies house data, this wo

[2015-02-08 16:29] jalbertbowden commented on #38
sure. i need to do something here.

[2015-02-08 18:03] rgrp commented on #71
@ekoner great suggestion. Would you be up for taking on packaging here?

[2015-02-08 18:04] rgrp commented on #71
By the way if you are looking for way to parse PDF check out https://github.com/okfn/ideas/issues/52

[2015-02-08 18:07] ekoner commented on #71
@rgrp Yes, I will. Thanks for the link.

[2015-02-08 18:26] rgrp commented on #58
@hirntodt sorry for slight delay - had to move from private account to /datasets/.

All looks great and this now added to the Core Datasets list and is live at:

https://github.com/datasets/language-codes
http://data.okfn.org/data/core/language-codes

Congratulations on packaging your first official core dataset!

[2015-02-08 18:26] #58 closed

[2015-02-08 18:30] sxren commented on #71
@ekoner csv format https://github.com/nathanpitman/sic-codes/blob/master/2007/sic_codes.csv

[2015-02-08 18:32] rufuspollock opened #72 "Natural Gas Prices"
Standard (US) natural gas prices and maybe north sea too
- Henry Hub

Stub repo in progress here with links to source data: https://github.com/datasets/natural-gas-prices

**Packager wanted!**

Similar one for gold already done: https://github.com/datasets/gold-prices

[2015-02-08 18:58] bluechi commented on #70
OK, great! I'm working on this.

So I'm going to start with one treaty and then add more treaty details to my data package.

The table will have the date of signature if the treaty was signed by a country (only the original countries sign), then type of instrument by which the country became a member, then the date on which this instrument was deposited, and finally the date for which the treaty e

[2015-02-08 20:36] sxren commented on #70
@bluechi first, rename membershiptoiptreaties.json to datapackage.json. any suggestions on clarifying the naming requirement?

@rgrp would it be worth catching incorrectly named datapackage.json files with a clear error? if so, is https://github.com/okfn/datapackage-validate the right place to do that? thanks.

[2015-02-08 20:42] sxren commented on #48
@jalbertbowden any feedback on this? i see you have a lot of data wrangling experience. a second set of eyes is always appreciated. thanks. :)

[2015-02-08 21:04] sxren commented on #40
@rgrp

* is there some canned text available for noting the data source license may differ?
* NA rows dropped

would it be cool if i add this to the core datasets list and move it to the datasets registry? one change: i'll call the project ppp vs ppp-gdp (the name of my current repo).

thank you.

[2015-02-08 21:21] ekoner commented on #71
Thanks @sxren, I'd already parsed the pdf as an excuse to play with OpenRefine. That link heped me cross-check my work!

[2015-02-08 21:48] sxren commented on #71
@ekoner you're very welcome. :) glad i didn't stunt your learning. and it was kind of you to find a use for it.

[2015-02-08 22:13] rgrp commented on #40
@sxren no canned response but I note that http://data.okfn.org/data/core/language-codes#readme had some reasonable language.

Go ahead on finalizing this and making this "core".

PS: you can now reload data.okfn.org db to pull in updated data by visiting data.okfn.org/admin/reload

[2015-02-08 23:23] bluechi commented on #70
@sxren thanks, now that you told me this I can see that it is clearly stated in the datapackage docs that the JSON file must be named package.json :
http://data.okfn.org/doc/data-package

My JSON file now properly validates
http://data.okfn.org/tools/validate?url=https%3A%2F%2Fraw.githubusercontent.com%2Fbluechi%2Fmembershiptoiptreaties%2Fmaster%2Fdatapackage.json

I'll add the details for other t

[2015-02-08 23:57] sanh2o commented on #31
Sorry for the delay.

https://github.com/sanh2o/UNLOCODE

The file and two index files are located here. One of the files contains description of columns which can be converted to json if needed. JSON creator not working for this csv file.

[2015-02-08 23:59] sanh2o commented on #26
@sxren, i am working on expanding the README

[2015-02-09 00:39] sxren commented on #31
@rgrp how does this relate to/differ from https://github.com/datasets/un-locode ?

[2015-02-09 00:52] jalbertbowden commented on #31
i'll take a gander here in a bit. thanks!

[2015-02-09 00:53] jalbertbowden commented on #48
@sxren thanks, but i'll bet your much better with code than i ;). i will look @ this but its currently third on my plate. hopefully tonight...more than likely tomorrow.

[2015-02-09 01:13] sxren commented on #48
@jalbertbowden there's more to data wrangling than code. ;) that said, code is definitely worth dabbling in.

[2015-02-09 08:45] rgrp commented on #31
@sxren good question. I did not realize we already that much done. @sxren can you check out this vs @sanh2o and resolve and then we can close this item out.

[2015-02-09 10:35] sxren commented on #31
@sanh2o thank you very much for your work on this dataset. please hold off on doing any additional work. @jalbertbowden, please move on to the next item in your work queue. thank you.

[2015-02-09 11:37] sxren commented on #31
@sanh2o ok. i looked at https://github.com/datasets/un-locode. when that repo was committed last august, a link never made it into this issue. @rgrp as a preventative measure, i suggest creating a stub repo for each new issue before anyone begins work on it. even if it's it's an empty repo. what do you think?

back to @sanh2o: you have a description of the data source from the UN in your README.md

[2015-02-09 16:13] jalbertbowden commented on #38
how do you feel about using DIVA-GIS?
super easy to scrape, bulk conversion to geojson/topojson?
i tried out albania's dataset, looks clean, converted easy.
it, and i'm assuming most of the others, have more than one administrative area boundary shapefile, one showing the foreign boundaries (what we want), and each successive dividing the country up into its states/localities, to finer detail.
so

[2015-02-09 16:20] jalbertbowden commented on #38
does natural earth have each jurisdiction broken out into separate files?
i've been over their downloads numerous times trying to clarify and not ask the obvious...but if they have it, i'm totally overlooking it.

if they don't, thoughts on what datasets to use? i was just looking at DIVA-GIS, and i think it'll do nicely, if need be.

[2015-02-09 16:23] nvkelso commented on #38
you'd need to use a command line tool like ogr2ogr (in the gdal family) to
filter &/or clip out the per country information from natural earth.

On Mon, Feb 9, 2015 at 8:20 AM, albert <notifications@github.com> wrote:

[2015-02-09 16:25] jalbertbowden commented on #38
werd. i'll see what i can dig up

[2015-02-10 15:24] sanh2o commented on #31
@sxren , i will make the necessary changes

[2015-02-10 21:21] bluechi commented on #70
I think I have my package ready. Here is the link:
https://github.com/bluechi/membershiptocopyrighttreaties

The JSON file verified properly, I had to edit it manually to add the source details and also correct the field types as it kept on mixing "number" and "date". Maybe an issue to be looked at with the JSON creator.

I also added a README.md file.

Not sure if this qualifies as a Core Dataset

[2015-02-13 14:00] cmsdroff opened #73 "UNECE/CEFACT Package Codes for Transportation"
Coded representations of the package type names used in International Trade (UNECE/CEFACT Trade Facilitation Recommendation No.21)

These are used in all transport software system and would be a useful addition to the core data sets.

I'm currently working on a single window project with HMRC and this dataset will continue to be used in the upcoming WCO (World Customs Organisation) Data Model, tha

[2015-02-13 14:01] cmsdroff commented on #73
I've prepared the data sets and these can be viewed at https://github.com/warrantgroup/unece-package-codes if you have any questions please let me know?

[2015-02-13 14:02] cmsdroff commented on #73
I've also cleansed the data to remove items that are due to be removed.  Happy to assist with the maintenance of this one

[2015-02-13 20:00] rgrp commented on #73
@cmsdroff this is fantastic.

@sxren are you up for doing QA here and then migrating the dataset over.

[2015-02-14 07:00] #40 closed

[2015-02-14 07:32] sxren commented on #73
@cmsdroff wow, this is great.

changes:
- [ ] move `title` in `datapackage.json` to `description`
- [ ] change `title` in `datapackage.json` to e.g., UNECE Package Codes, UNECE/CEFACT Package Codes—something concise
- [ ] change `version` in `datapackage.json` to a string that conforms to the Semantic Versioning requirements (http://semver.org/); maybe `0.21.9` would be appropriate

additions:
- [

[2015-02-14 10:09] cmsdroff commented on #73
Thanks for the feedback I'll make the changes and check the license details and confirm once resolved

Sent from my iPhone

All business is conducted subject to Warrant Group Limited Standard Terms and Conditions 2012, a copy of which is available on request and at www.warrant-group.com/terms.
Registered Office: Warrant House, 157 Regent Road, Liverpool, L5 9TF. Registered in England No. 1941659 V

[2015-02-14 13:37] rgrp opened #74 "[idea] Approval ratings and major election outcomes"
Not sure about this a core dataset - interested in thoughts.

[2015-02-14 15:55] ThomasG77 commented on #35
My datapackage.json is done and OK (http://data.okfn.org/tools/validate?url=https%3A%2F%2Fraw.githubusercontent.com%2FThomasG77%2Feuribor%2Fmaster%2Fdatapackage.json)
Created with `dpm init` so was not really frightened.
The second tool, http://data.okfn.org/tools/view do not work at the moment so I can't test

The README is quite complete, any idea to improve it, in particular about README licenc

[2015-02-14 15:59] ThomasG77 commented on #43
I will begin to work on it. We may need to work on NUTS population overall instead of UK only e.g #51

[2015-02-14 16:28] sxren commented on #35
@ThomasG77 add the `.md` extension to your readme and gitgub will render the markdown to html.

Here is my template note for source data licensing:
`> Refer to the [terms of use](http://example.com) of the source dataset for any specific restrictions on using these data in a public or commercial product.`

See also http://data.okfn.org/data/core/language-codes#readme

[2015-02-14 16:28] rgrp commented on #35
@sxren are you happy to review. Re the error from view that indicates something both wrong (possibly) in the data package and something with data.okfn.org (we should not crash out on a rendering error - i note error is somewhat opaque based on local checking)

[2015-02-14 16:32] sxren commented on #35
@rgrp yes. i'll look at it tomorrow. (Japan)

[2015-02-14 17:54] cmsdroff commented on #73
@sxren just quick one on the license, I checked the un-locode file as its from the same source (UNECE) and the license shows as
"license": "PDDL-1.0",
So would it be safe to assume the same license can be applied to this data, just wondering if I have to check or if I apply the license even though I'm not the natural source?

Once this is clear I can resubmit

Thanks

[2015-02-14 21:49] sxren commented on #73
@cmsdroff

1. `"license": ODC-PDDL-1.0,`. the id for the PDDL license seems to have changed at some point. see the id at http://licenses.opendefinition.org/licenses/ODC-PDDL-1.0.json.
2. as i understand it, the license can be applied to the data package only or to both the data and the data package. is that correct, @rgrp? in this case, again as i understand it, the goal of un/cefact is to create

[2015-02-14 21:57] sxren commented on #48
@jalbertbowden i'd like to add https://github.com/sxren/global-temp to datasets and close this issue, unless you had any comments or suggestions. thank you.

[2015-02-14 21:59] ThomasG77 commented on #35
@sxren Reference to licence done using your template but no really sure and renaming README to README.md done also.

[2015-02-14 23:35] sxren commented on #35
@ThomasG77 the error from the view seems to be caused by `"homepage":""` in the datapackage.json. if it is, it's not your fault. it's a bug. but would you mind delete that line for now? thank you.

@rgrp i traced the issue back to `dataset.homepage.replace('https://', '')` on line 54 of `data.okfn.org/views/)_snippets.html` and then from there to 'normalize()` in `datapackage\datapackage.js`. is t

[2015-02-15 00:01] sxren commented on #35
@ThomasG77 you could be more explicit in the license section and say, "This Data Package..." instead of "This material...."

is the official source http://www.emmi-benchmarks.eu/euribor-org/euribor-rates.html ? i mean, that seems to be the source people would need to refer to for usage restrictions.

and what are you not sure about? happy to help if i can. thank you.

[2015-02-15 09:57] ekoner commented on #74
I'm guessing this is global, not just US?

[2015-02-15 10:07] ekoner commented on #71
It's been a long week chasing down licensing information for this dataset. While I'm still waiting for a reply direct from Companies House, I'm inclined to mark this as open data or at least public data based on information kindly provided by [Owen Boswarva](https://twitter.com/owenboswarva/status/566327126719463424).

The SIC codes used by Companies House are a subset of the codes published by th

[2015-02-15 12:07] sxren commented on #30
@iotakodali are you working on this? it would be useful for #47. thanks!

[2015-02-15 13:01] ThomasG77 commented on #35
@sxren I think everything from your feedback is done. See following :

Removed

Done

The licence to apply. We currently retrieve the content from http://www.euribor-rates.eu with a disclaimer http://www.euribor-rates.eu/disclaimer.asp
whereas the official source behind should be the one you mentioned  http://www.emmi-benchmarks.eu/euribor-org/euribor-rates.html.
So what is the "right" disclaimer

[2015-02-15 13:15] rgrp commented on #71
@ekoner well done on tracking down licensing info and we can include that in the README.md

What do you need in terms of a steer on making the data package? I suggest we'll make this tabular data (i.e. in CSV) and there are instructions here you can follow: http://data.okfn.org/doc/publish (feedback and improvements on those docs are very welcome).

[2015-02-15 13:16] rgrp commented on #48
@sxren I think this is good to go though it would be nice to get a "view" (i.e. a time series graph) in this data package. Right now I think we move it to datasets and add to the core list and then add the view once we have done that.

[2015-02-15 13:19] rgrp commented on #74
@ekoner that's right - though you may limit to countries with good approval ratings data.

[2015-02-15 13:27] ekoner commented on #71
Thanks @rgrp
Questions about the data package creator:
1. I've named the file sic-2007-condensed.csv - does this meet naming conventions and where can I find these?
2. Title - Again, is there a naming convention for this? I've gone with "UK condensed standard industrial classification of economic activities (SIC) 2007 codes"
3. Name - Same as title? Abbreviated? I've used "UK Condensed SIC 2007"
4

[2015-02-15 14:10] #48 closed

[2015-02-15 14:10] sxren commented on #48
@rgrp view added

[2015-02-15 14:22] sxren commented on #35
@ThomasG77 awesome! thank you very much.

i don't know, i'd reference the upstream data source http://www.emmi-benchmarks.eu/euribor-org/euribor-rates.html

i added you as a collaborator to datasets. whenever you're ready, please go to https://github.com/ThomasG77/euribor/settings and transfer ownership to datasets.

thanks, again!

[2015-02-15 14:27] sxren commented on #26
@sanh2o thanks for all your work on this, so far. is there anything i can do to help you move forward?

[2015-02-15 14:50] sxren commented on #71
@ekoner

1.your name follows the conventions i've seen practiced (lowercase, dash delimited). i don't know if they're documented. @rgrp http://dataprotocols.org/simple-data-format/ is down.
1. title: convention seems to be concise, title case: e.g., `UK SIC 2007 Codes`? more information can be provided in a description field.
1. name: lowercase, concise, dash delimited: e.g., uk-sic-2007, uksic
1.

[2015-02-15 15:38] rgrp commented on #35
@ThomasG77 our standard approach re license as per this thread is http://discuss.okfn.org/t/copyright-on-data-sources/189/7 is:

- Apply "our" preferred open license to the data package (as in license in license field)
-  Note clearly in License section of README that:
  * this is license is covering any "rights" we the packager have
  * that there may be underlying rights in the data from the sou

[2015-02-15 16:03] sxren commented on #35
@rgrp

[2015-02-15 16:04] sxren commented on #35
Accidentally closed the issue.

[2015-02-15 16:26] ekoner commented on #71
Right, just stuck validating the [json file](https://www.dropbox.com/s/ff12urpx3zn9rfr/datapackage.json?dl=0). Unsure if Dropbox is adding some rubbish to the file or I've made an error editing.

[2015-02-15 16:44] sxren commented on #71
@ekoner
use:
https://www.dropboxusercontent.com/s/ff12urpx3zn9rfr/datapackage.json?dl=1
(or https://dl.dropboxusercontent.com/s/ff12urpx3zn9rfr/datapackage.json)

changing `dl=0` to 'dl=1` or replacing `www` with `dl` gives you the raw link to the file.

a comma is missing at the end of the description line.

[2015-02-15 17:13] ekoner commented on #71
Thanks @sxren - I've fixed that one and now getting `[SCHEMA] String does not match pattern: ^([a-z0-9\.\_\-])+$`. Any ideas?

[2015-02-15 19:54] ThomasG77 commented on #35
I have update the README.md as below:

Note that underlying rights, terms and conditions in the data from the source are unclear and may exists.

Feel free to comment.

I tried to change repo ownership but it keeps saying `You don't have admin rights to datasets`
I'm listed as contributor hence the possible issue. You can also fork my repository if you don't want to change my Github rights in the

[2015-02-16 01:15] sxren commented on #71
@ekoner See my comment in https://github.com/datasets/registry/issues/71#issuecomment-74420232 above about the name. `3`.

[2015-02-16 01:34] sxren commented on #35
@ThomasG77 oops! apologies. you can transfer it now.

[2015-02-16 08:29] ekoner commented on #71
Thanks so much @sxren! Now valid:

[Validation Link](http://data.okfn.org/tools/validate?url=https%3A%2F%2Fdl.dropboxusercontent.com%2Fs%2Fff12urpx3zn9rfr%2Fdatapackage.json)
[View Link](http://data.okfn.org/tools/view?url=https%3A%2F%2Fdl.dropboxusercontent.com%2Fs%2Fff12urpx3zn9rfr%2Fdatapackage.json)

Do I need to publish now?

[2015-02-16 08:38] rgrp opened #75 "[meta] Improving Documentation (Feb 2015)"
This is a generic issue for collecting items re better documentation and workflow

Once we have clear issues and/or recommendations we should probably open an issue on https://github.com/okfn/data.okfn.org/issues and then fix. Relevant issues:

* [super] Publishing data tutorials / patterns - https://github.com/okfn/data.okfn.org/issues/91
* Publishing FAQ - https://github.com/okfn/data.okfn.org/i

[2015-02-16 08:41] rgrp commented on #75
@ekoner asked in #71

1. I've named the file sic-2007-condensed.csv - does this meet naming conventions and where can I find these?
  * **We do not have these and we should add them to (new) http://data.okfn.org/doc/publish-faq**
2. Title - Again, is there a naming convention for this? I've gone with "UK condensed standard industrial classification of economic activities (SIC) 2007 codes"
  * **Di

[2015-02-16 08:42] rgrp commented on #75
We need better instructions re license application and recording source license info - see e.g. #35 discussion

[2015-02-16 08:57] rgrp commented on #73
@sxren my recommendation is to apply the preferred license and then note in license section if you think there are issue with licensing the data under that license (e.g. that base data has rights in it that aren't themselves licensed in suitable way).

I really think we need to extend FAQ here - https://github.com/okfn/data.okfn.org/issues/154

[2015-02-16 09:32] cmsdroff commented on #73
@rgrp I think that after reading the PDDL should be fine, i've updated the realm and data package.json files with the license info and enhanced some of the descriptions.  Think this could be ready to publish if you are both happy @sxren ?

[2015-02-16 14:42] ThomasG77 commented on #35
Ownership changed. URL atm is https://github.com/datasets/euribor

[2015-02-17 05:35] sxren commented on #35
@rgrp does this go in core-list or catalog-list?

[2015-02-17 05:43] sxren commented on #73
@cmsdroff your datapackage.json doesn't validate http://data.okfn.org/tools/validate?url=https%3A%2F%2Fgithub.com%2Fwarrantgroup%2Funece-package-codes%2Fblob%2Fmaster%2Fdatapackage.json in schema, you're missing a comma after the description in the codes field.

@rgrp sorry to trouble you with another question, but what is the preferred workflow for getting this data package into datasets? cmsdrof

[2015-02-17 06:03] sxren commented on #71
@ekoner oh, cool! your csv is being read. so, you answered my question from https://github.com/okfn/data.okfn.org/issues/153#issuecomment-74619064. :smiley_cat:

1. are the files in a public folder?
2. the mess at the top of the view is usually a result of not having a README.md in the data package folder. is there a README.md in the folder? if not, would you mind adding one? thanks!

[2015-02-17 06:04] sxren commented on #71
@ekoner oh, no. my bad. the csv is not being read. :frowning:

[2015-02-17 06:05] sxren commented on #71
@ekoner would you be cool with putting your data package on github?

[2015-02-17 07:27] ekoner commented on #71
@sxren no worries, I've created a [repo](https://github.com/openyorkshire/uk-sic-2007-condensed).

[2015-02-17 07:41] rgrp commented on #35
@sxren it has to go into both (if it is core - which it is).

[2015-02-17 07:53] rgrp opened #76 "[meta] Workflow for Datasets into Core"

[2015-02-17 07:54] rgrp commented on #73
@sxren can you raise in https://github.com/datasets/registry/issues/76 and will answer there

[2015-02-17 07:57] sxren commented on #76
@rgrp sorry to trouble you with another question, but what is the preferred workflow for getting this data package into datasets? cmsdroff -> me -> datasets? something else? thanks.

[2015-02-17 08:00] sxren commented on #35
@ThomasG77 would you add https://github.com/datasets/euribor to https://github.com/datasets/registry/blob/master/core-list.txt and then close this issue? thank you!

[2015-02-17 08:02] rgrp commented on #76
@sxren great question. Basic answer is yes. Standard workflow is:

* Someone creates their repo and gets it to ready state
* Repo gets reviewed
* Approved
* Moves to github.com/datasets (they given admin to an Editor such as @sxren or me (or they transfer ownership), who then moves it to datasets)
* we add to catalog-list.txt and core-list.txt

I could imagine a model going forward where we start

[2015-02-17 09:16] sxren commented on #71
@ekoner awesome! would you transfer that to datasets and then add the transferred repo (https://github.com/datasets/uk-sic-2007-condensed) to https://github.com/datasets/registry/blob/master/core-list.txt and https://github.com/datasets/registry/blob/master/catalog-list.txt ? thank you!

[2015-02-17 09:38] cmsdroff commented on #73
@sxren your now admin for the data repo and changes have been made and schema validates, thanks to both of you for your help getting to this stage :)

Sent from my iPhone

All business is conducted subject to Warrant Group Limited Standard Terms and Conditions 2012, a copy of which is available on request and at www.warrant-group.com/terms.
Registered Office: Warrant House, 157 Regent Road, Liverp

[2015-02-17 10:08] sxren commented on #73
@cmsdroff thank **you** very much. transferred and added to datasets.

[2015-02-17 10:08] #73 closed

[2015-02-17 15:54] sanh2o commented on #26
@sxren, Sorry for the delay, i followed your instructions, updated README, repository structure and validated datapackage.json by comparing with the standard OKFN example you provided.

[2015-02-17 16:40] sanh2o commented on #31
@sxren, i have made the necessary changes.

[2015-02-17 19:31] ekoner commented on #71
All done @sxren - could you sanity check for me?

Cheers

[2015-02-18 01:06] sxren commented on #71
@ekoner your dataset is up at http://data.okfn.org/data/core/uk-sic-2007-condensed :)

* i added the data directory to the path of the resource.
* i removed the file extension from the resource name—i missed that before.

this issue is closed. thank you very much!

[2015-02-18 01:06] #71 closed

[2015-02-18 05:39] sxren commented on #26
@sanh2o awesome!

in your readme:

* [ ] add `## ` before each second level header. for example, change `Data` to `## Data`.

* [ ] add square brackets around each link title and remove the space between the title and the link. for example, change `IATA (http://en.wikipedia.org/wiki/International_Air_Transport_Association_airport_code) ` to `[IATA](http://en.wikipedia.org/wiki/International_Air_Tr

[2015-02-18 05:46] sxren commented on #31
@sanh2o the readme was already updated. let's leave it as it is for now. closing this issue.

[2015-02-18 05:46] #31 closed

[2015-02-18 23:27] sanh2o commented on #26
Done !

[2015-02-19 00:32] sxren commented on #26
@sanh2o awesome! thank you! what happened to your list of airports?

[2015-02-20 21:16] jalbertbowden commented on #38
think i found it here. ogr2ogr -f "ESRI Shapefile" -where 'SOVISO="FR"' FRANCE_110m_admin_0_co
working on this now

[2015-02-22 02:04] sanh2o commented on #26
@sxren , not sure what you are referring to ? an index file ?

[2015-02-22 02:26] sanh2o commented on #65
There are atleast 4 different standards with slightly different pronunciations , probably combine all into 1 ? The thing is i can simply get the data from wiki and add links to original sources in case standards change , which may not happen overnight.

[2015-02-22 08:30] rgrp commented on #65
@sanh2o do we have a sense of the most standard? I'd also do the simplest thing possible to get started - we can always add more later. So I'd just pick whatever is easiest to get or you think is most important and get that in and we get it up. We can then add more of the variations later.

[2015-02-22 18:21] sanh2o commented on #65
@rgrp Ok, looks like at least 2 standards are more important than others , i will add it first in a package form.

[2015-02-22 21:05] rgrp commented on #76
@sxren would also be nice to tweet each new dataset published. If i give you access to @okfnlabs twitter account would you be up for doing that?

[2015-02-22 21:29] rgrp commented on #14
@bluechi interested in this one?

[2015-02-22 21:29] rgrp commented on #70
@sxren are you happy to review?

[2015-02-22 22:09] rgrp commented on #61
@andreaswpv how are you doing?

[2015-02-22 22:11] rgrp commented on #47
@iotakodali how are you doing here?

@pudo do you know where you can get the raw data dump for that

@all: any thoughts on exactly what is most useful in this dataset (e.g. city name (english and local language), centroid (lon, lat) ...)

/cc @sxren

[2015-02-22 22:12] rgrp commented on #43
@ThomasG77 how are you doing here - note this is NUTS boundaries *not* populations per NUTS area

[2015-02-22 22:12] rgrp commented on #39
@jalbertbowden how's it going here?

[2015-02-22 22:40] ThomasG77 commented on #38
Is it working on your side? I've forked the repository and automated extraction per countries and added the shp files at https://github.com/ThomasG77/geo-boundaries-world-110m
The only remaining part IMO is documenting all fields.

As I was working on the fields part, I was wondering if there is a way to declare a schema and make a reference in datapackage (a bit like in xml). I produced the per c

[2015-02-22 22:42] ThomasG77 commented on #43
I will do it this week (end of the week because already busy before)

[2015-02-23 01:54] jalbertbowden commented on #39
this and the countries one seem too easy. but i keep getting jvm.dll error when i run ogr2ogr commands in gdal. i'm either going to wipe this machine and start over or try on another box. i'll post something tonight or tomorrow

[2015-02-23 06:06] sxren commented on #70
@bluchi this is a great resource.

now, four columns are added for each treaty: `Treaty Name - Signature Date`, `Treaty Name - Instrument Type`, `Treaty Name - Instrument Date`, and `Treaty Name - In Force Date`. as a raw data source, it would be more useful to have five columns: `Treaty Name`, `Signature Date`, `Instrument Type`, `Instrument Date`, and `In Force Date` with a row for each country

[2015-02-23 06:19] sxren commented on #26
@sanh2o the full-list csv has been replaced with a major airports list. would you be able to add the full list back and clean it so it has the same three columns as the major airports list currently in the repo? thank you.

[2015-02-23 06:28] sxren commented on #76
@rgrp that would be nice. i'm not up for that right now but thank you for the offer.

[2015-02-23 07:21] pwalsh commented on #47
Raw data for genomes: http://download.geonames.org/export/dump/

Useful:

* Name
    * English
    * Common
* Country
    * Name
        * English
        * Common
* Region (region in country, for example state in Australia)
    * Name
        * English
        * Common
* Population
    * Time series
* Centroid
* GeoJSON
    * Timeseries

[2015-02-23 10:41] bluechi commented on #70
@sxren OK, this makes sense, let me try to do this one more time! (Y)

[2015-02-23 10:58] bluechi commented on #14
@rgrp this looks doable, but I'm not sure I understand what you mean by "link to authoritative mimetype" in suggested schema. Is this a link to the template for each type on IANA's website?

Also, should the identifier include the top level type name, or should that be in a different column?

[2015-02-23 11:34] sxren commented on #70
@bluechi great! thank you very much.

* [ ] tidy/unpivot csv data (see https://github.com/datasets/registry/issues/70#issuecomment-75493444)
* [ ] rename repo with words separated by dashes (readability); e.g., membership-to-copyright-treaties or copyright-treaty-members
* [ ] rename csv with words separated by dashes (readability); e.g., membership-to-copyright-treaties or copyright-treaty-member

[2015-02-23 12:01] rgrp commented on #76
@sxren np - i may try to make a bot!

[2015-02-23 13:04] sxren commented on #76
@rgrp great plan :) it's good work for a bot. reading https://developer.github.com/webhooks/   and https://github.com/github/github-services/blob/master/lib/services/twitter.rb maybe as simple as adding a .git/hooks/post-commit script

[2015-02-23 19:38] jalbertbowden commented on #38
no i'm still having an issue. jvm.dll not found. thinking about wiping the desktop and starting over.
agree about duplication....if you would like me to help with the fields, lmk

[2015-02-24 21:01] bluechi commented on #70
@sxren I made all the changes you recommended in the post above. The license I picked is PDDL.

The package can be found here:
https://github.com/bluechi/membership-to-copyright-treaties

[2015-02-25 02:54] sxren commented on #70
- [x] resource schema is tidy/unpivoted
- [x] datapackage.json validates
- [x] readme loads in view
- [x] no formatting mistakes in readme
- [x] data loads in view

@bluechi please transfer ownership to me and i'll move the dataset into the datasets repository. thank you very much!

[2015-02-25 03:26] andreaswpv commented on #61
Right. Package is ready, but I think the data is copyright protected, so I cannot publish it.

[2015-02-25 07:33] rgrp opened #78 "Quality adjusted urban land prices time series"
Urban land prices (price per sq m or per sq ft) for e.g. major cities over a reasonable span of time. Would like to quality adjust if possible (just for internal quality - not improvements in transportation or similar).

[2015-02-25 07:35] rgrp opened #79 "Agricultural land prices time series"
Want agricultural land prices over time (for as long as possible) in major agricultural areas.

In terms of areas we could start with easy ones in terms of data availability (e.g. US midwest, UK) and move on to others e.g. Russia / Ukraine cornbelt, Australia, China, India etc etc.

[2015-02-25 07:40] rgrp commented on #35
@sxren note you also need (atm) to add to the catalog-list.txt as well. I've just done that and data is now live on: http://data.okfn.org/data/core/euribor (note due to number of data files the pages locks initially due to JS creating the tables!).

One last thing: this is a dataset that would really benefit from having a "view" e.g. let's plot 3m euribor over time. @sxren would you be up for walk

[2015-02-25 07:43] rgrp commented on #74
@ekoner are you up for researching this one?

[2015-02-25 07:52] rgrp commented on #61
@andreaswpv in general this kind of data will likely not get legal protection. I think we should go ahead and publish, if necessary explaining in the README where you think there are concerns.

[2015-02-25 11:11] bluechi commented on #70
@sxren just made the transfer request, thanks!

[2015-02-25 17:49] sanh2o commented on #26
@sxren, thanks for noticing it, i merged a pull request and did not notice the change. I have the full list back along with reference file, updated readme and datapackage. Your guidance is much appreciated. I will ensure i prepare the next data repository with the best practices.

For the datapackage.json i have added all the attribute types as 'string', should this be changed for numeric types ?

[2015-02-25 21:41] bluechi commented on #14
@sxren I prepared a package for this dataset here:
https://github.com/bluechi/media-types

I used the names used in IANA's page, so I called I used the headings "Media Type", "Media Subtype", "Template", and then I added the "Extension" details from the page on Apache's website.

The "Extension" is meant to be a space separate list, I put "array" as the time in the schema - not sure if what I've d

[2015-02-26 06:08] sxren commented on #70
@bluechi thank you very much! your data is up at http://data.okfn.org/data/core/membership-to-copyright-treaties

[2015-02-26 06:08] #70 closed

[2015-02-26 07:09] sxren commented on #35
@tryggvib

1. catalog-list.txt, thank you. i'll remember that.
1. is there a view property that can be set to use a resource other than the first resource? or would 3m-monthly need to be moved to the first position in the resources array?
1. when you say general docs, is that data.okfn.org/doc?

thank you.

[2015-02-26 07:29] rgrp commented on #35
@sxren re the view property that's a good question if you can reference other resources. It should be really easy to do so though looking at relevant code https://github.com/okfn/data.okfn.org/blob/master/public/js/app.js#L37 and https://github.com/okfn/data.okfn.org/blob/master/public/js/catalog.js#L30 I think it may be hardcoded to the first resource. This is actually very easy to fix.= and we s

[2015-02-26 07:39] sxren commented on #26
@sanh2o learning is fun. :) i'm learning, too.

data directory
- [ ] remove countries.csv
- [ ] remove regions.csv

airport-codes.csv
would you be up for cleaning this file? for example, removing some of the columns?

datapackage.json
- [ ] fix missing comma on line 88
- [ ] if the id field is kept, it should probably be an integer http://dataprotocols.org/json-table-schema/#field-types it looks l

[2015-02-26 11:01] sxren commented on #14
@bluechi great stuff. thank you.

i can imagine use cases where having the media type and subtype split would be useful. that said, there are also use cases where a single field would be useful. @rgrp any thoughts on splitting the field vs having a single id field?

extension field:
a space separated list would be a string (a space delimited string).

aside:
in the datapackage.json, the word array

[2015-02-26 14:28] sxren commented on #35
@rgrp thank you.

see https://github.com/okfn/data.okfn.org/pull/158

re: views documentation, i'll make a PR in the next couple of days.

[2015-02-26 15:23] rgrp commented on #14
I think we probably want one column with the media type and subtype together with a / as that is normal.

[2015-02-26 20:27] hirntodt commented on #13
I can take this one.The data is already in csv format.

i will research what's actually in there and get back for discussion of what we want to include etc.

[2015-02-28 02:49] Yannael commented on #57
I have just tried my first package for this one, see https://github.com/Yannael/corruption-perceptions-index

[2015-02-28 16:18] bluechi commented on #14
@sxren @rgrp thanks guys, I added a new column for Media Type / Media Subtype and kept the split columns, too. I didn't know what to name the header of new column, so I called it "Media Type / Media Subtype". Let me know if this requires changing.

I also changed the "Extension" type in the schema to "string" and used straight quotes.

The updated package can be seen here
https://github.com/bluech

[2015-03-02 09:19] rgrp commented on #14
@bluechi one quick question - do you have a script or similar you used to prep this (how did you convert the data over)? It would be worth including that or writing up your preparation steps in a section called "Preparation" in the README (see README section of FAQ: http://data.okfn.org/doc/publish-faq)

[2015-03-02 09:20] rgrp commented on #57
@Yannael fantastic! Can you check the data package in the validator http://data.okfn.org/tools/validate and previewer http://data.okfn.org/tools/view and drop links to the results in here.

[2015-03-02 19:35] Yannael commented on #57
It is now validated and view seems correct.

On Mon, Mar 2, 2015 at 3:20 AM, Rufus Pollock <notifications@github.com>
wrote:

--
=========================================
Yann-Aël Le Borgne
Machine Learning Group
Université Libre de Bruxelles

http://mlg.ulb.ac.be
http://www.ulb.ac.be/di/map/yleborgn
=========================================

[2015-03-03 02:26] sxren commented on #14
@bluechi looking at https://tools.ietf.org/html/rfc4288#page-19, what do you think of labeling `xxx/yyy` as Media Type (as is used in the subject line of a template), `xxx` as Type, and `yyy` as Subtype?

[2015-03-03 02:29] sxren commented on #26
@sanh2o any questions?

[2015-03-03 04:00] sxren commented on #35
@ThomasG77 i made a [PR](https://github.com/sxren/data.okfn.org/commit/53ad0fe2145d1ec3c1795f8259e8fa95d154d1c8) for documentation on views. please have a look and let me know if you have any questions. thank you.

[2015-03-03 19:47] seansummers commented on #2
I haven't agreed to any license, but is the data the same as [2015 Code Descriptions in Tabular Order ZIP, 1MB](http://www.cms.gov/Medicare/Coding/ICD10/Downloads/2015-code-descriptions.zip) from the [Centers for Medicare & Medicaid Services](http://www.cms.gov/Medicare/Coding/ICD10/2015-ICD-10-CM-and-GEMs.html)?

[2015-03-03 21:30] bluechi commented on #14
@rgrp I actually copied the data manually and then sorted them in Google Sheets using simple expressions. I added a section to the README file regarding "Preparation".

@sxren thanks for the suggestion, this makes sense. I update the files.

The files can be seen here:
https://github.com/bluechi/media-types

[2015-03-04 06:30] sxren commented on #14
@bluechi awesome!

you can go into a little more detail on your processing section if you're up for it. imagine you're explaining it to someone in steps. for example: first, x number of csv files are copied from http://example.com and merged into one file. next, a space delimited text file is copied from http://example2.com. lines prefixed by a hash (pound) are removed from the text file. and so o

[2015-03-04 06:49] rgrp commented on #2
@seansummers I'm not totally sure - could you do a quick compare? Also let's package up the 2015 Code Descriptions since we have them (and if they turn out to be the same all the better).

[2015-03-05 21:19] sanh2o commented on #26
Oh, i completed it. Should it be pushed to a different directory now. Made the recommended changes, but kept all the columns as i thought most of them were necessary. Felt the same about the other two support files, but we can ignore that for now.

[2015-03-05 23:29] sxren commented on #26
@sanh2o great! thanks for all your work on this. the datapackage.json does not validate. the format section of the readme should be updated. the csv file should be cleaned—for example, the id column should be removed. if you don't want to continue working on this, transfer the repository to me and i'll take it from here. if you do want to continue working on this, i'm happy to provide further guid

[2015-03-06 21:31] sanh2o commented on #26
So i have removed some of the columns that may seem unnecessary but given that this is airport data , a lot of other information is necessary (location, other codes, elevation , Geog indicators etc.). I am not sure why the datapackage.json does not validate (HTTP Error code 404), i have used the tool OKFN provides and saw that even the two examples (finance and s&p) datasets' datapackage.json is n

[2015-03-06 22:44] sxren commented on #26
@sanh2o share a link that is giving you a 404.

[2015-03-14 18:08] bluechi commented on #14
@sxren thanks for the tips, I expanded the preparation notes, renamed the header "Extension" to "Extensions" and updated he JSON file accordingly. The updated package can be seen here:
https://github.com/bluechi/media-types

[2015-03-14 22:37] sxren commented on #14
@bluechi thank you very much. if you transfer ownership to me, i'll add this to datasets.

[2015-03-15 08:30] bluechi commented on #14
@sxren great, made the transfer request.

[2015-03-15 22:05] sxren commented on #14
@bluechi great! your dataset is up at http://data.okfn.org/data/core/media-types thank you, again!

[2015-03-15 22:05] #14 closed

[2015-03-15 22:09] sxren commented on #26
@sanh2o here's an example link to the finance-vix dataset validation page http://data.okfn.org/tools/validate?url=https%3A%2F%2Fraw.githubusercontent.com%2Fdatasets%2Ffinance-vix%2Fmaster%2Fdatapackage.json

does that help?

[2015-03-17 03:34] sanh2o commented on #26
I am using the direct link : https://github.com/sanh2o/airport-codes/blob/master/datapackage.json
After using the raw link as you mentioned i got the error 'invalid', string does not match the pattern. Sorry for the delay , i will ensure this package is done with this weekend.

[2015-03-19 05:42] EnricGTorrents commented on #54
I can take care of it, data needs to be collected every first day of the month?

[2015-03-19 05:43] EnricGTorrents commented on #66
I could also maintain these two, no problem.

[2015-03-19 06:50] rgrp commented on #54
@EnricGTorrents that's right - you need to run the script every month or less (that way we get full weekly data). Do you want to try running the script now and submitting a pull request. I can then give you full write access to the repo: https://github.com/datasets/investor-flow-of-funds-us

[2015-03-19 07:10] rgrp commented on #66
@EnricGTorrents that would be great. Do you want to fork them now and try and do the regular update and then do a pull request. Especially on the S&P Companies you may need to sort some stuff by hand in my experience. Once we have done one we can merge it in.

[2015-03-20 15:16] EnricGTorrents commented on #54
Got these errors with dataconverters and messytables when running the script on Python 3.4.3:

[code]

Right now I am on Windows 8, I will try again later on another platform and / or Python version. Not sure what is causing the problem, any suggestions on how to proceed?

[2015-03-20 17:17] EnricGTorrents commented on #54
Ok, managed to run the script in Linux (Debian Wheezy) with Python 2.7.3. Seems that the problem on Win8 / Python 3.4 had to do with lxml. On a Debian cleanslate installation got to get it first (apt-get install libxml2-dev libxslt1-dev python-dev / apt-get install python-lxml). The package unicodecsv is also required but not included in the requirements.txt. I will now send a pull request with th

[2015-03-20 17:31] rgrp commented on #14
w00t! well done @bluechi and @sxren

[2015-03-20 17:39] EnricGTorrents commented on #66
Yes, it's better to merge once I am familiar with the process. Just sent an update on the Investor Flow of Funds package, later on today I will send you a pull request on these two.

[2015-03-27 16:35] bnvk opened #81 "Dataset of Global News Organizations"
@rgrp would a dataset of global news organizations be something you would include here? Do you have any / know of anyone else procuring such datasets?

If you don't have one @shidash and I will work collecting some soon, so leave this issue open for later inclusion!

[2015-03-28 16:48] rgrp commented on #81
This is a great idea! Let's put it together.

[2015-03-31 21:08] ThomasG77 commented on #38
@jalbertbowden Can you help for the fields? See https://github.com/ThomasG77/geo-boundaries-world-110m/blob/master/datapackage.json#L30
I've some missing fields undocumented (I will duplicate fields metadata for each country file after)
@nvkelso Any feedback, additions as your are the original data producer?

[2015-04-01 05:01] nvkelso commented on #38
What do you need help with? What fields need documenting?

On Tue, Mar 31, 2015 at 2:08 PM, Thomas Gratier <notifications@github.com>
wrote:

[2015-04-01 07:59] ThomasG77 commented on #38
The fields I mentioned are from https://github.com/ThomasG77/geo-boundaries-world-110m/blob/master/datapackage.json#L31 to https://github.com/ThomasG77/geo-boundaries-world-110m/blob/master/datapackage.json#L407
Each of them looks like below
[code]
As you see, I always have the field `name` and `type. The undocumented parts are in `title` and `description`. In some cases, I was able to guess (or I

[2015-04-02 09:59] bluechi opened #82 "Have the "date" data published/updated mentioned on the package page?"
I noticed that the data package does not mention the date/time of the most recent update to the data, I think this will be helpful so that those who want to use the data have an idea of how recent this data is.

[2015-04-02 10:03] rgrp commented on #82
@bluechi we had it but it got removed https://github.com/dataprotocols/dataprotocols/issues/83 - the basic logic is that last modified is often not modified so it becomes stale. For git based data packages you can just look at commits (which it would be nice to show on data.okfn.org/data ...)

[2015-04-02 10:11] bluechi commented on #82
@rgrp Thanks for the quick response! Yeah, showing something like"last commit" date could be helpful.

[2015-04-03 16:23] sanh2o commented on #26
I have been away from a laptop for a while. I have tried to get this working with different combinations of type names but always get the same error.

[SCHEMA] String does not match pattern: ^([a-z0-9\.\_\-])+$

I think it is better i work on something afresh as i am not sure what is happening here. Feel free to fork and correct it if you want to. Thank you for your patience.

[2015-04-04 12:49] rgrp commented on #26
@sanh2o the answer there is simple - the `name` value in datapackage.json can't have spaces in it - just change "airport codes" to "airport-codes" and it should work.

[2015-04-04 23:29] jalbertbowden commented on #38
guys i keep getting slammed on every front. i'm sorry i'm not being much help. i do plan on helping alot, i just need to get some things in order first. until then, i'll try and comment when i can, but with my current schedule i'm not even getting on here daily like i used to.
carry on, you're doing a great job.
i'm sorry for letting you down

[2015-04-09 20:40] rgrp commented on #74
@ekoner how are you doing here?

[2015-04-09 20:42] rgrp commented on #26
@sanh2o how are you doing here? it would be great to finish and get this up :-)

[2015-04-09 20:44] rgrp commented on #38
@jalbertbowden are you able to help @ThomasG77 resolve this one issue? then we can get this up. wdyt?

[2015-04-09 20:44] rgrp commented on #66
@EnricGTorrents how is this going?

[2015-04-09 20:45] rgrp commented on #52
@joehand any developments here? We can do multiple packages here if needed.

[2015-04-10 06:45] ekoner commented on #74
@rgrp can't take this on at the moment, too many balls in the air so to speak.

[2015-04-11 06:02] jalbertbowden commented on #38
ok. i have hobbled a gist of *some and relevant links to try and piece it together, but its really a mess. there is no clear definition.
you'll see if you follow the links in this gist.
i commented on the issue with the gist and links too....hopefully we'll get some feedback.
https://github.com/nvkelso/natural-earth-vector/issues/121
here's the gist, i just did Afghanistan:
https://gist.github.com

[2015-04-11 10:57] joehand commented on #52
@rgrp, NASDAQ separates out the data into two files, *NASDAQ-Listed Securities* and *Other Exchange-Listed Securities*, as seen [here](http://www.nasdaqtrader.com/trader.aspx?id=symboldirdefs) in the documentation.

The NYSE is a subset in the *Other Exchange-Listed Securities*. There are four exchanges included in the *Other Exchange-Listed Securities*:

* NYSE MKT
* New York Stock Exchange (NYSE

[2015-04-12 16:22] sanh2o commented on #26
@rgrp Damn, thats a shame that i could not find it. Working now , ready to move ahead. I will ensure that i work productively for other datasets. Sorry was stuck on this one for so long.

[2015-04-12 19:30] rgrp commented on #52
@joehand sounds good. Do you want to make a start with whatever is easiest and we go from there.

[2015-04-13 20:03] Ebnalblad opened #83 "Top level domain names"
The data is available on :
http://www.iana.org/domains/root/db
The database will have country code and generic.
Let know if you interested, so i can make the package.

[2015-04-13 20:09] rgrp commented on #83
@Ebnalblad this seems great. Please dive in and start making a package - instructions at http://data.okfn.org/doc/core-data-curators

[2015-04-14 18:42] Ebnalblad commented on #83
I have packaged the database, let me know if there is something I need need to change or in case you have any comments @sxren
link :
https://github.com/Ebnalblad/top-level-domain-names

[2015-04-14 20:53] sanh2o commented on #26
Validation:http://data.okfn.org/tools/validate?url=https%3A%2F%2Fraw.githubusercontent.com%2Fsanh2o%2Fairport-codes%2Fmaster%2Fdatapackage.json

View:

[2015-04-17 05:50] rgrp opened #84 "GeoIP dataset"
What databases are there? Is there an open one out there?

Probably take a look at http://datahub.io/

[2015-04-18 19:11] Ebnalblad opened #85 "Free/Open licenses"
I am thinking about doing Free/Open licenses database, what do you think about that ? and if anybody is interested to work with me that would great.

[2015-04-18 19:22] rgrp commented on #85
I think we want to data package-ise https://github.com/okfn/licenses - if you are interested can i suggest opening an issue on that repo and we'll discuss with other folks who have worked on this and move it forward.

[2015-04-18 19:26] Ebnalblad commented on #85
Sure

[2015-04-18 20:46] Ebnalblad opened #86 "Free/Open Licenses Data Package"
I have been following the issues about Core Datasets as Data Packages project (http://data.okfn.org/roadmap/core-datasets) and I suggested to make data package for Free/Open Licenses https://github.com/datasets/registry/issues/85
 @rgrp told me that you had already worked on Free/Open Licenses data, so what do you think about my suggestion ?

[2015-04-18 20:56] #86 closed

[2015-04-18 20:59] rgrp commented on #86
DUPLICATE of #85

[2015-04-18 21:04] Ebnalblad commented on #86
Sorry, I made a mistake I wrote here instead of writing on https://github.com/okfn/licenses/issues

[2015-04-19 07:09] Yannael commented on #83
@Ebnalblad
Very nice.
What kind of scripts have you used to retrieve the data, would it be possible to add this info to the repository?
See for example http://data.okfn.org/data/core/bond-yields-us-10y, with the section Preparation (and more info here http://data.okfn.org/doc/publish-faq about the 'ideal' README).
@sxren @rgrp

[2015-04-19 07:25] Yannael commented on #57
@rgrp I think this one is ready now

http://data.okfn.org/tools/validate?url=https%3A%2F%2Fgithub.com%2FYannael%2Fcorruption-perceptions-index

http://data.okfn.org/tools/view?url=https%3A%2F%2Fgithub.com%2FYannael%2Fcorruption-perceptions-index

[2015-04-19 08:08] rgrp commented on #57
OK, great work. Some quick comments:

- View looks broken in that no data tables are displaying. I suspect looking at JS this is because having a '/" in a field name is bad news (sort of a bug in recline but anyway). Can we change Country/Territory either to simple Country or Jurisdiction or similar?
- I wonder if it would be useful to have all the data in one file. We could do this by adding a "y

[2015-04-19 08:33] rgrp opened #87 "Dataset of all (commercial) aircraft accident / crashes"

[2015-04-19 08:38] rgrp commented on #83
@Yannael great suggestion. At the very least a short "Preparation" section is useful. Note we have an FAQ which covers some of this in more detail: http://data.okfn.org/doc/publish-faq (we can add this to http://data.okfn.org/doc/core-data-curators)

[2015-04-19 09:12] rgrp opened #88 "Damodaran finance data archive"
Awesome amount of interesting finance data here http://pages.stern.nyu.edu/~adamodar/

Perhaps worth data packaging some of this.

[2015-04-19 17:49] Yannael commented on #57
* View looks broken
I had checked with Firefox and Chrome on MacOS X 10.7.5, there were no issues.  Checking now with Safari, I see that indeed nothing is displayed. I'll look into that, thanks.
* All data in one file: Yes there are variations (countries change from year to year, and besides, Transparency International did not use a consistent naming for the countries). I'll look deeper into that,

[2015-04-20 15:35] Ebnalblad commented on #83
@Yannael I did not use any script i just copied the data from  http://www.iana.org/domains/root/db to Excel file then converted to csv and uploaded it. i do not know if this is going to work with other sites .

[2015-04-20 19:22] bluechi commented on #83
@Ebnalblad @Yannael I think that the idea is for you to mention what you did even if it is a simple matter of copying and pasting the data.

I also noticed that your README file does not have any formatting. You can at least use ## to make your headings more noticeable.

[2015-04-20 19:27] Yannael commented on #83
@Ebnalblad This is all fine, but for the sake of reproducibility, it is important to specify as much as possible the steps you took to obtain the data. Someone looking at this dataset later may feel writing a script would be more efficient, and contribute this way.

So the best is to mention in the 'Preparation' section that data were manually copied and pasted, as well as any useful information y

[2015-04-20 19:48] Ebnalblad commented on #83
@Yannael @bluechi  Done .

[2015-04-21 02:28] edobejar opened #89 "Ecuador's government budget 2015"
Hi,

This is my first datapackage. It's about Ecuador's government budget for 2015:
https://github.com/edobejar/presupuesto

Edo

[2015-04-21 02:47] edobejar commented on #84
Maxmind has downloadable databases in CSV format with CC BY-SA 3.0 license:
http://dev.maxmind.com/geoip/geoip2/geolite2/

[2015-04-21 06:24] rgrp commented on #84
@edobejar perfect. How big is the file? Would it be worth looking at data packaging this?

[2015-04-21 07:38] Yannael commented on #57
@rgrp I merged all the tables in one, and updated package files accordingly.
Two questions related to datapackage.json fields:
* The license is unclear, so I mentioned that in the License section. In this case, is it better to leave the license field of datapackage.json empty, or can I put the PDDL license there?
* Is it good practice to include contributors/maintainers fields?

[2015-04-21 08:26] rgrp commented on #57
@Yannael re license i would go for PDDL but have a note in the License section about data source and potential rights. See this thread for more https://discuss.okfn.org/t/copyright-on-data-sources/189 (Aside: we really should get guidance on this into the FAQ at http://data.okfn.org/doc/publish-faq as it comes up a lot)

[2015-04-21 15:06] sanh2o commented on #26
@rgrp , Do you think this one is ready to go. It validates, should someone have another look at it before being incorporated ?

[2015-04-21 17:37] edobejar commented on #84
Did this first approach. There were two different CSV, one with fields like network, geoname_id and the other with geoname_id, country_name. Made a script to combine both and create a single CSV dataset (172755 rows in total - 11MB), with the following considerations:
- Where geoname_id was not available, registered_country_geoname_id was used.
- Where geoname_id and registered_country_genoname_id

[2015-04-21 18:03] Yannael commented on #83
@Ebnalblad @bluechi @rgrp  Ok, looks good to me

[2015-04-21 18:14] Yannael commented on #83
@Ebnalblad NB: It would be good to add the 'sources' field in the dapackage.json

http://dataprotocols.org/data-packages/

So the 'source' appears on the viewer
http://data.okfn.org/tools/view?url=https%3A%2F%2Fgithub.com%2FEbnalblad%2Ftop-level-domain-names

Such as in:
http://data.okfn.org/data/core/language-codes

Additionally you may add the 'contributors' and 'maintainers' fields if you wish

[2015-04-21 18:29] Yannael commented on #89
Great!
The data from the 'Data table' is however not displayed for me at
http://data.okfn.org/tools/view?url=https%3A%2F%2Fgithub.com%2Fedobejar%2Fpresupuesto
(trying with Firefox/Chrome/Safari on Mac OS 10.7.5)

Not sure what the problem is. @rgrp any idea?

Datapackage.json infos:
* For the license, you should use an array, such as described in
http://dataprotocols.org/data-packages/
and add the

[2015-04-21 18:41] Yannael commented on #57
@rgrp Thanks. I sent a mail to Transparency International to make sure what the copyright is.

[2015-04-21 19:13] Ebnalblad commented on #83
@Yannael i added "source' and maintainers' in the dapackage.json

[2015-04-21 19:52] edobejar commented on #89
Done! Regarding the viewer, added quotes for each value, and also left the header without quotes:
http://data.okfn.org/tools/view?url=https%3A%2F%2Fgithub.com%2Fedobejar%2Fpresupuesto

And updated also datapackage.json with your suggestions.

[2015-04-21 19:52] edobejar commented on #89
By the way, at
http://data.okfn.org/tools/view?url=https%3A%2F%2Fgithub.com%2Fedobejar%2Fpresupuesto
when I click the Metadata box (top right) I get not found. Any ideas?

[2015-04-21 21:06] rgrp commented on #26
@sanh2o looks really good. Let's get this into core.

Viewer link is: http://data.okfn.org/tools/view?url=https%3A%2F%2Fraw.githubusercontent.com%2Fsanh2o%2Fairport-codes%2Fmaster%2Fdatapackage.json

@sanh2o can you please initiate the transfer as per http://data.okfn.org/doc/core-data-curators#4-publishing

@yannael are you up for doing the official publishing as core as per http://data.okfn.org/

[2015-04-22 17:20] Yannael commented on #89
Ok - looks good!

For the broken link in the Metadata box, the issue should be fixed once the package is moved to the  core repository.

@rgrp Can it be moved it to the core repository?

[2015-04-23 22:10] rgrp opened #90 "TRACE Bond data"
http://www.finra.org/industry/trace/corporate-bond-data

[2015-04-23 22:11] rgrp commented on #26
@sanh2o how are you doing on the transfer - let us know if any problems.

[2015-04-24 12:34] rgrp opened #91 "EH.net datasets"
http://eh.net/databases/

Probably not core - maybe we need a datasets-history org ;-)

[2015-04-25 17:32] Yannael commented on #26
@rgrp ok for learning here, I am not sure to understand what I should do exactly.
Also, what is the difference between catalog and core list?
Thanks

[2015-04-25 17:35] sanh2o commented on #26
@rgrp , I am unable to transfer to the organization, i think i tried the user request. Will figure out and do it in a few mins.

[2015-04-26 09:47] rgrp commented on #26
@Yannael difference between catalog and core list is catalog is all data packages we know about whilst core list is just those data package that are "core" data packages. I can walk you through what you need to do here and you can also find me on #okfn channel on freenode.

@sanh2o ok, np. Let us know how it goes. We'll definitely find a way to work this.

[2015-04-26 18:18] rgrp commented on #83
@Yannael are you happy to review. It would be great to get this in.

[2015-04-26 18:23] rgrp commented on #84
@edobejar great work and this should go in. A few minor suggestions:

* Can we tweak the README.md in line with suggestions at http://data.okfn.org/doc/publish-faq#sections
* Can we fix indentation / formatting in https://github.com/edobejar/geoip2/blob/master/datapackage.json
* Can you drop in the links to the validation and view in here as comments as per http://data.okfn.org/doc/core-data-curat

[2015-04-26 18:23] rgrp commented on #62
@PilipMac any update here?

[2015-04-26 18:24] rgrp commented on #82
@bluechi do you want to open an issue on https://github.com/okfn/data.okfn.org/issues suggesting something about showing the github commit history on the view page (for data packages sorted in github).

[2015-04-26 18:24] rgrp commented on #81
@bnvk any further thoughts?

[2015-04-26 18:24] rgrp commented on #78
@Yannael do you want to see if we can rustle up someone to take this on?

[2015-04-26 18:25] rgrp commented on #65
@sanh2o how are you doing here?

[2015-04-26 18:25] rgrp commented on #57
@Yannael let's get this in and not wait on response from TI. We can put in a "reservation" in the README. Personally given size of dataset I doubt there are DB rights but we can just comment to that affect.

[2015-04-26 18:26] rgrp commented on #54
@EnricGTorrents how are you doing here? Would be great to have you as maintainer here.

/cc @Yannael are you happy to follow up to support @EnricGTorrents here if he has any problems?

[2015-04-26 18:27] rgrp commented on #61
@andreaswpv can you please share somewhere and we can take care of publishing as a core dataset if you are not happy there.

[2015-04-26 18:28] rgrp commented on #52
@joehand how are you doing here? Let's do the simplest thing possible and then add more later.

/cc @Yannael

[2015-04-26 20:41] bluechi commented on #82
@rgrp done. Here is the link. https://github.com/okfn/data.okfn.org/issues/175

[2015-04-26 20:41] #82 closed

[2015-04-26 20:45] sanh2o commented on #26
@rgrp I have read through Github documentation and it seems that i need to have admin access to the organization ( github.com/datasets/  ?) to perform the transfer. I could not find the appropriate command or procedure to initiate a request which may be accepted by someone with admin rights within the organization. Neither OKFN's nor Github's official documentation were sufficient.

[2015-04-26 21:31] rgrp commented on #36
FIXED. See http://data.okfn.org/doc/publish-faq#data-package-names

[2015-04-26 21:31] #36 closed

[2015-04-26 21:31] rgrp commented on #66
@EnricGTorrents how are you doing here?

[2015-04-26 21:32] rgrp commented on #2
@seansummers did you have a chance to look at this?

[2015-04-26 21:36] rgrp commented on #26
@sanh2o ok i've made you an admin of the datasets orgs temporarily. Please transfer over the repo. Then I can make you an admin of just that repo. Also if you could add pull requests for adding to the catalog and core list as per http://data.okfn.org/doc/core-data-curators#4-publishing that would be great.

[2015-04-27 03:32] sanh2o commented on #26
i am sorry ,still no success. It is asking me for a username only

[2015-04-27 06:19] rgrp commented on #26
@sanh2o just put datasets as the username :-) (that's how it works). If that still does not work just add me as an owner on your repo and I'll move it over.

[2015-04-27 14:23] bnvk commented on #81
@rgrp yah here are the values I'm thinking should be in included in such a dataset. Feel free to add any other things you're thinking of.

[code]

I've yet to do any scrapping to create the dataset, but will probably do so in the near-ish future!

[2015-04-27 17:20] rgrp commented on #81
@bnvk seems a great set of fields. Look forward to seeing the scrape results :_0

[2015-04-27 17:53] joehand commented on #52
@rgrp I updated the [original repo](https://github.com/joehand/nasdaq-nyse-listings) to just have NASDAQ data and I added [another repo](https://github.com/joehand/nyse-listings) for the *Other Listings* (which includes a filtered file for NYSE only).

[2015-04-27 18:00] sanh2o commented on #26
@rgrp , transferred to you. I think i was using the full URL instead of just the username (i.e. 'datasets') in previous instance so was stuck. Added to the lists as well.

[2015-04-28 04:43] Yannael commented on #84
@rgrp yes
@edobejar
Looks quite good
* The title might give too many details. I would suggest 'IPv4 geolocation', and leave information regarding data source and last update in the README file.
* There is a typo for the type of the field 'continent_name' ('tring' instead of 'string')

[2015-04-28 05:04] Yannael commented on #83
@rgrp @Ebnalblad
A couple more details:
* Can you adapt the README file to follow the guidelines at http://data.okfn.org/doc/publish-faq (Title should be removed, sections should start with level 2 heading (e.g., ##Data))
* Can you fix indentation in https://github.com/Ebnalblad/top-level-domain-names/blob/master/datapackage.json ("maintainers")

Once ready, can you drop in the links to the valida

[2015-04-28 05:09] Yannael commented on #54
@rgrp sure
@EnricGTorrents Let me know if I can help

[2015-04-28 05:12] Yannael commented on #78
@rgrp Yes, any suggestion where the data can be collected from?

[2015-04-28 06:14] Yannael commented on #26
@rgrp Ok I joined #okfn on freenode

[2015-04-28 07:10] rgrp commented on #26
@sanh2o i don't think the repo is transferred - it is still at https://github.com/sanh2o/airport-codes - do you want to add me or @Yannael as owners on that repo and we can transfer for you.

[2015-04-28 07:12] rgrp commented on #78
@Yannael no, so first step would be research (aka googling) - no data wrangling needed!

[2015-04-28 07:26] Yannael commented on #57
@rgrp
ok, I modified the README, and added to the datasets repository, and to core-list and catalog-list

[2015-04-28 07:35] rgrp commented on #52
@joehand this is great. Are you happy to commence the process for getting into core? see http://data.okfn.org/doc/core-data-curators#3-quality-assurance

/cc @Yannael

[2015-04-28 14:59] sanh2o commented on #26
@rgrp added you as collaborator.

I get the following message under settings (for the previous step): 'This repository is being transferred to @rgrp'

[2015-04-29 04:58] Yannael commented on #26
@sanh2o @rgrp

I don't think I have the rights to transfer the repository.

The sequence of steps to transfer it is:
* Go to the settings of the repository
* Select 'Transfer Ownership'
* In 'Type the name of the repository to confirm' -> Enter 'airport-codes', and in 'New owner's GitHub username' -> Enter 'datasets'. Validate the transfer
* Commit

Can you try this and let me know if you have iss

[2015-04-29 16:03] sanh2o commented on #26
@rgrp  @Yannael  I aborted the previous transfer and succesfully transferred to datasets.

[2015-04-29 16:04] rgrp commented on #26
w00t! @Yannael are you happy to do the last stages of the process e.g. the catalog-list etc

[2015-04-29 16:37] Yannael commented on #26
@rgrp @sanh2o dataset added to catalog-list and core-list, and data page reloaded

[2015-04-29 19:22] edobejar commented on #84
Done, updated with your suggestions. Here are the links:

* Validation:<br>
http://data.okfn.org/tools/validate?url=https%3A%2F%2Fgithub.com%2Fedobejar%2Fgeoip2
* View: <br>
http://data.okfn.org/tools/view?url=https%3A%2F%2Fgithub.com%2Fedobejar%2Fgeoip2

Best!

Edo

[2015-04-29 20:52] Yannael commented on #84
Great!
Regarding the README conventions at http://data.okfn.org/doc/publish-faq#sections,
* could you add a section 'Preparation' explaining how you created the dataset (did you use a script, or manually arranged the two files) ?
* and start the README without header (i.e. remove 'IPv4 geolocation datapackage', since it is not displayed nicely in the datapackage viewer)
Thanks!

[2015-04-30 16:00] sanh2o commented on #26
Great, happy that it is done. Will ensure future ones are faster.

[2015-05-01 08:20] rufuspollock opened #95 "emojis"
emojis data in nice form

## Data

Emoji overview: http://unicode.org/emoji/charts-11.0/index.html

Actual data: http://unicode.org/Public/emoji/11.0/

Not sure of match of data to html page e.g. html page has a bunch of keywords raw data file does not.

Also here is a list of all emojis - see https://github.com/iamcal/emoji-data

## License

Material is open as per unicode license http://www.unic

[2015-05-01 18:53] sanh2o commented on #65
@rgrp, almost ready. Trying to resolve a data validation error.

[2015-05-02 13:06] rgrp commented on #89
@Yannael yes this might be better as part of http://OpenSpending.org - @Yannael and @edobejar we are just in the midst of rebooting this work and process in OpenSpending - perhaps we finalise here and then see where we locate this data package.

@edobejar would you like to look at https://discuss.okfn.org/c/openspending and the various threads to get some context - I'd also be interested in your t

[2015-05-02 16:16] ThomasG77 commented on #43
After a long time, it's done...
See my repository at https://github.com/ThomasG77/geo-nuts-administrative-boundaries

Feedback welcome (PS: already good for [validation](http://data.okfn.org/tools/validate?url=https%3A%2F%2Fraw.githubusercontent.com%2FThomasG77%2Fgeo-nuts-administrative-boundaries%2Fmaster%2Fdatapackage.json) and [visualisation](http://data.okfn.org/tools/view?url=https%3A%2F%2Fra

[2015-05-02 19:00] rgrp commented on #43
@ThomasG77 great job and thanks for the persistence!

@Yannael are you happy to review?

[2015-05-04 05:53] Yannael commented on #89
@rgrp @edobejar Added to catalog-list

[2015-05-04 20:39] joehand commented on #52
QA For [NASDAQ Package](https://github.com/joehand/nasdaq-listings):
* [Validation](http://data.okfn.org/tools/validate?url=https%3A%2F%2Fraw.githubusercontent.com%2Fjoehand%2Fnasdaq-listings%2Fmaster%2Fdatapackage.json)
* [View](http://data.okfn.org/tools/view?url=https%3A%2F%2Fgithub.com%2Fjoehand%2Fnasdaq-listings)

QA for [NYSE/Other Package](https://github.com/joehand/nyse-listings):
* [Valid

[2015-05-04 20:45] Ebnalblad commented on #83
@Yannael what do you think now ?

[2015-05-05 05:33] Yannael commented on #43
@ThomasG77 @rgrp

Nice! Data format and view seem good.

I could not run the code though.
* Dependency shelljs is missing
* Folder data must be created by hand
* and then get an error

"debug(drivers.prototype.getNames());
TypeError: Illegal invocation"

that I could not fix

Also,
* I suggest you put the code (index.js and package.json) in a separate 'scripts' directory.
* you may add the 'contri

[2015-05-05 05:59] Yannael commented on #83
@Ebnalblad  Nice!

It would be good to fix indentation in https://github.com/Ebnalblad/top-level-domain-names/blob/master/datapackage.json (so square and curly brackets are properly aligned). See for example http://data.okfn.org/data/core/co2-fossil-global/datapackage.json

Once ready, can you initiate a transfer request to github.com/datasets so we can add it to the core repository?

@rgrp Does @

[2015-05-05 09:09] rgrp commented on #83
@Yannael - yes i think @Ebnalblad needs to be a member. Maybe better method is he makes you an admin of his repo and you then do the transfer.

[2015-05-05 16:03] ThomasG77 commented on #43
@Yannael

Due to your feedback, I've done the changes:
* to move `index.js` and `package.json` to `scripts` directory
* to add "contributors" and "maintainers" fields in `datapackage.json`

Also, I don't have any issue with "debug(drivers.prototype.getNames());"
Can you provide your system? On my side, for info, my OS is Ubuntu 14.04 64bits.

[2015-05-05 18:11] Ebnalblad commented on #83
@Yannael i tried to fix json file and make "square and curly brackets are properly aligned"
@rgrp  do you mean transferring my repo to him, because i do not have organization account.
if it is not, then how i can make him admin ?

[2015-05-05 22:31] Yannael commented on #43
@ThomasG77
Ok great

Regarding the issue with the code, my system is Mac OS X 10.7.5, and I have node.js v0.12.0

The complete error message is

[code]

Maybe this is a platform dependent issue, and I am not sufficiently acquainted to node.js to fix it

@rgrp What do think, ok to move to core repository?

[2015-05-05 23:03] Yannael commented on #83
@rgrp @Ebnalblad Thanks. Yes, the easiest is that you transfer the repository to me (in settings), and I will then transfer it to the datasets repo.

[2015-05-05 23:22] ThomasG77 commented on #43
@Yannael Can you remove the line doing `debug(drivers.prototype.getNames());` on your local side and try again?
This line was for learning purpose, so if it only fails here because of OS, it would be worth removing IMO.

[2015-05-06 05:48] Yannael commented on #43
@ThomasG77 @rgrp

Commenting out the line is enough indeed, it runs fine now, great!

[2015-05-07 03:36] ThomasG77 commented on #43
I've done changes in the code to fix issue and in the README.md description for the script path.
The ownership has been changed too and the repo is currently at https://github.com/datasets/geo-nuts-administrative-boundaries The only thing we may change now could be the repository name? Other opinions @rgrp @Yannael

[2015-05-07 07:14] Yannael commented on #43
Nice, I updated catalog and core lists. The repository name is good for me

[2015-05-07 19:38] smith-phil commented on #62
To the best of my understanding, the historical data only goes back as far as 2010. There is an official register that contains the details of every house sold in the Republic of Ireland since January 1st 2010. The data is in many different csv files but all of them have the following headers:

 * Date of Sale - in dd/mm/yyyy format, this obviously can be changed.
 * Address
 * Postal Code - the p

[2015-05-07 19:41] smith-phil commented on #62
Oh yeah, I'm philipmac by the way. I've a new account.

[2015-05-07 19:56] Ebnalblad commented on #83
@Yannael done.

[2015-05-07 20:49] Yannael commented on #83
@Ebnalblad @rgrp
So I moved it to the core repository, http://data.okfn.org/data/core/top-level-domain-names
Sorry I was a bit fussy about the 'alignment' in the JSON, we are trying to set some guidelines for 'well structured' data packages, especially in the core repository
Great job!

[2015-05-07 22:22] rgrp commented on #83
w00t!. Well done everyone and esp @Ebnalblad for his first core data package.

[2015-05-07 22:22] rgrp commented on #83
FIXED.

[2015-05-07 22:22] #83 closed

[2015-05-08 08:16] rgrp commented on #62
@smith-phil looks good - let's go for it.

[2015-05-08 13:52] smith-phil commented on #37
openleis.com was started by OpenCorporates so I'm guessing it's a sharealike license. Let me see if I can find out from them what the license situation is.

[2015-05-08 14:02] CountCulture commented on #37
Actually the primary source from this data is now https://www.gleif.org//en/services/gleif-services/access-lei-data/lei-download
It's CC0 Licence I'm very pleased to say (I'm on the Board of directors of the GLEIF)!

[2015-05-09 11:25] smith-phil commented on #37
Thanks Chris.

[2015-05-09 11:30] smith-phil commented on #62
I'm scripting it up right now. I'll look at hosting it on morph.io or somewhere else while I'm at it.

[2015-05-09 14:13] rgrp commented on #37
@smith-phil may we should try and get this data packaged upstream - i.e. ask gleif to do this.

[2015-05-09 14:15] rgrp commented on #84
@edobejar how you doing there - this would be a great dataset to get in.

[2015-05-09 16:29] CountCulture commented on #37
@rgrp The data is not as a CSV but as a daily-produced XML file using the Common Definition Format agreed with the regulators.

[2015-05-09 18:34] Deiz opened #96 "Updating data package lists"
I'd like to generate a bit of discussion on this before making any changes.

#### Should core datasets be present in both core-list.txt and catalog-list.txt?
Currently, 33 of the 35 repos in the core list are also found in catalog-list.txt. I see that deduplication is performed when displaying the lists on data.okfn.org, but perhaps the two lists should be mutually-exclusive? If so, I could update

[2015-05-09 18:54] rgrp commented on #37
@CountCulture ah ok - so, in that case, may definitely be worth unpacking and looking at whether it can be tabularized ...

[2015-05-14 16:43] rgrp opened #97 "OpenAddresses - https://github.com/openaddresses/"
Ask them to data package it ...

[2015-05-15 07:07] rgrp opened #98 "Adoption rates for key historical technologies"
- Phone
- Internet
- Mobile phone
- Hybrid wheat

[2015-05-17 16:07] rgrp commented on #89
@Yannael can we close this as FIXED w00t!

[2015-05-17 16:07] rgrp commented on #84
@edobejar / @Yannael how's it going?

[2015-05-17 16:14] rgrp commented on #5
@kejbaly2 are you interested in doing some more work here to get this properly packaged?

@Yannael this would be a nice one to get packaged so maybe one to prioritise as managing curator :-)

[2015-05-18 07:12] #89 closed

[2015-05-18 15:08] edobejar commented on #84
Hi, just updated datapackage with Yannael's suggestions for readme.
https://github.com/edobejar/geoip2/

[2015-05-21 18:55] Yannael commented on #84
Hi @edobejar
Great! Can you transfer the ownership to me, so I can then transfer it to github/datasets? (this is in settings, transfer ownership) ?

[2015-05-24 19:05] rgrp opened #99 "Penn World Tables"
Historical comparable GDP etc for many countries (back to around 1950)

Extract from here: https://github.com/okfn/econ/tree/master/econdata/penn_world_table

[2015-05-24 19:06] rgrp opened #100 "Historical World Population estimates"
See https://github.com/okfn/econ/tree/master/econdata/world_population_historical

[2015-05-24 19:09] rgrp opened #101 "Historical GDP"
Angus Maddison has a great datasets of historical GDP and population. Package that.

Probably want Angus Maddison though it does IP issues (?)

Can get from http://datahub.io/dataset/econonomic-history-gdp-historical-estimates

[2015-05-30 07:07] rgrp commented on #35
FIXED. This is live http://data.okfn.org/data/core/euribor

@ThomasG77 we will don't have a view for the data which would be nice - do you want to try adding one?

[2015-05-30 07:07] #35 closed

[2015-05-30 07:09] rgrp commented on #26
FIXED! Well done @sanh2o and @Yannael

[2015-05-30 07:09] #26 closed

[2015-05-30 07:10] rgrp commented on #52
@Yannael are you able to review this to see if we can get this in?

[2015-05-30 08:22] rgrp commented on #96
@Deiz great questions:

- i think you are right that the duping of core and catalog was annoying and i think that is now fixed
- ultimately i think datasets in this org should be core - probably us employment and browser stats could be core (and if not we can move out)
- catalog-list atm should probably just be everything including examples ...

[2015-05-31 08:05] smith-phil commented on #62
Nearly ready to start running on morph.io, hopefully this week. Then I'll get coding on github integration.

Sorry it's taking so long, my spare time is v. limited at the moment.

[2015-06-01 07:42] Yannael commented on #52
@joehand @rgrp
Sorry for the late review, I had missed it from the queue.
Nice, a couple of changes to make:
* For the License, a link should be made to their Copyright page http://www.nasdaqtrader.com/Trader.aspx?id=CopyDisclaimMain. I would suggest using the same Licensing as https://github.com/datasets/geo-nuts-administrative-boundaries#license, adapting the copyright notice link to the Nasdaq

[2015-06-01 07:46] Yannael commented on #84
@edobejar
A reminder for the transfer, so we can make it available on the portal. Thanks!

[2015-06-01 08:12] Yannael commented on #85
@rgrp Shall we add the link https://github.com/okfn/licenses to catalog-list so the datapackage is available from http://data.okfn.org ?

[2015-06-01 08:27] #57 closed

[2015-06-01 10:08] rgrp commented on #85
@Yannael great suggestion and we can then close this.

[2015-06-01 16:49] joehand commented on #52
@Yannael great, I transferred the NYSE repo. It looks like you already have a nasdaq-listing repo, so I can't transfer that one (I tried renaming and that didn't work either). Let me know when you delete the other repo and I can transfer it.

Thanks.

[2015-06-01 17:14] Yannael commented on #52
@joehand deleted, can you retry?

[2015-06-01 17:16] joehand commented on #52
@Yannael worked this time! Let me know if there is anything else I can help on. Thanks for your help!

[2015-06-01 17:19] Yannael commented on #52
@joehand Great! I'll make the couples of changes mentioned above, and transfer. I let you know when done. Thanks for the contributions!

[2015-06-01 17:27] Yannael commented on #85
@rgrp Added to catalog list and reloaded http://data.okfn.org/data/
Shouldn't this one be added to core as well? In this case, does it need to be in the datasets repo (as all the other core datasets) ?

[2015-06-01 17:54] Yannael commented on #52
@rgrp @joehand Transferred

[2015-06-01 17:55] #52 closed

[2015-06-01 18:42] st-martin commented on #30
@rgrp @sxren
Is this okay? https://github.com/st-martin/citypop-timeseries/tree/master

[2015-06-02 06:25] Yannael commented on #30
@st-martin Great to catch up on this one! CVSs seem fine, however there are issues with the datapackage.json. Can you update it so the validation and view are fine, see
* http://data.okfn.org/doc/publish-faq#validate-and-preview-your-data-package for links to the validate and view tools,
* http://data.okfn.org/doc/data-package for the structure of the datapackage.json.

Also, could you follow the

[2015-06-02 15:29] st-martin commented on #30
@Yannael Those links were really useful. Thank you!

Packaging is mostly done ([Validation link](http://data.okfn.org/tools/validate?url=https%3A%2F%2Fraw.githubusercontent.com%2Fst-martin%2Fcitypop-timeseries%2Fmaster%2Fdatapackage.json)) but views are not straightforward for this dataset. Are they a requirement?

[2015-06-02 19:14] rgrp commented on #85
FIXED. http://data.okfn.org/data/okfn/licenses

@Yannael i'm not sure this is core so happy to leave there it is.

Well done all!

[2015-06-02 19:14] #85 closed

[2015-06-03 05:19] Yannael commented on #30
@st-martin oops by view I did not mean to visualize the data with Recline (which would probably be tricky with this dataset), but how the dataset page (table and README) will be displayed on OKFN website. Simply enter the URL to your dataset at http://data.okfn.org/tools/view

Sorry for the misunderstanding

[2015-06-04 19:20] st-martin commented on #30
Don't worry! This has been useful to learn a bit more and to burnish the data package.

Here are the links:
* To my [repository](https://github.com/st-martin/citypopulation-year).
* [Validation link](http://data.okfn.org/tools/validate?url=https%3A%2F%2Fraw.githubusercontent.com%2Fst-martin%2Fcitypopulation-year%2Fmaster%2Fdatapackage.json).
* [View link](http://data.okfn.org/tools/view?url=https%

[2015-06-06 16:47] Yannael commented on #30
@st-martin
Ok looks good!
One last thing: you should add the 'sources' structure in your datapackage.json to specify the content of the columns

You can get it from http://data.okfn.org/tools/create by upoading your CSV there, just copy and paste then sources content in youe datapackage file after

You'll see that the view at http://data.okfn.org/tools/view will then also display the table!

Once

[2015-06-15 20:49] Yannael commented on #84
Hi @edobejar
A reminder for the transfer!

[2015-06-16 04:50] edobejar commented on #84
Hi @Yannael, transfer done. How do I maintain it after transferring it?

[2015-06-17 03:19] Yannael commented on #84
Hi @edobejar
Nice, added to core packages
@rgrp
For the maintenance, what is the best way?

[2015-06-28 02:27] rgrp commented on #81
@bnvk let us know how this is going!

[2015-06-28 02:29] rgrp commented on #84
Sorry for slow response.

@Yannael we should keep @edobejar an admin on the repo after the transfer (just create a dedicated team if necessary).

Great work all and look forward to having this closed and a tweet announcing the new core dataset!

[2015-06-28 18:58] Yannael commented on #84
@edobejar @rgrp
Ok, added a team for the repo, and twitted about it!

[2015-06-28 18:58] #84 closed

[2015-06-29 19:00] rgrp commented on #66
@EnricGTorrents hey there - is this something you can take on - if not that's no problem but then we would look for someone else to act as maintainer for the time being :-)

[2015-07-01 08:50] minibota opened #102 "Geo boundaries for Central America countries subdivisions"
Guatemala, Belize, El Salvador, Honduras, Nicaragua, Costa Rica, Panama.

See https://github.com/minibota/geo-centralamerica

[2015-07-05 11:27] Yannael opened #103 "Government spendings for OECD countries, COFOG nomenclature"
They can be found at http://stats.oecd.org/
(in National Accounts/Annual National Accounts/General Government Accounts/COFOG)

What do you think?

[2015-07-06 09:06] rgrp commented on #103
@Yannael *great* idea - let's do it.

[2015-07-06 21:25] st-martin commented on #30
Done!
Please, have a look at it to ensure that everything's okay and then I'll transfer the ownership.

1. [Validation](http://data.okfn.org/tools/validate?url=https%3A%2F%2Fgithub.com%2Fst-martin%2Fcitypopulation-year)
2. [View](http://data.okfn.org/tools/view?url=https%3A%2F%2Fgithub.com%2Fst-martin%2Fcitypopulation-year)
3. [Repository](https://github.com/st-martin/citypopulation-year)

[2015-07-07 13:45] bnvk commented on #81
@rgrp sadly, I have not made much progress of late as more immediate needs keep coming up. It's still in the backlog que though ;)

[2015-07-12 12:26] Yannael commented on #30
@st-martin Ok, great!
I'll add to the dataset repo when you transfer me the ownership

[2015-07-12 14:46] Yannael commented on #103
@rgrp

See preliminary data in the following links, for UK and Belgium

* [Package](https://github.com/Yannael/government-expenditure-cofog)
* [Validate](http://data.okfn.org/tools/validate?url=https%3A%2F%2Fgithub.com%2FYannael%2Fgovernment-expenditure-cofog)
* [view](http://data.okfn.org/tools/view?url=https%3A%2F%2Fgithub.com%2FYannael%2Fgovernment-expenditure-cofog#resource-government-expendit

[2015-07-13 09:16] rgrp commented on #103
Great stuff.

I definitely think we want to consolidate into one file and normalizing both countries and years i.e. data structure would be like the following (and we would have one file):

[code]

[2015-07-13 11:15] Yannael commented on #103
@rgrp ok, I will go for this structure

Regarding data, I compared OECD data with those on the wheredoesmymoneygo website, i.e. for UK in 2010

http://wheredoesmymoneygo.org/
which is retrieved from
https://openspending.org/ukgov-finances-cra
http://datahub.io/dataset/ukgov-finances-cra

Data is not the same as those of OECD.

For example, defence expenditure are about 35,319 billions on WDMMG, wh

[2015-07-13 12:17] Yannael commented on #30
@st-martin Can you resend the link for the transfer, it seems to be expired? Thanks!

[2015-07-13 12:43] st-martin commented on #30
Hi, @Yannael. I'm new to GitHub and I don't know how to resend it. I don't even knew you have received a link. Isn't it already transfered?

[2015-07-13 13:33] Yannael commented on #30
@st-martin
Problem solved, that was on my side. I transferred it, http://data.okfn.org/data/datasets/unsd-citypopulation-year

Thanks!

@rgrp

[2015-07-19 12:10] rgrp commented on #101
Could start by just getting this data into a google doc and nice and tidy.

[2015-07-28 03:49] mcnabber091 opened #104 "GDP by Industry by Country"
Data can be found here: http://unstats.un.org/unsd/snaama/dnllist.asp

[2015-07-28 03:56] mcnabber091 opened #105 "Employment by Industry by Country"
Data can be found here under Employment, Employment by Economic Activity: http://unstats.un.org/unsd/snaama/dnllist.asp

[2015-07-28 03:58] mcnabber091 opened #106 "Foreign Aid Outflow by Country (OECD)"
Data can be found here: http://www.oecd.org/dac/stats/data.htm

[2015-07-28 04:09] mcnabber091 opened #107 "Tax Rates and Thresholds by OECD Country"
Data can be found under OECD Stat Extracts, Public Sector, Tax Database, Individual Tax Rates: http://stats.oecd.org/

[2015-07-28 09:03] rgrp commented on #104
@mcnabber091 this seems very useful. Do you want to start prepping it?

[2015-07-28 10:14] rgrp commented on #106
@mcnabber091 another great one to package. Definitely worth doing. Do you want to start on this? Do you have any questions?

[2015-07-28 10:14] rgrp commented on #107
Is this the most comprehensive version of the data? Definitely think worth packaging.

[2015-08-01 09:58] rgrp commented on #103
@Yannael sorry - i missed your comment somehow. Note the COFOG data for Where Does My Money Go can be found in a data package at https://github.com/openspending/dataset-cra

This may not be the exact same as the data on Where Does My Money Go as I think the github dataset may have later data - but feel free to check. For now, I'd suggest we get this in. BTW as package name what do you think of:

`

[2015-08-01 09:58] rgrp commented on #104
@mcnabber091 do you need help prepping? (and do you get notifications when i "@" you?)

[2015-08-01 23:00] mcnabber091 commented on #104
Thanks Rufus, I will start  prepping for this statistic sometime this weekend. I don't get notifications when you '@' me.

[2015-08-01 23:01] mcnabber091 commented on #106
I will start on this package later this weekend. I don't have any questions right now.

[2015-08-01 23:16] mcnabber091 commented on #107
This is the most comprehensive version of this data in excel format I have found on the internet. It has data for all OECD countries.

PKF and EY have pdfs for every country (not excel files) with this personal tax rate and threshold information. Their data is not open but you can get permission to use their data (I had to get written permission from PKF to use their data for econfactbook.org). To

[2015-08-01 23:16] mcnabber091 commented on #107
I can start prepping for this data

[2015-08-03 08:23] rgrp commented on #104
@mcnabber091 if you go to your settings in github you should be able to configure it so that you get emails on e.g. @ messages (or issues you are involved with). I suggest doing that as it mean you don't miss out on things.

[2015-08-09 19:02] Yannael commented on #103
@rgrp Thanks, I was away the last two weeks, and will get back to this shortly

[2015-08-11 09:51] cmsdroff opened #108 "ISO container codes"
I'm working on a research project with HMRC, One Government at the Border, UN/CEFACT and a handful of private companies from the shipping supply chain world, we are building a data pipeline to establish and secure data in the supply chain from source to origin.

Working through the data set and there are common datasets which like the unece/cefact package codes we contributed earlier this year wou

[2015-08-11 10:02] rgrp commented on #108
@cmsdroff it is just great to hear about these efforts and the specific projects.

To your key question: yes, if you were able to scrape these datasets (and preferably continue to maintain them, at least initially) we would be willing to host them as part of the project - in fact, we would be delighted to do so.

[2015-08-12 15:18] cmsdroff commented on #108
Great, thanks @rgrp we have identified the sources and will write a script to scrape and package in the coming weeks :)

[2015-08-19 13:45] cmsdroff opened #109 "IMO Vessel Codes"
@rgrp as discussed on issue #108 moved to separate issue for packaging.

Data set is the IMO Vessel Codes for all vessel types that have an IMO code.

We have scraped just under 10,000 data items, and will do a full scrape just before publishing.  The data provided is to ensure we meet the packaging requirements, as a full scrape will take a couple of hours due to amount of data and API limits in

[2015-08-19 13:47] cmsdroff commented on #109
data package at https://github.com/warrantgroup/IMO-Vessel-Codes.git

[2015-08-19 15:44] rgrp commented on #109
Great. Could you do the quality assurance step detailed at:

http://data.okfn.org/doc/core-data-curators#3-quality-assurance

Basically post a validation and view link for the data package.

[2015-08-19 16:15] cmsdroff commented on #109
@rgrp valid and displays correctly

http://data.okfn.org/tools/validate?url=https%3A%2F%2Fraw.githubusercontent.com%2Fwarrantgroup%2FIMO-Vessel-Codes%2Fmaster%2Fdatapackage.json

http://data.okfn.org/tools/view?url=https%3A%2F%2Fgithub.com%2Fwarrantgroup%2FIMO-Vessel-Codes%2Fraw%2Fmaster%2Fdatapackage.json

Only question i had was regards the license, data is scraped from mentioned sources using a

[2015-08-19 16:42] rgrp commented on #109
I suggest following approach in http://data.okfn.org/doc/publish-faq#-strong-license-strong-

Specifically i would apply PDDL license but note point about scraping - this goes in a section called "License" (see the faq for details).

[2015-08-19 20:09] cmsdroff commented on #109
Thanks @rgrp i've applied the PDDL license and reviewed the README.md file to reflect suggestions on formatting.

We will scrape the full data this week, then let you know as guess we are ready to merge?

[2015-08-20 08:20] rgrp commented on #109
@cmsdroff that sounds right. My one other suggestion is that if you have scraping scripts you may want to add them to the repo in the scripts/ directory and add a README.md in the scripts directory detailing how to use them.

[2015-08-21 06:46] rgrp opened #110 "Apple Supplier List"
http://www.apple.com/uk/supplier-responsibility/our-suppliers/

Not sure its core but sort of interesting (and seems to be provided as PDF ...)

[2015-09-14 09:02] rgrp commented on #109
@cmsdroff how are you folks doing here?

[2015-09-14 09:11] cmsdroff commented on #109
We have (most) of the data, site we scraped from implemented some restrictions to try and prevent scraping, we will reattempt on Friday with some workaround and if not will grab data from one of the other sites.

Keep you posted Friday.

All business is conducted subject to Warrant Group Limited Standard Terms and Conditions 2012, a copy of which is available on request and at www.warrant-group.co

[2015-09-14 18:34] femtotrader opened #112 "datapackage.json is missing ?"
Hello,

I wonder why there is no `datapackage.json` in this repository ?

Any help is welcome.

Kind regards

[2015-09-14 20:59] Yannael commented on #112
Hi,

The registry is not a data package, it is the repository that keeps track
of the data packages existing the datasets repository.

Best

On Mon, Sep 14, 2015 at 8:34 PM, femtotrader <notifications@github.com>
wrote:

--
=========================================
Yann-Aël Le Borgne
Machine Learning Group
Université Libre de Bruxelles

http://mlg.ulb.ac.be
http://www.ulb.ac.be/di/map/yleborgn
===

[2015-09-15 04:54] femtotrader commented on #112
Hi,

Why not making this repository a data package with 2 resources as tabular data ?
It will be very convenient for testing purpose because it will allow same tools to find
list of existing datasets.

Kind regards

[2015-09-15 05:04] femtotrader opened #113 "repository URL are not datapackage URL directory"
Hello,

I noticed that it's strange to see how data are given in this repository

For example in `core-list.txt`

We can find this repository
https://github.com/datasets/gold-prices
datapackage can be found in https://raw.githubusercontent.com/datasets/gold-prices/master/
( see https://raw.githubusercontent.com/datasets/gold-prices/master/datapackage.json )

but some other repository behave differ

[2015-09-15 05:06] Yannael commented on #112
That could indeed make sense,
@rgrp: any reasons why registry is not set as a data package?

On Tue, Sep 15, 2015 at 6:54 AM, femtotrader <notifications@github.com>
wrote:

--
=========================================
Yann-Aël Le Borgne
Machine Learning Group
Université Libre de Bruxelles

http://mlg.ulb.ac.be
http://www.ulb.ac.be/di/map/yleborgn
=========================================

[2015-09-15 05:44] femtotrader commented on #113
An example of the problem with https://github.com/theodi/hot-drinks

DataPackage Viewer is not able to "discover" data without a "full" URL

http://data.okfn.org/tools/view?url=https%3A%2F%2Fraw.githubusercontent.com%2Ftheodi%2Fhot-drinks%2Fgh-pages%2Fdatapackage.json

[2015-09-15 14:28] rgrp commented on #112
@femtotrader great minds think alike ;-) This is a very sensible suggestion and actually relates to discussion of "data package catalogs" generally - https://github.com/dataprotocols/dataprotocols/issues/37#issuecomment-129239680

So, yes, we should do this - the only thing is to make sure we upgrade http://data.okfn.org/ - https://github.com/okfn/data.okfn.org at the same time.

[2015-09-19 08:45] femtotrader commented on #112
This code might help

    #!/usr/bin/env python

    import click

    import os
    import pandas as pd
    import re

    import requests
    import datetime
    import requests_cache

    def get_user_project(url):
        """
        Returns a tuple (user, project) from a GitHub URL
        """
        pattern = "https:\/\/github.com\/(.*)\/(.*)"
        m = re.match(pattern, url)
        if m

[2015-09-19 09:01] femtotrader commented on #112
I wonder if user, project and branch shouldn't be blank when they can be easily found using GitHub repository url.

I also output status code and noticed that it's different from 200 for the following repository.

    $ python scripts/txt2csv.py --status-code
    processing 'catalog-list.txt'
    status_code!=200
                                                       url           user  \
    0

[2015-09-19 09:10] femtotrader opened #114 "Add unit tests and continuous integration"
Hello,

when datasets/registry will be a DataPackage it will be a good idea to ensure that every URL are available and requests returns a HTTP status code == 200.

Such a test could be done using python and requests (see some sample code https://github.com/datasets/registry/issues/112 )

but a more rigorous approach (maybe in a second time) could be to ensure that they are "valid" DataPackages.

K

[2015-09-19 09:12] femtotrader commented on #113
My opinion is, in fact, that an other column "branch" is necessary.
branch could be "master" or "gh-pages"

[2015-09-19 10:01] femtotrader commented on #112
In datasets/registry

this following Datapackage are not valid:

in `catalog-list`
                                                       url
    0    https://github.com/DemocracyClub/ge2015-candid...
    1              https://github.com/ElenaTomas/FirstTest
    2     https://github.com/PV-Log/Open-Inverter-Database
    3                  https://github.com/RDBinns/datactrl
    21     https://git

[2015-09-20 07:21] femtotrader opened #117 "Scraping should be possible with Python 3 and have a cache mechanism."
Hello,

scraping should be possible with Python 3.
I also think that a cache mechanism (enable by default) is something important to add to avoid
too much requests.

Kind regards

[2015-09-21 10:15] rgrp commented on #114
Great suggestion!

[2015-09-21 13:25] ppKrauss opened #118 "Licenses, list of most used ones"
List  of "intellectual property and use authorizations"  as in [this `licenses.csv` example](https://github.com/ppKrauss/openCoherence/blob/master/data/licenses.csv)  with this [metadata resourse descriptors](https://github.com/ppKrauss/openCoherence/blob/master/datapackage.json), or another similar list.

------

Perhaps need some curatorial analysis also about "util columns"...
A interesting one

[2015-09-22 02:26] ppKrauss commented on #118
Sorry, I changed the text of the issue, now is more simple and readable... ignore email text and use updated at [datasets/registry/issues/118](https://github.com/datasets/registry/issues/118).

[2015-09-22 15:21] #112 closed

[2015-09-22 16:33] ppKrauss opened #119 "country-geotime dataset, for geospatial and time information related to country"
A `datasets/country-geotime`  to complement [datasets/country-codes](https://github.com/datasets/country-codes), with  geospatial country information and time references.  As "join" with `country-codes` the most popular "country ID" (*ISO3166-1-Alpha-2* 	 and *ISO3166-1-numeric*) can be adopted. The other relevant columns already have rationale and specifications,

* [country-codes/issues/22](http

[2015-09-22 17:08] femtotrader opened #120 "License string is not an Open Definition License ID"
Hello,

I'm trying @trickvi datapackage https://github.com/trickvi/datapackage/ with this new datasets/registry DataPackage but it raises a warning.

    /Users/femto/datapackage/datapackage/datapackage.py:236: UserWarning: License string is not an Open Definition License ID: PDDL-1.0
      warnings.warn("License string is not an Open Definition License ID: {0}".format(value))

I think we should f

[2015-09-22 17:57] femtotrader commented on #120
I also wonder why trickvi/datapackage is warning user about this but http://data.okfn.org/tools/validate?url=https%3A%2F%2Fgithub.com%2Fdatasets%2Fregistry is just displaying "Valid" without warnings.

[2015-09-22 23:00] trickvi commented on #120
@femtotrader trickvi/datapackage warns about this because this particular id: ``"PDDL-1.0"" is not an Open Definition license ID. The data package specification says:

The list of licenses with identifiers is here: http://licenses.opendefinition.org/licenses/groups/all.json and the particular license in question is: http://licenses.opendefinition.org/licenses/ODC-PDDL-1.0.json

This shows that the

[2015-09-22 23:00] trickvi commented on #120
...and I now see you've fixed this in #121

[2015-09-23 09:19] #120 closed

[2015-09-23 14:36] rgrp commented on #119
@ppKrauss seems very sensible. Do you want to do a first pass on a data package for this?

[2015-09-24 12:56] ppKrauss commented on #119
@rgrp Thanks and ok (!), I am preparing, and may be sent weekend.

[2015-09-28 15:22] ppKrauss commented on #119
Hello,  the data package was prepared, it is a first draft, https://github.com/ppKrauss/country-geotime

PS: needs `utmzones_list` and review of `neighbor_list`...  There are some suggestions (ex. official lang list)  from http://cldr.unicode.org/ and I think some Wikidata standard values (as country area and population) can be used.

[2015-10-05 08:07] rgrp commented on #119
@Yannael can you review?

[2015-10-05 17:29] Yannael commented on #119
Sure,
I am however quite busy until Wednesday evening
I briefly checked it validates and displays properly.
A short note on the README: following guidelines there http://data.okfn.org/doc/publish-faq#readme
could you remove the 'Introduction' heading, and add the license one.
I'll have a closer look at the data content on Thursday, and get back to you!

[2015-10-07 18:16] Yannael commented on #119
Hi @ppKrauss

I had a look at the data content, and have these two questions:
* France has no neighbouring countries, why is that?
* How does the 'type' field for territoryContainment relate to the first table (if it does) ?

Otherwise, in terms of presentation of the dataset, I would make it self contained, and not refer to Github discussions. I would suggest to update with a short paragraph pres

[2015-10-07 22:12] ppKrauss commented on #119
Thanks @Yannael,
NOTE: it is a "first draft" and, as [I said before](https://github.com/datasets/country-codes/issues/22#issuecomment-140444969), I not have PostGIS yet (do you have? *OKFN offers some infrastructure that we can use?*) here to test geo-scripts... But the project aims can be discussed with this draft... I can create another CSV with only "homologated data", to add only "good columns

[2015-10-08 18:00] Yannael commented on #119
Sorry I thought that was an 'advanced draft', where the idea was to include it in official data packages. My remarks are then not so relevant.
I will try to have a deeper look this week end at how everything connects there
Cheers!

[2015-10-08 18:55] ppKrauss commented on #119
@Yannael, sorry my English, I am using automatic translator in some fragments ;-)
Your remarks are so relevant. In this week (or later) could be just showing and  discussing the directions ... I need check simple things like "more columns? that columns is good?". After *try3* completed, your checking (homologation) will be also so important.

[2015-10-19 03:12] ppKrauss commented on #119
Hi @Yannael , now I have better map-data, see [contry-neighbors.csv](https://github.com/ppKrauss/country-geotime/blob/master/data/contry-neighbors.csv),  you can check if it is ok (!)... I was checking some samples with Wikipedia and was ok.

The *draft* of preparation-text [is here](https://github.com/ppKrauss/country-geotime/blob/master/README.md#country-neighbors)... Perhaps next  weekend I can

[2015-10-22 17:26] Yannael commented on #119
Hi @ppKrauss
That looks nice, and will give you a more detailed feedback on Saturday
If you have an update till then, let me know
Cheers

[2015-10-23 16:33] Yannael commented on #119
Hi @ppKrauss ,

Taking a bit of perspective with the datasets you are creating, I see complementary, but also somewhat redundant, info with https://github.com/datasets/country-codes and https://github.com/datasets/language-codes/ (for example country name, or official language), and that it would be best not to duplicate any of the information already available in these two data packages.

It is r

[2015-10-26 04:15] ppKrauss commented on #119
Hi @Yannael , thanks to showing directions!

I am reorganazing, with your suggestion to split into "`country-*`"... The first one is at https://github.com/okfn-brasil/country-geoinfo
check [`data` folder](https://github.com/okfn-brasil/country-geoinfo/tree/master/data). If this first is ok, my next step will to add `datapackage.json` in it; and start  *country-timezones*... Them later we discuss *

[2015-11-03 10:37] rgrp opened #122 "Big Mac Index"
http://www.economist.com/content/big-mac-index

http://infographics.economist.com/2015/databank/BMfile2000-Jul2015.xls

Very straightforward to do :-)

[2015-11-08 11:41] rgrp opened #123 "Analyze survey data for free site"
Has a bunch of interesting free (and maybe open) survey datasets: http://www.asdfree.com/

[2015-11-19 22:24] rgrp commented on #65
@sanh2o how are you doing here? Would love to get this in :-)

[2015-11-19 22:26] rgrp commented on #30
FIXED. Closing. Well done all.

@Yannael one aside - i think we may want to name this a bit differently e.g. population-city (we generally don't put providers atm and i think the year stuff is normally not included unless we are distinguishing a time series with one granularity from another).

[2015-11-19 22:26] #30 closed

[2015-11-19 22:34] rgrp commented on #10
@PilipMac how did you get on with this? Did you find any sources?

[2015-11-21 18:25] rgrp opened #124 "[meta] Climate Change datasets"
What are the important datasets to have?

* Which countries have made which commitments and which regions have emission trading schemes already
* #27 - CO2 per country
* #56 - CO2 PPM
* #29 - CO2 price

## Sources

* IPCC Data - http://www.ipcc-data.org/

[2015-11-23 15:51] rgrp commented on #27
Only global done. Reopening for by country.

[2015-11-23 16:08] rgrp opened #125 "CO2 PPM (long-term time series)"
We already have 50 years of CO2 #56

[2015-11-27 13:46] pdehaye opened #126 "Adding labels to registry issue list"
I would like to start assigning GitHub labels to the GitHub issues for the registry, but need to be "contributor" for that.
(I also want to change the label colors so they match the diagram here: http://data.okfn.org/doc/core-data-curators )

[2015-11-28 08:36] rgrp commented on #126
@pdehaye you should now have invitation to join the org with the relevant permissions.

[2015-11-29 01:35] pdehaye commented on #126
Started now.

[2015-11-29 02:07] pdehaye commented on #109
@cmsdroff This seemed almost done, what is the current status?

[2015-11-29 02:17] pdehaye commented on #108
@cmsdroff IMO vessel code packaging was passed on to #109, but are ISO container codes still on?

[2015-11-29 02:20] pdehaye commented on #107
Hi @mcnabber091, have you made any progress?

[2015-11-29 02:23] pdehaye opened #127 "Common sources of data"
It could be useful to maintain a list of sources of data, and URLs to these sources: OECD, UN, ISO, etc.
(this might also be extractable from the registry itself).

But maybe this already exists somewhere?

[2015-11-29 02:24] pdehaye commented on #106
@mcnabber091 Have you gotten anywhere? This data looks really useful, I often see news referring to this type of numbers.

[2015-11-29 02:29] pdehaye commented on #105
There is a ton of very intereting stuff there, but I don't see the header Employment, actually!

[2015-11-29 17:34] rgrp commented on #126
@pdehaye just want to say you are doing a great job here - as well as with the comments!

[2015-11-29 20:39] mcnabber091 commented on #105
Sorry about that, the actual link is at: http://www.ilo.org/ilostat/faces/home/statisticaldata/bulk-download?_adf.ctrl-state=m5gdffokm_185&clean=true&_afrLoop=220470313365620#%40%3F_afrLoop%3D220470313365620%26clean%3Dtrue%26_adf.ctrl-state%3Dloh8vp48l_57

Search: Datasets, Annual Indicators, Employment, Employment by economic activity

[2015-11-29 20:42] mcnabber091 commented on #106
Sorry I havn't had time to work on this. @pdehaye Would you I be interested to work on this one? Honestly I am not very good with Github.

[2015-11-29 20:43] mcnabber091 commented on #105
@pdehaye Thanks for notifying me of this

[2015-11-29 20:43] mcnabber091 commented on #107
Hi @pdehaye , sorry i havn't had time to work on this one. Would you be interested to work on this one? I am not very good with Github right now.

[2015-11-30 10:02] rgrp commented on #127
@pdehaye good idea. Does not yet exist afaik.

[2015-11-30 10:02] rgrp commented on #106
@mcnabber091 as explained you can prep this in google docs or similar and someone else can get into github. If you do have this nicely cleaned somewhere that's still really useful.

[2015-11-30 10:03] rgrp commented on #107
@mcnabber091 see my comment on #106

[2015-12-01 11:15] rgrp opened #128 "Survey Question Bank (UK)"
http://surveynet.ac.uk/sqb/

[2015-12-01 12:26] pdehaye commented on #128
More accurately:

 - [https://discover.ukdataservice.ac.uk/variables](UK Data Service variable question bank)
 - [https://www.ukdataservice.ac.uk/get-data/key-data](UK Data service key data)

[2015-12-01 12:28] pdehaye commented on #98
- fridge

[2015-12-01 15:08] pdehaye commented on #119
Hi @ppKraus, I am joining as new datasets managing curator. Looks like this baby was about to be delivered. Any update?

[2015-12-01 15:11] pdehaye commented on #107
Hi @mcnabber091. I am just joining as new datasets managing curator. I think I can be most effective for OKFN Labs right now by focusing on sorting out a bit of the overall process, rather than focusing on specific datasets. If you want to abandon the issue/dataset, that's fine, but please leave enough information here (and in the other similar issues) that someone new can take over. I will then f

[2015-12-01 15:12] pdehaye commented on #104
Please see my comment in #107 for directions.

[2015-12-01 15:14] pdehaye commented on #103
Hey @Yannael, how is the progress here?

[2015-12-01 15:19] pdehaye commented on #97
Hi @iandees, @ingalls, we would be really interested to have openaddresses as an OKFN data package, and to actually introduce it in our list of Core packages. This would immediately enable lots of people to use the OKFN tooling on the data you have made available. Would you or anyone on your team be interested to do this? The directions are here: http://data.okfn.org/doc/core-data-curators
Don't h

[2015-12-01 15:23] pdehaye opened #129 "datasets/employment-us should be core"
Originally discussed in #96

[2015-12-01 15:24] pdehaye opened #130 "datasets/browser-stats should be core"
As discussed in #96

[2015-12-01 15:26] pdehaye commented on #96
I filed separately #130 and #131 since we need two maintainers for datasets/employment-us and datasets/browser-stats. datasets/ex-geojson was removed from the core list. As such I think this can be closed but want to give a chance to bump this thread for a couple more days.

[2015-12-01 15:28] ingalls commented on #97
Going to loop @sbma44 into the discussion as well

[2015-12-01 15:29] pdehaye commented on #81
Another option would be to use hand curated Twitter lists from the organisation @reportedly. Most of the lists are curated for newspapers and journalists by country, but some are a bit different. In fact, taking the reportedly lists and exporting that as datapackages might be useful.

[2015-12-01 15:44] pdehaye commented on #75
This looks like it has been fixed. For file naming and licensing issues, look at http://data.okfn.org/doc/publish-faq

[2015-12-01 15:45] #75 closed

[2015-12-01 15:47] pdehaye commented on #44
Closed as this did not get any traction.

[2015-12-01 15:48] #44 closed

[2015-12-01 15:49] sbma44 commented on #97
I'd be delighted to see OpenAddresses data made more broadly useful. A few questions:

- Our sources are segmented by provider, but can also be sliced by license (to some extent). what's best practice here?
- Great work has been done recently by @migurski to organize our licenses, but the lines can occasionally be fuzzy. there is a lot of definitely-CC-BY, some "bespoke attribution license if Goog

[2015-12-01 15:54] pdehaye opened #131 "All of the datahub.io dataset metadata"
Is this core?
https://datahub.io/dataset/datahub-export

[2015-12-01 15:58] pdehaye commented on #7
I don't think it does. Either because other packages are more worthy of the effort of finding a maintainer, or because it is geographically fairly limited and as such not core.

[2015-12-01 15:59] pdehaye commented on #7
I don't think it does. Either because other datasets are more worthy of the effort of finding a maintainer, or because it is geographically limited and as such not core.

[2015-12-01 15:59] pdehaye commented on #4
Giving this a bump. Any decision taken?

[2015-12-01 16:02] pdehaye commented on #62
Giving this a bump. Any progress here?

[2015-12-01 16:05] pdehaye commented on #67
This would definitely be good to have, but it looks like okfn/opendataindex#22 and okfn/opendataindex#42 entered into circular reference and are both closed now.

[2015-12-01 16:06] pdehaye commented on #127
A quick dump of my notes so far, to be organised later
 - OECD
 - ISO
 -  http://unstats.un.org/unsd/snaama/dnllist.asp
 - http://stats.oecd.org/
 - http://www.finra.org/industry/trace/corporate-bond-data
 - http://www.datahub.io/dataset
 - http://research.stlouisfed.org/fred2/
 - http://www.jodidata.org/database/access-database.aspx

Quick note: maybe the best way about this is to look at the reg

[2015-12-01 16:42] ppKrauss commented on #119
Hello @pdehaye , welcome!

Hum, I need one weekend to review all this project, I think we can manage some pending decisions meanwhile... Can you designate a collaborator for check the [country-geoinfo.csv](https://github.com/okfn-brasil/country-geoinfo/blob/master/data/country-geoinfo.csv) file?

[2015-12-01 18:56] Yannael commented on #103
Definitely on the TODO list, will get back to it this month !

[2015-12-01 21:33] pdehaye commented on #119
I just looked at `country-geoinfo.csv`. Its general shape looks good, but I immediately have questions/comments:
 - change the `country` header to include some hint as to the format used. This information will be in the `datapackage.json`, but it is still useful to have
 - change `UTMgrid_cells` to `UTM_grid_cells`
 - make sure to specify somewhere how the neighbours were computed, and how the gri

[2015-12-01 21:43] pdehaye commented on #118
This looks very good, and useful. I would recommend adding rows for intermediate licenses though: if this is meant as a reference, it might be that someone wants to mark their stuff using now obsolete licenses?
Also, the `maintainer` type is a string, not a number, in the `datapackage.json`

[2015-12-01 22:03] kiliakis commented on #27
Hi @rgrp , annual co2 fossil-fuel per country data are uploaded in my git: https://github.com/kiliakis/co2-emissions .

Links I used for Data package validator and viewer:
* Validation link: https://raw.github.com/kiliakis/co2-emissions/master/datapackage.json
* View link: https://raw.github.com/kiliakis/co2-emissions/master

A snapshot from data package viewer:

![screenshot from 2015-12-02 00 01

[2015-12-01 22:16] kiliakis commented on #125
@rgrp
* vostok ice core [CDIAC](http://cdiac.ornl.gov/ftp/trends/co2/vostok.icecore.co2)
has data about co2 emissions from 400k years ago
* [NOAA](http://www.ncdc.noaa.gov/data-access/paleoclimatology-data/datasets/ice-core) has also co2 emission data from 800k years ago

[2015-12-01 22:26] pdehaye commented on #27
Put in some pull requests.

[2015-12-01 23:54] pdehaye commented on #126
Thanks for the encouragements. Will try to organise things a bit. In particular I would like to have an easy funnel for newcomers to get started.

[2015-12-02 00:06] pdehaye commented on #47
@pwalsh, are you still working on this?

[2015-12-02 00:21] pdehaye opened #132 "Lots of very interesting data per country from geonames"
This is available here:
http://download.geonames.org/export/dump/

One example: zip code regular expression per country.

[2015-12-02 01:06] ppKrauss commented on #119
Thanks (!), lets see

 * "change the country header (...)" I not understand what need change, sorry; only that I need to do `datapackage.json`.. Ok, now we have a preliminar one.

 * "change UTMgrid_cells to UTM_grid_cells". Ok changed.

 * Hum... I checked and now is ok, no BR at FR, etc. But need more checking for homologation. Wikipedia and Wikidata offers some reference data.

So, [okfn-brasil

[2015-12-02 05:43] rgrp commented on #131
@pdehaye i would say no :-)

[2015-12-02 05:43] rgrp commented on #130
OK. Why do you think browser stats justifies being core? (I'm in agreement but good to start establishing some principles here).

[2015-12-02 05:44] rgrp commented on #13
@hirntodt how are you doing here? It would be great to get this packaged. /cc @pdehaye

[2015-12-02 05:46] rgrp opened #133 "[meta] Essential Digital Technology Datasets"
This is a meta issue for discussing key digital tech datasets that we might want as core.

Initial suggestions:

* Storage costs (hard disk / SSD / data center?) - cf https://github.com/rgrp/hard-drive-prices
* Transmission costs (cost per GB over the internet since inception)
* Processing costs (cost per GFlops or something)
* Size of the internet
* Total world computing power

[2015-12-02 07:10] pwalsh commented on #47
@pdehaye no, I'm not working on a data package for this.

[2015-12-02 12:48] rgrp commented on #129
+1 on this being core.

[2015-12-02 12:49] rgrp commented on #7
WONTFIX. I agree. Closing as WONTFIX.

[2015-12-02 12:49] #7 closed

[2015-12-02 12:50] rgrp commented on #67
@pdehaye can you flag on opendataindex repo?

[2015-12-02 12:52] rgrp commented on #4
@sanh2o do you have any stats on each item or a description.

[2015-12-02 12:53] rgrp commented on #125
@kiliakis can we have both in one data package? In any case, just pick easiest and start with that one.

[2015-12-02 13:18] rgrp commented on #27
@kiliakis as a tip it is best to actually link the validation results e.g. http://data.okfn.org/tools/validate?url=...

[2015-12-02 13:55] rgrp commented on #97
@sbma44 great to hear you are interested.

* I wouldn't worry about slicing by license
* re licenses - you can put a lot of detailed info in the licenses section of the README as per http://data.okfn.org/doc/publish-faq#-strong-license-strong-
* Re CSVs - we do support other data formats. If large and too big for github you can push them wherever you put them online (e.g. s3) and point with a url

[2015-12-02 14:14] rgrp opened #134 "Kyoto (and subsequent) commitments and performance"
Part of #124 climate change datasets effort

This dataset should contain the specific commitments regarding GHG emissions and actions made by countries under Kyoto and subsequent meetings.

Kyoto protocol: http://unfccc.int/essential_background/kyoto_protocol/items/6034.php

From: http://unfccc.int/essential_background/convention/items/6036.php

[2015-12-02 14:16] rgrp opened #135 "UNFCC GHG data"
http://unfccc.int/ghg_data/ghg_data_unfccc/items/4146.php

[2015-12-02 22:18] kiliakis commented on #125
@rgrp  Here is a first version containing dataset from vostok ice core: https://github.com/kiliakis/co2-ppm-ice-core

Links from data.okfn.org:
* [validation results](http://data.okfn.org/tools/validate?url=https%3A%2F%2Fraw.github.com%2Fkiliakis%2Fco2-ppm-ice-core%2Fmaster%2Fdatapackage.json)
* [view link] (http://data.okfn.org/tools/view?url=https%3A%2F%2Fgithub.com%2Fkiliakis%2Fco2-ppm-ice-core

[2015-12-03 07:43] rgrp commented on #125
@kiliakis perfect though i note the data table does not display because of the column title. That's a bit of a bug in viz but also reflects that column name has "nasty" characters - could i ask that we rename the column to something simple like "Age" and then have the full info in the description (as you already have)?

@pdehaye do you want to review and we merge in?

[2015-12-03 10:14] kiliakis commented on #125
Okay, I fixed the problem with the column names. Here is the view link:
http://data.okfn.org/tools/view?url=https%3A%2F%2Fgithub.com%2Fkiliakis%2Fco2-ppm-ice-core

[2015-12-03 17:11] rufuspollock opened #136 "List of countries with their continents"
May want this to be part of an existing dataset e.g. http://data.okfn.org/data/core/country-list or http://data.okfn.org/data/core/country-codes.

Would prefer not to "pollute" the simplicity of the former with this info - its aim is to be ultra-simple so maybe the latter one. Or possibly, its own really simple dataset.

[2015-12-03 17:17] rgrp commented on #125
@kiliakis looking pretty good - added a few comments in the issues of that repo. Now its time to transfer across to datasets.

@pdehaye please also cast your eye over for improvements.

[2015-12-03 19:56] rgrp commented on #125
@kiliakis also strictly to satisfy this issue we'd want a nice dataset merging this dataset with some other co2 measures to get a nice continuous dataset up to the present with dates in a nice format. To be clear i think we want to keep vostok dataset but have another dataset like `co2-ppm-longterm` or something.

[2015-12-04 23:22] pdehaye commented on #119
Yeah, forget about the first point. Ping me here when ready for review!

[2015-12-04 23:24] pdehaye commented on #136
This could be a source: http://www.geonames.org/countries/

[2015-12-04 23:29] pdehaye commented on #124
See also #134 and #135

[2015-12-04 23:31] pdehaye commented on #133
From a friend: """Borden, _The Economic Effects of Advertising_ 1947 has adoption rates for fridges and if I remember right other appliances to that point in time.""", but not very helpful as a dataset

[2015-12-05 13:57] kiliakis commented on #125
@rgrp I can merge the ice core dataset together with co2-ppm dataset and create the co2-ppm-longterm. There will be a gap between 2400 years ago ( end of vostok  ice core data) and 1959 AD (start of annual co2 ppm measures ).

[2015-12-05 20:08] ppKrauss commented on #118
Hi @pdehaye , thanks (!), now I review, adding more 2 csv files, and correctiong `datapackage.json`. See  [dataset_licenses](https://github.com/ppKrauss/dataset_licenses)...  I think now the project  have a more definitive aspect.

[2015-12-05 22:00] ppKrauss commented on #119
Hello @pdehaye , you can review [country-geoinfo](https://github.com/okfn-brasil/country-geoinfo).

[2015-12-07 03:30] mcnabber091 commented on #107
Here is the Google Doc for this data: https://docs.google.com/spreadsheets/d/1nBTo4Rhrl9hqi5IGV6g-NPS3Rx3MpAY3ywD9Bp_oQO8/edit?usp=sharing

[2015-12-07 03:31] mcnabber091 commented on #104
Here is the Google Doc for this data: https://docs.google.com/spreadsheets/d/1ttTazdftbTPd9a7yAYGdUF7qWqM0-hcVTuBYiEIVYn8/edit#gid=1052315194&vpid=A1

[2015-12-07 03:33] mcnabber091 commented on #105
Here is the Google Doc for this data: https://docs.google.com/spreadsheets/d/1QvbKTaxOgB0Sdb09MNRDpIiiPWqsnmiVpwH7mCAfue4/edit?usp=sharing

[2015-12-07 03:42] mcnabber091 commented on #106
I don't know where to find this data in csv format. For econfactbook I manually got the data from: http://www.oecd.org/dac/stats/data.htm and http://www.globalhumanitarianassistance.org/country-profiles

[2015-12-08 00:34] jgkim commented on #136
This could be another source of it: http://unstats.un.org/unsd/methods/m49/m49regin.htm

[2015-12-08 00:49] jgkim opened #137 "ISO 3166-2: Code and name of principle subdivisions of each country"
This could be a source: https://en.m.wikipedia.org/wiki/ISO_3166-2
Maybe possible duplicate with #132.

[2015-12-08 18:40] rgrp commented on #124
Adding: http://cait.wri.org/

[2015-12-09 11:16] kiliakis commented on #125
@rgrp I think the merging of co2-ppm and co2-ppm-ice-core into co2-ppm-longterm is completed.
* Validation link: http://data.okfn.org/tools/validate?url=https%3A%2F%2Fraw.github.com%2Fkiliakis%2Fco2-ppm-longterm%2Fmaster%2Fdatapackage.json
* View link: http://data.okfn.org/tools/view?url=https%3A%2F%2Fgithub.com%2Fkiliakis%2Fco2-ppm-longterm#resource-co2-mm-mlo
* datapackage: https://github.com/ki

[2015-12-10 11:04] kiliakis commented on #29
@rgrp EU ETS datapackage is ready. Links:
* Location: https://github.com/kiliakis/eu-emissions-trading-system
* Validation: http://data.okfn.org/tools/validate?url=https%3A%2F%2Fraw.github.com%2Fkiliakis%2Feu-emissions-trading-system%2Fmaster%2Fdatapackage.json
* Package Viewer: http://data.okfn.org/tools/view?url=https%3A%2F%2Fgithub.com%2Fkiliakis%2Feu-emissions-trading-system

Please advise me

[2015-12-10 22:31] pdehaye commented on #29
Looks good! @rgrp, this should be included into core. What is the procedure? Do I create a new repository in datasets/ ? Or just include "https://github.com/kiliakis/eu-emissions-trading-system" in core-list.txt ? Embarrassed not to know this as the managing curator...

[2015-12-10 22:31] pdehaye commented on #29
And thanks, @kiliakis !!!

[2015-12-10 22:45] pdehaye commented on #124
#29 is also relevant, and almost completed

[2015-12-10 23:05] pdehaye commented on #125
I have looked at it in details.

The "Trends" and "Historial record" [here](https://github.com/kiliakis/co2-ppm-longterm/blob/master/README.md#trends) are a bit confusing as I didn't see these terms used elsewhere.

I don't know about two graphs from two different resources. @rgrp  ?

Otherwise it looks good!

[2015-12-10 23:12] pdehaye commented on #106
More particularly the data is [here](http://www.globalhumanitarianassistance.org/data-guides/datastore)

[2015-12-10 23:20] pdehaye commented on #107
Thanks, @mcnabber091, you left this in a very good state :)

[2015-12-10 23:21] pdehaye commented on #104
Thanks, @mcnabber091 !

[2015-12-10 23:29] pdehaye commented on #119
I just have, and submitted a pull request.

[2015-12-10 23:43] pdehaye commented on #118
I think the name has to match what is in the datapackage.json, so the name of this dataset should be changed from `dataset_licenses` to `licenses`.

The sources listed in the `datapackage.json` don't match the sources in the `README.md`.

Also, `implied.csv` 's format is not documented in `datapackage.json`.  (also, spelling wrong: "inffering" is actually "inferring")

[2015-12-11 00:19] kiliakis commented on #29
@pdehaye thank you too!

[2015-12-11 06:52] kiliakis commented on #125
@pdehaye I see what you mean. These terms are firstly introduced in the first paragraph of the README file and then used in the data description, citations and sources. I can change it though. @rgrp , @pdehaye Do you have any suggestions?

[2015-12-11 07:31] pdehaye commented on #125
Actually, it is fine to use Trends and Historical series, but the first paragraph needs a bit of reorganisation and stream lining. In the first paragraph, do a Markdown list, and make sure in each it is the terms "Trends" and "Historical series" that appear first.

[2015-12-11 13:39] rgrp commented on #124
http://www.tsp-data-portal.org/all-datasets - a whole bunch of climate related datasets. Not official source ...

[2015-12-11 13:47] rufuspollock opened #138 "Arctic Sea Ice Volume"
Monthly sea ice extent measurements from 1978 to present from [NSIDC National Snow and Ice Data Center](http://nsidc.org/data/docs/noaa/g02135_seaice_index/index.html). The Sea Ice Index provides a quick look at Arctic- and Antarctic-wide changes in sea ice. It is a source for consistent, up-to-date sea ice extent data.

The images and data are produced in a consistent way that makes the Index tim

[2015-12-11 13:49] Snekili opened #139 "Global temperature anomaly"
What is wanted: Data Tables of Global, Hemispheric, and Zonal Temperature Anomalies

# The Info

Global temperature anomaly data from the [NASA GISS Surface Temperature (GISTEMP) Analysis][anomaly] at the US Government's Carbon Dioxide Information Analysis Center (CDIAC).

[anomaly]: http://cdiac.ornl.gov/trends/temp/hansen/data.html

## Data

There are individual datasets for different regions:

[2015-12-11 15:40] ppKrauss commented on #118
@pdehaye , thanks.  I changed the project's name to  [licenses](https://github.com/ppKrauss/licenses), corrected spelling problems, and added the cited (in progress) `implied.csv` in the *datapackage*.

[2015-12-11 16:47] yetzt opened #140 "not working email"
the email address `datasets@okfn.org`, stated as a contact for this organisation, does not work.

[2015-12-12 19:29] rgrp commented on #140
@yetzt that's right - its a stub email for github to use. If you want to contact us post here: https://discuss.okfn.org/c/open-knowledge-labs/core-datasets

And yes, i guess we could set up an auto-responder telling you that ;-)

[2015-12-12 19:32] rgrp commented on #125
@kiliakis merging in the co2-ppm does not make much sense to me tbh - we end up with duped data which is never great. Also when i look at the datasets page i just see the co2-ppm graph. I would suggest we stick with historical data here and not dupe in the co2-ppm stuff (i agree we may want to rename co2-ppm to something more meaningful but lets make that another issue)

[2015-12-12 20:37] rgrp commented on #29
@pdehaye we move the dataset across in datasets organization and then we add to core list.

@kiliakis good work.

[2015-12-12 21:09] rgrp commented on #137
@jgkim could you expand on what you think would go in the dataset in particular what would be the column names of the principle table and an example row

[2015-12-12 21:36] yetzt commented on #140
you could also decide to not display a public email adress

[2015-12-12 21:36] #140 closed

[2015-12-14 01:07] ppKrauss commented on #118
Hi @pdehaye , do you see [okfn/licenses/issues/45](https://github.com/okfn/licenses/issues/45)?  Perhaps we can join efforts there...

[2015-12-14 20:27] kiliakis commented on #125
@rgrp ok no problem :)

[2015-12-14 21:23] ppKrauss commented on #102
Hi @minibota ,  there are an in-progress dataset with all country boundaries,  see #119 and [country-geoinfo](https://github.com/okfn-brasil/country-geoinfo)... The dataset of boundaries is [country-geoinfo.csv](https://github.com/okfn-brasil/country-geoinfo/blob/master/data/country-geoinfo.csv).  Central America is defined at [territoryContainment.csv](https://github.com/okfn-brasil/country-geoin

[2015-12-15 10:35] rgrp commented on #140
@yetzt good suggestions and fixed :-) (I think we had it public initially because it gives you the gravatar).

[2015-12-15 16:53] Snekili commented on #138
NOAA Arctic Theme page - Realtime Data and Climate Indices + Retrospective or Historical Data, Analyses and Indices datasets like >

 - Sea Ice monitoring
-  Ice coverage
- Realtime graphics of Indices and Forecasts from the Climate Prediction Center etc.

[2015-12-15 17:01] Snekili commented on #124
Regarding this last source link  http://www.tsp-data-portal.org/TOP-20-emitter#tspQvChart
Some of datasets like TOP 20 emitters above are from official source > World bank

[2015-12-15 17:06] Snekili commented on #139
Source  for datasets http://cdiac.ornl.gov/trends/temp/hansen/data.html

[2015-12-15 17:22] Snekili commented on #138
National Snow and Ice data center : https://nsidc.org/data/seaice/

[2015-12-15 17:34] Snekili opened #141 "Global Sea level rise"
[Global Average Absolute Sea Level Change, 1880-2014][data] from the US Environmental Protection Agency using data from CSIRO, 2015;  NOAA, 2015.

[data]: http://www3.epa.gov/climatechange/science/indicators/oceans/sea-level.html

This data contains "cumulative changes in sea level for the world’s oceans since 1880, based on a combination of long-term tide gauge measurements and recent satellite m

[2015-12-15 17:34] Snekili commented on #141
Data at > http://www.cmar.csiro.au/sealevel/sl_hist_last_decades.html

[2015-12-15 17:42] Snekili opened #142 "Climate change impacts"

[2015-12-15 17:42] Snekili opened #143 "Population growth rate"

[2015-12-15 17:58] Snekili commented on #142
Data > http://www.ipcc-nggip.iges.or.jp/

[2015-12-15 18:04] Snekili commented on #143
Data > http://data.un.org/Explorer.aspx?d=GHG&f=seriesID%3aCH4

[2015-12-15 18:08] Snekili opened #144 "Hurricane strikes and damage"

[2015-12-15 18:10] Snekili commented on #144
Data >
http://www.wunderground.com/hurricane/damage.asp
https://www.ncdc.noaa.gov/billions/events
http://www.infoplease.com/ipa/A0001443.html
https://coast.noaa.gov/hurricanes/?redirect=301ocm

[2015-12-15 18:11] Snekili opened #145 "Global Fire"

[2015-12-15 18:13] Snekili opened #146 "Climate change and biodeversity"

[2015-12-15 18:16] Snekili opened #147 "Cleantech and renewable"

[2015-12-15 18:21] Snekili commented on #145
Data > http://www.fire.uni-freiburg.de/current/globalfire.htm
http://neo.sci.gsfc.nasa.gov/view.php?datasetId=MOD14A1_M_FIRE

[2015-12-15 18:22] Snekili commented on #146
Data > http://www.theglobaleducationproject.org/earth/global-ecology.php

[2015-12-15 18:53] Snekili commented on #124
GHG DATASETS> https://drive.google.com/drive/folders/0B_KlKJBuuX4aNjFfVDYxY2k2dnc

[2015-12-16 19:30] Snekili commented on #147
World Energy > http://www.bp.com/en/global/corporate/energy-economics/statistical-review-of-world-energy.html

1. https://drive.google.com/drive/folders/0B_KlKJBuuX4aVHdJb0t6a2VKa0U
2. https://drive.google.com/drive/folders/0B_KlKJBuuX4aV0lFa0JtNlQ0VVk

[2015-12-16 19:37] Snekili commented on #143
Un Population division > http://esa.un.org/unpd/wpp/Download/Standard/Population/

[2015-12-16 19:47] Snekili commented on #27
Other GHG data > http://data.un.org/Explorer.aspx?d=GHG&f=seriesID%3aCH4

https://drive.google.com/drive/folders/0B_KlKJBuuX4aNjFfVDYxY2k2dnc

[2015-12-16 20:03] Snekili commented on #142
Air pollution and deaths > http://climate-l.iisd.org/news/who-releases-compilation-of-air-quality-data-sets-for-1100-cities/

https://drive.google.com/drive/folders/0B_KlKJBuuX4adm91dzFaRVowN2s

[2015-12-17 13:21] Snekili commented on #142
Impacts http://sedac.ipcc-data.org/ddc/observed/index.html

https://drive.google.com/open?id=0B_KlKJBuuX4aV0dUckl5TzNuc3M

[2015-12-17 13:22] Snekili commented on #146
@rgrp http://sedac.ipcc-data.org/ddc/observed/index.html

https://drive.google.com/open?id=0B_KlKJBuuX4aV0dUckl5TzNuc3M

[2015-12-17 22:51] rgrp commented on #138
@Snekili thanks for the links.

Could you indicated precise link either to the data url on those websites or to the page where you could download or find that data. For example, I want the actual link to data on sea ice coverage (e.g. a link to a CSV or excel file and either the direct link to that data file or the page where i can download it from).

[2015-12-17 22:59] rgrp commented on #141
@Snekili could you link the actual data e.g. the CSV or Excel file on the source website.

Also I generally recommend putting the info in the main description of the issue rather than in a comment ;-)

[2015-12-18 10:33] rgrp opened #148 "Genome sequencing costs"
Think this is a dataset worth of inclusion -- faster than Moore's law too!

## Sources

- http://www.genome.gov/sequencingcosts/ - this page has data from 2001 and some graphs. Data is in this excel sheet: http://www.genome.gov/pages/der/sequencing_costs_oct2015.xlsx
- pre 2001 ??

[2015-12-18 10:34] rgrp commented on #148
@kiliakis another one for you to look at :-)

[2015-12-19 08:35] rgrp opened #149 "Crude and age-adjusted mortality rates (US)"
Indicator of progress in human lifespan and, indirectly, in healthcare.

Potential sources:

* Center for Disease Control and Prevention/ National Center for Health Statistics (CDC/ NCHS), National Vital Statistics System, Mortality.

[2015-12-19 11:09] kiliakis commented on #148
@rgrp okay, I'm working on it, I will post any useful info I find

[2015-12-19 12:01] kiliakis commented on #148
@rgrp there are plots about genome sequencing cost per base:
* http://synbiobeta.com/time-new-dna-synthesis-sequencing-cost-curves-rob-carlson/
* http://www.genomebiology.com/2010/11/5/207/figure/F2?highres=y

However, I can't really find the actual data. I will move on creating a dataset for these data.

[2015-12-21 10:02] kiliakis commented on #148
@rgrp Datapackage is ready, here are the links:
* Actual data package: https://github.com/kiliakis/genome-sequencing-costs
* [Validation link] (http://data.okfn.org/tools/validate?url=https%3A%2F%2Fraw.github.com%2Fkiliakis%2Fgenome-sequencing-costs%2Fmaster%2Fdatapackage.json)
* [View link] (http://data.okfn.org/tools/view?url=https%3A%2F%2Fgithub.com%2Fkiliakis%2Fgenome-sequencing-costs)

In ord

[2015-12-22 14:38] cmsdroff commented on #108
Yes, i'll commit them now for review.

[2015-12-22 14:47] cmsdroff commented on #108
Validation Link: http://data.okfn.org/tools/validate?url=https%3A%2F%2Fraw.githubusercontent.com%2Fwarrantgroup%2FISO-Container-Codes%2Fmaster%2Fdatapackage.json

DataPackage Link: http://data.okfn.org/tools/view?url=https%3A%2F%2Fgithub.com%2Fwarrantgroup%2FISO-Container-Codes#readme

[2015-12-22 15:09] cmsdroff commented on #108
repository ready to transfer @sxren already in the team but can add @pdehaye if preferred?

[2015-12-22 15:10] cmsdroff commented on #109
will have this in January, working on a different data source as we need it for our internal software.  Will keep you posted when ready to transfer.

[2015-12-22 15:19] cmsdroff opened #152 "International Chamber of Commerce Incoterms"
International Commercial Terms (‘Incoterms’) are internationally recognised standard trade terms used in sales contracts. They’re used to make sure buyer and seller know:

* who is responsible for the cost of transporting the goods, including insurance, taxes and duties
* where the goods should be picked up from and transported to
* who is responsible for the goods at each step during transportati

[2015-12-22 15:21] cmsdroff commented on #152
Work has been done if this package is of interest?

Validate Link: http://data.okfn.org/tools/validate?url=https%3A%2F%2Fraw.githubusercontent.com%2Fwarrantgroup%2FICC-Incoterms%2Fmaster%2Fdatapackage.json

Data Link: http://data.okfn.org/tools/view?url=https%3A%2F%2Fgithub.com%2Fwarrantgroup%2FICC-Incoterms

[2015-12-22 15:22] cmsdroff opened #153 "IMO IMDG Codes"
Official IMDG Codes for use in transport of dangerous goods as described by the IMO

Source of the information is from the IMO and Gov.uk: http://www.imo.org/blast/mainframe.asp?topic_id=158 https://www.gov.uk/guidance/moving-dangerous-goods#the-classification-of-dangerous-goods

Requests for addition to the codes should be made to the IMO directly

Work on this package has already been done local

[2015-12-22 21:13] rgrp commented on #153
@cmsdroff definitely of interest - would be happy to have this in here as a data package.

[2015-12-23 23:06] #131 closed

[2015-12-23 23:13] pdehaye commented on #124
Mentioning here  #138,  #139, #141, #142, #143, #144, #145, #146, #147, so this thread gets pinged in each.

[2015-12-23 23:29] pdehaye commented on #148
I just submitted a pull request, slightly changing the way you format the month.

As for the view, I don't know. One way to do it directly is to compute the log directly, add that as a column, then build the view. That might be the best way, I can see how some would just want the log directly.

[2015-12-23 23:42] pdehaye commented on #108
Great work. I forked your warrantgroup repo into the datasets/ organisation, and made a small change to your datapackage.json, lowercasing all the field names to match what is in the csv.

[2015-12-23 23:48] pdehaye commented on #152
Added to the registry. Thanks for the work!

[2015-12-23 23:48] #152 closed

[2015-12-24 01:00] pdehaye commented on #148
Added to the dataset registry

[2015-12-24 10:41] rgrp commented on #148
@kiliakis  re view i would not compute log directly - we need support for that in the view stuff (not there right now) and so do not worry now - even if imperfect (cf my comment re new view stuff for you https://github.com/dataprotocols/dataprotocols/issues/77 /cc @pdehaye

[2015-12-24 12:52] kiliakis commented on #148
@pdehaye This would probably fix the graph's view and make it more readable. However it would be a partial solution as in a log scale graph it is the axis scale that changes and not the actual values of the data series.
@rgrp I will start familiarizing with vega-lite.

[2015-12-26 23:42] Snekili commented on #138
@rgrp Can you take a look?

[2015-12-27 11:32] rgrp commented on #138
@Snekili this looks good. One thing I'm not clear on is why use the Rutgers data rather than the data from the original source at the Polar Science Center: http://psc.apl.uw.edu/research/projects/arctic-sea-ice-volume-anomaly/data/

The one painful thing is that they have require registration (annoyingly violating the intended openness) but i imagine you could find out the actual underlying url wi

[2015-12-27 15:52] Snekili commented on #138
@rgrp regarding your first question :
1.  You answered that yourself - it requires registration and I'm not "hacker" yet, I've just scrached the surface and I dont know how to do that.
2.  Rutgers University compiled data and made it realy simple and nice. Data from NS& Ice Centre are monthly and daily measurements data for each year sepparately and you said you like your data nice, simple and und

[2015-12-27 15:58] Snekili commented on #138
@rgrp  Oh, yeah one more thing regarding PIOMAS direct data, they are in .gz format and I've tried to open that but with no success, I think it has something to do with Linux?
Here is one link http://psc.apl.washington.edu/zhang/IDAO/data_piomas.html

[2015-12-27 16:00] Snekili commented on #139
@rgrp Can you take a look at this one?

[2015-12-27 16:01] Snekili commented on #141
@rgrp And this one?

[2015-12-27 16:02] Snekili commented on #144
@rgrp And this one?

[2015-12-27 18:25] rgrp commented on #141
@Snekili good. Some quick feedback:

* The description describes the graph not the dataset. I really want a description I could copy and paste into the README for this dataset (as discussed). You can find lots of examples of these introductory paragraphs - plus the more detailed description in the datasets found here https://github.com/datasets
* Formatting matters so e.g. it would be nice to not

[2015-12-27 18:35] rgrp commented on #138
@Snekili great answers - and worth pointing this out in the main description. E.g. "The data comes originally from X but we have linked Y because data is cleaned up and does not require registration to access."

* Re the data page: I'd recommend linking it and explain that the data has a registration. I would have also suggested briefly going through registration since it probably takes 5s and the

[2015-12-27 20:23] Snekili commented on #138
@rgrp Thank you :). I will make changes tomorrow.

[2015-12-28 12:25] rgrp commented on #144
@Snekili

* I'm not really clear where I can find good clean data -  the first one you cite has PDF / MS-Word which does not sound promising
* Could "Other potential datasets" be a bulleted list - it would be more readable
* In general this sounds like a dataset we should de-prioritize as there is no immediately available good dataset in a good open form

Also, on this one I'm not really clear of

[2015-12-28 17:38] rgrp commented on #139
@kiliakis can we start packaging this one - note i think we want to combine the 4 (or at least first 2) different CDIAC dataset into one - i.e. just have additional columns named after each series.

[2015-12-29 17:59] rgrp commented on #108
Great work all round.

One small comment @pdehaye: in general we prefer not to fork the repo in but to move it and give @cmsdroff admin rights on it - is is possible to do that - otherwise it is not clear what the primary repo is ...

[2015-12-30 08:30] kiliakis commented on #139
@rgrp Okay I'm working on it. I'll post any updates here.

[2016-01-01 14:36] Snekili opened #154 "Glacier Mass Balance"
Average cumulative mass balance of "reference" Glaciers worldwide from 1945-2014 sourced from [US EPA][datahome] and the [World Glacier Monitoring Service (WGMS)][wgms].
This is cumulative change in mass balance of a set of "reference" glaciers worldwide beginning in 1945. The values represents the average of all the glaciers that were measured. Negative values indicate a net loss of ice and snow

[2016-01-01 18:53] rgrp commented on #154
@Snekili could you link to the "homepage" for the main dataset - i.e. where do i get further info. Normally I recommend linking this in the main intro paragraph as a hyperlink in a nice way e.g. your main paragraph would have been:

[code]

[2016-01-02 21:30] Snekili commented on #154
@rgrp I've made changes, please take a look.

[2016-01-03 14:15] kiliakis commented on #139
@rgrp Packaging this one is almost complete. I included all 4 dataset (additional columns for each series) into two different csv files. The first one contains annual data while the second contains 5-year means. The graph in the data package view displays only annual data though.
Here are the links:
* [validation link](http://data.okfn.org/tools/validate?url=https%3A%2F%2Fraw.github.com%2Fkiliakis

[2016-01-03 19:41] rgrp commented on #139
@kiliakis this looks great - getting really efficient.

Note I would generally recommend storing the raw data files in `archive` and actually committing them (often data later disappears off the web and it is useful to have the raw data archived).

[2016-01-03 21:55] rgrp commented on #154
@Snekili looks better. BTW is it possible to find any more up to date data? This only runs to 2003 ...

[2016-01-04 09:27] rgrp commented on #139
@kiliakis I suggest we get this moved over to github.com/datasets and added to core.

One other thought: I think we can start using "keywords" field and putting climate in there.

[2016-01-04 11:19] Snekili commented on #154
@rgrp
Well compiled global data like this no...
But there is plenty of graphs like this on [Climate.gov](https://www.climate.gov/news-features/understanding-climate/2012-state-climate-glaciers), or PDF data like this from [World Glacier monitoring service](http://wgms.ch/products_fog/) and this [PDF from WGMS](http://wgms.ch/downloads/wgms_2012_fogX.pdf) has quite nice data but its PDF.
Then you h

[2016-01-04 12:54] Snekili commented on #138
@rgrp Maybe this National Snow and Ice data is better?

[2016-01-04 13:16] Snekili commented on #141
@rgrp made some changes

[2016-01-04 17:58] rgrp commented on #138
@Snekili can you update if that is the case? Or are you asking me to evaluate?

[2016-01-04 19:09] rgrp commented on #154
@Snekili please add info on WGMS and move this info from comment to other info section in main description.

[2016-01-04 19:09] rgrp commented on #141
@Snekili please identify the actual source CSV from the sources referenced. e.g. http://www.star.nesdis.noaa.gov/sod/lsa/SeaLevelRise/LSA_SLR_timeseries_global.php and http://www.cmar.csiro.au/sealevel/sl_data_cmar.html

[2016-01-05 00:33] kiliakis commented on #139
@rgrp I merged in the proposed modifications. I also added keywords field in .json file, containing only the word climate currently. Here is the updated [view link](http://data.okfn.org/tools/view?url=https%3A%2F%2Fgithub.com%2Fkiliakis%2Fglobal-temp-anomalies). Please review.

[2016-01-05 09:27] rgrp commented on #139
@kiliakis looks good to me.

@pdehaye do you want to check and then get this moved over to datasets with @kiliakis?

Last point: it would be nice to start "promoting/announcing" these datasets when they come online. Worth pinging @danfowler so e.g. @pdehaye you could tweet this from okfnlabs twitter and even have a regular blog post listing the latest exciting core datasets :-)

[2016-01-05 09:58] cmsdroff commented on #108
@rgrp do you need me to do anything more or is @pdehaye going to 'move' the repo over to datasets?  I've merged the changes made into the master repo so it's ready to go.  Let me know so i can fork it back for control of integration into our system.  Thanks!

[2016-01-06 12:21] Snekili commented on #138
@rgrp I think that NSIDC data is better.

[2016-01-06 12:23] Snekili commented on #141
@rgrp Please take a look.

[2016-01-06 13:06] pdehaye commented on #29
@kiliakis It looks like you are the one who can transfer the dataset across into the datasets organization, as you are the original owner. (I have never done it myself, but this is what GitHub documentation says) Can you do that, and also modify the core-list.txt and submit a pull request?

[2016-01-06 13:09] Snekili commented on #154
@rgrp WGMS info added in main description.